<section class="casestudies">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="terms_conditons common-section">
                  <div class="title-wrap">
                    <h2>
                      <span>Cookies </span> Policy
                      <span class="dots"></span>
                    </h2>
                  </div>
                  <h4>Introduction</h4>
                  <p><span>Sparkout Tech Solutions </span>uses cookies and similar technologies on our website to provide and improve our services. This Cookie Policy explains how we use cookies, what types of cookies we use, and your choices regarding cookies.</p>

                  <h4>What are cookies?</h4>
                  <p>Cookies are small text files that are placed on your computer or mobile device when you visit a website. Cookies allow us to recognize your device and remember your preferences and activities on our website.</p>

                  <h4>Types of cookies:</h4>

                  <p>We use the following types of cookies on our website:</p>

                  <h4>Necessary cookies:</h4>

                  <p>These cookies are essential for the operation of our website and enable us to provide you with the services you have requested.</p>

                  <h4>Analytics cookies:</h4>

                  <p>These cookies allow us to collect information about how visitors use our website, such as which pages are visited and how long visitors spend on each page. We use this information to improve our website and services.</p>

                  <h4>Marketing cookies:</h4>

                  <p>These cookies allow us to show you personalized advertisements based on your interests and browsing behavior.</p>

                  <h4>Third-party cookies:</h4>

                  <p>We may also use third-party cookies on our website, such as cookies from Google Analytics or social media platforms. These cookies are governed by the privacy policies of the respective third-party providers.</p>

                  <h4>Your choices:</h4>

                  <p>You can control the use of cookies on our website by adjusting your browser settings. You can choose to block or delete cookies, or you can set your browser to alert you when cookies are being sent. However, please note that blocking or deleting cookies may affect the functionality of our website.</p>

                  <h4>Changes to this Cookie Policy:</h4>

                  <p>We may update this Cookie Policy from time to time by posting a revised version on our website. We encourage you to review this Cookie Policy periodically.</p>

                <p>If you have any questions or concerns about our Cookie Policy, please contact us at contact@sparkouttech.com.</p>

              </div>
            </div>
        </div>
    </div>
  </section>
  <!-- <app-second-footer></app-second-footer> -->


