<section class="how-wework">
    <div class="container">
        <div class="row mb-4">
            <div class="col-lg-6 col-md-6 col-sm-6 mb-3">
                <div class="story-details">
                    <h3>How We Work</h3>
                    <h4>The process is defined as a sequence of steps.</h4>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="story-details">
                    <p>When followed, it helps to achieve a goal. We consider it -
                        the art of thinking through. Upscale your software
                        development abilities by hiring and leveraging the skills,
                        experience, and expertise of our dedicated developers. </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="story-details-img-wrap">
                    <img src="assets/images/howwework/how-work-banner.png" class="img-fluid" alt="How we work">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="requirements">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 mb-4 orders1">
                <div class="requitement-analysis mb-4">
                    <h3>Analysing your requirements</h3>
                    <h4>First, we analyse requirements
                        by discussing business needs.</h4>
                </div>
                <div class="analysi-disp mb-4">
                    <div><img src="assets/images/howwework/analysis-icon.svg" width="30" height="30" alt="We prepare for the recruitment"></div>
                    <div class="pl-3">
                        <h4>We prepare for the recruitment</h4>
                        <p>We call for intake after preparing the list of all the
                            necessary requirements and expectations for the candidates.</p>
                    </div>
                </div>
                <div class="analysi-disp mb-4">
                    <div><img src="assets/images/howwework/analysis-icon.svg" width="30" height="30" alt="We choose the best candidates"></div>
                    <div class="pl-3">
                        <h4>We choose the best candidates</h4>
                        <p>Sparkout Tech manages everything from finding, vetting,
                            and choosing the most suitable candidate for your project.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 orders2">
                <div class="req-img-wrap">
                    <img src="assets/images/howwework/anaylsis-img.png"  alt="Analysing your requirements" class="img-fluid mb-4">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="hiring">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 mb-4 text-center">
                <img src="assets/images/howwework/hiring.png" alt="Hiring the best developers" class="img-fluid">
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="requitement-analysis mb-4">
                    <h3>Hiring the best developers</h3>
                    <h4>Collecting all the required
                        information we start the process.</h4>
                </div>
                <div class="analysi-disp mb-4">
                    <div><img src="assets/images/howwework/analysis-icon.svg" alt="Searching and interviewing candidates" width="30" height="30"></div>
                    <div class="pl-3">
                        <h4>Searching and interviewing candidates</h4>
                        <p>We use specialized techniques and tools to search experts
                            from our database and then conduct their interviews.</p>
                    </div>
                </div>
                <div class="analysi-disp mb-4">
                    <div><img src="assets/images/howwework/analysis-icon.svg" alt="Free trial period" width="30" height="30" alt="Free trial period"></div>
                    <div class="pl-3">
                        <h4>Free trial period</h4>
                        <p>We offer our clients with a trial period where they can test
                            and evaluate the skills and performance of the
                            offshore developers.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="initate">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 mb-4 orders1">
                <div class="requitement-analysis mb-4">
                    <h3>Initiating with the project</h3>
                    <h4>We will begin the project by
                        ensuring that our operations.</h4>
                </div>
                <div class="analysi-disp mb-4">
                    <div><img src="assets/images/howwework/analysis-icon.svg" width="30" height="30" alt="Smooth onboarding and team integration"></div>
                    <div class="pl-3">
                        <h4>Smooth onboarding and team integration</h4>
                        <p>Our HR and administration experts ensure a smooth
                            onboarding process for both the remote and local teams.</p>
                    </div>
                </div>
                <div class="analysi-disp mb-4">
                    <div><img src="assets/images/howwework/analysis-icon.svg" width="30" height="30" alt="Establishing seamless communication"></div>
                    <div class="pl-3">
                        <h4>Establishing seamless communication</h4>
                        <p>We establish seamless communication via daily stand-ups,
                            video calls, one-on-one check-ins, etc for a break
                            free execution.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 orders2 mb-4">
                <img src="assets/images/howwework/initate.png" alt="initate-icon" class="img-fluid">
            </div>
        </div>
    </div>
</section>
<section class="delivery">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 mb-4">
                <img src="assets/images/howwework/delivering.png" alt="Delivering quality software" class="img-fluid">
            </div>
            <div class="col-lg-6 col-md-6 ">
                <div class="requitement-analysis mb-4">
                    <h3>Delivering quality software</h3>
                    <h4>Our remote developers ensure to
                        deliver a top-notch qualities.</h4>
                </div>
                <div class="analysi-disp mb-4">
                    <div><img src="assets/images/howwework/analysis-icon.svg" width="30" height="30" alt="Our foolproof development process"></div>
                    <div class="pl-3">
                        <h4>Our foolproof development process</h4>
                        <p>Over the years, we have come up with a development process
                            that guarantees successful results.</p>
                    </div>
                </div>
                <div class="analysi-disp mb-4">
                    <div><img src="assets/images/howwework/analysis-icon.svg" width="30" height="30" alt="KPI driven development"></div>
                    <div class="pl-3">
                        <h4>KPI driven development</h4>
                        <p>We analyse, study, and discuss each individual’s KPIs which
                            helps us to improve our development speed
                            and efficiency.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="communication">
    <div class="container">
        <div class="row mb-4">
            <div class="col-lg-5 mx-auto">
                <div class="communications-wrap">
                    <h3>Communications</h3>
                    <h4>Communication channels we invite you to</h4>
                </div>
            </div>
        </div>
        <div class="row my-4">
            <div class="col-lg-12">
                <owl-carousel-o [options]="ourcommunication">
                    <ng-template carouselSlide>
                        <div class="contact-comm">
                            <img src="assets/images/howwework/slack-icon.svg"  width="50" height="50" alt="slack">
                            <h3>Slack</h3>
                            <p>for ongoing communication with your team</p>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="contact-comm">
                            <img src="assets/images/howwework/figma-icon.svg"  width="50" height="50" alt="figma">
                            <h3>Figma</h3>
                            <p>for presenting wireframes & design</p>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="contact-comm">
                            <img src="assets/images/howwework/google-doc-icon.svg"  width="50" height="50" alt="google document">
                            <h3>Google Docs</h3>
                            <p>for collaborating on documentation</p>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="contact-comm">
                            <img src="assets/images/howwework/gitbucket-icon.svg"  width="50" height="50" alt="Gitbucket">
                            <h3>Bitbucket</h3>
                            <p>for code-related queries matters</p>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="contact-comm">
                            <img src="assets/images/howwework/zoom-icon.svg"  width="50" height="50" alt="zoom">
                            <h3>Zoom</h3>
                            <p>for video conferencing with your team</p>
                        </div>
                    </ng-template>
                  </owl-carousel-o>
            </div>
        </div>
    </div>
</section>
<app-blog-scroll></app-blog-scroll>
<app-contact></app-contact>
<!-- <app-footer></app-footer> -->
