<section class="subbanner">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="title-wrap">
          <h4>Careers</h4>
          <h1 class="pb-0">Digital Marketing Executive</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="subbanner-img mb-0">
          <img
            src="assets/images/career/career-banner.jpg"
            class="img-fluid"
            alt="Digital Marketing Executive"
          />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="why-choose-us business-growth">
  <div class="container">
    <div class="row mb-2">
      <div class="col-lg-6">
        <div class="title-wrap">
          <h2>Job Description</h2>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-7 mb-4">
        <p>
          As a Digital Marketing Specialist, you will be responsible for
          developing, implementing and managing marketing campaigns that promote
          our company and its products or services. You will play a major role
          in enhancing brand awareness within the digital space as well as
          driving website traffic and acquiring leads/customers. You will work
          closely with cross-functional teams, including creative, content,
          development and sales to create effective campaigns that achieve our
          marketing objectives.
        </p>

        <h2>Key Responsibilities</h2>
        <ul class="list-img pl-0">
          <li>
            Develop and implement digital marketing campaigns across multiple
            platforms, including social media, email, display advertising and
            search engine marketing.
          </li>
          <li>
            Monitor and analyze the effectiveness of campaigns, using metrics
            such as click-through rate, conversion rate and ROI, and adjust
            strategies as needed to optimize results.
          </li>
          <li>
            Create and manage engaging content for social media platforms, email
            campaigns and other digital channels.
          </li>
          <li>
            Collaborate with the creative team to develop visual and multimedia
            content that aligns with brand messaging and objectives.
          </li>
          <li>
            Coordinate with the content team to ensure website content is
            optimized for search engines (SEO) and aligned with overall
            marketing messaging.
          </li>
          <li>
            Manage and grow the company's email database, creating targeted
            email campaigns that drive engagement and conversions.
          </li>
          <li>
            Identify new digital marketing opportunities and stay up-to-date
            with industry trends and emerging technologies.
          </li>
          <li>
            Work closely with sales teams to support lead generation efforts and
            improve lead-to-customer conversion rates.
          </li>
          <li>
            Collaborate with cross-functional teams to ensure that digital
            campaigns are aligned with overall marketing objectives and brand
            messaging.
          </li>
        </ul>

      </div>

      <div class="col-md-5 mb-4">
        <div class="spark-cta d-flex justify-content-end mb-5">
          <a class="about-us" href="/careers/digital-marketing-executive#apply">
            <span class="text">
              Apply Now
              <span class="arrow">
                <i><span>→</span></i>
                <svg
                  class="arrow-icon"
                  xmlns="http://www.w3.org/2000/svg"
                  width="32"
                  height="32"
                  viewBox="0 0 32 32"
                >
                  <g
                    fill="none"
                    stroke="#fff"
                    stroke-width="2"
                    stroke-linejoin="round"
                    stroke-miterlimit="10"
                  >
                    <circle
                      class="arrow-icon--circle"
                      cx="16"
                      cy="16"
                      r="15.12"
                    ></circle>
                  </g>
                </svg>
              </span>
            </span>
          </a>
        </div>
        <img
          src="assets/images/career/career-subbanner.jpg"
          class="img-fluid"
          alt="subbanner"
        />
      </div>
    </div>

    <h2>Qualifications</h2>
    <ul class="list-img pl-0">
      <li>
        Bachelor's degree in marketing, communications, or a related field
      </li>
      <li>At least 3 years of experience in digital marketing.</li>
      <li>
        Experience with email marketing, social media marketing, search engine
        marketing, and display advertising.
      </li>
      <li>Knowledge of SEO, Google Analytics and other web analytics tools.</li>
      <li>Excellent communication skills, both written and verbal.</li>
      <li>
        Strong project management skills, with the ability to manage multiple
        projects simultaneously.
      </li>
      <li>
        Ability to think creatively and strategically to develop effective
        marketing campaigns.
      </li>
      <li>
        Knowledge of HTML/CSS and experience with CMS platforms is a plus.
      </li>
    </ul>
    <p>
      If you are a creative thinker with a passion for digital marketing and the
      ability to work collaboratively to achieve results, we encourage you to
      apply for this exciting opportunity!
    </p>

    <div class="spark-cta">
      <a class="about-us" href="/careers/digital-marketing-executive#apply">
        <span class="text">
          Apply for this job
          <span class="arrow">
            <i><span>→</span></i>
            <svg
              class="arrow-icon"
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              viewBox="0 0 32 32"
            >
              <g
                fill="none"
                stroke="#fff"
                stroke-width="2"
                stroke-linejoin="round"
                stroke-miterlimit="10"
              >
                <circle
                  class="arrow-icon--circle"
                  cx="16"
                  cy="16"
                  r="15.12"
                ></circle>
              </g>
            </svg>
          </span>
        </span>
      </a>
    </div>

  </div>
</section>

<app-career-form></app-career-form>

<app-blog-contact></app-blog-contact>
<!-- <app-footer></app-footer> -->
