<section class="subbanner">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mb-4">
        <div class="title-wrap">
          <h4>Web Development Services</h4>
          <h1>Turning Ideas into scalable apps</h1>
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-lg-12">
        <div class="subbanner-img">
          <img src="assets/images/web-application-development/web-application-development-banner.png"
            class="img-fluid"
            alt="web-application-development"
          />
        </div>
      </div>
    </div>
</div>
</section>
    <section class="why-choose-us business-growth">
      <div class="container">
      <div class="row mb-5">
        <div class="col-lg-6">
          <div class="title-wrap">
            <h4>Why choose us</h4>
            <h2>
              Web Application Development Services </h2>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="drone-text-wrap">
            <p>Creating a web application is a great starting point for your new business idea. Users can access your platform from any device that has the internet. You can get started without worrying about compatibility on multiple devices, with highly responsive designs. </p>
          </div>
        </div>
      </div>

      <div class="row my-4 justify-content-center">
        <div class="col-lg-4 col-md-6 mb-3">
          <div class="what-we-do-app">
            <img
              src="assets/images/web-application-development/agile-procedure.png"
              alt="Agile Procedure"
            />
            <h3>Agile Procedure</h3>
            <p>Do you have an amazing idea? Create market-ready apps for your customers very quickly with our web app development services. </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-3">
          <div class="what-we-do-app">
            <img
              src="assets/images/web-application-development/tailor-made-solutions.png"
              alt="Tailor-made Solutions"
            />
            <h3>Tailor-made Solutions</h3>
            <p>We believe that each business is unique. Get the right solutions for your particular business idea with our web app services.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-3">
          <div class="what-we-do-app">
            <img
              src="assets/images/web-application-development/competitive-pricing.png"
              alt="Competitive Pricing"
            />
            <h3>Competitive Pricing</h3>
            <p>Get very cost-efficient solutions and a dedicated team for your next web app project with our web app development services.
            </p>
          </div>
        </div>
      </div>
    </div>
</section>

<section class="what-we-do wwd-sticky web-wwd">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="sticky">
        <div class="title-wrap">
          <h4>What we do</h4>
          <h2 class="mb-3">Delivering user-centric web applications</h2>
          </div>
          <div class="row mb-4 justify-content-center text-center">
            <div class="col-lg-6 col-6">
              <div class="what-we-do-app">
                <img
                  src="assets/images/web-application-development/builds-creditability.png"
                  alt="Builds Creditability"
                />
                <h3>Builds Creditability</h3>
              </div>
            </div>
            <div class="col-lg-6 col-6">
              <div class="what-we-do-app">
                <img
                  src="assets/images/web-application-development/wider-audience-reach.png"
                  alt="Wider Audience Reach"
                />
                <h3>Wider Audience Reach</h3>
              </div>
            </div>
            <div class="col-lg-6 col-6">
              <div class="what-we-do-app">
                <img
                  src="assets/images/web-application-development/promote-your-business.png"
                  alt="Promote Your Business"
                />
                <h3>Promote Your Business</h3>
              </div>
            </div>
            <div class="col-lg-6 col-6">
              <div class="what-we-do-app">
                <img
                  src="assets/images/web-application-development/improve-customer-service.png"
                  alt="Improve Customer Service"
                />
                <h3>Improve Customer Service</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="techstack">
          <h2 class="mb-4">Front-End Web Application Development </h2>
          <p>Our web app development services give you access to the best front-end developers with hands-on experience in building robust web applications for users.
          </p>

          <div class="row justify-content-center">
            <div class="col">
              <div class="techapp">
                <img
                  src="assets/images/techstack/frontend/html5.svg"
                  class="img-fluid"
                  alt="html5"
                />
              </div>
            </div>
            <div class="col">
              <div class="techapp">
                <img
                  src="assets/images/techstack/frontend/css.svg"
                  class="img-fluid"
                  alt="css"
                />
              </div>
            </div>
            <div class="col">
              <div class="techapp">
                <img
                  src="assets/images/techstack/mobile/flutter.svg"
                  class="img-fluid"
                  alt="Flutter"
                />
              </div>
            </div>
            <div class="col">
              <div class="techapp">
                <img
                  src="assets/images/techstack/frontend/react-js.svg"
                  class="img-fluid"
                  alt="React js"
                />
              </div>
            </div>
            <div class="col">
              <div class="techapp">
                <img
                  src="assets/images/techstack/frontend/vue-js.svg"
                  class="img-fluid"
                  alt="vue-js"
                />
              </div>
            </div>
          </div>
        </div>
        <hr class="mb-5" />
        <div class="techstack">
          <h2 class="mb-4">Back-End Development</h2>
          <p>Build a back-end that compliments your visual interface with experienced engineers. Create a system that's scalable for years to come and easy to use.
          </p>

          <div class="row justify-content-center">
            <div class="col">
              <div class="techapp">
                <img
                  src="assets/images/techstack/backend/laravel.svg"
                  class="img-fluid"
                  alt="laravel"
                />
              </div>
            </div>
            <div class="col">
              <div class="techapp">
                <img
                  src="assets/images/techstack/backend/php.svg"
                  class="img-fluid"
                  alt="php"
                />
              </div>
            </div>
            <div class="col">
              <div class="techapp">
                <img
                  src="assets/images/techstack/backend/rubyonrails.svg"
                  class="img-fluid"
                  alt="rails"
                />
              </div>
            </div>
            <div class="col">
              <div class="techapp">
                <img
                  src="assets/images/techstack/backend/django.svg"
                  class="img-fluid"
                  alt="django"
                />
              </div>
            </div>
          </div>
        </div>
        <hr class="mb-5" />
        <div class="techstack">
          <h2 class="mb-4">CMS <span>( Content management system )</span></h2>
          <p>Let’s say you have a lot to say to your audience. Your users deserve to see it on a platform that they can navigate easily. Just build a CMS web app.
          </p>

          <div class="row justify-content-center">
            <div class="col">
              <div class="techapp">
                <img
                  src="assets/images/techstack/cms/wordpress.svg"
                  class="img-fluid"
                  alt="wordpress"
                />
              </div>
            </div>
            <div class="col">
              <div class="techapp">
                <img
                  src="assets/images/techstack/cms/hubspot.svg"
                  class="img-fluid"
                  alt="hubspot"
                />
              </div>
            </div>
            <div class="col">
              <div class="techapp">
                <img
                  src="assets/images/techstack/cms/drupal.svg"
                  class="img-fluid"
                  alt="drupal"
                />
              </div>
            </div>
            <div class="col">
              <div class="techapp">
                <img
                  src="assets/images/techstack/cms/joomla.svg"
                  class="img-fluid"
                  alt="joomla"
                />
              </div>
            </div>
          </div>
        </div>
        <hr class="mb-5" />
        <div class="techstack">
          <h2 class="mb-4">E-Commerce</h2>
          <p>E-commerce is by far one of the most booming industries today. To get started, all you need is a stable web application. And, we help you build it, quickly.
          </p>

          <div class="row justify-content-center">
            <div class="col">
              <div class="techapp">
                <img
                  src="assets/images/techstack/e-commerce/shopify.svg"
                  class="img-fluid"
                  alt="shopify"
                />
              </div>
            </div>
            <div class="col">
              <div class="techapp">
                <img
                  src="assets/images/techstack/e-commerce/woocommerce.svg"
                  class="img-fluid"
                  alt="woocommerce"
                />
              </div>
            </div>
            <div class="col">
              <div class="techapp">
                <img
                  src="assets/images/techstack/e-commerce/magento.svg"
                  class="img-fluid"
                  alt="magento"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--end-->
  </div>
</section>

<section class="what-we-work">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-10 col-md-10 mx-auto">
        <div class="title-wrap text-center">
          <h4>Industries we focus on</h4>
          <h2>Impact industry trends with your ideas</h2>
          <p>Building a web application for your business is the quickest way to reach your target customers. We have experience in building scalable web applications.
          </p>
        </div>
      </div>
    </div>

    <div class="desktop-whatwedo desktop-industry-expertise pb-100">
      <div class="row mb-4">
        <ul class="nav nav-tabs d-none d-lg-flex" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button
              class="nav-link active"
              id="real-tab"
              data-bs-toggle="tab"
              data-bs-target="#real-tab-pane"
              type="button"
              role="tab"
              aria-controls="real-tab-pane"
              aria-selected="true"
            >
              Real Estate
            </button>
          </li>

          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="sports-tab"
              data-bs-toggle="tab"
              data-bs-target="#sports-tab-pane"
              type="button"
              role="tab"
              aria-controls="sports-tab-pane"
              aria-selected="false"
            >
              Sports
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="social-tab"
              data-bs-toggle="tab"
              data-bs-target="#social-tab-pane"
              type="button"
              role="tab"
              aria-controls="social-tab-pane"
              aria-selected="false"
            >
              Social Networking
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="fintech-tab"
              data-bs-toggle="tab"
              data-bs-target="#fintech-tab-pane"
              type="button"
              role="tab"
              aria-controls="fintech-tab-pane"
              aria-selected="false"
            >
              Fintech
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="media-tab"
              data-bs-toggle="tab"
              data-bs-target="#media-tab-pane"
              type="button"
              role="tab"
              aria-controls="media-tab-pane"
              aria-selected="false"
            >
              Media & Entertainment
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="logistics-tab"
              data-bs-toggle="tab"
              data-bs-target="#logistics-tab-pane"
              type="button"
              role="tab"
              aria-controls="logistics-tab-pane"
              aria-selected="false"
            >
              Transportation & Logistics

            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="healthcare-tab"
              data-bs-toggle="tab"
              data-bs-target="#healthcare-tab-pane"
              type="button"
              role="tab"
              aria-controls="healthcare-tab-pane"
              aria-selected="false"
            >
              Healthcare Solution
            </button>
          </li>
        </ul>
        <div
          class="tab-content accordion our-industry-common"
          id="myTabContent"
        >
          <div
            class="tab-pane fade show active accordion-item"
            id="real-tab-pane"
            role="tabpanel"
            aria-labelledby="real-tab"
            tabindex="0"
          >
            <h2 class="accordion-header d-lg-none" id="headingOne">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                Real Estate
              </button>
            </h2>
            <div
              id="collapseOne"
              class="accordion-collapse collapse show d-lg-block"
              aria-labelledby="headingOne"
              data-bs-parent="#myTabContent"
            >
              <div class="accordion-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="our-industry-main-wrap">
                      <figure>
                        <img
                          src="assets/images/our-industry/real-estate.png"
                          class="mb-4 img-fluid"
                          alt="Real Estate"
                        />
                      </figure>
                      <p>Build a robust web application for your real estate business with customer-centric features for great user experiences.

                      </p>
                      <div class="my-5 mb-0">
                        <a
                          class="explore-now"
                          [routerLink]="[
                            '/real-estate-application-development'
                          ]"
                          >Explore Industry Details
                          <img
                            src="assets/images/Icon--arrow-right.svg"
                            alt="next-icon"
                            class="explore-img"
                        /></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade accordion-item"
            id="sports-tab-pane"
            role="tabpanel"
            aria-labelledby="sports-tab"
            tabindex="0"
          >
            <h2 class="accordion-header d-lg-none" id="headingThree">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree"
              >
                Sports
              </button>
            </h2>
            <div
              id="collapseThree"
              class="accordion-collapse collapse d-lg-block"
              aria-labelledby="headingThree"
              data-bs-parent="#myTabContent"
            >
              <div class="accordion-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="our-industry-main-wrap">
                      <figure>
                        <img
                          src="assets/images/our-industry/sports.png"
                          class="mb-4 img-fluid"
                          alt="Sports"
                        />
                      </figure>
                      <p>Do you have a sports team or are you a manager? Build an easy-to-use web application to manage & track your teammates.
                      </p>
                      <div class="my-5 mb-0">
                        <a
                          [routerLink]="['/sports-application-development']"
                          class="explore-now"
                          >Explore Industry Details
                          <img
                            src="assets/images/Icon--arrow-right.svg"
                            alt="next-icon"
                            class="explore-img"
                        /></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade accordion-item"
            id="social-tab-pane"
            role="tabpanel"
            aria-labelledby="social-tab"
            tabindex="0"
          >
            <h2 class="accordion-header d-lg-none" id="headingFour">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFour"
                aria-expanded="false"
                aria-controls="collapseFour"
              >
                Social Networking
              </button>
            </h2>
            <div
              id="collapseFour"
              class="accordion-collapse collapse d-lg-block"
              aria-labelledby="headingFour"
              data-bs-parent="#myTabContent"
            >
              <div class="accordion-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="our-industry-main-wrap">
                      <figure>
                        <img
                          src="assets/images/our-industry/social.png"
                          class="mb-4 img-fluid"
                          alt="Social Networking"
                        />
                      </figure>
                      <p>Help users connect better with an exciting social networking web application with our web app development services.
                      </p>
                      <div class="my-5 mb-0">
                        <a
                          [routerLink]="[
                            '/social-media-application-development'
                          ]"
                          class="explore-now"
                          >Explore Industry Details
                          <img
                            src="assets/images/Icon--arrow-right.svg"
                            alt="next-icon"
                            class="explore-img"
                        /></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade accordion-item"
            id="fintech-tab-pane"
            role="tabpanel"
            aria-labelledby="fintech-tab"
            tabindex="0"
          >
            <h2 class="accordion-header d-lg-none" id="headingFive">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFive"
                aria-expanded="false"
                aria-controls="collapseFive"
              >
                Fintech
              </button>
            </h2>
            <div
              id="collapseFive"
              class="accordion-collapse collapse d-lg-block"
              aria-labelledby="headingFive"
              data-bs-parent="#myTabContent"
            >
              <div class="accordion-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="our-industry-main-wrap">
                      <div class="row mb-4">
                        <div class="col-sm-6">
                          <figure class="mb-0 h-full">
                            <img
                              src="assets/images/web-application-development/fintech1.png"
                              class="mb-4 img-fluid"
                              alt="Fintech"
                            />
                          </figure>
                        </div>
                        <div class="col-sm-6">
                          <figure>
                            <img
                              src="assets/images/web-application-development/fintech2.png"
                              class="mb-4 img-fluid"
                              alt="Fintech"
                            />
                          </figure>
                          <figure class="mb-0">
                            <img
                              src="assets/images/web-application-development/fintech3.png"
                              class="mb-4 img-fluid"
                              alt="Fintech"
                            />
                          </figure>
                        </div>
                      </div>
                      <p>Build a highly scalable web application for use cases such as Banking, etc., with our web app development services.
                      </p>
                      <div class="my-5 mb-0">
                        <a
                          [routerLink]="['/fintech-application-development']"
                          class="explore-now"
                          >Explore Industry Details
                          <img
                            src="assets/images/Icon--arrow-right.svg"
                            alt="next-icon"
                            class="explore-img"
                        /></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade accordion-item"
            id="media-tab-pane"
            role="tabpanel"
            aria-labelledby="media-tab"
            tabindex="0"
          >
            <h2 class="accordion-header d-lg-none" id="headingSix">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseSix"
                aria-expanded="false"
                aria-controls="collapseSix"
              >
                Media & Entertainment
              </button>
            </h2>
            <div
              id="collapseSix"
              class="accordion-collapse collapse d-lg-block"
              aria-labelledby="headingSix"
              data-bs-parent="#myTabContent"
            >
              <div class="accordion-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="our-industry-main-wrap">
                      <figure>
                        <img
                          src="assets/images/our-industry/media.png"
                          class="mb-4 img-fluid"
                          alt="Media & Entertainment"
                        />
                      </figure>
                      <p>Create an interactive platform that captivates your audience and builds a great online presence for your media agency.
                      </p>
                      <div class="my-5 mb-0">
                        <a
                          [routerLink]="[
                            '/media-and-entertainment-application-development'
                          ]"
                          class="explore-now"
                          >Explore Industry Details
                          <img
                            src="assets/images/Icon--arrow-right.svg"
                            alt="next-icon"
                            class="explore-img"
                        /></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade accordion-item"
            id="logistics-tab-pane"
            role="tabpanel"
            aria-labelledby="logistics-tab"
            tabindex="0"
          >
            <h2 class="accordion-header d-lg-none" id="headingSeven">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseSeven"
                aria-expanded="false"
                aria-controls="collapseSeven"
              >
                Transportation & Logistics

              </button>
            </h2>
            <div
              id="collapseSeven"
              class="accordion-collapse collapse d-lg-block"
              aria-labelledby="headingSeven"
              data-bs-parent="#myTabContent"
            >
              <div class="accordion-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="our-industry-main-wrap">
                      <figure>
                        <img
                          src="assets/images/our-industry/logistic.png"
                          class="mb-4 img-fluid"
                        />
                      </figure>
                      <p>Track and manage logistics and field management operations with a highly scalable web application for your business.
                      </p>
                      <div class="my-5 mb-0">
                        <a
                          [routerLink]="['/logistics-application-development']"
                          class="explore-now"
                          >Explore Industry Details
                          <img
                            src="assets/images/Icon--arrow-right.svg"
                            class="explore-img"
                            alt="next-icon"
                        /></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade accordion-item"
            id="healthcare-tab-pane"
            role="tabpanel"
            aria-labelledby="healthcare-tab"
            tabindex="0"
          >
            <h2 class="accordion-header d-lg-none" id="headingEight">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseEight"
                aria-expanded="false"
                aria-controls="collapseEight"
              >
                Healthcare Solution
              </button>
            </h2>
            <div
              id="collapseEight"
              class="accordion-collapse collapse d-lg-block"
              aria-labelledby="headingEight"
              data-bs-parent="#myTabContent"
            >
              <div class="accordion-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="our-industry-main-wrap">
                      <figure>
                        <img
                          src="assets/images/our-industry/health.png"
                          class="mb-4 img-fluid"
                          alt="Healthcare solution"
                        />
                      </figure>
                      <p>Manage data and streamline healthcare processes with a secure and scalable web app, and revolutionize healthcare.
                      </p>
                      <div class="my-5 mb-0">
                        <a
                          [routerLink]="['/healthcare-application-development']"
                          class="explore-now"
                          >Explore Industry Details
                          <img
                            src="assets/images/Icon--arrow-right.svg"
                            alt="next-icon"
                            class="explore-img"
                        /></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="business-growth">
      <div class="row mb-5">
        <div class="col-lg-6">
          <div class="title-wrap">
            <h4>What we bring to the table</h4>
            <h2>Expert Developers & Guidance</h2>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="drone-text-wrap">
            <p>Your amazing ideas need the right minds and expert sets of hands to captivate your customers. We build custom web applications for multiple industries and use cases with the right team and guidance to get you from start to finish. Let's see what you can expect.
            </p>
          </div>
        </div>
      </div>

      <div class="row mt-4 justify-content-center">
        <div class="col-lg-4 col-md-6 mb-5">
          <div class="what-we-do-app">
            <img
              src="assets/images/web-application-development/strategy.png"
              alt="Strategy"
            />
            <h3>Strategy</h3>
            <p>Get started with our experts and plan your project strategically. The right planning is key to a successful project and our consultants are right here to help.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-5">
          <div class="what-we-do-app">
            <img
              src="assets/images/web-application-development/business-analytics.png"
              alt="business-analytics"
            />
            <h3>Business Analytics</h3>
            <p>Take the right decisions for your business with the right set of data. Let our expert consultants help you understand and leverage your analytics.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-5">
          <div class="what-we-do-app">
            <img
              src="assets/images/web-application-development/product-design.png"
              alt="Product Design"
            />
            <h3>Product Design</h3>
            <p>Product design is like the holy grail of your entire project because that’s what users interact with. Our experts will help you design scalable apps, quickly.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-5">
          <div class="what-we-do-app">
            <img
              src="assets/images/web-application-development/development.png"
              alt="Development"
            />
            <h3>Development</h3>
            <p>This stage is where the magic happens. We allocate a team for your project, complete with project managers to help you manage.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-5">
          <div class="what-we-do-app">
            <img
              src="assets/images/web-application-development/quality-assurance.png"
              alt="Quality Assurance"
            />
            <h3>Quality Assurance</h3>
            <p>We also deploy a team of expert QA engineers to make sure that your web applications are completely bug-free and to code.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-5">
          <div class="what-we-do-app">
            <img
              src="assets/images/web-application-development/maintenance.png"
              alt="Maintenance"
            />
            <h3>Maintenance</h3>
            <p>Your project is unique, which is why we have specialized maintenance packages, tailor-fit for your project with our web app services.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pt-100 bg-blue-bottom-400 successful-apps">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-10 col-md-10 mx-auto">
        <div class="title-wrap text-center">
          <h4>Our Web App Development Process</h4>
          <h2>Hire the right team for your app project</h2>
        </div>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-lg-3 col-sm-6">
        <div class="process-list">
          <h2 class="heading4">Discovery<span class="process-num">01</span></h2>
          <p>We gather your all project requirements through a discovery workshop.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="process-list">
          <h2 class="heading4 rht-top">
            Initiation<span class="process-num">02</span>
          </h2>
          <p>Here we allocate the right resources and start development on your app.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="process-list">
          <h2 class="heading4">Delivery<span class="process-num">03</span></h2>
          <p>You've successfully launched your stable and innovative web application!
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="process-list">
          <h2 class="heading4 lft-top">
            Maintenance<span class="process-num">04</span>
          </h2>
          <p>Get a customized quote for maintenance plans with our web app services.
          </p>
        </div>
      </div>
    </div>

    <div class="mobileapps-left pb-5">
      <img
        src="assets/images/web-application-development/successful-apps.png"
        class="img-fluid rounded-2rem"
        alt="Successful Apps"
      />
    </div>
  </div>
</section>
<!--end-->

<app-featured-case-study class="bg-green-case"></app-featured-case-study>
<app-blog-scroll></app-blog-scroll>
<app-contact></app-contact>
<!-- <app-footer></app-footer> -->
<!--end-->
