<section class="contact-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="contact-whole-wrap">
                    <div>
                        <h1 class="mb-2">Let's Discuss Your Project</h1>
                        <p>Get free consultation and let us know your project idea to turn it into an amazing digital product.</p>
                    </div>
                    <div>
                        <a class="btn-contact" [routerLink]="['/contact-us']">Let's Talk <img src="assets/images/healthcare/arrow-right.svg"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
