<!--recent post-->
<div class="row">
  <div class="col-lg-12 mb-3">
    <div class="recent-blogs-head">
      <h2>Recent Posts</h2>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 mb-5">
    <div class="recent-blogs">
      <div class="row">
        <div class="col-sm-12">
          <div class="sidebar-blogs-single">
            <div class="badges mb-2">
              <div><span class="badge_common">Digital Transformation</span></div>
              <div>
                <p class="pl-2 dates">
                  <i class="bi bi-calendar pl-2 pr-1"></i> May 03, 2023
                </p>
               </div>
            </div>
            <h4>
              <a [routerLink]="['/wealth-management-digital-transformation']"
                >Wealth management is gearing up for the evolution of digital transformation</a
              >
            </h4>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="sidebar-blogs-single">
            <div class="badges mb-2">
              <div><span class="badge_common">Software Dev</span></div>
              <div>
                <p class="pl-2 dates">
                  <i class="bi bi-calendar pl-2 pr-1"></i> Aug 11, 2022
                </p>
               </div>
            </div>
            <h4>
              <a [routerLink]="['/python-frameworks']"
                >Best python frameworks for web development</a
              >
            </h4>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="sidebar-blogs-single">
            <div class="badges mb-2">
              <div>
                <span class="badge_common">Machine Learning</span>
              </div>
              <div>
                <p class="pl-2 dates">
                  <i class="bi bi-calendar pl-2 pr-1"></i> Aug 17, 2022
                </p>
              </div>
            </div>
            <h4>
              <a [routerLink]="['/machine-learning-in-healthcare']"
                >10 use cases of Machine Learning in Healthcare</a
              >
            </h4>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="sidebar-blogs-single">
            <div class="badges mb-2">
              <div>
                <span class="badge_common">Artificial Intelligence </span>
              </div>
              <div>
                <p class="pl-2 dates">
                  <i class="bi bi-calendar pl-2 pr-1"></i> Aug 25, 2022
                </p>
              </div>
            </div>
            <h4>
              <a [routerLink]="['/artificial-intelligence-in-business']"
                >The impact of Artificial Intelligence in business
              </a>
            </h4>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="sidebar-blogs-single">
            <div class="badges mb-2">
              <div>
                <span class="badge_common">NPD Process</span>
              </div>
              <div>
                <p class="pl-2 dates">
                  <i class="bi bi-calendar pl-2 pr-1"></i> Sep 01, 2022
                </p>
              </div>
            </div>
            <h4>
              <a [routerLink]="['/stages-of-new-product-development-process']"
                >The Seven Steps involved in New Product Development
              </a>
            </h4>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="sidebar-blogs-single">
            <div class="badges mb-2">
              <div>
                <span class="badge_common">PWAs</span>
              </div>
              <div>
                <p class="pl-2 dates">
                  <i class="bi bi-calendar pl-2 pr-1"></i> Sep 07, 2022
                </p>
              </div>
            </div>
            <h4>
              <a [routerLink]="['/progressive-web-apps-rise']"
                >Perks of Progressive web applications
              </a>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--end-->
<!--category-->
<div class="row">
  <div class="col-lg-12 mb-3">
    <div class="recent-blogs-head">
      <h2>Author Biography</h2>
    </div>
  </div>
</div>
<!--author-detail-->
<div class="author-detail post-commont-details">
  <div class="comment_user_image author-image">
    <div class="d-flex align-items-center mb-2">
      <div>
        <img src="assets/images/testmonial/yokesh-sankar.png" alt="Yokesh shankar">
      </div>
      <div class="pl-3">
        <h4 class="mb-0">Yokesh Sankar</h4>
        <p class="d-block" style="padding: 0px">CO-Founder</p>
      </div>
    </div>
    <div class="pl-1 d-flex align-items-center">
      <div class="text-right">
        <ul class="author-social-share">
          <li>
            <a href="https://www.linkedin.com/in/yokeshsankar/" target="_blank"><i class="bi bi-linkedin"></i></a>
          </li>
          <li>
            <a href="https://twitter.com/yokesh_sankar_v" target="_blank"><i class="bi bi-twitter"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="msgbox p-0">
    <p>
      Yokesh Sankar is the co-founder and chief operating officer of Sparkout
      Tech. He believes in changing people's lives for the better and developing
      the skills they need for success.
    </p>
  </div>
</div>
<!--end-->
<!--end--->
