<section class="subbanner">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="title-wrap">
          <h4>Careers</h4>
          <h1 class="pb-0">
            MEAN Stack Developer
          </h1>
        </div>MEAN Stack Developer
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="subbanner-img mb-0">
          <img
            src="assets/images/career/career-banner.jpg"
            class="img-fluid"
            alt="MEAN Stack Developer"
          />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="why-choose-us business-growth">
  <div class="container">
    <div class="row mb-2">
      <div class="col-lg-6">
        <div class="title-wrap">
          <h2>Job Description</h2>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-7 mb-4">
            <ul class="list-img pl-0">
              <li>Strong experience with oracle functions, procedures, triggers, packages & query tuning</li>
              <li>Certification in Oracle SQL & PLSQL will be an advantage</li>
              <li>Strong proficiency in PL SQL</li>
              <li>Extensive hands-on Unix Commands</li>
              <li>Extensive hands-on SQL Developer</li>
              <li>Expertise on writing and optimizing complex SQL queries, Stored Procedures and Functions.</li>
              <li>Experience in handling high volume of application data.</li>
              <li> Exposure to other databases like postgres is a plus.</li>
              <li>Hands on experience on Performance Tuning.</li>
              <li>Seamlessly work with different teams from Development to Delivery.</li>
              <li>Having good communication skills to coordinate with different stakeholders.</li>
              <li>Expect to drive the team to contribute for the project.</li>
              <li>Should be capable of working together with teams or vendor.</li>
            </ul>

            <div class="spark-cta">
              <a  class="about-us" href="/careers/mean-stack-developer#apply">
              <span class="text">
                Apply for this job
                  <span class="arrow">
                      <i><span>→</span></i>
                      <svg class="arrow-icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                          <g fill="none" stroke="#fff" stroke-width="2" stroke-linejoin="round" stroke-miterlimit="10">
                          <circle class="arrow-icon--circle" cx="16" cy="16" r="15.12"></circle>
                          </g>
                      </svg>
                  </span>
              </span>
              </a>
            </div>

      </div>

      <div class="col-md-5 mb-4">
        <div class="spark-cta d-flex justify-content-end mb-5">
          <a  class="about-us" href="/careers/mean-stack-developer#apply">
          <span class="text">
            Apply Now
              <span class="arrow">
                  <i><span>→</span></i>
                  <svg class="arrow-icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                      <g fill="none" stroke="#fff" stroke-width="2" stroke-linejoin="round" stroke-miterlimit="10">
                      <circle class="arrow-icon--circle" cx="16" cy="16" r="15.12"></circle>
                      </g>
                  </svg>
              </span>
          </span>
          </a>
        </div>
        <img
        src="assets/images/career/career-subbanner.jpg"
        class="img-fluid"
        alt="subbanner"
      />

      </div>
    </div>
  </div>
</section>


<app-career-form></app-career-form>

<app-blog-contact></app-blog-contact>
<!-- <app-footer></app-footer> -->
