<section class="inside-sparkout-section text-center">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
            <div class="title-wrap text-center">
              <h4 class="d-flex justify-content-center"><span class="dots"></span> Inside Sparkout</h4>
              <h2><span>A great </span> place to work and a great place to grow,  <br/>
                 that's Sparkout Tech <span class="dots"></span></h2>
            </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-7">
                <div class="inside-card first-card">
                  <figure>
                    <picture>
                      <source
                        type="image/webp"
                        srcset="assets/images/home-new/inside-sparkout-1.webp"
                      />
                      <source
                        type="image/jpg"
                        srcset="assets/images/home-new/inside-sparkout-1.jpg"
                      />
                    <img
              loading="lazy"
              data-src="assets/images/home-new/inside-sparkout-1.jpg"
                        loading="lazy"
                        width="653"
                        height="522"
                        class="img-fluid"
                        alt="Sparkout Design Studio, Software development company"
                        title="Learn from industry experts"
                        >
                    </picture>
                  </figure>
                  <div class="content">
                    <picture>
                      <source
                        type="image/webp"
                        srcset="assets/images/home-new/logo-codespot-white.webp"
                      />
                      <source
                        type="image/png"
                        srcset="assets/images/home-new/logo-codespot-white.png"
                      />
                      <img
              loading="lazy"
              data-src="assets/images/home-new/logo-codespot-white.png"
                        loading="lazy"
                        width="150"
                        height="60"
                        class="img-fluid"
                        alt="logo codespot"
                        title="The Learning Journey"
                      >
                    </picture>
                    <div class="title-wrap">
                      <h2><span>The Learning</span> Journey <span class="dots"></span></h2>
                    </div>
                    <p>Learn from industry experts with our training programs in Codespot. Start your career with Sparkout Tech.</p>
                    <a href="https://www.codespotfoundation.org/" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Vist Codespot <img
              loading="lazy"
              data-src="assets/images/home-new/icon-arrow-up.svg"  alt="arrow-icon" title="arrow-icon"></a>
                  </div>
              </div>
          </div>
          <div class="col-lg-5">
                <div class="inside-card mb-24">
                  <figure>
                    <picture>
                      <source
                        type="image/webp"
                        srcset="assets/images/home-new/inside-sparkout-2.webp"
                      />
                      <source
                        type="image/jpg"
                        srcset="assets/images/home-new/inside-sparkout-2.jpg"
                      />
                      <img
              loading="lazy"
              data-src="assets/images/home-new/inside-sparkout-2.jpg"
                        loading="lazy"
                        width="451"
                        height="249"
                        class="img-fluid"
                        alt="Sparkout Design Studio, Software development company"
                        title="Sparkout Careers"
                      >
                    </picture>
                  </figure>
                  <div class="content">
                    <h3><span>Sparkout</span> Careers</h3>
                    <p>Experience an unbeatable work culture and build your career in technology with us.</p>
                    <a [routerLink]="['/career']" class="btn btn-primary text-white">Learn More
                      <picture>
                        <source
                          type="image/webp"
                          srcset="assets/images/home-new/icon-arrow-up.webp"
                        />
                        <source
                          type="image/png"
                          srcset="assets/images/home-new/icon-arrow-up.png"
                        />
                        <img
                          loading="lazy"
                          data-src="assets/images/home-new/icon-arrow-up.svg"
                          alt="arrow-icon"
                          title="arrow-icon"
                          width="21"
                          height="21"
                          class="img-fluid"
                        />
                      </picture>
                  </a>
                  </div>
              </div>
              <div class="inside-card">
                <figure>
                  <picture>
                    <source
                      type="image/webp"
                      srcset="assets/images/home-new/inside-sparkout-3.webp"
                    />
                    <source
                      type="image/jpg"
                      srcset="assets/images/home-new/inside-sparkout-3.jpg"
                    />
                    <img
                      loading="lazy"
                      data-src="assets/images/home-new/inside-sparkout-3.jpg"
                      width="451"
                      height="249"
                      class="img-fluid"
                      alt="Sparkout Design Studio, Software development company"
                      title="Sparkout Design Studio Software development company"
                    >
                  </picture>
                </figure>
                <div class="content">
                  <h3><span>Sparkout</span> Design Studio</h3>
                  <p>A dedicated design team to boost your customer experience with intuitive designs.</p>
                  <a href="https://www.behance.net/sparkouttech?tracking_source=search_projects%7Cnon-profit" target="_blank" rel="noopener noreferrer" class="btn btn-primary text-white">Learn More

                    <picture>
                      <source
                        type="image/webp"
                        srcset="assets/images/home-new/icon-arrow-up.webp"
                      />
                      <source
                        type="image/png"
                        srcset="assets/images/home-new/icon-arrow-up.png"
                      />
                      <img
                        loading="lazy"
                        data-src="assets/images/home-new/icon-arrow-up.svg"
                        alt="arrow-icon"
                        title="arrow-icon"
                        width="21"
                        height="21"
                        class="img-fluid"
                      />
                    </picture>
                  </a>
                </div>
            </div>
          </div>
      </div>
  </div>
</section>
