<section class="banners-section home-banner sub-banner">
  <div class="common">
    <img
      src="assets/images/case-studies/case-studies-banner.jpg"
      class="img-fluid"
      alt="Banner"
    />
    <div class="banner-text d-flex justify-content-center align-self-center">
      <div class="title-wrap">
        <h4><span class="dots"></span> Case Study</h4>
        <h2>
          <span>The stories that describe how</span> <br />
          we ship successful products
          <span class="dots"></span>
        </h2>
        <p>From award-winning mobile app development to intuitive & customized solutions, we <br/>
          build products that thrive at the intersection of business goals and user needs.</p>
        <div class="d-flex justify-content-center">
          <a class="btn btn-primary" [routerLink]="['/contact-us']"
            >Get In Touch
            <img
              src="assets/images/home-new/icon-banner-arrowup.svg"
              alt="Arrow up"
          /></a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="casestudy-detail common-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12 mb-5">
                <div class="casestudy-wrap">
                    <a [routerLink]="['/parking-app-case-study']">
                        <figure>
                          <img src="assets/images/case-studies/casestudy-park.jpg" class="img-fluid" alt="Sparkout Tech Solution Pvt Ltd">
                        </figure>
                        <h4>Opens up a world of parking - Parkk</h4>
                        <p>Find parking spaces in the hustle and bustle with an intuitive on-demand app. Access parking spaces all over the US with Parkk.</p>
                        <a class="btn btn-primary">Read More
                          <img src="assets/images/home-new/icon-arrow-up.svg" alt=""
                        /></a>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 mb-5">
                <div class="casestudy-wrap">
                    <a [routerLink]="['/vacation-rental-platform-case-study-holiday-keepers']">
                        <figure>
                          <img src="assets/images/case-studies/casestudy-holiday-keepers.jpg" class="img-fluid" alt="Sparkout Tech Solution Pvt Ltd">
                        </figure>
                        <h4>Access Great Rental Properties - Holiday Keepers</h4>
                        <p>Integrate OpenAI's APIs with your platform & give your application the AI boost needs for the ultimate customer experience.</p>
                        <a class="btn btn-primary">Read More
                          <img src="assets/images/home-new/icon-arrow-up.svg" alt=""
                        /></a>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 mb-5">
                <div class="casestudy-wrap">
                    <a [routerLink]="['/death-record-management-case-study-notifynow']">
                        <figure>
                          <img src="assets/images/case-studies/casestudy-notifynow.jpg" class="img-fluid" alt="Sparkout Tech Solution Pvt Ltd">
                        </figure>
                        <h4>Death Record Management App - Notifynow</h4>
                        <p>Notifynow is one of our long-term projects, live in the market. Partnered with Philps & Cohens Associates.</p>
                        <a class="btn btn-primary">Read More
                          <img src="assets/images/home-new/icon-arrow-up.svg" alt=""
                        /></a>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 mb-5">
                <div class="casestudy-wrap">
                    <a [routerLink]="['/decedent-check-case-study-adc']">
                        <figure>
                          <img src="assets/images/case-studies/casestudy-decedent-check.jpg" class="img-fluid" alt="Adc">
                        </figure>
                        <h4>A Complete Death Records - Decedent Check</h4>
                        <p>It isn't easy to derive any other data, Death records are usually highly secured within the governments' infrastructures.</p>
                        <a class="btn btn-primary">Read More
                          <img src="assets/images/home-new/icon-arrow-up.svg" alt=""
                        /></a>
                    </a>
                </div>
            </div>
            <!-- <div class="col-lg-4 col-md-6 col-12 mb-5">
              <div class="casestudy-wrap">
                  <a [routerLink]="['/firstblastit-case-study']">
                      <figure>
                        <img src="assets/images/case-studies/casestudy-firstblastit.jpg" class="img-fluid" alt="Sparkout Tech Solution Pvt Ltd">
                      </figure>
                      <h4>Professional Podcasting</h4>
                      <p>Over the years communication has transferred into a totally upscaled version, and so did open communication with mass.</p>
                      <a class="btn btn-primary">Read More
                        <img src="assets/images/home-new/icon-arrow-up.svg" alt=""
                      /></a>
                  </a>
              </div>
          </div> -->
            <!-- <div class="col-lg-4 col-md-6 col-12 mb-5">
              <div class="casestudy-wrap">
                  <a [routerLink]="['/firsttrackit-case-study']">
                      <figure>
                        <img src="assets/images/case-studies/casestudy-firsttrackit.jpg" class="img-fluid" alt="firsttrackit">
                      </figure>
                      <h4>First Track It</h4>
                      <p>First Track It - An Instant Passage Connecting the Production Operations With The Users</p>
                      <a class="btn btn-primary">Read More
                        <img src="assets/images/home-new/icon-arrow-up.svg" alt=""
                      /></a>
                  </a>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12 mb-5">
            <div class="casestudy-wrap">
                <a [routerLink]="['/fabvenues-case-study']">
                    <figure>
                      <img src="assets/images/case-studies/casestudy-fabvenues.jpg" class="img-fluid" alt="Fabvenues">
                    </figure>
                    <h4>Fabvenues</h4>
                    <p>Fabvenues is an online venue rental marketplace and platform for booking portals for venues.</p>
                    <a class="btn btn-primary">Read More
                      <img src="assets/images/home-new/icon-arrow-up.svg" alt=""
                    /></a>
                </a>
            </div>
        </div>
            <div class="col-lg-4 col-md-6 col-12 mb-5">
              <div class="casestudy-wrap">
                  <a [routerLink]="['/deeplens-case-study']">
                      <figure>
                        <img src="assets/images/case-studies/casestudy-deeplens.jpg" class="img-fluid" alt="Deep Lens">
                      </figure>
                      <h4>Deep Lens</h4>
                      <p>DeepLens - From The Eye Of Creators, A unified social platform for Pathologists Healthcare Mobile App Case Study</p>
                      <a class="btn btn-primary">Read More
                        <img src="assets/images/home-new/icon-arrow-up.svg" alt=""
                      /></a>
                  </a>
              </div>
          </div>
            <div class="col-lg-4 col-md-6 col-12 mb-5">
              <div class="casestudy-wrap">
                  <a [routerLink]="['/layeronex-case-study']">
                      <figure>
                        <img src="assets/images/case-studies/casestudy-layeronex.jpg" class="img-fluid" alt="LayerOneX">
                      </figure>
                      <h4>LayerOneX</h4>
                      <p>Connect with absolute like-minded techy's where every individual gets to seek, explore, participate, and take up their single-handed projects all in one space</p>
                      <a class="btn btn-primary">Read More
                        <img src="assets/images/home-new/icon-arrow-up.svg" alt=""
                      /></a>
                  </a>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12 mb-5">
            <div class="casestudy-wrap">
                <a [routerLink]="['/farmsent-case-study']">
                    <figure>
                      <img src="assets/images/case-studies/casestudy-farmsent.jpg" class="img-fluid" alt="farmsent">
                    </figure>
                    <h4>Farmsent</h4>
                    <p>A blockchain platform for farmers Producers where they can directly supply goods to the consumers</p>
                    <a class="btn btn-primary">Read More
                      <img src="assets/images/home-new/icon-arrow-up.svg" alt=""
                    /></a>
                </a>
            </div>
        </div> -->
        </div>
    </div>
</section>

<app-blog-scroll></app-blog-scroll>
<app-contact></app-contact>
<!-- <app-footer></app-footer> -->
