<section class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="footer-logo">
          <img
            loading="lazy"
            data-src="assets/images/logo/footer-logo.svg"
            width="261"
            height="58"
            class="img-fluid"
            alt="footer logo"
            title="Sparkout Tech solution"
          />
        </div>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-12">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="footer-heading">
              <h3>Head Office</h3>

              <p>
                No. 2 C.M.Nagar, Ramakrishnapuram,
                <span class="span-block">Coimbatore, Tamilnadu, </span>
                <span class="span-block">India – 641 006.</span>
              </p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="footer-heading">
              <h3>Branch Office</h3>
              <p>
                No. 4 Gem Colony, Near Siva Hospital,
                <span class="span-block"
                  >Ganapathy, Coimbatore, Tamilnadu,
                </span>
                <span class="span-block">India – 641 006.</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="lines-white">
          <hr />
        </div>
      </div>
    </div>
    <div class="row row-cols-2 row-cols-sm-2 row-cols-md-2 row-cols-lg-4">
      <div class="col">
        <div class="footer-heading">
          <h3>Overview</h3>
          <ul>
            <li><a [routerLink]="['/about-us/']">About Us</a></li>
            <!-- <li><a [routerLink]="['/career/']">Career</a></li> -->
            <li><a [routerLink]="['/portfolio/']">Clients</a></li>
            <li><a [routerLink]="['/blog/']">Blog</a></li>
            <li><a [routerLink]="['/case-studies/']">Case Study</a></li>
          </ul>
        </div>
      </div>
      <div class="col">
        <div class="footer-heading no-heading-pb-0">
          <h3>Solutions</h3>
          <ul>
            <li>
              <a [routerLink]="['/ui-ux-development/']"
                >Customer Experience - UI/UX
              </a>
            </li>
            <li>
              <a [routerLink]="['/internet-of-things/']"
                >Internet of Things (IOT)</a
              >
            </li>

            <li>
              <a [routerLink]="['/blockchain-development-company/']"
                >Enterprise Blockchain Solutions
              </a>
            </li>
          </ul>
          <h3>Industries</h3>
          <ul>
            <li>
              <a [routerLink]="['/online-food-delivery-solution/']"
                >Food & Beverages</a
              >
            </li>
            <li>
              <a [routerLink]="['/travel-application-development/']">Travel</a>
            </li>
            <li>
              <a
                [routerLink]="[
                  '/media-and-entertainment-application-development/'
                ]"
                >Media & Entertainment</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="col">
        <div class="footer-heading no-heading-pb-0">
          <h3>Digital Solutions</h3>
          <ul>
            <li>
              <a href="https://eatzilla.info/" target="_blank" rel="noopener noreferrer"
                >Eatzilla - Order and Delivery Management</a
              >
            </li>
            <li>
              <a href="https://www.rentalslew.com/" target="_blank" rel="noopener noreferrer"
                >Rentalslew - Vacation Rental Management</a
              >
            </li>
            <li>
              <a [routerLink]="['/transgenie/']"
                >TransGenie - SupplyChain Management</a
              >
            </li>
            <!-- <li>
              <a [routerLink]="['/contact-us']">PikChat - AI Chat Messenger</a>
            </li> -->
          </ul>
        </div>
      </div>
      <div class="col">
        <div class="footer-heading no-heading-pb-0">
          <h3>IT Life Cycle</h3>
          <ul>
            <li>
              <a
                [routerLink]="[
                  '/artificial-intelligence-application-development-company/'
                ]"
                >AI/ML Development</a
              >
            </li>
            <li>
              <a [routerLink]="['/generative-ai-development/']">Generative AI</a>
            </li>
            <li>
              <a [routerLink]="['/web-application-development/']"
                >Modern Web Services</a
              >
            </li>
            <li>
              <a [routerLink]="['/mobile-application-development/']"
                >Mobile Solutions</a
              >
            </li>
            <li>
              <a [routerLink]="['/devops-services/']">DevOps Solutions</a>
            </li>
            <li>
              <a [routerLink]="['/quality-assurance-and-testing-services/']"
                >Quality Assurance & Testing</a
              >
            </li>
            <li>
              <a [routerLink]="['/ar-vr-application-development/']"
                >Spatial Computing - AR / VR / MR</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="copyrights">
            <p>
              <a [routerLink]="['/privacy-policy/']">Privacy Policy</a> |
              <a [routerLink]="['/cookies-policy/']"> Cookies Policy</a> |
              <a [routerLink]="['/terms-conditions/']">Terms & Conditions</a>
            </p>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="social-icons d-flex justify-content-end">
            <ul>
              <li>
                <a
                  href="https://wa.me/8667726177"
                  class="contact-icon"
                  title="whatsapp"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                <picture>
                  <source
                    type="image/webp"
                    srcset="assets/images/social-network/icon-whatsapp.webp"
                  />
                  <source
                    type="image/png"
                    srcset="assets/images/social-network/icon-whatsapp.png"
                  />
                  <img
                    loading="lazy"
                    data-src="assets/images/social-network/icon-whatsapp.svg"
                    alt="whatsapp"
                    title="Whatsapp"
                    width="24"
                    height="24"
                    class="img-fluid"
                  />
                  </picture>
                </a>
              </li>
              <li>
                <a href="{{ fb }}" title="facebook" target="_blank"
                rel="noopener noreferrer"
                  >
                  <picture>
                    <source
                      type="image/webp"
                      srcset="assets/images/social-network/icon-facebook.webp"
                    />
                    <source
                      type="image/png"
                      srcset="assets/images/social-network/icon-facebook.png"
                    />
                    <img
                    loading="lazy"
                    data-src="assets/images/social-network/icon-facebook.svg"
                    alt="facebook"
                    title="Facebook"
                    width="24"
                    height="24"
                    class="img-fluid"
                  />
                  </picture>
                </a>
              </li>
              <li>
                <a href="{{ twitter }}" title="twitter" target="_blank"
                rel="noopener noreferrer"
                  >
                  <picture>
                    <source
                      type="image/webp"
                      srcset="assets/images/social-network/icon-twitter.webp"
                    />
                    <source
                      type="image/png"
                      srcset="assets/images/social-network/icon-twitter.png"
                    />
                  <img
                    loading="lazy"
                    data-src="assets/images/social-network/icon-twitter.svg"
                    alt="twitter"
                    title="Twitter"
                    width="24"
                    height="24"
                    class="img-fluid"
                  />
                  </picture>
                </a>
              </li>
              <li>
                <a href="{{ linkedin }}" title="linkedin" target="_blank"
                rel="noopener noreferrer"
                  >
                  <picture>
                    <source
                      type="image/webp"
                      srcset="assets/images/social-network/icon-linkedin.webp"
                    />
                    <source
                      type="image/png"
                      srcset="assets/images/social-network/icon-linkedin.png"
                    />
                  <img
                    loading="lazy"
                    data-src="assets/images/social-network/icon-linkedin.svg"
                    alt="linkedin"
                    title="Linkedin"
                    width="24"
                    height="24"
                    class="img-fluid"
                  />
                  </picture>
                </a>
              </li>
              <li>
                <a href="{{ instagram }}" title="instagram" target="_blank"
                rel="noopener noreferrer"
                  >
                  <picture>
                    <source
                      type="image/webp"
                      srcset="assets/images/social-network/icon-instagram.webp"
                    />
                    <source
                      type="image/png"
                      srcset="assets/images/social-network/icon-instagram.png"
                    />
                  <img
                    loading="lazy"
                    data-src="assets/images/social-network/icon-instagram.svg"
                    width="24"
                    height="24"
                    alt="instagram"
                    title="Instagram"
                  />
                  </picture>
                </a>
              </li>
              <li>
                <a href="{{ youtube }}" title="youtube" target="_blank"
                rel="noopener noreferrer"
                  >
                  <picture>
                    <source
                      type="image/webp"
                      srcset="assets/images/social-network/icon-youtube.webp"
                    />
                    <source
                      type="image/png"
                      srcset="assets/images/social-network/icon-youtube.png"
                    />
                  <img
                    loading="lazy"
                    data-src="assets/images/social-network/icon-youtube.svg"
                    alt="youtube"
                    title="Youtube"
                    width="24"
                    height="24"
                    class="img-fluid"
                  />
                  </picture>
                </a>
              </li>
              <li>
                <a href="{{ github }}" title="github" target="_blank"
                rel="noopener noreferrer"
                  >
                  <picture>
                    <source
                      type="image/webp"
                      srcset="assets/images/social-network/icon-github.webp"
                    />
                    <source
                      type="image/png"
                      srcset="assets/images/social-network/icon-github.png"
                    />
                    <img
                    loading="lazy"
                    data-src="assets/images/social-network/icon-github.svg"
                    alt="github"
                    title="Github"
                    width="24"
                    height="24"
                    class="img-fluid"
                  />
                  </picture>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="lines-white">
            <hr />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <p>© Sparkout Tech 2017-{{ year }}. All rights reserved</p>
        </div>
        <div class="col-lg-6">
          <div class="protected-screen d-flex justify-content-end">
            <picture>
              <source
                type="image/webp"
                srcset="assets/images/dmca-protected.webp"
              />
              <source
                type="image/png"
                srcset="assets/images/dmca-protected.png"
              />
              <img
                loading="lazy"
                data-src="assets/images/dmca-protected.png"
                alt="dmca-protected"
                title="DMCA Protected"
                width="175"
                height="29"
                class="img-fluid"
              />
            </picture>

          </div>
          <div class="scroller" (click)="scrollToTop()">
            <i class="bi bi-arrow-up"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
