<section class="banners-section home-banner sub-banner">
  <div class="common">
    <img
      src="assets/images/case-studies/case-studies-banner.jpg"
      class="img-fluid"
      alt="Case Study"
      title="Case Study"
    />
    <div class="banner-text d-flex justify-content-center align-self-center">
      <div class="title-wrap">
        <h4><span class="dots"></span>Case Study</h4>
        <h1>
          <span>Engage your Audience </span> With Highly <br />
          Performing Full Stack Web App
          <span class="dots"></span>
        </h1>
        <p>
          Our experienced full-stack developers are involved in igniting the
          magic for your <br />
          Web app development, enduring high performance, customized functions,
          and effective <br />
          responses via modern solutions.
        </p>
        <div class="d-flex justify-content-center">
          <a class="btn btn-primary" [routerLink]="['/contact-us']"
            >Get In Touch
            <img
              src="assets/images/home-new/icon-banner-arrowup.svg"
              alt="Arrow up"
              title="Arrow up"
          /></a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="featured-case-study py-100 bg-white-bottom-400">
  <div class="container">
    <div class="row mb-4 d-flex align-items-center">
      <div class="col-lg-10 col-md-12">
        <div class="title-wrap">
          <h4>Case Study</h4>
          <h2>We love transforming product ideas to digital realities</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="bg-dark-blue our-industry-full">
          <owl-carousel-o [options]="transiecasestudy">
            <!--firsttractit-->
            <ng-template carouselSlide>
              <div class="row">
                <div class="col-lg-6 col-md-6 text-center">
                  <figure class="desktop-img">
                    <img
                      src="assets/images/our-industry/our-park.png"
                      class="img-fluid mb-3"
                      alt="Holiday Keepers"
                    />
                  </figure>
                  <figure class="mobile-img">
                    <img
                      src="assets/images/our-industry/our-park-mobile.jpg"
                      class="img-fluid mb-3"
                      alt="Holiday Keepers"
                    />
                  </figure>
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="full-wrap">
                    <div class="our-industry-wrap">
                      <h4>First Track</h4>
                      <h2>
                        Optimize industry processes & supply chain with First
                        Track
                      </h2>
                      <p>
                        An innovative solution to an age old problem. First
                        Track lets you optimize and track processes in an
                        industrial setting.
                      </p>
                    </div>
                    <div class="our-industry-countdown">
                      <div>
                        <p>Country</p>
                        <h4>USA</h4>
                      </div>
                      <div>
                        <p>Industries & Manufacturing</p>
                        <h4>TransGenie</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
            <!--end-->
            <!--eatzilla-->
            <ng-template carouselSlide>
              <div class="row">
                <div class="col-lg-6 col-md-6 text-center">
                  <figure class="desktop-img">
                    <img
                      src="assets/images/our-industry/our-park.png"
                      class="img-fluid mb-3"
                      alt="Holiday Keepers"
                    />
                  </figure>
                  <figure class="mobile-img">
                    <img
                      src="assets/images/our-industry/our-park-mobile.jpg"
                      class="img-fluid mb-3"
                      alt="Holiday Keepers"
                    />
                  </figure>
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="full-wrap">
                    <div class="our-industry-wrap">
                      <h4>Eatzilla</h4>
                      <h2>Eatzilla, an end-to-end food delivery solution</h2>
                      <p>
                        Power your food delivery startup with a highly
                        customizable, prebuilt app solution that works
                        seamlessly.
                      </p>
                    </div>
                    <div class="our-industry-countdown">
                      <div>
                        <p>Country</p>
                        <h4>India</h4>
                      </div>
                      <div>
                        <p>This is a Spakrout product</p>
                        <h4>Delivery Dispatch Solution</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
            <!--end-->
            <!--farm-sent-->
            <ng-template carouselSlide>
              <div class="row">
                <div class="col-lg-6 col-md-6 text-center">
                  <figure class="desktop-img">
                    <img
                      src="assets/images/our-industry/our-park.png"
                      class="img-fluid mb-3"
                      alt="Holiday Keepers"
                    />
                  </figure>
                  <figure class="mobile-img">
                    <img
                      src="assets/images/our-industry/our-park-mobile.jpg"
                      class="img-fluid mb-3"
                      alt="Holiday Keepers"
                    />
                  </figure>
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="full-wrap">
                    <div class="our-industry-wrap">
                      <h4>Farmsent</h4>
                      <h2>The World’s First Farmer’s Blockchain</h2>
                      <p>
                        Farmsent is the Web3 community’s answer to problems that
                        farmers face globally. The platform connects farmers and
                        producers directly with customers.
                      </p>
                    </div>
                    <div class="our-industry-countdown">
                      <div>
                        <p>Country</p>
                        <h4>Dubai</h4>
                      </div>
                      <div>
                        <p>Blockchain</p>
                        <h4>Supply Chain management</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
            <!--end-->
          </owl-carousel-o>
        </div>
        <div class="text-center d-block d-md-none">
          <div class="spark-cta">
            <a [routerLink]="['/case-studies']" class="about-us">
              <span class="text">
                Explore More
                <span class="arrow">
                  <i><span>→</span></i>
                  <svg
                    class="arrow-icon"
                    xmlns="http://www.w3.org/2000/svg"
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                  >
                    <g
                      fill="none"
                      stroke="#fff"
                      stroke-width="2"
                      stroke-linejoin="round"
                      stroke-miterlimit="10"
                    >
                      <circle
                        class="arrow-icon--circle"
                        cx="16"
                        cy="16"
                        r="15.12"
                      ></circle>
                    </g>
                  </svg>
                </span>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
