<section class="common-section story-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
              <div class="title-wrap">
                <h4>
                  <span class="dots"></span>About Sparkout Tech
                </h4>
                <h2>
                  We're   <span>problem solvers, </span> and we build things. <br/>
                  You just tell us your vision.  <span class="dots"></span>
                </h2>
              </div>
            </div>
        </div>
        <div class="row common-mb">
          <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
            <div class="our-company-portfolio">
              <h3>Years</h3>
              <h4>06<span>+</span></h4>
              <p>Extensive experience in handling complex projects.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
            <div class="our-company-portfolio">
              <h3>Clients</h3>
              <h4>150<span>+</span></h4>
              <p>A very loyal and happy global clientele.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
            <div class="our-company-portfolio">
              <h3>Experts</h3>
              <h4>100<span>+</span></h4>
              <p>Industry-leading experts that know the tech and the business.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
            <div class="our-company-portfolio">
              <h3>Projects</h3>
              <h4>240<span>+</span></h4>
              <p>
                Distinctive and innovative portfolio of projects across industries.
              </p>
            </div>
          </div>
        </div>
    </div>
</section>
<section class="common-section video-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-video-wrap">
          <picture>
            <source
              type="image/webp"
              srcset="assets/images/about/about-us-banner.webp"
            />

            <source
              type="image/png"
              srcset="assets/images/about/about-us-banner.png"
            />

            <img
              loading="lazy"
              data-src="assets/images/about/about-us-banner.png"
              width="100%"
              height="100%"
              class="img-fluid"
              alt="Sparkout Tech Solution Pvt Ltd"
              title="Sparkout Tech Solution Pvt Ltd"
            />
          </picture>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="title-wrap mb-0">
          <h4><span class="dots"></span>A Brief History of Sparkout</h4>
          <h2>
            <span>Great ideas </span> are born in the mind and crafted with
            passionate hands. <span class="dots"></span>
          </h2>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="title-wrap mb-0">
          <p>
            Our journey began in 2017 but the vision was embedded in our
            founders’ minds way before that. From our humble beginnings as only
            a 6-member startup, we’re today one of the leading software
            development businesses, delivering innovative solutions to global
            customers and pioneering in Blockchain Technology.
          </p>
        </div>
      </div>
    </div>
    <div class="row our-core-values justify-content-center">
      <div class="col-lg-4 col-md-6 col-sm-6 mb-4">
        <div class="our-vision">
          <picture>
            <source
              type="image/webp"
              srcset="assets/images/about/ourvision.webp"
            />

            <source
              type="image/png"
              srcset="assets/images/about/ourvision.png"
            />

          <img
            loading="lazy"
            data-src="assets/images/about/ourvision.svg"
            width="90"
            height="90"
            alt="Our Vision"
            title="Our Vision"
            class="img-fluid"
          />
          </picture>
          <h3>Our Vision</h3>
          <p>
            To explore the cosmos of technological innovation and create
            opportunities that impact human lives.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 mb-4">
        <div class="our-vision">
          <picture>
            <source
              type="image/webp"
              srcset="assets/images/about/mission.webp"
            />

            <source
              type="image/png"
              srcset="assets/images/about/mission.png"
            />

          <img
            loading="lazy"
            data-src="assets/images/about/mission.svg"
            width="90"
            height="90"
            alt="Our mission"
            title="Our mission"
            class="img-fluid"
          />
          </picture>
          <h3>Our Mission</h3>
          <p>
            We are passionate in what we do, and want to help our customers
            realize the power of their ideas.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 mb-4">
        <div class="our-vision">
          <picture>
            <source
              type="image/webp"
              srcset="assets/images/about/ethics.webp"
            />

            <source
              type="image/png"
              srcset="assets/images/about/ethics.png"
            />

          <img
            loading="lazy"
            data-src="assets/images/about/ethics.svg"
            width="90"
            height="90"
            alt="What we believe in"
            title="What we believe in"
            class="img-fluid"
          />
          </picture>
          <h3>What we believe in</h3>
          <p>
            We believe in you, that’s right. We believe in the power of human
            beings and know that at the end of the day, everything we create is
            for them.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="common-section our-core-values">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-12">
        <div class="title-wrap pr-50">
          <h4><span class="dots"></span>Our Core Values</h4>
          <h2 class="cmb-2">
            <span>We believe in the power </span> of human thought and passion.
            Our culture and work ethic reflect the same.
            <span class="dots"></span>
          </h2>
          <figure>
            <picture>
              <source
                type="image/webp"
                srcset="assets/images/about/core-values.webp"
              />

              <source
                type="image/png"
                srcset="assets/images/about/core-values.png"
              />

            <img
              loading="lazy"
              data-src="assets/images/about/core-values.svg"
              width="90%"
              height="100%"
              alt="our core values"
              title="our core values"
              class="img-fluid"
            />
            </picture>
          </figure>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="our-value-wrap-two">
          <h5>Client Satisfaction</h5>
          <p>
            The reason our customers prefer us is because we understand the
            value of human relationships. We don’t consider ourselves as just a
            service provider but a support system that won’t be happy unless
            everything is just right for our clients.
          </p>
          <h5>User-Centric Approach</h5>
          <p>
            We're pretty vocal about how much we believe in human beings. At the
            end of the day, that’s who we are serving. Each piece of code is
            written so that someone out there can get their work done faster and
            more efficiently.
          </p>
          <h5>Great Place to Work</h5>
          <p>
            Creating a safe, happy, and progressive environment for our
            teammates has been our top-most priority. We like to create
            opportunities for people where they can take challenges head-on and
            find solutions. But the only competition our teammates have is
            themselves. We don’t compete, we just build.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="common-section timeline">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-7 col-md-8 mx-auto">
        <div class="title-wrap text-center">
          <h4><span class="dots"></span>Our Journey</h4>
          <h2>
            A timeline of <span>Sparkout </span> from the Spark to the light
            <span class="dots"></span>
          </h2>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-12">
        <div
          id="carouselExampleIndicators"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="0"
              data-bs-interval="2000"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
            >
              <h4 class="heading-btn">2023</h4>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="25"
                height="25"
                fill="currentColor"
                class="bi bi-circle"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                />
              </svg>
            </button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="1"
              data-bs-interval="2000"
              aria-label="Slide 1"
            >
              <h4 class="heading-btn">2022</h4>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="25"
                height="25"
                fill="currentColor"
                class="bi bi-circle"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                />
              </svg>
            </button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="2"
              data-bs-interval="2000"
              aria-label="Slide 2"
            >
              <h4 class="heading-btn">2021</h4>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="25"
                height="25"
                fill="currentColor"
                class="bi bi-circle"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                />
              </svg>
            </button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="3"
              data-bs-interval="2000"
              aria-label="Slide 3"
            >
              <h4 class="heading-btn">2020</h4>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="25"
                height="25"
                fill="currentColor"
                class="bi bi-circle"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                />
              </svg>
            </button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="4"
              data-bs-interval="2000"
              aria-label="Slide 4"
            >
              <h4 class="heading-btn">2019</h4>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="25"
                height="25"
                fill="currentColor"
                class="bi bi-circle"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                />
              </svg>
            </button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="5"
              data-bs-interval="2000"
              aria-label="Slide 5"
            >
              <h4 class="heading-btn">2018</h4>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="25"
                height="25"
                fill="currentColor"
                class="bi bi-circle"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                />
              </svg>
            </button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="6"
              data-bs-interval="2000"
              aria-label="Slide 6"
            >
              <h4 class="heading-btn">2017</h4>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="25"
                height="25"
                fill="currentColor"
                class="bi bi-circle"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                />
              </svg>
            </button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row align-items-center">
                <div class="col-lg-6 col-md-5 col-sm-6">
                  <picture>
                    <source
                      type="image/webp"
                      srcset="assets/images/about/timeline-2023.webp"
                    />

                    <source
                      type="image/png"
                      srcset="assets/images/about/timeline-2023.png"
                    />

                  <img
                    loading="lazy"
                    data-src="assets/images/about/timeline-2023.png"
                    width="90%"
                    height="100%"
                    alt="Collective growth"
                    title="Collective growth"
                    class="img-fluid"
                  />
                  </picture>
                </div>
                <div class="col-lg-6 col-md-7 col-sm-6">
                  <div class="our-history">
                    <h3>2023</h3>
                    <h4>Codespot Foundation</h4>
                    <p>
                      We've always tried to impart our knowledge to students
                      with informative talks and workshops. 2023 marks a huge
                      milestone for us as we established the Codespot
                      Foundation, a non-profit organization dedicated to helping
                      students of all walks of life find their career paths,
                      learn new skills, and interact with industry leaders.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row align-items-center">
                <div class="col-lg-6 col-md-5 col-sm-6">
                  <picture>
                    <source
                      type="image/webp"
                      srcset="assets/images/about/timeline-2022.webp"
                    />

                    <source
                      type="image/jpg"
                      srcset="assets/images/about/timeline-2022.jpg"
                    />

                  <img
                    loading="lazy"
                    data-src="assets/images/about/timeline-2022.jpg"
                    width="90%"
                    height="100%"
                    alt="New Office Opening"
                    title="New Office Opening"
                    class="img-fluid"
                  />
                  </picture>
                </div>
                <div class="col-lg-6 col-md-7 col-sm-6">
                  <div class="our-history">
                    <h3>2022</h3>
                    <h4>New Office Opening</h4>
                    <p>
                      The year started off with hope, as we opened our new
                      office, "House of Innovation." The occasion was graced by
                      Thiru Mano Thangaraj, the Honourable Minister of
                      Information and Technology, Government of Tamil Nadu. We
                      expanded our development capabilities and our team is now
                      bigger than ever.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row align-items-center">
                <div class="col-lg-6 col-md-5 col-sm-6">
                  <figure>
                    <picture>
                      <source
                        type="image/webp"
                        srcset="assets/images/about/timeline-2021.webp"
                      />

                      <source
                        type="image/jpg"
                        srcset="assets/images/about/timeline-2021.jpg"
                      />

                    <img
                      loading="lazy"
                      data-src="assets/images/about/timeline-2021.jpg"
                      width="90%"
                      height="100%"
                      alt="Building a family"
                      title="Building a family"
                      class="img-fluid"
                    />
                    </picture>
                  </figure>
                </div>
                <div class="col-lg-6 col-md-7 col-sm-6">
                  <div class="our-history">
                    <h3>2021</h3>
                    <h4>Building a family</h4>
                    <p>
                      We were now bit by the blockchain bug, working with
                      innovative startups on both blockchain and non-blockchain
                      solutions. Now, we were a strong family of 70+ passionate
                      individuals, each one just as passionate as the next. We
                      expanded our reach to multiple countries including the
                      Middle-East.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row align-items-center">
                <div class="col-lg-6 col-md-5 col-sm-6">
                  <figure>
                    <picture>
                      <source
                        type="image/webp"
                        srcset="assets/images/about/timeline-2020.webp"
                      />

                      <source
                        type="image/jpg"
                        srcset="assets/images/about/timeline-2020.jpg"
                      />

                    <img
                      loading="lazy"
                      data-src="assets/images/about/timeline-2020.jpg"
                      width="90%"
                      height="100%"
                      alt="Creating Experiences"
                      title="Creating Experiences"
                      class="img-fluid"
                    />
                    </picture>
                  </figure>
                </div>
                <div class="col-lg-6 col-md-7 col-sm-6">
                  <div class="our-history">
                    <h3>2020</h3>
                    <h4>Creating Experiences</h4>
                    <p>
                      Even as the pandemic hit, it was business as usual for all
                      of our teammates. We expanded our family to 60+, with
                      nearly 150+ projects behind us and a loyal global
                      clientele. We started working on complex and interesting
                      projects for both blockchain and non-blockchain use cases.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row align-items-center">
                <div class="col-lg-6 col-md-5 col-sm-6">
                  <figure>
                    <picture>
                      <source
                        type="image/webp"
                        srcset="assets/images/about/timeline-2019.webp"
                      />

                      <source
                        type="image/jpg"
                        srcset="assets/images/about/timeline-2019.jpg"
                      />

                    <img
                      loading="lazy"
                      data-src="assets/images/about/timeline-2019.jpg"
                      width="90%"
                      height="100%"
                      alt="New Horizons"
                      title="New Horizons"
                      class="img-fluid"
                    />
                    </picture>
                  </figure>
                </div>
                <div class="col-lg-6 col-md-7 col-sm-6">
                  <div class="our-history">
                    <h3>2019</h3>
                    <h4>New Horizons</h4>
                    <p>
                      2019 was a monumental year for us as we ventured into
                      exploring Blockchain Technology and attended our very
                      first Blockchain conference at Thailand, now with a team
                      size of 35+. We founded our Blockchain subsidiary,
                      BlockchainX, which is a sister concern completely
                      dedicated to building blockchain solutions.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row align-items-center">
                <div class="col-lg-6 col-md-5 col-sm-6">
                  <figure>
                    <picture>
                      <source
                        type="image/webp"
                        srcset="assets/images/about/timeline-2018.webp"
                      />

                      <source
                        type="image/jpg"
                        srcset="assets/images/about/timeline-2018.jpg"
                      />

                    <img
                      loading="lazy"
                      data-src="assets/images/about/timeline-2018.jpg"
                      width="90%"
                      height="100%"
                      alt="The Paving the way forward"
                      title="The Paving the way forward"
                      class="img-fluid"
                    />
                    </picture>
                  </figure>
                </div>
                <div class="col-lg-6 col-md-7 col-sm-6">
                  <div class="our-history">
                    <h3>2018</h3>
                    <h4>Paving the way forward</h4>
                    <p>
                      With just a year behind us and many more to follow, we
                      expanded our team size to 25+ and were already working on
                      applications for multiple brands. Getting started with
                      real-world projects early-on helped us establish our name
                      as a leading global software development startup.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row align-items-center">
                <div class="col-lg-6 col-md-5 col-sm-6">
                  <figure>
                    <picture>
                      <source
                        type="image/webp"
                        srcset="assets/images/about/history-spark.webp"
                      />

                      <source
                        type="image/jpg"
                        srcset="assets/images/about/history-spark.jpg"
                      />

                    <img
                      loading="lazy"
                      data-src="assets/images/about/history-spark.jpg"
                      width="90%"
                      height="100%"
                      alt="The Genesis"
                      title="The Genesis"
                      class="img-fluid"
                    />
                    </picture>
                  </figure>
                </div>
                <div class="col-lg-6 col-md-7 col-sm-6">
                  <div class="our-history">
                    <h3>2017</h3>
                    <h4>The Genesis</h4>
                    <p>
                      Sparkout Tech’s team of 6 set out on the journey to change
                      people's lives through innovative solutions. Our team
                      loves to build things that solve real-world problems and
                      this collective ambition is what drove the original team
                      to take the leap into the world of software technology.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true">
              <img
                src="assets/images/about/left-arrow.svg"
                width="60"
                height="60"
                alt="previous icon"
            /></span>
            <span class="visually-hidden"> </span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true">
              <img
                src="assets/images/about/right-arrow.svg"
                width="60"
                height="60"
                alt="next icon"
              />
            </span>
            <span class="visually-hidden"> </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="common-section codespot">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="title-wrap">
          <h4><span class="dots"></span>Codespot Foundation</h4>
          <h2>
            <span>Empowering </span> Young Minds to Grow
            <span class="dots"></span>
          </h2>
        </div>
        <picture>
          <source
            type="image/webp"
            srcset="assets/images/about/codespot.webp"
          />

          <source
            type="image/png"
            srcset="assets/images/about/codespot.png"
          />

        <img
          loading="lazy"
          data-src="assets/images/about/codespot.png"
          width="100%"
          height="100%"
          alt="Codespot Foundation Empowering Young Minds to Grow"
          title="Codespot Foundation Empowering Young Minds to Grow"
          class="img-fluid cmb-2"
        />
        </picture>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="title-wrap mb-3">
          <p>
            We believe that inclusive education at the grassroots level is the
            only way to get our country’s young talent ready for the demands of
            the industry.
          </p>
        </div>
        <div class="codespot-about mb-5">
          <div>
            <picture>
              <source
                type="image/webp"
                srcset="assets/images/about/codespot-i-card.webp"
              />

              <source
                type="image/png"
                srcset="assets/images/about/codespot-i-card.png"
              />

            <img
              loading="lazy"
              data-src="assets/images/about/codespot-i-card.svg"
              width="100%"
              height="100%"
              alt="For College Students"
              title="For College Students"
              class="img-fluid"
            />
            </picture>
          </div>
          <div class="code_text_wrap">
            <h3>For College Students</h3>
            <p>
              Industry-training programs, Hackathons, Educational Talks, and
              Interaction with Industry Leaders.
            </p>
          </div>
        </div>
        <div class="codespot-about mb-5">
          <div>
            <picture>
              <source
                type="image/webp"
                srcset="assets/images/about/codespot-student.webp"
              />

              <source
                type="image/png"
                srcset="assets/images/about/codespot-student.png"
              />

            <img
              loading="lazy"
              data-src="assets/images/about/codespot-student.svg"
              width="90"
              height="90"
              alt="For College Students"
              title="For College Students"
              class="img-fluid"
            />
            </picture>
          </div>
          <div class="code_text_wrap">
            <h3>For School Students</h3>
            <p>
              Tech awareness programs, interactive sessions, and motivational
              talks for school students in urban & rural areas.
            </p>
          </div>
        </div>
        <div class="codespot-about mb-5">
          <div>
            <picture>
              <source
                type="image/webp"
                srcset="assets/images/about/codespot-fresher.webp"
              />

              <source
                type="image/png"
                srcset="assets/images/about/codespot-fresher.png"
              />

            <img
              loading="lazy"
              data-src="assets/images/about/codespot-fresher.svg"
              width="100%"
              height="100%"
              alt="For Freshers"
              title="For Freshers"
              class="img-fluid"
            />
            </picture>
          </div>
          <div class="code_text_wrap">
            <h3>For Freshers</h3>
            <p>
              Internship program with work experience certification, working on
              real-world projects, and placement opportunity
            </p>
          </div>
        </div>
        <div class="mt-3">
          <div class="btn-right-side">
            <div class="spark-cta">
              <a
                href="https://www.codespotfoundation.org/"
                target="_blank"
                rel="noopener noreferrer"
                class="about-us btn-style-one"
              >
                <span class="text"
                  >Visit Codespot
                  <span class="arrow"
                    ><i><span>→</span></i>
                    <svg
                      class="arrow-icon"
                      xmlns="http://www.w3.org/2000/svg"
                      width="32"
                      height="32"
                      viewBox="0 0 32 32"
                    >
                      <g
                        fill="none"
                        stroke="#fff"
                        stroke-width="2"
                        stroke-linejoin="round"
                        stroke-miterlimit="10"
                      >
                        <circle
                          class="arrow-icon--circle"
                          cx="16"
                          cy="16"
                          r="15.12"
                        ></circle>
                      </g>
                    </svg>
                  </span>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="common-section our-culture">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12">
        <div class="title-wrap text-center">
          <h4><span class="dots"></span>Life and Culture</h4>
          <h2>
            We create <span>opportunities </span> for our teammates<br />
            to bond and grow together <span class="dots"></span>
          </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row mb-5">
      <div class="col-lg-12">
        <owl-carousel-o [options]="firstCulture">
          <ng-template carouselSlide [width]="550">
            <div class="our-culutre-wrap">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/about/our-culture-1.webp"
                />

                <source
                  type="image/jpg"
                  srcset="assets/images/about/our-culture-1.jpg"
                />

              <img
                loading="lazy"
                data-src="assets/images/about/our-culture-1.jpg"
                width="100%"
                height="100%"
                alt="Life and Culture"
                title="Life and Culture"
                class="img-fluid"
              />
              </picture>
            </div>
          </ng-template>
          <ng-template carouselSlide [width]="252">
            <div class="second-small-card">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/about/our-culture-2.webp"
                />

                <source
                  type="image/jpg"
                  srcset="assets/images/about/our-culture-2.jpg"
                />

              <img
                loading="lazy"
                data-src="assets/images/about/our-culture-2.jpg"
                width="100%"
                height="100%"
                alt="Life and Culture"
                title="Life and Culture"
                class="img-fluid"
              />
              </picture>
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/about/our-culture-3.webp"
                />

                <source
                  type="image/jpg"
                  srcset="assets/images/about/our-culture-3.jpg"
                />

              <img
                loading="lazy"
                data-src="assets/images/about/our-culture-3.jpg"
                width="100%"
                height="100%"
                alt="Life and Culture"
                title="Life and Culture"
                class="img-fluid"
              />
              </picture>
            </div>
          </ng-template>
          <ng-template carouselSlide [width]="550">
            <div class="our-culutre-wrap">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/about/our-culture-4.webp"
                />

                <source
                  type="image/jpg"
                  srcset="assets/images/about/our-culture-4.jpg"
                />

              <img
                loading="lazy"
                data-src="assets/images/about/our-culture-4.jpg"
                width="100%"
                height="100%"
                alt="Life and Culture"
                title="Life and Culture"
                class="img-fluid"
              />
              </picture>
            </div>
          </ng-template>
          <ng-template carouselSlide [width]="252">
            <div class="second-small-card">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/about/our-culture-5.webp"
                />

                <source
                  type="image/jpg"
                  srcset="assets/images/about/our-culture-5.jpg"
                />

              <img
                loading="lazy"
                data-src="assets/images/about/our-culture-5.jpg"
                width="100%"
                height="100%"
                alt="Life and Culture"
                title="Life and Culture"
                class="img-fluid"
              />
              </picture>
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/about/our-culture-6.webp"
                />

                <source
                  type="image/jpg"
                  srcset="assets/images/about/our-culture-6.jpg"
                />

              <img
                loading="lazy"
                data-src="assets/images/about/our-culture-6.jpg"
                width="100%"
                height="100%"
                alt="Life and Culture"
                title="Life and Culture"
                class="img-fluid"
              />
              </picture>
            </div>
          </ng-template>
          <ng-template carouselSlide [width]="550">
            <div class="our-culutre-wrap">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/about/our-culture-7.webp"
                />

                <source
                  type="image/jpg"
                  srcset="assets/images/about/our-culture-7.jpg"
                />

              <img
                loading="lazy"
                data-src="assets/images/about/our-culture-7.jpg"
                width="100%"
                height="100%"
                alt="Life and Culture"
                title="Life and Culture"
                class="img-fluid"
              />
              </picture>
            </div>
          </ng-template>
          <ng-template carouselSlide [width]="252">
            <div class="second-small-card">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/about/our-culture-9.webp"
                />

                <source
                  type="image/jpg"
                  srcset="assets/images/about/our-culture-9.jpg"
                />

              <img
                loading="lazy"
                data-src="assets/images/about/our-culture-9.jpg"
                width="100%"
                height="100%"
                alt="Life and Culture"
                title="Life and Culture"
                class="img-fluid"
              />
              </picture>
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/about/our-culture-10.webp"
                />

                <source
                  type="image/jpg"
                  srcset="assets/images/about/our-culture-10.jpg"
                />

              <img
                loading="lazy"
                data-src="assets/images/about/our-culture-10.jpg"
                width="100%"
                height="100%"
                alt="Life and Culture"
                title="Life and Culture"
                class="img-fluid"
              />
              </picture>
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <owl-carousel-o [options]="secondCulture">
          <ng-template carouselSlide [width]="550">
            <div class="our-culutre-wrap">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/about/our-culture-8.webp"
                />

                <source
                  type="image/jpg"
                  srcset="assets/images/about/our-culture-8.jpg"
                />

              <img
                loading="lazy"
                data-src="assets/images/about/our-culture-8.jpg"
                width="100%"
                height="100%"
                alt="Life and Culture"
                title="Life and Culture"
                class="img-fluid"
              />
              </picture>
            </div>
          </ng-template>
          <ng-template carouselSlide [width]="252">
            <div class="second-small-card">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/about/our-culture-9.webp"
                />

                <source
                  type="image/jpg"
                  srcset="assets/images/about/our-culture-9.jpg"
                />

              <img
                loading="lazy"
                data-src="assets/images/about/our-culture-9.jpg"
                width="100%"
                height="100%"
                alt="Life and Culture"
                title="Life and Culture"
                class="img-fluid"
              />
              </picture>
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/about/our-culture-10.webp"
                />

                <source
                  type="image/jpg"
                  srcset="assets/images/about/our-culture-10.jpg"
                />

              <img
                loading="lazy"
                data-src="assets/images/about/our-culture-10.jpg"
                width="100%"
                height="100%"
                alt="Life and Culture"
                title="Life and Culture"
                class="img-fluid"
              />
              </picture>
            </div>
          </ng-template>
          <ng-template carouselSlide [width]="550">
            <div class="our-culutre-wrap">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/about/our-culture-11.webp"
                />

                <source
                  type="image/jpg"
                  srcset="assets/images/about/our-culture-11.jpg"
                />

              <img
                loading="lazy"
                data-src="assets/images/about/our-culture-11.jpg"
                width="100%"
                height="100%"
                alt="Life and Culture"
                title="Life and Culture"
                class="img-fluid"
              />
              </picture>
            </div>
          </ng-template>
          <ng-template carouselSlide [width]="252">
            <div class="second-small-card">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/about/our-culture-12.webp"
                />

                <source
                  type="image/jpg"
                  srcset="assets/images/about/our-culture-12.jpg"
                />

              <img
                loading="lazy"
                data-src="assets/images/about/our-culture-12.jpg"
                width="100%"
                height="100%"
                alt="Life and Culture"
                title="Life and Culture"
                class="img-fluid"
              />
              </picture>
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/about/our-culture-6.webp"
                />

                <source
                  type="image/png"
                  srcset="assets/images/about/our-culture-6.jpg"
                />

              <img
                loading="lazy"
                data-src="assets/images/about/our-culture-6.jpg"
                width="100%"
                height="100%"
                alt="Life and Culture"
                title="Life and Culture"
                class="img-fluid"
              />
              </picture>
            </div>
          </ng-template>
          <ng-template carouselSlide [width]="550">
            <div class="our-culutre-wrap">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/about/our-culture-7.webp"
                />

                <source
                  type="image/jpg"
                  srcset="assets/images/about/our-culture-7.jpg"
                />

              <img
                loading="lazy"
                data-src="assets/images/about/our-culture-7.jpg"
                width="100%"
                height="100%"
                alt="Life and Culture"
                title="Life and Culture"
                class="img-fluid"
              />
              </picture>
            </div>
          </ng-template>
          <ng-template carouselSlide [width]="252">
            <div class="second-small-card">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/about/our-culture-9.webp"
                />

                <source
                  type="image/jpg"
                  srcset="assets/images/about/our-culture-9.jpg"
                />

              <img
                loading="lazy"
                data-src="assets/images/about/our-culture-9.jpg"
                width="100%"
                height="100%"
                alt="Life and Culture"
                title="Life and Culture"
                class="img-fluid"
              />
              </picture>
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/about/our-culture-10.webp"
                />

                <source
                  type="image/jpg"
                  srcset="assets/images/about/our-culture-10.jpg"
                />

              <img
                loading="lazy"
                data-src="assets/images/about/our-culture-10.jpg"
                width="100%"
                height="100%"
                alt="Life and Culture"
                title="Life and Culture"
                class="img-fluid"
              />
              </picture>
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>
<app-blog-scroll></app-blog-scroll>
<app-contact></app-contact>
