<section class="contact-us">
  <div class="container mt-5">
      <div class="row dosees">
          <div class="col-lg-5 col-md-6 col-sm-12 " >
              <div class="getintouch">
                  <h3>Get in Touch</h3>
                  <h4 class="mb-5">Reach out to us and get started right away.</h4>
                  <div class="contact-social">
                      <div>
                          <img src="assets/images/contact/skype.svg" width="40" height="40" alt="skype">
                      </div>
                      <div class="mx-3">
                          <h5>Skype</h5>
                          <a href="skype:yokesh.sankar?chat" target="_blank">yokesh.sankar</a>
                      </div>
                  </div>
                  <div class="contact-social ">
                      <div>
                          <img src="assets/images/contact/mail.svg" width="40" height="40" alt="mail">
                      </div>
                      <div class="mx-3">
                          <h5>Mail ID</h5>
                          <a href="mailto:contact@sparkouttech.com">contact@sparkouttech.com</a>
                      </div>
                  </div>
                  <div class="contact-social mb-5">
                      <div>
                          <img src="assets/images/contact/phone.svg" width="40" height="40" alt="phone">
                      </div>
                      <div class="mx-3">
                          <h5>Phone</h5>
                          <a href="tel:8667726177">+91 86677 26177</a>

                      </div>
                  </div>

              </div>
        </div>
        <div  class="col-lg-7 col-md-6 col-sm-12">

        <div class="getintouch getintochform">
          <div #crmForm></div>


        </div>
            </div>
          </div>
  </div>
</section>

 <div class="container pb-150">
  <div class="row">
    <div class="col-lg-12">

<form  [formGroup]="form" >
  <!-- <input type='text' style='display:none;' name='xnQsjsdp'
    value='9c5f03d3584d5f5d235381b7affd44f55478fd35ea7e734cc1e3f04e84058d09'>
  <input type='hidden' name='zc_gad' id='zc_gad' value=''>
  <input type='text' style='display:none;' name='xmIwtLD'
    value='3fb1343a6196a5912a5bd9fac1fd0138ed9a0d91444ca98f5a7e055f878f2bb1'>
  <input type='text' style='display:none;' name='actionType' value='TGVhZHM='>
  <input type='text' style='display:none;' name='returnURL' value='https&#x3a;&#x2f;&#x2f;www.sparkouttech.com&#x2f;'> -->

  <div class='zcwf_title' style='max-width: 600px;color: black;'>Sparkout Tech Website</div>
  <div class='zcwf_row'>
    <div class='zcwf_col_lab' style='font-size:12px; font-family: Arial;'><label for='Last_Name'>Name<span
          style='color:red;'>*</span></label></div>
    <div class='zcwf_col_fld'><input [ngClass]="{'is-invalid': submitted && formControlls['Last_Name'].errors}" type='text' id='Last_Name' formControlName="Last_Name" name='Last_Name' maxlength='80'>
      <span *ngIf="submitted && formControlls['Last_Name'].errors">Name is required</span>
      <div class='zcwf_col_help'></div>
    </div>
  </div>
  <div class='zcwf_row'>
    <div class='zcwf_col_lab' style='font-size:12px; font-family: Arial;'><label for='Email'>Email</label></div>
    <div class='zcwf_col_fld'><input type='Email' id='Email' name='Email' formControlName="Email" maxlength='100'>
      <div class='zcwf_col_help'></div>
    </div>
  </div>
  <div class='zcwf_row'>
    <div class='zcwf_col_lab' style='font-size:12px; font-family: Arial;'><label for='Phone'>Phone</label></div>
    <div class='zcwf_col_fld'><input type='number' id='Phone' name='Phone' formControlName="Phone" maxlength='30'>
      <div class='zcwf_col_help'></div>
    </div>
  </div>
  <div class='zcwf_row'>
    <div class='zcwf_col_lab' style='font-size:12px; font-family: Arial;'><label for='Country'>Country</label></div>
    <div class='zcwf_col_fld'><input type='text' id='Country' name='Country' formControlName="Country" maxlength='50'>
      <div class='zcwf_col_help'></div>
    </div>
  </div>
  <div class='zcwf_row'>
    <div class='zcwf_col_lab' style='font-size:12px; font-family: Arial;'><label for='Description'>Description</label>
    </div>
    <div class='zcwf_col_fld'><textarea id='Description' name='Description' formControlName="Description"></textarea>
      <div class='zcwf_col_help'></div>
    </div>
  </div>
  <div class='zcwf_row'>
    <div class='zcwf_col_lab'></div>
    <div class='zcwf_col_fld'><button (click)="formSubmit()" id='formsubmit' class='formsubmit zcwf_button' value='Submit'
        title='Submit'>Submit
        </button>
        <input type='reset' class='zcwf_button' name='reset' value='Reset' title='Reset'>
      </div>
  </div>
</form>
</div>
</div>
</div>

<section>
  <div class="container">
    <iframe src="assets/zoho-crm.html" title="Zoho CRM form" width="100%" height="500" style="border:0;">
    </iframe>
  </div>
</section>




<!-- <app-second-footer></app-second-footer> -->
