<section class="industries-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="title-wrap">
          <h4><span class="dots"></span> Industries</h4>
          <h2>
            <span>We discover,</span> design <br />
            and implement technology <span class="dots"></span>
          </h2>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="title-wrap">
          <p>
            As a custom software development company, we've penetrated almost
            every industry with a global clientele. We view each project as the
            first and provide continuous support.
          </p>
          <a class="btn btn-primary" [routerLink]="['/contact-us']"
            >Talk to our team
            <picture>
              <source
                type="image/webp"
                srcset="assets/images/home-new/icon-arrow-up.webp"
              />
              <source
                type="image/png"
                srcset="assets/images/home-new/icon-arrow-up.png"
              />
              <img
                loading="lazy"
                data-src="assets/images/home-new/icon-arrow-up.svg"
                alt="arrow-icon"
                title="arrow-icon"
                width="21"
                height="21"
                class="img-fluid"
              />
            </picture>
          </a>
        </div>
      </div>
    </div>
    <owl-carousel-o [options]="industriesOptions">
      <ng-template carouselSlide>
        <div class="industries-card">
          <figure>
            <picture>
              <source
                type="image/webp"
                srcset="assets/images/home-new/industries/industries-1.webp"
              />
              <source
                type="image/jpg"
                srcset="assets/images/home-new/industries/industries-1.jpg"
              />
            <img
              loading="lazy"
              data-src="assets/images/home-new/industries/industries-1.jpg"
              width="356"
              height="475"
              class="img-fluid"
              alt="Financial Service"
              title="Financial Service"
            />
            </picture>
          </figure>
          <div class="content">
            <h3>Financial Services</h3>
            <p>
              Secure, robust, and innovative Fintech solutions that allow users
              to seamlessly access their finances.
            </p>
            <a class="btn btn-primary" [routerLink]="['/contact-us']"
              >Learn More
             <picture>
              <source
                type="image/webp"
                srcset="assets/images/home-new/icon-arrow-up.webp"
              />
              <source
                type="image/png"
                srcset="assets/images/home-new/icon-arrow-up.png"
              />
              <img
                loading="lazy"
                data-src="assets/images/home-new/icon-arrow-up.svg"
                alt="arrow-icon"
                title="arrow-icon"
                width="21"
                height="21"
                class="img-fluid"
              />
            </picture>
          </a>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="industries-card">
          <figure>
            <picture>
              <source
                type="image/webp"
                srcset="assets/images/home-new/industries/industries-2.webp"
              />
              <source
                type="image/jpg"
                srcset="assets/images/home-new/industries/industries-2.jpg"
              />
            <img
              loading="lazy"
              data-src="assets/images/home-new/industries/industries-2.jpg"
              width="356"
              height="475"
              class="img-fluid"
              alt="Supply Chain"
              title="Supply Chain"
            />
            </picture>
          </figure>
          <div class="content">
            <h3>Supply Chain</h3>
            <p>
              Transform your supply chain and logistics operations with
              dependable solutions made with the right tech.
            </p>
            <a class="btn btn-primary" [routerLink]="['/contact-us']"
              >Learn More
             <picture>
              <source
                type="image/webp"
                srcset="assets/images/home-new/icon-arrow-up.webp"
              />
              <source
                type="image/png"
                srcset="assets/images/home-new/icon-arrow-up.png"
              />
              <img
                loading="lazy"
                data-src="assets/images/home-new/icon-arrow-up.svg"
                alt="arrow-icon"
                title="arrow-icon"
                width="21"
                height="21"
                class="img-fluid"
              />
            </picture>
          </a>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="industries-card">
          <figure>
            <picture>
              <source
                type="image/webp"
                srcset="assets/images/home-new/industries/industries-3.webp"
              />
              <source
                type="image/jpg"
                srcset="assets/images/home-new/industries/industries-3.jpg"
              />
            <img
              loading="lazy"
              data-src="assets/images/home-new/industries/industries-3.jpg"
              width="356"
              height="475"
              class="img-fluid"
              alt="Governments"
              title="Governments"
            />
            </picture>
          </figure>
          <div class="content">
            <h3>Governments</h3>
            <p>
              Transparent and secure solutions for governments that need to
              digitally transform their operations.
            </p>
            <a class="btn btn-primary" [routerLink]="['/contact-us']"
              >Learn More
             <picture>
              <source
                type="image/webp"
                srcset="assets/images/home-new/icon-arrow-up.webp"
              />
              <source
                type="image/png"
                srcset="assets/images/home-new/icon-arrow-up.png"
              />
              <img
                loading="lazy"
                data-src="assets/images/home-new/icon-arrow-up.svg"
                alt="arrow-icon"
                title="arrow-icon"
                width="21"
                height="21"
                class="img-fluid"
              />
            </picture>
          </a>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="industries-card">
          <figure>
            <picture>
              <source
                type="image/webp"
                srcset="assets/images/home-new/industries/industries-4.webp"
              />
              <source
                type="image/jpg"
                srcset="assets/images/home-new/industries/industries-4.jpg"
              />
            <img
              loading="lazy"
              data-src="assets/images/home-new/industries/industries-4.jpg"
              width="356"
              height="475"
              class="img-fluid"
              alt="Healthcare"
              title="Healthcare"
            />
            </picture>
          </figure>
          <div class="content">
            <h3>Healthcare</h3>
            <p>
              Experts in technology for healthcare with extensive experience in
              building large-scale applications.
            </p>
            <a
              [routerLink]="['/healthcare-application-development']"
              class="btn btn-primary"
              >Learn More
             <picture>
              <source
                type="image/webp"
                srcset="assets/images/home-new/icon-arrow-up.webp"
              />
              <source
                type="image/png"
                srcset="assets/images/home-new/icon-arrow-up.png"
              />
              <img
                loading="lazy"
                data-src="assets/images/home-new/icon-arrow-up.svg"
                alt="arrow-icon"
                title="arrow-icon"
                width="21"
                height="21"
                class="img-fluid"
              />
            </picture>
          </a>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="industries-card">
          <figure>
            <picture>
              <source
                type="image/webp"
                srcset="assets/images/home-new/industries/industries-5.webp"
              />
              <source
                type="image/jpg"
                srcset="assets/images/home-new/industries/industries-5.jpg"
              />
            <img
              loading="lazy"
              data-src="assets/images/home-new/industries/industries-5.jpg"
              width="356"
              height="475"
              class="img-fluid"
              alt="Manufacturing"
              title="Manufacturing"
            />
            </picture>
          </figure>
          <div class="content">
            <h3>Manufacturing</h3>
            <p>
              Track manufacturing processes, secure data using blockchain, and
              streamline your internal processes.
            </p>
            <a class="btn btn-primary" [routerLink]="['/contact-us']"
              >Learn More
             <picture>
              <source
                type="image/webp"
                srcset="assets/images/home-new/icon-arrow-up.webp"
              />
              <source
                type="image/png"
                srcset="assets/images/home-new/icon-arrow-up.png"
              />
              <img
                loading="lazy"
                data-src="assets/images/home-new/icon-arrow-up.svg"
                alt="arrow-icon"
                title="arrow-icon"
                width="21"
                height="21"
                class="img-fluid"
              />
            </picture>
          </a>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="industries-card">
          <figure>
            <picture>
              <source
                type="image/webp"
                srcset="assets/images/home-new/industries/industries-6.webp"
              />
              <source
                type="image/jpg"
                srcset="assets/images/home-new/industries/industries-6.jpg"
              />
            <img
              loading="lazy"
              data-src="assets/images/home-new/industries/industries-6.jpg"
              width="356"
              height="475"
              class="img-fluid"
              alt="Food & Beverages"
              title="Food & Beverages"
            />
            </picture>
          </figure>
          <div class="content">
            <h3>Food & Beverages</h3>
            <p>
              Proud technology partner to food delivery startups with solutions
              for a variety of industry use cases.
            </p>
            <a
              [routerLink]="['/online-food-delivery-solution']"
              class="btn btn-primary"
              >Learn More
             <picture>
              <source
                type="image/webp"
                srcset="assets/images/home-new/icon-arrow-up.webp"
              />
              <source
                type="image/png"
                srcset="assets/images/home-new/icon-arrow-up.png"
              />
              <img
                loading="lazy"
                data-src="assets/images/home-new/icon-arrow-up.svg"
                alt="arrow-icon"
                title="arrow-icon"
                width="21"
                height="21"
                class="img-fluid"
              />
            </picture>
          </a>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="industries-card">
          <figure>
            <picture>
              <source
                type="image/webp"
                srcset="assets/images/home-new/industries/industries-7.webp"
              />
              <source
                type="image/jpg"
                srcset="assets/images/home-new/industries/industries-7.jpg"
              />
            <img
              loading="lazy"
              data-src="assets/images/home-new/industries/industries-7.jpg"
              width="356"
              height="475"
              class="img-fluid"
              alt="Travel"
              title="Travel"
            />
            </picture>
          </figure>
          <div class="content">
            <h3>Travel</h3>
            <p>
              Industry-leading solutions for travel and tourism with support
              from our industry experts and professionals.
            </p>
            <a
              [routerLink]="['/travel-application-development']"
              class="btn btn-primary"
              >Learn More
             <picture>
              <source
                type="image/webp"
                srcset="assets/images/home-new/icon-arrow-up.webp"
              />
              <source
                type="image/png"
                srcset="assets/images/home-new/icon-arrow-up.png"
              />
              <img
                loading="lazy"
                data-src="assets/images/home-new/icon-arrow-up.svg"
                alt="arrow-icon"
                title="arrow-icon"
                width="21"
                height="21"
                class="img-fluid"
              />
            </picture>
          </a>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="industries-card">
          <figure>
            <picture>
              <source
                type="image/webp"
                srcset="assets/images/home-new/industries/industries-8.webp"
              />
              <source
                type="image/jpg"
                srcset="assets/images/home-new/industries/industries-8.jpg"
              />
            <img
              loading="lazy"
              data-src="assets/images/home-new/industries/industries-8.jpg"
              width="356"
              height="475"
              class="img-fluid"
              alt="Media & Entertainment"
              title="Media and Entertainment"
            />
            </picture>
          </figure>
          <div class="content">
            <h3>Media & Entertainment</h3>
            <p>
              Build beautifully-crafted applications that your users want to
              spend time on with contemporary technologies.
            </p>
            <a
              [routerLink]="[
                '/media-and-entertainment-application-development'
              ]"
              class="btn btn-primary"
              >Learn More
             <picture>
              <source
                type="image/webp"
                srcset="assets/images/home-new/icon-arrow-up.webp"
              />
              <source
                type="image/png"
                srcset="assets/images/home-new/icon-arrow-up.png"
              />
              <img
                loading="lazy"
                data-src="assets/images/home-new/icon-arrow-up.svg"
                alt="arrow-icon"
                title="arrow-icon"
                width="21"
                height="21"
                class="img-fluid"
              />
            </picture>
          </a>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
</section>
