<section class="banners-section home-banner sub-banner">
  <div class="common">
      <picture>
        <source type="image/webp" srcset="assets/images/case-studies/case-studies-banner.webp" />
        <source type="image/jpg" srcset="assets/images/case-studies/case-studies-banner.jpg" />
        <img loading="lazy" data-src="assets/images/case-studies/case-studies-banner.jpg"
          alt="Parkk Case Study" title="Parkk Case Study" width="100%" height="100%" class="img-fluid" />
      </picture>
    <div class="banner-text d-flex justify-content-center align-self-center">
      <div class="title-wrap">
        <h4><span class="dots"></span>Parkk</h4>
        <h1>
          <span>Helping you find </span> places to park
          <span class="dots"></span>
        </h1>
        <p>
          Helping others earn with their empty spaces
        </p>
        <div class="d-flex justify-content-center">
          <a class="btn btn-primary" [routerLink]="['/contact-us']">Get In Touch
            <picture>
              <source type="image/webp" srcset="assets/images/home-new/icon-banner-arrowup.webp" />
              <source type="image/png" srcset="assets/images/home-new/icon-banner-arrowup.png" />
              <img loading="lazy" data-src="assets/images/home-new/icon-banner-arrowup.svg" alt="arrow-icon" title="arrow-icon"
                width="21" height="21" class="img-fluid" />
            </picture>
            </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <section class="parkcase-studies">
  <div class="container">
    <div class="row">
      <div class="firstpart bg-park">
        <div class="row align-items-center">
          <div class="col-lg-7 col-md-7 mb-3">
            <div class="part-one">
              <img
                src="assets/images/case-study-park/park-logo.png"
                class="img-fluid mb-3"
                alt="park logo"
                title="Helping you find places to park"
              />
              <h1>Helping you find places to park.</h1>
              <h1>Helping others earn with their empty spaces</h1>
              <p>UI/UX <span>Mobile</span></p>
              <ul class="social-icon">
                <li>
                  <a href="#" target="_blank">
                    <img
                      src="assets/images/case-study-park/fb.png"
                      height="30"
                      width="30"
                      alt="facebook"
                      title="social-icons"
                    />
                  </a>
                </li>
                <li>
                  <a href="#" target="_blank">
                    <img
                      src="assets/images/case-study-park/twitter.png"
                      height="30"
                      width="30"
                      alt="twitter"
                      title="social-icons"
                    />
                  </a>
                </li>
                <li>
                  <a href="#" target="_blank">
                    <img
                      src="assets/images/case-study-park/linkedin.png"
                      height="30"
                      width="30"
                      alt="linked-in"
                      title="social-icons"
                    />
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-5 col-md-5 mb-3">
            <div class="text-right">
              <img
                src="assets/images/case-study-park/parkmobileview.png"
                class="img-fluid"
                alt="parkk app"
                title="Helping you find places to park"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<section class="requirements">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-5">
        <div class="business-requirement">
          <h6>Client Name</h6>
          <h3>Parkk</h3>
        </div>
        <div class="business-requirement">
          <h6>Business</h6>
          <h3>Travel</h3>
        </div>
        <div class="business-requirement">
          <h6>Country</h6>
          <h3>United States</h3>
        </div>
        <div class="business-requirement">
          <h6>Team</h6>
          <h3>15</h3>
        </div>
      </div>
      <div class="col-lg-8 col-md-7">

        <div class="title-wrap">
          <h4><span class="dots"></span> Analysing your requirements</h4>
          <h2>
            <span>Finding parking</span> when you're in a hurry is really
            a tough job all over the biggest states in united states.
            <span class="dots"></span>
          </h2>
          <p>
            Have you ever wished that you could find the perfect parking spots,
            every time? Of course, you have. If you've ever driven a car inside
            the hustle and bustle of the city, then you've probably wished the
            same.
          </p>
          <p>
            This is not only true for city people, even if you're someone on a
            vacation and want to find parking spots in tourist places, but it's
            also pretty hard. Most of us have faced this issue and what we've
            been doing so far is parking at well-known places, if you're a
            regular parker, or drive around the block looking for a good parking
            spot.
          </p>

          <p>
            Parkk intends to solve this through a very simple app that anyone
            can use. Every parking spot near you is visible right there on your
            phone, and all you need to do is book the right spot for you. Parkk
            also lets you plan your travel better. Let's say that you're
            traveling to another location and need to park your ride for a few
            days. You can book a parking spot for multiple days using the app.
          </p>
          <!-- <div class="external-links">
            <a href="">parkk.com</a>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>
<section class="parkgallery">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <picture>
          <source type="image/webp" srcset="assets/images/case-study-park/scrren-shot.webp" />
          <source type="image/png" srcset="assets/images/case-study-park/scrren-shot.png" />
          <img loading="lazy" data-src="assets/images/case-study-park/scrren-shot.png" alt="Analysing your requirements"
            title="Analysing your requirements" width="100%" height="100%" class="img-fluid" />
        </picture>
          
      </div>
    </div>
  </div>
</section>
<section class="busiessgoal">
  <div class="container">
    <div class="row mb-3">
      <div class="col-lg-8 mx-auto px-12">

        <div class="title-wrap text-center">
          <h4><span class="dots"></span> Project Goals & Road Map</h4>
          <h2>
            <span>A visual outline</span> of the project plan
            <span class="dots"></span>
          </h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
          <picture>
            <source type="image/webp" srcset="assets/images/case-study-park/business-goal.webp" />
            <source type="image/png" srcset="assets/images/case-study-park/business-goal.png" />
            <img loading="lazy" data-src="assets/images/case-study-park/business-goal.png" alt="Business Goal"
              title="Business Goal" width="100%" height="100%" class="img-fluid" />
          </picture>
      </div>
    </div>
  </div>
</section>
<section class="centerised-design">
  <div class="container">
    <div class="row mb-3">
      <div class="col-lg-12">
        <div class="title-wrap text-center">
          <h4><span class="dots"></span> Our Process</h4>
          <h2>
            <span>Genesis </span> & Plan
            <span class="dots"></span>
          </h2>
        </div>
      </div>
    </div>
    <div class="row mb-3 justify-content-center">
      <div class="col-lg-3 col-md-6 col-sm-6 col-12 mb-3">
        <div class="common-design">
            <picture>
              <source type="image/webp" srcset="assets/images/case-study-park/discover-01.webp" />
              <source type="image/svg" srcset="assets/images/case-study-park/discover-01.svg" />
              <img loading="lazy" data-src="assets/images/case-study-park/discover-01.svg" alt="Discover"
                title="Discover" width="60" height="60" class="img-fluid" />
            </picture>
          <h3>Discover</h3>
          <p>
            The initial step was to organize a product discovery workshop. In
            the workshop, our business and tech teams sat with the client and
            discovered the goals of the project.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-12 mb-3">
        <div class="common-design">
              <picture>
                <source type="image/webp" srcset="assets/images/case-study-park/define-01.webp" />
                <source type="image/svg" srcset="assets/images/case-study-park/define-01.svg" />
                <img loading="lazy" data-src="assets/images/case-study-park/define-01.svg" alt="Define" title="Define"
                  width="60" height="60" class="img-fluid" />
              </picture>
          <h3>Define</h3>
          <p>
            Defining the objectives and goals is an important step when it comes
            to developing any product. This is especially true when it comes to
            products that provide a service.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-12 mb-3">
        <div class="common-design">
            <picture>
              <source type="image/webp" srcset="assets/images/case-study-park/Ideate-01.webp" />
              <source type="image/png" srcset="assets/images/case-study-park/Ideate-01.svg" />
              <img loading="lazy" data-src="assets/images/case-study-park/Ideate-01.svg" alt="Ideate" title="Ideate" width="60"
                height="60" class="img-fluid" />
            </picture>
          <h3>Ideate</h3>
          <p>
            Once we defined the product’s objectives, then we collaborated
            through several brainstorming sessions where we built on top of the
            client’s idea and defined the modules.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-12 mb-3">
        <div class="common-design">
            <picture>
              <source type="image/webp" srcset="assets/images/case-study-park/design-01.webp" />
              <source type="image/png" srcset="assets/images/case-study-park/design-01.svg" />
              <img loading="lazy" data-src="assets/images/case-study-park/design-01.svg" alt="Design" title="Design" width="60"
                height="60" class="img-fluid" />
            </picture>
          <h3>Design</h3>
          <p>
            This process involves creating prototypes where our UX designers did
            their work. Parkk is a user-centric app that needed a well-planned
            UI/UX design built to be convenient
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="user-flow">
  <div class="container">
    <div class="row mb-3">
      <div class="col-lg-7 mx-auto">
        <div class="title-wrap text-center">
          <h4><span class="dots"></span> User Flow</h4>
          <h2>
            <span>Below is a </span> visual representation of how Parkk works
            <span class="dots"></span>
          </h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
          <picture>
            <source type="image/webp" srcset="assets/images/case-study-park/app-userflow.webp" />
            <source type="image/png" srcset="assets/images/case-study-park/app-userflow.png" />
            <img loading="lazy" data-src="assets/images/case-study-park/app-userflow.png" alt="Below is a visual representation of how Parkk works" title="Below is a visual representation of how Parkk works" width="100%"
              height="100%" class="img-fluid" />
          </picture>
      </div>
    </div>
  </div>
</section>
<section class="information">
  <div class="container">
    <div class="row mb-3">
      <div class="col-lg-12">
        <div class="title-wrap text-center">
          <h4><span class="dots"></span> Information Architecture</h4>
          <h2>
            <span>A well-defined outline </span> of the modules and how they work.
            <span class="dots"></span>
          </h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
          <picture>
            <source type="image/webp" srcset="assets/images/case-study-park/app-userflow.webp" />
            <source type="image/png" srcset="assets/images/case-study-park/app-userflow.png" />
            <img loading="lazy" data-src="assets/images/case-study-park/app-userflow.png"
              alt="Below is a visual representation of how Parkk works"
              title="Below is a visual representation of how Parkk works" width="100%" height="100%" class="img-fluid" />
          </picture>
      </div>
    </div>
  </div>
</section>
<section class="solutions bg-park">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto mb-3">
        <div class="title-wrap">
          <h4><span class="dots"></span> Challenges & Motives</h4>
          <h2>
            <span>First, we analyse </span> requirements by discussing business needs
            <span class="dots"></span>
          </h2>

          <p>
            An app such as Parkk intends to solve certain existing problems or
            tries to make something easier. Creating great user experiences was
            Parkk goal. From the discovery workshop and the subsequent sessions
            with the client, our R&D team listed down these challenges/issues
            that Parkk was trying to solve and the objectives it was trying to
            accomplish.
          </p>
          <ul class="list">
            <li>Finding convenient
              parking spaces has always been a hassle, especially in crowded
              cities and tourist destinations.</li>
            <li>Serving a country such
              as the US with a very large coverage area was a difficult task.
            </li>

            <li>There are certain
              untouched destinations that not many people know. Introducing these
              amazing destinations for people adds to the user experience.
            </li>

            <li>Many people have empty
              spaces perfect for parking vehicles. Large stores with unfilled
              parking too have this potential. If we could find a way for people
              to monetize their parking spaces, it would be mutually beneficial.
            </li>

            <li>If you an EV, it’s
              always a pain worrying about whether you can find a parking station.
            </li>

            <li>If you own an RV that
              you want to take out for a trip, finding RV stations with good
              amenities can be a rough job.
            </li>
          </ul>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div class="title-wrap">
          <h4><span class="dots"></span> The Solution</h4>
          <h2>
            <span>Parkk is the one-stop solution</span> to all your parking problems. Eac
            module is built for convenience and an amazing user experience.
            <span class="dots"></span>
          </h2>
          <p>So, what does park provide it’s users?</p>
          <p>
            Access to convenient parking spots no matter where you are. Each
            parking spot listing will have in-depth informations such as the
            amenities available, how secure they are, and the size of vehicle
            you can park.
          </p>
          <ul class="list">
            <li>Easy access to EV Charging stations, find them faster and easily.
            </li>
            <li>Easy host and traveler registration process.</li>
            <li>RV Parking stations specially marked.</li>
            <li>
              Discover new and exciting parking spots that other travelers have
              discovered.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="app-features">
  <div class="container">
    <div class="row mb-2">
      <div class="col-lg-6">
        <div class="title-wrap">
          <h4><span class="dots"></span> App Features</h4>
          <h2>
            <span>Parking </span> is just matter of some clicks now.
            <span class="dots"></span>
          </h2>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-lg-6 col-md-12">
        <ul class="list-img">
          <li><strong>Geofensing</strong> - Find parking spots in the area</li>
          <li><strong>Calendar access</strong> - Multi-Day Bookings.</li>
          <li><strong>New Space Alerts</strong> - Get Alerts when someone adds a spot.</li>
        </ul>
      </div>
      <div class="col-lg-6 col-md-12">
        <ul class="list-img">
          <li><strong>Platform Alerts</strong> - Get notified instantly on the platform.</li>
          <li><strong>Intelligent Alerts</strong> - Get notified on spots as you drive.</li>
          <li><strong>Claim spot</strong> - Claim your own spot and start earning</li>
        </ul>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-lg-12">
          <picture>
            <source type="image/webp" srcset="assets/images/case-study-park/park-dashboard.webp" />
            <source type="image/png" srcset="assets/images/case-study-park/park-dashboard.png" />
            <img loading="lazy" data-src="assets/images/case-study-park/park-dashboard.png"
              alt="park-app-features"
              title="park-app-features" width="100%" height="100%" class="img-fluid" />
          </picture>
      </div>
    </div>
  </div>
</section>
<section class="feautures bg-park">
  <div class="container">
    <div class="row mb-3">
      <div class="col-lg-6 mx-auto">
        <div class="title-wrap text-center">
          <h4><span class="dots"></span> Unique Features</h4>
          <h2>
            <span>What Makes </span> Parkk Different and Unique
            <span class="dots"></span>
          </h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="common-design">
            <picture>
              <source type="image/webp" srcset="assets/images/case-study-park/intelligent-alert.webp" />
              <source type="image/svg" srcset="assets/images/case-study-park/intelligent-alert.svg" />
              <img loading="lazy" data-src="assets/images/case-study-park/intelligent-alert.svg" alt="Intelligent Alerts"
                title="Intelligent Alerts" width="60" height="60" class="img-fluid" />
            </picture>
          <h3>Intelligent Alerts</h3>
          <p>
            One of the “simply clever” bits inside Parkk is Intelligent Alerts.
            If a traveler is about to approach an available parking spot, they
            get notified instantly.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="common-design">
            <picture>
              <source type="image/webp" srcset="assets/images/case-study-park/multi-day-booking.webp" />
              <source type="image/svg" srcset="assets/images/case-study-park/multi-day-booking.svg" />
              <img loading="lazy" data-src="assets/images/case-study-park/multi-day-booking.svg" alt="Multi-Day Bookings"
                title="Multi-Day Bookings" width="60" height="60" class="img-fluid" />
            </picture>
          <h3>Multi-Day Bookings</h3>
          <p>
            Parking can be hard when you’re traveling. Parking for more than a
            few hours can be harder. With Parkk, you can book a parking spot for
            several days.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="common-design">
              <picture>
                <source type="image/webp" srcset="assets/images/case-study-park/claim-spot.webp" />
                <source type="image/svg" srcset="assets/images/case-study-park/claim-spot.svg" />
                <img loading="lazy" data-src="assets/images/case-study-park/claim-spot.svg" alt="Claim Spot"
                  title="Claim Spot" width="60" height="60" class="img-fluid" />
              </picture>
          <h3>Claim Spot</h3>
          <p>
            If you're space is on the map, it will be automatically listed on
            Parkk. All someone has to do to be a Host, is claim the parking
            space. They can start earning.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="common-design">
              <picture>
                <source type="image/webp" srcset="assets/images/case-study-park/claim-spot.webp" />
                <source type="image/svg" srcset="assets/images/case-study-park/claim-spot.svg" />
                <img loading="lazy" data-src="assets/images/case-study-park/claim-spot.svg" alt="Claim Spot" title="Claim Spot"
                  width="60" height="60" class="img-fluid" />
              </picture>
          <h3>Advanced Search</h3>
          <p>
            Travelers don’t have to know the exact parking spot to find it. They
            can just search for related words and the parking spot will come up
            inside the app.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="common-design">
            <picture>
              <source type="image/webp" srcset="assets/images/case-study-park/explore-spots.webp" />
              <source type="image/svg" srcset="assets/images/case-study-park/explore-spots.svg" />
              <img loading="lazy" data-src="assets/images/case-study-park/explore-spots.svg" alt="Explore Spots" title="Explore Spots"
                width="60" height="60" class="img-fluid" />
            </picture>
          <h3>Explore Spots</h3>
          <p>
            Finding untapped locations is something exciting for any traveler.
            One Parkk, travelers can mark new, untouched locations, and it’ll
            show up for other travelers.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="common-design">
            <picture>
              <source type="image/webp" srcset="assets/images/case-study-park/nearby-spot-alerts.webp" />
              <source type="image/svg" srcset="assets/images/case-study-park/nearby-spot-alerts.svg" />
              <img loading="lazy" data-src="assets/images/case-study-park/nearby-spot-alerts.svg" alt="Nearby Spot Alerts"
                title="Nearby Spot Alerts" width="60" height="60" class="img-fluid" />
            </picture>
          <h3>Nearby Spot Alerts</h3>
          <p>
            Once you enter a location, you can find all the great parking spots
            there on Parkk, and ou will get notified of the same even if you
            don’t open the app.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="techstack">
  <div class="container">
    <div class="row mb-3">
      <div class="col-lg-8 mx-auto">
        <div class="title-wrap text-center">
          <h4><span class="dots"></span> Tools</h4>
          <h2>
            <span>A great app needs </span> the right tools and technology to perform
            <span class="dots"></span>
          </h2>
        </div>
      </div>
    </div>
    <!--backend start-->
    <div class="row mb-3">
      <div class="col-md-12">
        <div class="tech-stack-heading text-center">
          <h3>Back End</h3>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-2 col-md-3 col-sm-3 col-4 mb-3">
        <div class="tech-stack-wrap text-center">
          <picture>
            <source type="image/webp" srcset="assets/images/techstack/backend/php.webp" />
            <source type="image/svg" srcset="assets/images/techstack/backend/php.svg" />
            <img loading="lazy" data-src="assets/images/techstack/backend/php.svg" alt="PHP"
              title="PHP"  width="70" height="70" class="img-fluid" />
          </picture>
          <p>PHP</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-3 col-4 mb-3">
        <div class="tech-stack-wrap text-center">
            <picture>
              <source type="image/webp" srcset="assets/images/techstack/backend/laravel.webp" />
              <source type="image/svg" srcset="assets/images/techstack/backend/laravel.svg" />
              <img loading="lazy" data-src="assets/images/techstack/backend/laravel.svg" alt="Laravel" title="Laravel"  width="70" height="70"
                class="img-fluid" />
            </picture>
          <p>Laravel</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-3 col-4 mb-3">
        <div class="tech-stack-wrap text-center">
          <picture>
            <source type="image/webp" srcset="assets/images/techstack/backend/mssql.webp" />
            <source type="image/png" srcset="assets/images/techstack/backend/mssql.png" />
            <img loading="lazy" data-src="assets/images/techstack/backend/mssql.png" alt="MySQL" title="MySQL" width="70"
              height="70" class="img-fluid" />
          </picture>
          <p>MySQL</p>
        </div>
      </div>
    </div>
    <div class="row my-4">
      <div class="col-lg-12">
        <hr />
      </div>
    </div>
    <!--end-->
    <!--Frontend start-->
    <div class="row mb-3">
      <div class="col-md-12">
        <div class="tech-stack-heading text-center">
          <h3>Front End</h3>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-2 col-md-3 col-sm-3 col-4 mb-3">
        <div class="tech-stack-wrap text-center">
          <picture>
            <source type="image/webp" srcset="assets/images/techstack/frontend/html5.webp" />
            <source type="image/svg" srcset="assets/images/techstack/frontend/html5.svg" />
            <img loading="lazy" data-src="assets/images/techstack/frontend/html5.svg" alt="HTML5" title="HTML5" width="70" height="70" class="img-fluid" />
          </picture>
          <p>HTML5</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-3 col-4 mb-3">
        <div class="tech-stack-wrap text-center">
          <picture>
            <source type="image/webp" srcset="assets/images/techstack/frontend/css.webp" />
            <source type="image/svg" srcset="assets/images/techstack/frontend/css.svg" />
            <img loading="lazy" data-src="assets/images/techstack/frontend/css.svg" alt="CSS3" title="CSS3" width="70"
              height="70" class="img-fluid" />
          </picture>
          <p>CSS3</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-3 col-4 mb-3">
        <div class="tech-stack-wrap text-center">
            <picture>
              <source type="image/webp" srcset="assets/images/techstack/frontend/jquery.webp" />
              <source type="image/svg" srcset="assets/images/techstack/frontend/jquery.svg" />
              <img loading="lazy" data-src="assets/images/techstack/frontend/jquery.svg" alt="jquery" title="jquery" width="70" height="70"
                class="img-fluid" />
            </picture>
          <p>JQuery</p>
        </div>
      </div>
    </div>
    <div class="row my-4">
      <div class="col-lg-12">
        <hr />
      </div>
    </div>
    <!--end-->
    <!--android-->
    <div class="row mb-3">
      <div class="col-md-12">
        <div class="tech-stack-heading text-center">
          <h3>Android</h3>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-2 col-md-3 col-sm-3 col-4 mb-3">
        <div class="tech-stack-wrap text-center">
            <picture>
              <source type="image/webp" srcset="assets/images/techstack/mobile/astudio.webp" />
              <source type="image/svg" srcset="assets/images/techstack/mobile/astudio.svg" />
              <img loading="lazy" data-src="assets/images/techstack/mobile/astudio.svg" alt="Android Studio" title="Android Studio" width="70"
                height="70" class="img-fluid" />
            </picture>
          <p>Android Studio</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-3 col-4 mb-3">
        <div class="tech-stack-wrap text-center">
            <picture>
              <source type="image/webp" srcset="assets/images/techstack/backend/java.webp" />
              <source type="image/svg" srcset="assets/images/techstack/backend/java.svg" />
              <img loading="lazy" data-src="assets/images/techstack/backend/java.svg" alt="Java" title="Java"
                width="70" height="70" class="img-fluid" />
            </picture>
          <p>Java</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-3 col-4 mb-3">
        <div class="tech-stack-wrap text-center">
              <picture>
                <source type="image/webp" srcset="assets/images/techstack/mobile/kotlin.webp" />
                <source type="image/svg" srcset="assets/images/techstack/mobile/kotlin.svg" />
                <img loading="lazy" data-src="assets/images/techstack/mobile/kotlin.svg" alt="Kotlin" title="Kotlin" width="70" height="70"
                  class="img-fluid" />
              </picture>
          <p>Kotlin</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-3 col-4 mb-3">
        <div class="tech-stack-wrap text-center">
            <picture>
              <source type="image/webp" srcset="assets/images/techstack/mobile/socket-io.webp" />
              <source type="image/svg" srcset="assets/images/techstack/mobile/socket-io.svg" />
              <img loading="lazy" data-src="assets/images/techstack/mobile/socket-io.svg" alt="Socket IO" title="Socket IO" width="70"
                height="70" class="img-fluid" />
            </picture>
          <p>Socket IO</p>
        </div>
      </div>
    </div>
    <div class="row my-4">
      <div class="col-lg-12">
        <hr />
      </div>
    </div>
    <!--end-->
    <!--IOS start-->
    <div class="row mb-3">
      <div class="col-md-12">
        <div class="tech-stack-heading text-center">
          <h3>iOS</h3>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-2 col-md-3 col-sm-3 col-4 mb-3">
        <div class="tech-stack-wrap text-center">
            <picture>
              <source type="image/webp" srcset="assets/images/techstack/mobile/apple_xcode-icon.webp" />
              <source type="image/png" srcset="assets/images/techstack/mobile/apple_xcode-icon.png" />
              <img loading="lazy" data-src="assets/images/techstack/mobile/apple_xcode-icon.png" alt="XCode" title="XCode"
                width="70" height="70" class="img-fluid" />
            </picture>
          <p>XCode</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-3 col-4 mb-3">
        <div class="tech-stack-wrap text-center">
            <picture>
              <source type="image/webp" srcset="assets/images/techstack/mobile/swift.webp" />
              <source type="image/svg" srcset="assets/images/techstack/mobile/swift.svg" />
              <img loading="lazy" data-src="assets/images/techstack/mobile/swift.svg" alt="Swift" title="Swift"
                width="70" height="70" class="img-fluid" />
            </picture>
          <p>Swift</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-3 col-4 mb-3">
        <div class="tech-stack-wrap text-center">
          <picture>
            <source type="image/webp" srcset="assets/images/techstack/mobile/netcore.webp" />
            <source type="image/png" srcset="assets/images/techstack/mobile/netcore.png" />
            <img loading="lazy" data-src="assets/images/techstack/mobile/netcore.png" alt="Core Data" title="Core Data" width="70"
              height="70" class="img-fluid" />
          </picture>
          <p>Core Data</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-3 col-4 mb-3">
        <div class="tech-stack-wrap text-center">
            <picture>
              <source type="image/webp" srcset="assets/images/techstack/mobile/socket-io.webp" />
              <source type="image/svg" srcset="assets/images/techstack/mobile/socket-io.svg" />
              <img loading="lazy" data-src="assets/images/techstack/mobile/socket-io.svg" alt="Socket IO" title="Socket IO"
                width="70" height="70" class="img-fluid" />
            </picture>
          <p>Socket IO</p>
        </div>
      </div>
    </div>

    <!--end-->
  </div>
</section>

<app-reviews></app-reviews>

<section class="result common-section">
  <div class="container">
    <div class="row mb-3">
      <div class="col-lg-6 pr-4">
        <div class="title-wrap">
          <h4><span class="dots"></span> Result</h4>
          <h2>
            <span>Scheduling </span> and better route to the parking lot.
            <span class="dots"></span>
          </h2>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="title-wrap">
          <p>
            Parkk is operation all over the US, serving travelers and RVers
            everyday. The company is in talks with multiple investors and
            expecting to expand their team in 2022. Through Parkk, we as a
            development company also connected with multiple organizations and
            are currently working with them on enterprise applications.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<app-case-study-more></app-case-study-more>
<app-blog-scroll></app-blog-scroll>
<app-contact></app-contact>
<!-- <app-footer></app-footer> -->