<section class="banners-section home-banner sub-banner">
  <div class="common">
    <picture>
      <source
        type="image/webp"
        srcset="assets/images/blockchain-solution/blockchain-1.webp"
      />

      <img
        loading="lazy"
        data-src="assets/images/blockchain-solution/blockchain-1.jpg"
        alt="Blockchain Solution Banner"
        title="Blockchain Solution Banner"
        width="1440"
        height="621"
        class="img-fluid"
      />
    </picture>
    <div class="banner-text d-flex justify-content-center align-self-center">
      <div class="title-wrap">
        <h2>
          <span>Blockchain</span> <br />
          Development Services
          <span class="dots"></span>
        </h2>
        <p>
          We help you build secure and scalable blockchain solutions for your
          customers.
        </p>
        <div class="d-flex justify-content-center">
          <a class="btn btn-primary" [routerLink]="['/contact-us']"
            >Get In Touch
            <picture>
              <source
                type="image/webp"
                srcset="assets/images/home-new/icon-arrow-up.webp"
              />
              <source
                type="image/png"
                srcset="assets/images/home-new/icon-arrow-up.png"
              />
              <img
                loading="lazy"
                data-src="assets/images/home-new/icon-arrow-up.svg"
                alt="arrow-icon"
                title="arrow-icon"
                width="21"
                height="21"
                class="img-fluid"
              />
            </picture>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="common-section clients-scroll-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide>
            <picture>
              <source
                type="image/webp"
                srcset="assets/images/clients/ekta.webp"
              />

              <img
                loading="lazy"
                data-src="assets/images/clients/ekta.png"
                class="img-fluid"
                alt="Ekta"
                title="Ekta"
                width="183"
                height="54"
              />
            </picture>
          </ng-template>
          <ng-template carouselSlide>
            <img
              src="assets/images/clients/Polka-dog.png"
              class="img-fluid"
              alt="PolkaDog"
            />
          </ng-template>
          <ng-template carouselSlide>
            <img
              src="assets/images/clients/Reflex-finance.png"
              class="img-fluid"
              alt="Reflex finance"
            />
          </ng-template>
          <ng-template carouselSlide>
            <img
              src="assets/images/clients/Waifer-coin.png"
              class="img-fluid"
              alt="Waifer Coin"
            />
          </ng-template>
          <ng-template carouselSlide>
            <img
              src="assets/images/clients/Zuki.png"
              class="img-fluid"
              alt="Zuki"
            />
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>
<section class="common-section bg-blue">
  <div class="container">
    <div class="row mb-2">
      <div class="col-lg-6">
        <div class="title-wrap">
          <h4><span class="dots"></span>Why choose us</h4>
          <h2>
            <span>We build scalable and secure decentralized solutions</span>
            that suit your business <span class="dots"></span>
          </h2>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="drone-text-wrap">
          <p>
            Integrating Blockchain into your business applications can largely
            increase your productivity and security. As an enterprise, tracking
            your day-to-day activities and transactions is crucial to
            streamlining your operations.
          </p>
        </div>
      </div>
    </div>
    <div class="row my-4 justify-content-center">
      <div class="col-lg-4 col-md-6 mb-3">
        <div class="what-we-do-app">
          <picture>
            <source type="image/webp" srcset="assets/images/blockchain-development/complex-delivery-experience.webp" />
            <source type="image/png" srcset="assets/images/blockchain-development/complex-delivery-experience.svg" />
            <img loading="lazy" data-src="assets/images/blockchain-development/complex-delivery-experience.svg"
              alt="End-to-end Solutions"
              title="End-to-end Solutions" width="116" height="117"  class="img-fluid" />
          </picture>
          <h3>End-to-end Solutions</h3>
          <p>
            Our blockchain development services are an end-to-end complete
            blockchain development service. You'll have access to
            industry-leading developers & experts.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-3">
        <div class="what-we-do-app">
          <picture>
            <source type="image/webp" srcset="assets/images/blockchain-development/skilled-and-talented-engineers.webp" />
            <source type="image/png" srcset="assets/images/blockchain-development/skilled-and-talented-engineers.svg" />
            <img loading="lazy" data-src="assets/images/blockchain-development/skilled-and-talented-engineers.svg"
              alt="Enterprise Dapps"
              title="Enterprise Dapps" width="107" height="123"  class="img-fluid" />
          </picture>
          <h3>Enterprise Dapps</h3>
          <p>
            Blockchain can streamline your business processes dramatically. We
            can integrate blockchain into your current systems and turn them
            into trustless Dapps.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-3">
        <div class="what-we-do-app">
          <picture>
            <source type="image/webp" srcset="assets/images/blockchain-development/custom-software-solutions.webp" />
            <source type="image/svg" srcset="assets/images/blockchain-development/custom-software-solutions.svg" />
            <img loading="lazy" data-src="assets/images/blockchain-development/custom-software-solutions.svg"
              alt="Custom Software Solutions"
              title="Custom Software Solutions" width="141" height="117"  class="img-fluid" />
          </picture>
          <h3>Custom software solutions</h3>
          <p>
            We can help you build custom blockchain solutions that can
            streamline practically any industry that you can think of with short
            turnaround times.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="common-section let-why-choose">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="title-wrap">
          <h4><span class="dots"></span>Why choose us</h4>
          <h2>
            <span>Crafting Creative Immersive </span>
            Ecosystem <span class="dots"></span>
          </h2>
        </div>
        <div class="drone-text-wrap">
          <p>
            Channeling the advantages of Blockchain technology, we take pride in
            delivering exceptional blockchain development services to help you
            top the Decentralized economy. Equipped with a high-quality skillset
            team of Blockchain.
          </p>
        </div>
        <div class="bottom-contact">
          <div class="spark-cta">
            <a [routerLink]="['/contact-us']" class="about-us btn-style-one">
              <span class="text">
                View Demo
                <span class="arrow">
                  <i>
                    <span>→</span>
                  </i>
                  <svg
                    class="arrow-icon"
                    xmlns="http://www.w3.org/2000/svg"
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                  >
                    <g
                      fill="none"
                      stroke="#fff"
                      stroke-width="2"
                      stroke-linejoin="round"
                      stroke-miterlimit="10"
                    >
                      <circle
                        class="arrow-icon--circle"
                        cx="16"
                        cy="16"
                        r="15.12"
                      ></circle>
                    </g>
                  </svg>
                </span>
              </span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6"></div>
    </div>
    <div class="metaverse_pos">
      <div class="">
        <picture>
          <source type="image/webp" srcset="assets/images/blockchain-development/metaverse.webp" />
          <source type="image/jpg" srcset="assets/images/blockchain-development/metaverse.jpg" />
          <img loading="lazy" data-src="assets/images/blockchain-development/metaverse.jpg"
            alt="Crafting Creative Immersive Ecosystem"
            title="Crafting Creative Immersive Ecosystem" width="90" height="90"  class="img-fluid" />
        </picture>
      </div>
    </div>
  </div>
</section>
<section class="common-section bg-blue">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-xxl-10 col-md-10 mx-auto">
        <div class="title-wrap text-center">
          <h4><span class="dots"></span>Technology stack</h4>
          <h2>
            <span>Look at the dream NFT marketplace </span>
            development solutions in varied ﬁelds <span class="dots"></span>
          </h2>
        </div>
      </div>
    </div>
    <div class="row mt-2 align-items-center">
      <div class="col-lg-5 col-md-5 cmbt">
        <div class="blockchain-heading">
          <h3>Crafting Creative</h3>
          <h4>Immersive Ecosystem</h4>
        </div>
      </div>
      <div class="col-lg-7 col-md-7 cmbt">
        <div class="craft_first">
          <picture>
            <source type="image/webp" srcset="assets/images/blockchain-development/onefirst.webp" />
            <source type="image/png" srcset="assets/images/blockchain-development/onefirst.png" />
            <img loading="lazy" data-src="assets/images/blockchain-development/onefirst.png"
              alt="nft"
              title="nft" width="929" height="542"  class="img-fluid" />
          </picture>
        </div>
      </div>
    </div>
    <div class="row align-items-center block-develop">
      <div class="col-lg-7 col-md-8">
        <div class="craft_second">
          <picture>
            <source type="image/webp" srcset="assets/images/blockchain-development/onesecond.webp" />
            <source type="image/png" srcset="assets/images/blockchain-development/onesecond.png" />
            <img loading="lazy" data-src="assets/images/blockchain-development/onesecond.png"
              alt="nft"
              title="nft" width="929" height="542"  class="img-fluid" />
          </picture>
        </div>
      </div>
      <div class="col-lg-5 col-md-4 text-center">
        <div class="bottom-contact">
          <div class="spark-cta">
            <a [routerLink]="['/contact-us']" class="about-us btn-style-one">
              <span class="text">
                View Demo
                <span class="arrow">
                  <i>
                    <span>→</span>
                  </i>
                  <svg
                    class="arrow-icon"
                    xmlns="http://www.w3.org/2000/svg"
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                  >
                    <g
                      fill="none"
                      stroke="#fff"
                      stroke-width="2"
                      stroke-linejoin="round"
                      stroke-miterlimit="10"
                    >
                      <circle
                        class="arrow-icon--circle"
                        cx="16"
                        cy="16"
                        r="15.12"
                      ></circle>
                    </g>
                  </svg>
                </span>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="what-we-do wwd-sticky">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="sticky">
          <div class="title-wrap">
            <h4><span class="dots"></span>What we do</h4>
            <h2>
              <span>How Blockchain can help your </span>
              Business <span class="dots"></span>
            </h2>
          </div>
          <div class="row mb-4 justify-content-center text-center">
            <div class="col-lg-6 col-6">
              <div class="what-we-do-app">
                <span class="process-num">01</span>
                <picture>
                  <source type="image/webp" srcset="assets/images/blockchain-development/experience-design.webp" />
                  <source type="image/svg" srcset="assets/images/blockchain-development/experience-design.svg" />
                  <img loading="lazy" data-src="assets/images/blockchain-development/experience-design.svg"
                    alt="Experience & Design"
                    title="Experience & Design" width="101" height="112"  class="img-fluid" />
                </picture>
                <h3>Experience & <br />Design</h3>
              </div>
            </div>
            <div class="col-lg-6 col-6">
              <div class="what-we-do-app">
                <span class="process-num">02</span>
                <picture>
                  <source type="image/webp" srcset="assets/images/blockchain-development/blockchain-deployment.webp" />
                  <source type="image/svg" srcset="assets/images/blockchain-development/blockchain-deployment.svg" />
                  <img loading="lazy" data-src="assets/images/blockchain-development/blockchain-deployment.svg"
                    alt="Blockchain Deployment"
                    title="Blockchain Deployment" width="113" height="113"  class="img-fluid" />
                </picture>
                <h3>Blockchain <br />Deployment</h3>
              </div>
            </div>
            <div class="col-lg-6 col-6">
              <div class="what-we-do-app">
                <span class="process-num">03</span>
                <picture>
                  <source type="image/webp" srcset="assets/images/blockchain-development/blockchain-maintenance.webp" />
                  <source type="image/svg" srcset="assets/images/blockchain-development/blockchain-maintenance.svg" />
                  <img loading="lazy" data-src="assets/images/blockchain-development/blockchain-maintenance.svg"
                    alt="Blockchain Maintenance"
                    title="Blockchain Maintenance" width="107" height="107"  class="img-fluid" />
                </picture>
                <h3>Blockchain <br />Maintenance</h3>
              </div>
            </div>
            <div class="col-lg-6 col-6">
              <div class="what-we-do-app">
                <span class="process-num">04</span>
                <picture>
                  <source type="image/webp" srcset="assets/images/blockchain-development/migration-upgrades.webp" />
                  <source type="image/png" srcset="assets/images/blockchain-development/migration-upgrades.svg" />
                  <img loading="lazy" data-src="assets/images/blockchain-development/migration-upgrades.svg"
                    alt="Migration & Upgrades"
                    title="Migration & Upgrades" width="117" height="107"  class="img-fluid" />
                </picture>
                <h3>Migration & <br />Upgrades</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="techstack">
          <h2>Consulting & Development</h2>
          <p>
            If you have an idea, our consultants will help you squeeze the most
            out of it, quickly. Once something is on the blockchain, it’s there
            forever. We make sure that your products are scalable, reliable, and
            secure.
          </p>
        </div>
        <hr class="mb-5" />
        <div class="techstack">
          <h2>Enterprise Blockchains</h2>
          <p>
            Your business applications can give you so much more value with
            blockchain. We can integrate a dedicated blockchain for your
            business. Track everything that happens and secure your priceless
            data on the ledger.
          </p>
        </div>
        <hr class="mb-5" />
        <div class="techstack">
          <h2>Smart Contracts</h2>
          <p>
            Build robust smart contracts for various business use cases.
            Automate your business processes to maximize your efficiency &
            profit. You can also create an amazing and decentralized experience
            for your target users.
          </p>
        </div>
        <hr class="mb-5" />
        <div class="techstack">
          <h2>Layer 1 Blockchains</h2>
          <p>
            Our team is experienced in building full-scale blockchains,
            specializing in EVM & Custom Consensus Development. Build a
            blockchain that supports multiple token standards and decentralized
            applications with us.
          </p>
        </div>
        <hr class="mb-5" />
        <div class="techstack">
          <h2>Migration & Upgrades</h2>
          <p>
            In blockchains, it is very hard to change things when something goes
            wrong or if a feature is not working as it should. We help you and
            your users migrate to new tokens and products, seamlessly and
            efficiently.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="technolgies-stack common-section">
  <div class="container">
    <div class="row mb-4">
      <div class="col-lg-11 col-md-11 col-sm-12 mx-auto">
        <div class="title-wrap text-center">
          <h4><span class="dots"></span>Tools</h4>
          <h2>
            <span>We bring expertise but your product is just </span> <br />
            as good as the tools you use to build it. <span class="dots"></span>
          </h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-2 col-md-3 col-sm-4 col-4">
            <div class="tech-stack-details">
              <picture>
                <source type="image/webp" srcset="assets/images/techstack/blockchain/ethereum-tech.webp" />
                <source type="image/svg" srcset="assets/images/techstack/blockchain/ethereum-tech.svg" />
                <img loading="lazy" data-src="assets/images/techstack/blockchain/ethereum-tech.svg"
                  alt="Ethereum"
                  title="Ethereum" width="80" height="80"  class="img-fluid" />
              </picture>
              <p>Ethereum</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4 col-4">
            <div class="tech-stack-details">
              <picture>
                <source type="image/webp" srcset="assets/images/techstack/blockchain/hyperledger-fabric.webp" />
                <source type="image/svg" srcset="assets/images/techstack/blockchaint/hyperledger-fabric.svg" />
                <img loading="lazy" data-src="assets/images/techstack/blockchain/hyperledger-fabric.svg"
                  alt="Hyperledger Fabric"
                  title="Hyperledger Fabric" width="80" height="80"  class="img-fluid" />
              </picture>
              <p>Hyperledger Fabric</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4 col-4">
            <div class="tech-stack-details">
              <picture>
                <source type="image/webp" srcset="assets/images/techstack/blockchain/hyperledger-sawtooth.webp" />
                <source type="image/svg" srcset="assets/images/techstack/blockchaint/hyperledger-sawtooth.svg" />
                <img loading="lazy" data-src="assets/images/techstack/blockchain/hyperledger-sawtooth.svg"
                  alt="Hyperledger Sawtooth"
                  title="Hyperledger Sawtooth" width="80" height="80"  class="img-fluid" />
              </picture>
              <p>Hyperledger Sawtooth</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4 col-4">
            <div class="tech-stack-details">
              <picture>
                <source type="image/webp" srcset="assets/images/techstack/blockchain/corda-r3.webp" />
                <source type="image/svg" srcset="assets/images/techstack/blockchaint/corda-r3.svg" />
                <img loading="lazy" data-src="assets/images/techstack/blockchain/corda-r3.svg"
                  alt="Corda R3"
                  title="Corda R3" width="80" height="80"  class="img-fluid" />
              </picture>
              <p>Corda R3</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4 col-4">
            <div class="tech-stack-details">
              <picture>
                <source type="image/webp" srcset="assets/images/techstack/blockchain/stellar-tech.webp" />
                <source type="image/png" srcset="assets/images/techstack/blockchaint/stellar-tech.png" />
                <img loading="lazy" data-src="assets/images/techstack/blockchain/stellar-tech.png"
                  alt="Stellar"
                  title="Stellar" width="80" height="80"  class="img-fluid" />
              </picture>
              <p>Stellar</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4 col-4">
            <div class="tech-stack-details">
              <picture>
                <source type="image/webp" srcset="assets/images/techstack/blockchain/multichain.webp" />
                <source type="image/png" srcset="assets/images/techstack/blockchaint/multichain.png" />
                <img loading="lazy" data-src="assets/images/techstack/blockchain/multichain.png"
                  alt="multichain"
                  title="multichain" width="80" height="80"  class="img-fluid" />
              </picture>
              <p>Multichain</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="common-section bg-blue">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-6">
        <div class="title-wrap">
          <h4><span class="dots"></span>Blockchain Platforms</h4>
          <h2>
            <span>Build bleeding-edge</span> <br />
            blockchain solutions quickly <span class="dots"></span>
          </h2>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="drone-text-wrap">
          <p>
            We can work on all EVM-based chains using Solidity as well as all
            platforms such as Solana and Polkadot that use Rust as their
            programming language. Gain access to leading developers.
          </p>
        </div>
      </div>
    </div>
    <div class="row mt-4 justify-content-center no-white">
      <div class="col-lg-4 col-sm-6 mb-5">
        <div class="what-we-do-app">
          <picture>
            <source type="image/webp" srcset="assets/images/blockchain-development/hyperledger.webp" />
            <source type="image/svg" srcset="assets/images/blockchain-development/hyperledger.svg" />
            <img loading="lazy" data-src="assets/images/blockchain-development/hyperledger.svg"
              alt="Hyperledger"
              title="Hyperledger" width="90" height="90"  class="img-fluid" />
          </picture>
          <h3>Hyperledger</h3>
          <p>Build enterprise applications with Hyperledger frameworks.</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-5">
        <div class="what-we-do-app">
          <picture>
            <source type="image/webp" srcset="assets/images/blockchain-development/ethereum.webp" />
            <source type="image/svg" srcset="assets/images/blockchain-development/ethereum.svg" />
            <img loading="lazy" data-src="assets/images/blockchain-development/ethereum.svg"
              alt="Ethereum"
              title="Ethereum" width="90" height="90"  class="img-fluid" />
          </picture>
          <h3>Ethereum</h3>
          <p>Leverage the most decentralized public blockchain platform.</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-5">
        <div class="what-we-do-app">
          <picture>
            <source type="image/webp" srcset="assets/images/blockchain-development/stellar.webp" />
            <source type="image/svg" srcset="assets/images/blockchain-development/stellar.svg" />
            <img loading="lazy" data-src="assets/images/blockchain-development/stellar.svg"
              alt="Stellar"
              title="Stellar" width="90" height="90"  class="img-fluid" />
          </picture>
          <h3>Stellar</h3>
          <p>Build robust cross-border payment solutions with Stellar chain.</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-5">
        <div class="what-we-do-app">
          <picture>
            <source type="image/webp" srcset="assets/images/blockchain-development/corda.webp" />
            <source type="image/svg" srcset="assets/images/blockchain-development/corda.svg" />
            <img loading="lazy" data-src="assets/images/blockchain-development/corda.svg"
              alt="Corda"
              title="Corda" width="90" height="90"  class="img-fluid" />
          </picture>
          <h3>R3 Corda</h3>
          <p>Corda is best suited for building banking and finance systems.</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-5">
        <div class="what-we-do-app">
          <picture>
            <source type="image/webp" srcset="assets/images/blockchain-development/hashgraph.webp" />
            <source type="image/svg" srcset="assets/images/blockchain-development/hashgraph.svg" />
            <img loading="lazy" data-src="assets/images/blockchain-development/hashgraph.svg"
              alt="Hashgraph"
              title="Hashgraph" width="90" height="90"  class="img-fluid" />
          </picture>
          <h3>Hedera Hashgraph</h3>
          <p>Although less-explored Hedera is one of the most secure chains.</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-5">
        <div class="what-we-do-app">
          <picture>
            <source type="image/webp" srcset="assets/images/blockchain-development/ripple.webp" />
            <source type="image/svg" srcset="assets/images/blockchain-development/ripple.svg" />
            <img loading="lazy" data-src="assets/images/blockchain-development/ripple.svg"
              alt="Ripple"
              title="Ripple" width="90" height="90"  class="img-fluid" />
          </picture>
          <h3>Ripple</h3>
          <p>Build great payment solutions with ISO:20022-certified Ripple.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="technolgies industries-we-cater common-section">
  <div class="container">
    <div class="row mb-4">
      <div class="col-lg-10 col-md-11 col-sm-12 mx-auto">
        <div class="title-wrap text-center">
          <h4><span class="dots"></span>Industries we serve</h4>
          <h2>
            <span>We Develop Enterprise-Grade </span> <br />
            Blockchain Solutions For Businesses <span class="dots"></span>
          </h2>
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-center services-list-all">
      <div class="col-md-12 tech-stack-details">
        <ul class="techstack mb-4">
          <li class="tech-list">
            <a [class.actives-tech]="showTab == 1" (click)="tabToggle(1)"
              >Fintech</a
            >
          </li>
          <li class="tech-list">
            <a [class.actives-tech]="showTab == 2" (click)="tabToggle(2)"
              >Mobility
            </a>
          </li>
          <li class="tech-list">
            <a [class.actives-tech]="showTab == 3" (click)="tabToggle(3)"
              >Gaming
            </a>
          </li>
          <li class="tech-list">
            <a [class.actives-tech]="showTab == 4" (click)="tabToggle(4)"
              >Healthcare
            </a>
          </li>
          <li class="tech-list">
            <a [class.actives-tech]="showTab == 5" (click)="tabToggle(5)"
              >Supply Chain</a
            >
          </li>
          <li class="tech-list">
            <a [class.actives-tech]="showTab == 6" (click)="tabToggle(6)"
              >Government
            </a>
          </li>
        </ul>
        <div class="common-service text-left">
          <ng-container *ngIf="showTab == 1">
            <div class="row align-items-center">
              <div
                class="col-lg-6 col-md-6 mb-3 order-last order-sm-last order-md-first order-lg-first"
              >
                <div class="mobileapps-left">
                  <picture>
                    <source type="image/webp" srcset="assets/images/blockchain-development/fintech.webp" />
                    <source type="image/png" srcset="assets/images/blockchain-development/fintech.png" />
                    <img loading="lazy" data-src="assets/images/blockchain-development/fintech.png"
                      alt="fintech-industry"
                      title="fintech-industry" width="744" height="643"  class="img-fluid" />
                  </picture>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="mobileapps-text-wrap">
                  <div class="title-wrap">
                    <h2>Powerful Fintech solutions for modern businesses</h2>
                  </div>
                  <p class="pb-0">
                    Finance is one of the world's oldest industries and is
                    seeing the benefits of blockchain technology in the past few
                    years. Blockchain has the power to revolutionize the
                    industry with solutions for banking, insurance, mortgage,
                    etc. Build highly scalable and decentralized Fintech
                    applications with leading experts.
                  </p>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="showTab == 2">
            <div class="row align-items-center">
              <div
                class="col-lg-6 col-md-6 mb-3 order-last order-sm-last order-md-first order-lg-first"
              >
                <div class="mobileapps-left">
                  <picture>
                    <source type="image/webp" srcset="assets/images/blockchain-development/mobility.webp" />
                    <source type="image/png" srcset="assets/images/blockchain-development/mobility.png" />
                    <img loading="lazy" data-src="assets/images/blockchain-development/mobility.png"
                      alt="Mobility"
                      title="Mobility" width="744" height="643"  class="img-fluid" />
                  </picture>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="mobileapps-text-wrap">
                  <div class="title-wrap">
                    <h2>Redefine the way people move from point to point</h2>
                  </div>
                  <p class="pb-0">
                    People often think that mobility is just about
                    transportation. In fact, blockchain can streamline mobility
                    in ways you wouldn't think. things such as employee
                    tracking, performance monitoring, identity verification,
                    scheduling, and much more can be streamlined using
                    blockchain technology.
                  </p>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="showTab == 3">
            <div class="row align-items-center">
              <div
                class="col-lg-6 col-md-6 mb-3 order-last order-sm-last order-md-first order-lg-first"
              >
                <div class="mobileapps-left">
                  <picture>
                    <source type="image/webp" srcset="assets/images/blockchain-development/gaming.webp" />
                    <source type="image/png" srcset="assets/images/blockchain-development/gaming.png" />
                    <img loading="lazy" data-src="assets/images/blockchain-development/gaming.png"
                      alt="Gaming"
                      title="Gaming" width="744" height="643"  class="img-fluid" />
                  </picture>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="mobileapps-text-wrap">
                  <div class="title-wrap">
                    <h2>P2E gaming has revolutionized the gaming industry.</h2>
                  </div>
                  <p class="pb-0">
                    Platforms such as Sandbox, Decentraland, Roblox, etc., are
                    allowing users to easily monetize their gaming skills. Build
                    an amazing gaming experience for your users where they can
                    play and earn with real-life incentives. Leverage the power
                    of blockchain.
                  </p>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="showTab == 4">
            <div class="row align-items-center">
              <div
                class="col-lg-6 col-md-6 mb-3 order-last order-sm-last order-md-first order-lg-first"
              >
                <div class="mobileapps-left">
                  <picture>
                    <source type="image/webp" srcset="assets/images/blockchain-development/healthcare.webp" />
                    <source type="image/png" srcset="assets/images/blockchain-development/healthcare.png" />
                    <img loading="lazy" data-src="assets/images/blockchain-development/healthcare.png"
                      alt="Healthcare"
                      title="Healthcare" width="744" height="643"  class="img-fluid" />
                  </picture>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="mobileapps-text-wrap">
                  <div class="title-wrap">
                    <h2>Streamline healthcare services with blockchain</h2>
                  </div>
                  <p class="pb-0">
                    Medical records and data are confidential and require a high
                    level of security. Blockchain technology with a combination
                    of Trustless and Permissioned systems can streamline your
                    business in healthcare to a great extent. Build secure and
                    scalable decentralized applications for your healthcare
                    business with us.
                  </p>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="showTab == 5">
            <div class="row align-items-center">
              <div
                class="col-lg-6 col-md-6 mb-3 order-last order-sm-last order-md-first order-lg-first"
              >
                <div class="mobileapps-left">
                  <picture>
                    <source type="image/webp" srcset="assets/images/blockchain-development/supplychain.webp" />
                    <source type="image/png" srcset="assets/images/blockchain-development/supplychain.png" />
                    <img loading="lazy" data-src="assets/images/blockchain-development/supplychain.png"
                      alt="Supply Chain"
                      title="Supply Chain" width="744" height="643"  class="img-fluid" />
                  </picture>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="mobileapps-text-wrap">
                  <div class="title-wrap">
                    <h2>Track, manage, and streamline your supply chain</h2>
                  </div>
                  <p class="pb-0">
                    The supply chain is all around us and yet, we often forget
                    how hard it is to manage a supply chain. Integrating
                    blockchain into your supply chain allows you to track and
                    gatekeep at each point. All data will be available on the
                    blockchain and you can track everything on a blockchain
                    explorer, easily.
                  </p>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="showTab == 6">
            <div class="row align-items-center">
              <div
                class="col-lg-6 col-md-6 mb-3 order-last order-sm-last order-md-first order-lg-first"
              >
                <div class="mobileapps-left">
                  <picture>
                    <source type="image/webp" srcset="assets/images/blockchain-development/government.webp" />
                    <source type="image/png" srcset="assets/images/blockchain-development/government.png" />
                    <img loading="lazy" data-src="assets/images/blockchain-development/government.png"
                      alt="Government"
                      title="Government" width="744" height="643"  class="img-fluid" />
                  </picture>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="mobileapps-text-wrap">
                  <div class="title-wrap">
                    <h2>Secure and transparent through blockchain</h2>
                  </div>
                  <p class="pb-0">
                    The public sector has been an area for malicious activities
                    for a long time. From the elections to public distribution
                    hubs, many middlemen exploit the system for individual
                    gains. Blockchain can put an end to all that by holding
                    people accountable for their actions through a public ledger
                    while safeguarding privacy.
                  </p>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="common-section bg-blue">
  <div class="container">
    <div class="business-growth">
      <div class="row">
        <div class="col-lg-6">
          <div class="title-wrap">
            <h4><span class="dots"></span>Reach your business goals</h4>
            <h2>
              <span>A tech partner that </span> <br />
              knows your business well <span class="dots"></span>
            </h2>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="drone-text-wrap">
            <p>
              As a blockchain development company, we understand that businesses
              have a lot of moving parts. This is why we extend our full
              attention and time to understanding your business well.
            </p>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="what-we-do-app">
            <picture>
              <source type="image/webp" srcset="assets/images/blockchain-development/maximized-security.webp" />
              <source type="image/png" srcset="assets/images/blockchain-development/maximized-security.svg" />
              <img loading="lazy" data-src="assets/images/blockchain-development/maximized-security.svg"
                alt="Maximum Security"
                title="Maximum Security" width="115" height="114"  class="img-fluid" />
            </picture>
            <h3>Maximum Security</h3>
            <p>
              Build systems that are extremely secure for your business with
              short turnaround times so that your users can stay safe. Integrate
              blockchain into your business.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="what-we-do-app">
            <picture>
              <source type="image/webp" srcset="assets/images/blockchain-development/increased-transparency.webp" />
              <source type="image/svg" srcset="assets/images/blockchain-development/increased-transparency.svg" />
              <img loading="lazy" data-src="assets/images/blockchain-development/increased-transparency.svg"
                alt="Increased Transparency"
                title="Increased Transparency" width="124" height="111"  class="img-fluid" />
            </picture>
            <h3>Increased Transparency</h3>
            <p>
              Blockchains are highly transparent and trackable. You can allow
              your users to easily access your services and build trustless
              systems that users would want to trust.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="what-we-do-app">
            <picture>
              <source type="image/webp" srcset="assets/images/blockchain-development/efficient-and-fast.webp" />
              <source type="image/svg" srcset="assets/images/blockchain-development/efficient-and-fast.svg" />
              <img loading="lazy" data-src="assets/images/blockchain-development/efficient-and-fast.svg"
                alt=""
                title="" width="118" height="118"  class="img-fluid" />
            </picture>
            <h3>Efficient and Fast</h3>
            <p>
              Speed and efficiency are crucial in business use cases. Creating a
              private enterprise blockchain allows you to circumvent the
              drawbacks of public blockchains.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="what-we-do-app">
            <picture>
              <source type="image/webp" srcset="assets/images/blockchain-development/simple-to-use.webp" />
              <source type="image/svg" srcset="assets/images/blockchain-development/simple-to-use.svg" />
              <img loading="lazy" data-src="assets/images/blockchain-development/simple-to-use.svg"
                alt="Simple to use"
                title="Simple to use" width="90" height="90"  class="img-fluid" />
            </picture>
            <h3>Simple-to-use</h3>
            <p>
              One of the major issues with blockchain systems today is that they
              are not very ready to access. We specialize in building
              easy-to-use solutions for your complex problems.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="what-we-do-app">
            <picture>
              <source type="image/webp" srcset="assets/images/blockchain-development/reduced-transfer-cost.webp" />
              <source type="image/svg" srcset="assets/images/blockchain-development/reduced-transfer-cost.svg" />
              <img loading="lazy" data-src="assets/images/blockchain-development/reduced-transfer-cost.svg"
                alt="Reduced transfer cost"
                title="Reduced transfer cost" width="118" height="118"  class="img-fluid" />
            </picture>
            <h3>Reduced transfer cost</h3>
            <p>
              We can help you build blockchain solutions for your business or
              idea with highly gas-efficient smart contracts. Leverage the power
              of blockchain today.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="what-we-do-app">
            <picture>
              <source type="image/webp" srcset="assets/images/blockchain-development/easy-to-scrutinize.webp" />
              <source type="image/svg" srcset="assets/images/blockchain-development/easy-to-scrutinize.svg" />
              <img loading="lazy" data-src="assets/images/blockchain-development/easy-to-scrutinize.svg"
                alt="Easy-to-audit"
                title="Easy-to-audit" width="118" height="118"  class="img-fluid" />
            </picture>
            <h3>Easy scrutinize</h3>
            <p>
              We work with audit companies around the world with names such as
              CertiK, Solidity Finance, Immunebytes, and many more. All smart
              contracts we build are audit-ready.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-casestudy-scroll></app-casestudy-scroll>
<app-blog-scroll></app-blog-scroll>
<app-contact></app-contact>
