<section class="subbanner btm-blue">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 mb-4">
        <div class="title-wrap">
          <h4>QA & Testing</h4>
          <h1>Build high-quality <br />software solutions</h1>
        </div>
      </div>
      <div class="col-lg-5 mb-4">
        <div class="content-wrap">
          <p class="pt-5 mb-0">
            Products you build have to stand the test of real-world use. For
            that, you need an expert team. We provide professional testing and
            Q/A services that adhere to industry best practices.
          </p>
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-lg-12">
        <div class="subbanner-img">
          <img
            src="assets/images/qa-and-testing/qa-testing-banner.jpg"
            class="img-fluid"
            alt="QA & Testing banner"
          />
        </div>
      </div>
    </div>
  </div>
</section>
<section class="why-choose-us bg-white no-blue-before pt-100">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-8 mx-auto">
        <div class="title-wrap text-center">
          <h4>Why choose us</h4>
          <h2>Build scalable solutions that <br />stand real-world usage</h2>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div
        class="col-lg-6 col-md-6 mb-3 order-last order-sm-last order-md-first order-lg-first"
      >
        <div class="mobileapps-left">
          <img
            src="assets/images/qa-and-testing/modern-scalable-technologies.png"
            class="img-fluid rounded-2rem"
            alt="Build scalable solutions "
          />
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="mobileapps-text-wrap">
          <h2>We are equipped to quality check apps across industries</h2>
          <p>
            Every business has one goal apart from making a profit. They have to
            make sure that their customers are happy. If you have an app, and
            you want your users to spend time on your app, it has to work
            seamlessly across all devices. Hiring a dedicated QA team allows you
            to test your app for all cases where users might face difficulties
            and where your app might not perform as it should. Hire a leading QA
            & Testing service provider.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="why-choose-us business-growth no-blue-before pt-100 pb-60">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-6">
        <div class="title-wrap">
          <h4>What we do</h4>
          <h2>Complete end-to-end <br />QA & Testing service provider</h2>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="drone-text-wrap">
          <p>
            We use the right tools to establish communication channels between
            your IT operations, software development, testing and quality
            assurance, product security, and other teams to create a streamlined
            software delivery pipeline.
          </p>
        </div>
      </div>
    </div>

    <div class="row my-4 justify-content-center">
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="what-we-do-app">
          <img
            src="assets/images/qa-and-testing/manual-qa-testing.svg"
            alt="Manual QA Testing"
          />
          <h3>Manual QA Testing</h3>
          <p>
            We test for multiple test cases that might come up in real-world use
            of your apps and make sure that we cover all scenarios. Make manual
            testing part of your checklist.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="what-we-do-app">
          <img
            src="assets/images/qa-and-testing/mobile-app-testing.svg"
            alt="Mobile App Testing"
          />
          <h3>Mobile App Testing</h3>
          <p>
            Your mobile apps always have to work without flaws, if you want user
            retention. Our expert mobile app testing team for iOS and Android
            helps you iron out any flaws.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="what-we-do-app">
          <img
            src="assets/images/qa-and-testing/web-app-testing.svg"
            alt="Web App Testing"
          />
          <h3>Web App Testing</h3>
          <p>
            Apps on the web are often built to serve specific purposes. It has
            to facilitate the completion of one or more tasks. Our team is
            well-equipped to QA web apps across industries.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="what-we-do-app">
          <img
            src="assets/images/qa-and-testing/api-testing.svg"
            alt="API Testing"
          />
          <h3>API Testing</h3>
          <p>
            Testing your APIs for performance, reliability, and security is very
            important especially if your app includes frequent API calls and
            lots of traffic on the application.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="what-we-do-app">
          <img
            src="assets/images/qa-and-testing/performance-testing.svg"
            alt="Performance Testing"
          />
          <h3>Performance Testing</h3>
          <p>
            Our teams test apps for performance from the ground up to ensure
            that your users have consistent experiences even when they're on
            different devices.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="what-we-do-app">
          <img
            src="assets/images/qa-and-testing/security-testing.svg"
            alt="Security Testing"
          />
          <h3>Security Testing</h3>
          <p>
            Security vulnerabilities are dangerous especially when your apps
            handle a lot of user data. Protect your app, and cover all bases
            with security testing.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="business-growth pt-100 pb-60 devops-values">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-6">
        <div class="title-wrap">
          <h4>QA & Testing Values</h4>
          <h2>Hiring a QA Team helps you <br />serve your customers better</h2>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="drone-text-wrap">
          <p>
            A dedicated QA & Testing team puts you in a position to launch an
            application that can stand the demands of the real-world market.
            These are some of the things you can expect.
          </p>
        </div>
      </div>
    </div>

    <div class="row mt-4 justify-content-center">
      <div class="col-lg-4 col-md-6 mb-5">
        <div class="what-we-do-app">
          <h3>Tailor-made</h3>
          <p>Find the best QA & Testing services to suit the project</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-5">
        <div class="what-we-do-app">
          <h3>Optimized for cost</h3>
          <p>Hire QA & Testing analysts according to your project needs.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-5">
        <div class="what-we-do-app">
          <h3>Scalable with growth</h3>
          <p>Expand your testing regime as your business grows</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-5">
        <div class="what-we-do-app">
          <h3>Independent</h3>
          <p>We provide you with in-house testing teams every time.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-5">
        <div class="what-we-do-app">
          <h3>Efficient</h3>
          <p>Hire a QA & Testing team with an efficient work process.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-5">
        <div class="what-we-do-app">
          <h3>Battle-tested</h3>
          <p>We test for all sorts of real-world test cases for your app.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="what-we-work">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-10 col-md-10 mx-auto">
        <div class="title-wrap text-center">
          <h4>Industries we serve</h4>
          <h2>We work with various</h2>
          <p>
            We've served businesses across the world for over 5 years,
            delivering the right solutions to meet the demands of the market.
            Hire a dedicated QA & Testing company.
          </p>
        </div>
      </div>
    </div>

    <div class="desktop-whatwedo desktop-industry-expertise pb-100">
      <div class="row mb-4">
        <ul class="nav nav-tabs d-none d-lg-flex" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button
              class="nav-link active"
              id="fintech-tab"
              data-bs-toggle="tab"
              data-bs-target="#fintech-tab-pane"
              type="button"
              role="tab"
              aria-controls="fintech-tab-pane"
              aria-selected="true"
            >
              Fintech
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="real-tab"
              data-bs-toggle="tab"
              data-bs-target="#real-tab-pane"
              type="button"
              role="tab"
              aria-controls="real-tab-pane"
              aria-selected="false"
            >
              Real Estate
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="travel-tab"
              data-bs-toggle="tab"
              data-bs-target="#travel-tab-pane"
              type="button"
              role="tab"
              aria-controls="travel-tab-pane"
              aria-selected="false"
            >
              Travel
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="sports-tab"
              data-bs-toggle="tab"
              data-bs-target="#sports-tab-pane"
              type="button"
              role="tab"
              aria-controls="sports-tab-pane"
              aria-selected="false"
            >
              Sports
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="social-tab"
              data-bs-toggle="tab"
              data-bs-target="#social-tab-pane"
              type="button"
              role="tab"
              aria-controls="social-tab-pane"
              aria-selected="false"
            >
              Social Networking
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="media-tab"
              data-bs-toggle="tab"
              data-bs-target="#media-tab-pane"
              type="button"
              role="tab"
              aria-controls="media-tab-pane"
              aria-selected="false"
            >
              Media & Entertainment
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="logistics-tab"
              data-bs-toggle="tab"
              data-bs-target="#logistics-tab-pane"
              type="button"
              role="tab"
              aria-controls="logistics-tab-pane"
              aria-selected="false"
            >
              Transportation & Logistics

            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="healthcare-tab"
              data-bs-toggle="tab"
              data-bs-target="#healthcare-tab-pane"
              type="button"
              role="tab"
              aria-controls="healthcare-tab-pane"
              aria-selected="false"
            >
              Healthcare Solutions
            </button>
          </li>
        </ul>
        <div
          class="tab-content accordion our-industry-common"
          id="myTabContent"
        >
          <div
            class="tab-pane fade show active accordion-item"
            id="fintech-tab-pane"
            role="tabpanel"
            aria-labelledby="fintech-tab"
            tabindex="0"
          >
            <h2 class="accordion-header d-lg-none" id="headingFive">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFive"
                aria-expanded="true"
                aria-controls="collapseFive"
              >
                Fintech
              </button>
            </h2>
            <div
              id="collapseFive"
              class="accordion-collapse collapse show d-lg-block"
              aria-labelledby="headingFive"
              data-bs-parent="#myTabContent"
            >
              <div class="accordion-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="our-industry-main-wrap">
                      <div class="row mb-4">
                        <div class="col-sm-6">
                          <figure class="mb-0 h-full">
                            <img
                              src="assets/images/our-industry/fintech1.png"
                              class="mb-4 img-fluid"
                              alt="Fintech"
                            />
                          </figure>
                        </div>
                        <div class="col-sm-6">
                          <figure>
                            <img
                              src="assets/images/our-industry/fintech2.png"
                              class="mb-4 img-fluid"
                              alt="Fintech"
                            />
                          </figure>
                          <figure class="mb-0">
                            <img
                              src="assets/images/our-industry/fintech3.png"
                              class="mb-4 img-fluid"
                              alt="Fintech"
                            />
                          </figure>
                        </div>
                      </div>
                      <p>
                        Everyone expects fintech apps to be secure. Help
                        customers use your services better with our QA & Testing
                        services.
                      </p>
                      <div class="my-5 mb-0">
                        <a
                          [routerLink]="['/fintech-application-development']"
                          class="explore-now"
                          >Explore Industry Details
                          <img
                            src="assets/images/Icon--arrow-right.svg"
                            alt="next-icon"
                            class="explore-img"
                        /></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div
            class="tab-pane fade accordion-item"
            id="real-tab-pane"
            role="tabpanel"
            aria-labelledby="real-tab"
            tabindex="0"
          >
            <h2 class="accordion-header d-lg-none" id="headingOne">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="false"
                aria-controls="collapseOne"
              >
                Real Estate
              </button>
            </h2>
            <div
              id="collapseOne"
              class="accordion-collapse collapse d-lg-block"
              aria-labelledby="headingOne"
              data-bs-parent="#myTabContent"
            >
              <div class="accordion-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="our-industry-main-wrap">
                      <figure>
                        <img
                          src="assets/images/our-industry/real-estate.png"
                          class="mb-4 img-fluid"
                          alt="Real Estate"
                        />
                      </figure>
                      <p>
                        If you're building an app for a real estate business,
                        you need it to work flawlessly. Hire a dedicated testing
                        team.
                      </p>
                      <div class="my-5 mb-0">
                        <a
                          class="explore-now"
                          [routerLink]="[
                            '/real-estate-application-development'
                          ]"
                          >Explore Industry Details
                          <img
                            src="assets/images/Icon--arrow-right.svg"
                            alt="next-icon"
                            class="explore-img"
                        /></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade accordion-item"
            id="travel-tab-pane"
            role="tabpanel"
            aria-labelledby="travel-tab"
            tabindex="0"
          >
            <h2 class="accordion-header d-lg-none" id="headingTwo">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                Travel
              </button>
            </h2>
            <div
              id="collapseTwo"
              class="accordion-collapse collapse d-lg-block"
              aria-labelledby="headingTwo"
              data-bs-parent="#myTabContent"
            >
              <div class="accordion-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="our-industry-main-wrap">
                      <figure>
                        <img
                          src="assets/images/our-industry/travel.png"
                          class="mb-4 img-fluid"
                          alt="Travel"
                        />
                      </figure>
                      <p>
                        Travel and mobility solutions connect the real world
                        with tech. Make sure your applications are built to
                        last, easily.
                      </p>

                      <div class="my-5 mb-0">
                        <a
                          [routerLink]="['/travel-application-development']"
                          class="explore-now"
                          >Explore Industry Details
                          <img
                            src="assets/images/Icon--arrow-right.svg"
                            alt="next-icon"
                            class="explore-img"
                        /></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade accordion-item"
            id="sports-tab-pane"
            role="tabpanel"
            aria-labelledby="sports-tab"
            tabindex="0"
          >
            <h2 class="accordion-header d-lg-none" id="headingThree">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree"
              >
                Sports
              </button>
            </h2>
            <div
              id="collapseThree"
              class="accordion-collapse collapse d-lg-block"
              aria-labelledby="headingThree"
              data-bs-parent="#myTabContent"
            >
              <div class="accordion-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="our-industry-main-wrap">
                      <figure>
                        <img
                          src="assets/images/our-industry/sports.png"
                          class="mb-4 img-fluid"
                          alt="Sports"
                        />
                      </figure>
                      <p>
                        Create a dedicated app for your sports team or to manage
                        events and make sure your apps are built to last.
                      </p>
                      <div class="my-5 mb-0">
                        <a
                          [routerLink]="['/sports-application-development']"
                          class="explore-now"
                          >Explore Industry Details
                          <img
                            src="assets/images/Icon--arrow-right.svg"
                            alt="next-icon"
                            class="explore-img"
                        /></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade accordion-item"
            id="social-tab-pane"
            role="tabpanel"
            aria-labelledby="social-tab"
            tabindex="0"
          >
            <h2 class="accordion-header d-lg-none" id="headingFour">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFour"
                aria-expanded="false"
                aria-controls="collapseFour"
              >
                Social Networking
              </button>
            </h2>
            <div
              id="collapseFour"
              class="accordion-collapse collapse d-lg-block"
              aria-labelledby="headingFour"
              data-bs-parent="#myTabContent"
            >
              <div class="accordion-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="our-industry-main-wrap">
                      <figure>
                        <img
                          src="assets/images/our-industry/social.png"
                          class="mb-4 img-fluid"
                          alt="Social Networking"
                        />
                      </figure>
                      <p>
                        Networking platforms deal with a lot of user data. Make
                        sure that your application is ready to face millions of
                        users.
                      </p>
                      <div class="my-5 mb-0">
                        <a
                          [routerLink]="[
                            '/social-media-application-development'
                          ]"
                          class="explore-now"
                          >Explore Industry Details
                          <img
                            src="assets/images/Icon--arrow-right.svg"
                            alt="next-icon"
                            class="explore-img"
                        /></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade accordion-item"
            id="media-tab-pane"
            role="tabpanel"
            aria-labelledby="media-tab"
            tabindex="0"
          >
            <h2 class="accordion-header d-lg-none" id="headingSix">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseSix"
                aria-expanded="false"
                aria-controls="collapseSix"
              >
                Media & Entertainment
              </button>
            </h2>
            <div
              id="collapseSix"
              class="accordion-collapse collapse d-lg-block"
              aria-labelledby="headingSix"
              data-bs-parent="#myTabContent"
            >
              <div class="accordion-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="our-industry-main-wrap">
                      <figure>
                        <img
                          src="assets/images/our-industry/media.png"
                          class="mb-4 img-fluid"
                          alt="Media & Entertainment"
                        />
                      </figure>
                      <p>
                        Build a robust and easy-to-use app that your users will
                        love to spend time on with our QA and Testing services.
                      </p>
                      <div class="my-5 mb-0">
                        <a
                          [routerLink]="[
                            '/media-and-entertainment-application-development'
                          ]"
                          class="explore-now"
                          >Explore Industry Details
                          <img
                            src="assets/images/Icon--arrow-right.svg"
                            alt="next-icon"
                            class="explore-img"
                        /></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade accordion-item"
            id="logistics-tab-pane"
            role="tabpanel"
            aria-labelledby="logistics-tab"
            tabindex="0"
          >
            <h2 class="accordion-header d-lg-none" id="headingSeven">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseSeven"
                aria-expanded="false"
                aria-controls="collapseSeven"
              >
                Transportation & Logistics

              </button>
            </h2>
            <div
              id="collapseSeven"
              class="accordion-collapse collapse d-lg-block"
              aria-labelledby="headingSeven"
              data-bs-parent="#myTabContent"
            >
              <div class="accordion-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="our-industry-main-wrap">
                      <figure>
                        <img
                          src="assets/images/our-industry/logistic.png"
                          class="mb-4 img-fluid" alt="logistic"
                        />
                      </figure>
                      <p>
                        Track and manage your logistics and supply chain
                        operations with an app built to withstand industry
                        demands.
                      </p>
                      <div class="my-5 mb-0">
                        <a
                          [routerLink]="['/logistics-application-development']"
                          class="explore-now"
                          >Explore Industry Details
                          <img
                            src="assets/images/Icon--arrow-right.svg"
                            class="explore-img"
                            alt="next-icon"
                        /></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade accordion-item"
            id="healthcare-tab-pane"
            role="tabpanel"
            aria-labelledby="healthcare-tab"
            tabindex="0"
          >
            <h2 class="accordion-header d-lg-none" id="headingEight">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseEight"
                aria-expanded="false"
                aria-controls="collapseEight"
              >
                Healthcare Solutions
              </button>
            </h2>
            <div
              id="collapseEight"
              class="accordion-collapse collapse d-lg-block"
              aria-labelledby="headingEight"
              data-bs-parent="#myTabContent"
            >
              <div class="accordion-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="our-industry-main-wrap">
                      <figure>
                        <img
                          src="assets/images/our-industry/health.png"
                          class="mb-4 img-fluid"
                          alt="Healthcare solution"
                        />
                      </figure>
                      <p>
                        Health records are confidential and you can’t afford to
                        have any vulnerabilities in code. That’s where we come
                        in.
                      </p>
                      <div class="my-5 mb-0">
                        <a
                          [routerLink]="['/healthcare-application-development']"
                          class="explore-now"
                          >Explore Industry Details
                          <img
                            src="assets/images/Icon--arrow-right.svg"
                            alt="next-icon"
                            class="explore-img"
                        /></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="business-growth">
      <div class="row mb-5">
        <div class="col-lg-6">
          <div class="title-wrap">
            <h4>Enhance your growth</h4>
            <h2>Equip your business with the right solutions and team</h2>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="drone-text-wrap">
            <p>
              Your business has to cater to different kinds of customers every
              day. Make sure that your software solutions are fit to handle the
              increasing demands of the industry.
            </p>
          </div>
        </div>
      </div>

      <div class="row my-4 justify-content-center">
        <div class="col-lg-4 col-md-6 mb-3">
          <div class="what-we-do-app">
            <img
              src="assets/images/qa-and-testing/improved-experience.svg"
              alt="Improved Experience"
            />
            <h3>Improved Experience</h3>
            <p>
              We are not just an offshore QA & Testing company, we're always a
              technology partner for our clients. Hire the best testing team for
              your next software project.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-3">
          <div class="what-we-do-app">
            <img
              src="assets/images/qa-and-testing/test-cases.svg"
              alt="Test Cases"
            />
            <h3>Test Cases</h3>
            <p>
              Our QA & Testing engineers test for multiple test cases and make
              sure that your product is ready to handle the demands of the
              ever-growing industry.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-3">
          <div class="what-we-do-app">
            <img
              src="assets/images/qa-and-testing/enhances-portability.svg"
              alt="Enhances Portability"
            />
            <h3>Enhances Portability</h3>
            <p>
              Putting your platform through a rigorous testing regime allows you
              to easily scale your business even if you are exploring other
              avenues.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="technolgies pt-100 pb-80">
  <div class="container">
    <div class="row mb-4">
      <div class="col-lg-10 col-md-11 col-sm-12 mx-auto">
        <div class="title-wrap text-center">
          <h4>Tools</h4>
          <h2>
            The right tools with the right team can change how you do business
            with your customers
          </h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-2 col-md-3 col-sm-4 col-4">
            <div class="tech-stack-details">
              <img
                src="assets/images/techstack/testing/testrail.png"
                width="80"
                height="80"
                class="mb-3"
                alt="Testrail"
              />
              <p>Testrail</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4 col-4">
            <div class="tech-stack-details">
              <img
                src="assets/images/techstack/testing/browsers.svg"
                width="80"
                height="80"
                class="mb-3"
                alt="Browser’s"
              />
              <p>Browser’s</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4 col-4">
            <div class="tech-stack-details">
              <img
                src="assets/images/techstack/testing/postman.svg"
                width="80"
                height="80"
                class="mb-3"
                alt="Postman"
              />
              <p>Postman</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4 col-4">
            <div class="tech-stack-details">
              <img
                src="assets/images/techstack/testing/selinum.svg"
                width="80"
                height="80"
                class="mb-3"
                alt="Selenium"
              />
              <p>Selenium</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4 col-4">
            <div class="tech-stack-details">
              <img
                src="assets/images/techstack/testing/appium.svg"
                width="80"
                height="80"
                class="mb-3"
                alt="Appium"
              />
              <p>Appium</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4 col-4">
            <div class="tech-stack-details">
              <img
                src="assets/images/techstack/testing/jmeter.svg"
                width="80"
                height="80"
                class="mb-3"
                alt="Jmeter"
              />
              <p>Jmeter</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-casestudy-scroll></app-casestudy-scroll>
<app-blog-scroll></app-blog-scroll>
<app-contact></app-contact>
<!-- <app-footer></app-footer> -->
<!--end-->
