<section class="banners-section home-banner sub-banner">
  <div class="common">
    <img
      src="assets/images/case-studies/case-studies-banner.jpg"
      class="img-fluid"
      alt="Farmsent Case Study"
      title="Farmsent Case Study"
    />
    <div class="banner-text d-flex justify-content-center align-self-center">
      <div class="title-wrap">
        <h4><span class="dots"></span>Farmsent</h4>
        <h2>
          <span>A blockchain  </span> platform for farmers
          <span class="dots"></span>
        </h2>
        <p> Producers where they can directly supply goods to the consumers</p>
        <div class="d-flex justify-content-center">
          <a class="btn btn-primary" [routerLink]="['/contact-us']"
            >Get In Touch
            <img
              src="assets/images/home-new/icon-banner-arrowup.svg"
              alt="Arrow up"
              title="Arrow up"
          /></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <section class="parkcase-studies">
  <div class="container">
    <div class="row">
      <div class="firstpart bg-park">
        <div class="row align-items-center">
          <div class="col-lg-7 col-md-7 mb-3">
            <div class="part-one">
              <img
                src="assets/images/case-studies/farmsent/farmsent-logo.svg"
                class="img-fluid mb-3"
                alt="Farmsent"
                title="Farmsent - A blockchain platform for farmers"
                width="250"
              />
              <h1>
                Farmsent - A blockchain platform for farmers and producers where
                they can directly supply goods to the consumers
              </h1>
              <h4>Farmsent</h4>
            </div>
          </div>
          <div class="col-lg-5 col-md-5 mb-3">
            <div class="text-right">
              <img
                src="assets/images/case-studies/firstblastit/firstblastit-banner1.png"
                class="img-fluid"
                alt="firstblastit"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<section class="requirements">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-5">
        <div class="business-requirement">
          <h6>Client Name</h6>
          <h3>
            <a href="https://www.farmsent.io/" target="_blank">Farmsent</a>
          </h3>
        </div>
        <div class="business-requirement">
          <h6>Business</h6>
          <h3>World’s first farmer's blockchain</h3>
        </div>
        <div class="business-requirement">
          <h6>Country</h6>
          <h3>Dubai</h3>
        </div>
        <div class="business-requirement">
          <h6>Website</h6>
          <h3>
            <a href="https://www.farmsent.io/" target="_blank">farmsent.io</a>
          </h3>
        </div>
        <div class="business-requirement">
          <h6>Description</h6>
          <h3>
            Farmsent - A blockchain platform for farmers and producers where
            they can directly supply goods to the consumers
          </h3>
        </div>
        <div class="business-requirement">
          <h6>Services</h6>
          <h3>
            A decentralized network of farmers that facilitates food trade &
            food security globally
          </h3>
        </div>
        <div class="business-requirement">
          <h6>Industries</h6>
          <h3>Food & Beverages</h3>
        </div>

        <div class="business-requirement">
          <h6>Team</h6>
          <h3 class="font-sm">
            Backend Node JS - 2<br />
            Frontend Angular - 1<br />
            UI/UX Design - 1<br />
            Smart Contract Solidity - 1<br />
            QA - 1<br />
            PM - 1<br />
            Tech Architect - 1<br />
          </h3>
        </div>
      </div>
      <div class="col-lg-8 col-md-7">
        <div class="title-wrap">
          <h4><span class="dots"></span> About</h4>
          <h2>
            <span>Farmsent</span> - A Blockchain platform for connecting farmers
            and buyers directly
            <span class="dots"></span>
          </h2>

          <p>
            Farmsent is a blockchain platform that empowers farmers and buyers
            by enabling a direct supply of goods to consumers. This
            decentralized marketplace offers farmers access to a wide network of
            distributors, ensuring transparent tracking and verification of
            product origin and quality. Both buyers and farmers benefit from
            enhanced trust and transparency within the blockchain in
            Agriculture.
          </p>
          <p>
            At the core of Farmsent's mission is simplifying the farming process
            for farmers. By handling supply chain logistics, quality assurance,
            and secure payment processing, the platform allows farmers to focus
            solely on their expertise: Farming. Farmsent's user-friendly design
            ensures accessibility for farmers and businesses of all
            technological backgrounds. By connecting farmers directly with
            buyers, the platform eliminates unnecessary middlemen, ensuring fair
            prices for crops and fostering stronger relationships between
            farmers and buyers.
          </p>
          <p>
            With Farmsent, agriculture enters a new era of efficiency and
            empowerment, providing a sustainable and transparent marketplace
            that benefits all stakeholders in the farming community.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="busiessgoal bg-park">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <div class="title-wrap text-center">
          <h4><span class="dots"></span>Business Goal</h4>
          <h2>
            <span>Farmsent: </span> Nourishing Lives, Growing Dreams!<span
              class="dots"
            ></span>
          </h2>
          <p>
            The main objectives of Farmsent are met without the involvement of
            any middlemen which allows the farmers or the producers to set the
            prices for the commodity to make a higher profit; therefore, the
            buyer can get better prices that haven’t been influenced by the
            middlemen or distributors.
          </p>
          <p>
            Its decentralized trade model makes trade more transparent &
            profitable for all parties. A fair future contract, or FFC, is a
            soft contract that allows one to sell at the current market price
            rather than the price which was set months ago.
          </p>
          <p>
            At Farmsent, the mission is to be committed to fostering a
            community-driven approach, bridging the gap between farmers, buyers,
            and supply chains, thereby ensuring fair and transparent
            agricultural practices. By embracing cutting-edge research and
            continuous improvement, Farmsent envisions becoming a key player in
            the global agritech landscape, shaping the future of farming for the
            betterment of society and the environment.
          </p>
          <p>
            All that matters in Farmsent is the harmonious integration of
            farmers and buyers into a dynamic ecosystem. By nurturing this
            platform which benefits both farmers and buyers, Farmsent aims to
            revolutionize this agricultural industry and blockchain agriculture
            tradability for the betterment of all partners involved.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="solutions">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="title-wrap">
          <h4><span class="dots"></span>Challenges/Developing Challenges</h4>
          <h2>
            <span>Farmsent:</span> Fostering Growth Amidst Challenges
            <span class="dots"></span>
          </h2>
        </div>
      </div>
    </div>
    <h3 class="pb-3">Challenges Faced by Farmers</h3>
    <div class="row">
      <div class="col-lg-4 mb-3">
        <div class="challange challenge-wrap">
          <div class="chall-num">1</div>
          <p>
            <b>Climate and Weather Uncertainty:</b><br />
            Farmers often face unpredictable weather patterns, extreme
            conditions like droughts or floods, and changing climate conditions,
            which can significantly impact crop yields and productivity.
          </p>
        </div>
      </div>
      <div class="col-lg-4 mb-3">
        <div class="challange challenge-wrap">
          <div class="chall-num">2</div>
          <p>
            <b>Market Price Fluctuations:</b><br />
            Farmers may struggle with price volatility for their produce,
            leading to uncertain income and potential financial risks.
          </p>
        </div>
      </div>
      <div class="col-lg-4 mb-3">
        <div class="challange challenge-wrap">
          <div class="chall-num">3</div>
          <p>
            <b>High Production Costs:</b><br />
            The cost of inputs, such as seeds, fertilizers, and pesticides, can
            be substantial, putting a strain on the financial viability of
            farming operations.partnership.
          </p>
        </div>
      </div>
      <div class="col-lg-4 mb-3">
        <div class="challange challenge-wrap">
          <div class="chall-num">4</div>
          <p>
            <b>Land Degradation and Soil Health:</b><br />
            Soil erosion, depletion of nutrients, and land degradation are
            ongoing challenges that can affect crop quality and yield.
          </p>
        </div>
      </div>
      <div class="col-lg-4 mb-3">
        <div class="challange challenge-wrap">
          <div class="chall-num">5</div>
          <p>
            <b>Pests and Diseases:</b><br />
            Farmers need to combat pests, diseases, and invasive species that
            can damage crops and threaten agricultural output.
          </p>
        </div>
      </div>
      <div class="col-lg-4 mb-3">
        <div class="challange challenge-wrap">
          <div class="chall-num">6</div>
          <p>
            <b>Government Policies and Regulations:</b><br />
            Agricultural practices can be influenced by government policies,
            regulations, and subsidies, which may impact the profitability of
            farming ventures.
          </p>
        </div>
      </div>
      <div class="col-lg-4 mb-3">
        <div class="challange challenge-wrap">
          <div class="chall-num">7</div>
          <p>
            <b>Market Access and Distribution Challenges:</b><br />
            Farmers may need help accessing markets and securing fair prices for
            their products. Transportation and logistics can also present
            hurdles to getting produce to market efficiently.
          </p>
        </div>
      </div>
      <div class="col-lg-4 mb-3">
        <div class="challange challenge-wrap">
          <div class="chall-num">8</div>
          <p>
            <b>Changing Consumer Preferences:</b><br />
            Consumer preferences and demands for specific products can shift
            rapidly, requiring farmers to adapt to new market trends.
          </p>
        </div>
      </div>
    </div>
    <h3 class="pb-3">Challenges Faced by Buyers:</h3>
    <div class="row">
      <div class="col-lg-4 mb-3">
        <div class="challange challenge-wrap">
          <div class="chall-num">1</div>
          <p>
            <b>Delivery and Timing:</b><br />
            Trust is crucial in buyer-supplier relationships, but it doesn't
            guarantee timely product delivery. Various factors like delays,
            logistics issues, or unforeseen circumstances can disrupt the supply
            chain.
          </p>
        </div>
      </div>
      <div class="col-lg-4 mb-3">
        <div class="challange challenge-wrap">
          <div class="chall-num">2</div>
          <p>
            <b>Price-related Issues:</b><br />
            Price volatility and overpricing can strain buyer-supplier
            relationships, leading to conflicts and negotiation challenges.
          </p>
        </div>
      </div>
      <div class="col-lg-4 mb-3">
        <div class="challange challenge-wrap">
          <div class="chall-num">3</div>
          <p>
            <b>Quality Concerns:</b><br />
            Inconsistent product quality can erode trust between buyers and
            suppliers, and blockchain for organic food traceability impacts the
            overall business partnership.
          </p>
        </div>
      </div>
      <div class="col-lg-4 mb-3">
        <div class="challange challenge-wrap">
          <div class="chall-num">4</div>
          <p>
            <b>Payment Delays:</b><br />
            Late or delayed payments can cause financial strain on suppliers and
            may harm the business relationship.
          </p>
        </div>
      </div>
      <div class="col-lg-4 mb-3">
        <div class="challange challenge-wrap">
          <div class="chall-num">5</div>
          <p>
            <b>Transparency and Trustworthiness:</b><br />
            Lack of transparency in business dealings can lead to
            misunderstandings and decrease trust between buyers and suppliers.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <figure>
          <img
            src="assets/images/case-studies/firstblastit/about.jpg"
            class="img-fluid"
            alt="about"
            title="Fostering Growth Amidst Challenges"
          />
        </figure>
      </div>
    </div>
  </div>
</section>
<section class="solutions bg-park bg-with-img bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="title-wrap">
          <h4><span class="dots"></span>Solution, Achievements</h4>
          <h2>
            <span>From Challenges </span> to Solutions - Farmsent's Path to
            Progress<span class="dots"></span>
          </h2>
          <p>
            Farmsent aims to address issues facing farmers such as crop
            insurance, access to fertilizers, Agritech, and volunteerism during
            harvest seasons. Farmsent Foundation will contribute to these causes
            to ensure the farmers’ well-being.
          </p>
          <p>
            Farmsent empowers farmers with seed ownership, enabling direct sales
            to consumers. By cutting out middlemen, farmers increase profits and
            deliver better produce, while consumers enjoy fresher ingredients
            directly from the source.
          </p>
          <p>
            The $FARMS Token is intended to increase trust among all parties
            involved in every part of the trading process. On the Farmsent
            platform, these tokens are the primary instrument.
          </p>
          <p>
            Improve farmers' access to capital by implementing a more efficient
            trading mechanism.
          </p>
          <p>
            Eliminate trade bottlenecks caused by centralized systems and
            practices.
          </p>
          <p class="mb-0">
            Food insecurity affects one-third of the world's population, but
            blockchain food traceability makes it more transparent, inclusive,
            and liquid.
          </p>
        </div>
        <!-- <div class="challange">

          </div> -->
      </div>
    </div>
  </div>
</section>
<section class="user-flow pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <div class="title-wrap">
          <h4><span class="dots"></span>Discovery, Workflow(Design process)</h4>
          <h2>
            <span>Working And Functionalities </span> Of Farmsent<span
              class="dots"
            ></span>
          </h2>

          <!-- <p>
            The First Track It application has three major subscription plans
            for the Users. $39/month for 10 customers, $69/month for 100
            customers, and $149/month for unlimited customers. It can be billed
            semi-annually and the subscription terms fall in after the 7 days
            trial for all subscription plans.
          </p> -->
        </div>
      </div>
    </div>
  </div>
</section>
<section class="app-features">
  <div class="container">
    <div class="row mb-2">
      <div class="col-lg-12">
        <div class="bussiness-common-heading">
          <div class="title-wrap">
            <h4><span class="dots"></span>Farmsent</h4>
            <h2>
              <span>Working </span> Module of Farmsent
              <span class="dots"></span>
            </h2>
          </div>
          <div class="common-design p-0">
            <h3 class="m-0">Admin Dashboard</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-3 justify-content-center">
      <div class="col-lg-6 col-md-6 mb-3">
        <div class="process-list">
          <h4 class="heading4">
            User Management <span class="process-num">1</span>
          </h4>
          <p>
            Admins have the authority to manage user accounts on Farmsent. This
            includes tasks such as user registration approvals, verifying user
            identities (if required) & handling account-related issues.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 mb-3">
        <div class="process-list">
          <h4 class="heading4">
            Product and Inventory Management <span class="process-num">2</span>
          </h4>
          <p>
            Admins are responsible for overseeing the products listed on the
            Farmsent marketplace. They can add new products, edit existing ones
            & ensure accurate inventory tracking to maintain up-to-date product
            availability.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 mb-3">
        <div class="process-list">
          <h4 class="heading4">
            Quotation Request Order Management
            <span class="process-num">3</span>
          </h4>
          <p>
            When buyers create QROs for products listed by farmers, admins
            handle the QRO management process. This may involve reviewing &
            validating QROs before sending them to the farmers.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 mb-3">
        <div class="process-list">
          <h4 class="heading4">
            Order Processing <span class="process-num">4</span>
          </h4>
          <p>
            Once a farmer accepts a QRO and a buyer confirms the order, admins
            oversee the order processing stage. They ensure secure payment
            processing & monitor the progress of orders, stepping in to resolve
            any issues that may arise.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 mb-3">
        <div class="process-list">
          <h4 class="heading4">
            Shipment Management <span class="process-num">5</span>
          </h4>
          <p>
            Admins are involved in managing the shipment process. They oversee
            the creation of shipments, track their progress, and ensure timely
            deliveries to buyers.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 mb-3">
        <div class="process-list">
          <h4 class="heading4">
            Payment Information <span class="process-num">6</span>
          </h4>
          <p>
            Admins may need to provide payment-related information to buyers.
            This can include the buyer's name, payment ID or transaction ID, and
            an option to upload payment receipts for verification purposes.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 mb-3">
        <div class="process-list">
          <h4 class="heading4">
            Notification Management <span class="process-num">7</span>
          </h4>
          <p>
            Throughout the order and shipment process, admins can send
            notifications to relevant parties (buyers, farmers, etc.) to keep
            them informed about the status of their transactions and shipments.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 mb-3">
        <div class="process-list">
          <h4 class="heading4">
            Schedule Management <span class="process-num">8</span>
          </h4>
          <p>
            Farmsent likely involves scheduled deliveries for certain products.
            Admins manage these schedules, ensuring that shipments are prepared
            and delivered on time.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 mb-3">
        <div class="process-list">
          <h4 class="heading4">
            Quality Assurance and Verification
            <span class="process-num">9</span>
          </h4>
          <p>
            Admins are responsible for verifying the quality and authenticity of
            products listed on the platform.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 mb-3">
        <div class="process-list">
          <h4 class="heading4">
            Shipment Completion and Status Update
            <span class="process-num">10</span>
          </h4>
          <p>
            As the shipment progresses and reaches its destination, the admin
            can update the shipment status to keep both the buyer and the farmer
            informed.
          </p>
        </div>
      </div>
    </div>

    <div class="common-design p-0">
      <h3>Buyer Web App</h3>
    </div>
    <div class="row mb-3">
      <div class="col-lg-4 col-md-6 mb-3">
        <div class="process-list">
          <h4 class="heading4">
            Registration and Account Creation <span class="process-num">1</span>
          </h4>
          <p>
            Buyers need to register on the Farmsent platform by providing their
            relevant details & creating an account. This step ensures that
            buyers have authorized access to the platform.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-3">
        <div class="process-list">
          <h4 class="heading4">
            Browsing Products <span class="process-num">2</span>
          </h4>
          <p>
            Once registered, buyers can browse through the various agricultural
            products available on the Farmsent marketplace. These products are
            listed by farmers who are part of the platform.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-3">
        <div class="process-list">
          <h4 class="heading4">
            Quotation Request Order Creation <span class="process-num">3</span>
          </h4>
          <p>
            When a buyer finds a product of interest, they can create a
            Quotation Request Order (QRO) for that product. The QRO is a request
            made by the buyer to the farmer, expressing their interest in
            purchasing the product at a specific quantity and price.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-3">
        <div class="process-list">
          <h4 class="heading4">
            Sending QRO to Farmers <span class="process-num">4</span>
          </h4>
          <p>
            The buyer's QRO is then sent to the relevant farmer(s) who have
            listed the product on the Farmsent platform. The farmer receives the
            QRO & can review the details.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-3">
        <div class="process-list">
          <h4 class="heading4">
            Farmer's Response <span class="process-num">5</span>
          </h4>
          <p>
            The farmer evaluates the QRO and decides whether to accept, reject,
            or negotiate the terms. If the farmer accepts the QRO, the buyer is
            notified, and the order proceeds to the next stage.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-3">
        <div class="process-list">
          <h4 class="heading4">
            Order Confirmation and Payment <span class="process-num">6</span>
          </h4>
          <p>
            Upon the farmer's acceptance, the buyer confirms the order and makes
            the payment through the platform. Farmsent likely supports secure
            payment methods, such as cryptocurrencies or traditional payment
            options.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-3">
        <div class="process-list">
          <h4 class="heading4">
            Order Processing <span class="process-num">7</span>
          </h4>
          <p>
            With the payment received, the order is now in the processing phase.
            Farmsent's admin can intervene if necessary to ensure a smooth
            transaction.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-3">
        <div class="process-list">
          <h4 class="heading4">
            Shipment and Delivery <span class="process-num">8</span>
          </h4>
          <p>
            The farmer processes the order, prepares the product for shipment,
            and initiates the delivery to the buyer's specified location.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-3">
        <div class="process-list">
          <h4 class="heading4">
            Shipment Tracking and Status <span class="process-num">9</span>
          </h4>
          <p>
            Throughout the shipment process, Farmsent provides tracking details
            to the buyer, allowing them to monitor the status and location of
            their order.
          </p>
        </div>
      </div>
    </div>

    <div class="common-design p-0">
      <h3>Farmer Web and Mobile App</h3>
    </div>
    <div class="row mb-3">
      <div class="col-lg-4 col-md-6 mb-3">
        <div class="process-list">
          <h4 class="heading4">
            Registration and Account Creation <span class="process-num">1</span>
          </h4>
          <p>
            Farmers need to register on the Farmsent platform by providing
            relevant information and creating an account. This registration
            process ensures that only authorized farmers can participate in the
            marketplace.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-3">
        <div class="process-list">
          <h4 class="heading4">
            Product Listing <span class="process-num">2</span>
          </h4>
          <p>
            Once registered, farmers can list their agricultural products on the
            Farmsent marketplace. They provide details such as product type,
            quantity, quality, and pricing.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-3">
        <div class="process-list">
          <h4 class="heading4">
            Quotation Request Order Reception <span class="process-num">3</span>
          </h4>
          <p>
            When a buyer is interested in a farmer's product, they create a
            Quotation Request Order (QRO) specifying the desired quantity and
            price. Farmers receive these QROs and can review the details.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-3">
        <div class="process-list">
          <h4 class="heading4">
            Reviewing QROs <span class="process-num">4</span>
          </h4>
          <p>
            Farmers assess the QROs they receive and decide whether to accept,
            reject, or negotiate the terms with the buyer. This process allows
            farmers to make informed decisions based on market demands and their
            production capacity.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-3">
        <div class="process-list">
          <h4 class="heading4">
            Accepting QRO and Order Confirmation
            <span class="process-num">5</span>
          </h4>
          <p>
            If the farmer agrees to the terms of the QRO, they accept it, and
            the order is confirmed.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-3">
        <div class="process-list">
          <h4 class="heading4">
            Order Processing and Shipment <span class="process-num">6</span>
          </h4>
          <p>
            With the order confirmed, the farmer processes the order and
            prepares the products for shipment. They initiate the delivery to
            the buyer's specified location.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-3">
        <div class="process-list">
          <h4 class="heading4">
            Shipment Tracking and Status <span class="process-num">7</span>
          </h4>
          <p>
            Throughout the shipment process, Farmsent provides shipment tracking
            details to both the farmer and the buyer.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-3">
        <div class="process-list">
          <h4 class="heading4">
            Direct Interaction with Buyers <span class="process-num">8</span>
          </h4>
          <p>
            Farmsent's decentralized marketplace enables direct communication
            between farmers and buyers, facilitating clearer communication and
            building stronger relationships.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-3">
        <div class="process-list">
          <h4 class="heading4">
            Product Origin and Quality Verification
            <span class="process-num">9</span>
          </h4>
          <p>
            Farmsent likely uses blockchain technology to record and verify the
            origin and quality of the agricultural products listed by farmers.
            This transparency builds trust with buyers and enhances the
            credibility of the farmer's offerings.
          </p>
        </div>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-lg-12">
        <div class="bussiness-common-heading common-heading">
          <h3>
            The FARMS Token: Unlocking New Avenues for Agricultural and trade
            landscape
          </h3>
          <p>
            The $FARMS Token is intended to increase trust among all
            participants in all phases of the transaction process. On the
            Farmsent platform, these tokens are the primary instrument. The
            maximum supply is 10,000,000,000 $FARMS.
          </p>
          <h4 class="heading4">Vesting Period</h4>
          <p>
            Farmsent allotted 10% of the overall supply to private investors, 5%
            to advisers, and 15% to the team, with a token supply of
            10,000,000,000. For these investors, the vesting period follows a
            well-structured period meant to ensure a fair distribution of
            tokens. Here are the main aspects.
          </p>
          <h4 class="heading4">Cliff</h4>
          <p>
            The vesting period begins with a 6-month cliff for private investors
            and a 12-month cliff for teams. The assigned tokens stay locked
            throughout this period, ensuring stability and security.
          </p>
          <h4 class="heading4">Vesting</h4>
          <p>
            Following the cliff, the vesting period begins, lasting many months.
            The tokens will be distributed gradually, ensuring a consistent and
            controlled distribution.
          </p>
          <h4 class="heading4">Monthly Vesting</h4>
          <p>
            The linear vesting process occurs at a 10% per month rate, allowing
            private investors, team members, and advisers to receive their
            tokens in stages. This methodical strategy encourages price
            stability and long-term commitment.
          </p>
          <p>
            Investors can view the schedule and token release by using their
            assigned wallet. They can also claim tokens beyond the cliff period
            by utilizing the same Dapp.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="app-features pb-0">
  <div class="container">
    <div class="row mb-2">
      <div class="col-lg-6">
        <div class="title-wrap">
          <h4><span class="dots"></span>DeepLens</h4>
          <h2><span>Design</span> Screens <span class="dots"></span></h2>
        </div>
      </div>
    </div>
    <div class="img-lg">
      <div class="row">
        <div class="col-lg-12">
          <figure>
            <img
              src="assets/images/case-studies/firstblastit/design-screens.jpg"
              class="img-fluid"
              alt="design screens"
              title="Workflow of Farmsnet"
            />
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="feautures bg-park unique-features">
  <div class="container">
    <div class="row mb-3">
      <div class="col-lg-12 mx-auto">
        <div class="bussiness-common-heading">
          <div class="title-wrap text-center">
            <h2>
              <span>Unique </span> Features
              <span class="dots"></span>
            </h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-6 mb-4">
        <div class="feature-card">
          <div class="bussiness-common-heading">
            <h3>Features of Farmsent</h3>
          </div>
          <ul class="list m-0">
            <li>Seed Ownership</li>
            <li>Direct-to-Consumer Sales</li>
            <li>Quality Assurance</li>
            <li>Elimination of Middlemen</li>
            <li>Digital Platform</li>
            <li>Transparent Pricing</li>
            <li>Streamlined Payment Processing</li>
            <li>Community-Driven Approach</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 mb-4">
        <div class="feature-card">
          <div class="bussiness-common-heading">
            <h3>Features of $FARM token</h3>
          </div>
          <ul class="list m-0">
            <li>Bringing Food Security to the Forefront</li>
            <li>Governance, Commission, and Security Deposit</li>
            <li>Empowering Farmers: From Smallholders to Enterprises</li>
            <li>A Secure and Sustainable Food Supply Chain</li>
            <li>
              Farms token to pay for the network fees and subscription etc.
            </li>
            <li>It will also be rewarded to buyers</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="techstack">
  <div class="container">
    <div class="row mb-3">
      <div class="col-12">
        <div class="title-wrap text-center">
          <h4><span class="dots"></span>Tools</h4>
          <h2><span>Tech </span> Stack <span class="dots"></span></h2>
        </div>
      </div>
    </div>
    <div class="row mb-3 text-center">
      <div class="col-lg-4 col-md-3 col-sm-6 col-12 mb-3">
        <div class="tech-stack-heading mb-3">
          <h3>Front end</h3>
        </div>
        <div class="row">
          <div class="col-12 mb-3">
            <div class="tech-stack-wrap text-center">
              <img
                src="assets/images/techstack/frontend/angular-js.svg"
                width="70"
                height="70"
                alt="Angular"
                title="Front end"
              />
              <p>Angular</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-3 col-sm-6 col-12 mb-3">
        <div class="tech-stack-heading mb-3">
          <h3>Back End</h3>
        </div>
        <div class="row">
          <div class="col-12 mb-3">
            <div class="tech-stack-wrap text-center">
              <img
                src="assets/images/techstack/backend/node-js.svg"
                width="70"
                height="70"
                alt="Node JS"
                title="Back End"
              />
              <p>Node JS</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-3 col-sm-6 col-12 mb-3">
        <div class="tech-stack-heading mb-3">
          <h3>Database</h3>
        </div>
        <div class="row">
          <div class="col-12 mb-3">
            <div class="tech-stack-wrap text-center">
              <img
                src="assets/images/techstack/database/mongo.svg"
                width="70"
                height="70"
                alt="MongoDB"
                title="Database"
              />
              <p>MongoDB</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-3 col-sm-6 col-12 mb-3">
        <div class="tech-stack-heading mb-3">
          <h3>Platforms</h3>
        </div>
        <div class="row">
          <div class="col-6 mb-3">
            <div class="tech-stack-wrap text-center">
              <img
                src="assets/images/techstack/devops/web-logo.png"
                width="70"
                height="70"
                alt="Web"
                title="Platforms"
              />
              <p>Web</p>
            </div>
          </div>
          <div class="col-6 mb-3">
            <div class="tech-stack-wrap text-center">
              <img
                src="assets/images/techstack/devops/mobile.jpg"
                width="70"
                height="70"
                alt="Mobile"
                title="Platforms"
              />
              <p>Mobile</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-3 col-sm-6 col-12 mb-3">
        <div class="tech-stack-heading mb-3">
          <h3>Partners</h3>
        </div>
        <div class="row">
          <div class="col-4 mb-3">
            <div class="tech-stack-wrap text-center">
              <img
                src="assets/images/techstack/devops/polygon.png"
                width="70"
                height="70"
                alt="Polygon"
                title="Partners"
              />
              <p>Polygon</p>
            </div>
          </div>
          <div class="col-4 mb-3">
            <div class="tech-stack-wrap text-center">
              <img
                src="assets/images/techstack/devops/liminal.jpg"
                width="70"
                height="70"
                alt="Liminal Wallet"
                title="Partners"
              />
              <p>Liminal Wallet</p>
            </div>
          </div>
          <div class="col-4 mb-3">
            <div class="tech-stack-wrap text-center">
              <img
                src="assets/images/techstack/devops/polytrade.png"
                width="70"
                height="70"
                alt="PolyTrade"
                title="Partners"
              />
              <p>PolyTrade</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="my-5 mb-0" />
    <!--end-->
  </div>
</section>
<app-reviews></app-reviews>

<section class="result">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 pr-4">
        <div class="title-wrap">
          <h4><span class="dots"></span>Results</h4>
          <h2>
            <span>Farmsent </span>- What Lies at the Center?<span
              class="dots"
            ></span>
          </h2>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="bussiness-common-heading mb-0">
          <p>
            Farmsent is committed to revolutionizing agriculture, increasing
            transparency, and empowering farmers and consumers. Farmsent is
            prepared to generate good change and uncover new opportunities in
            blockchain in the agriculture and trading environment through
            innovative technologies and a strong community.
          </p>
          <p class="mb-0">
            It is establishing the basis for a secure and sustainable food
            supply chain, enabling millions of farmers to thrive and ensuring a
            better future for future generations.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <app-casestudy-scroll></app-casestudy-scroll> -->
<app-blog-scroll></app-blog-scroll>
<app-contact></app-contact>
