<section class="banners-section home-banner sub-banner">
  <div class="common">
    <picture>
      <source
        srcset="assets/images/case-studies/case-studies-banner.webp"
        type="image/webp"
      />
      <source
        srcset="assets/images/case-studies/case-studies-banner.jpg"
        type="image/jpg"
      />
      <img
        loading="lazy"
        data-src="assets/images/case-studies/case-studies-banner.jpg"
        class="img-fluid"
        alt="Holiday Keepers Case Study"
        title="Holiday Keepers Case Study"
        width="1440"
        height="621"
        class="img-fluid"
      />
    </picture>
    <div class="banner-text d-flex justify-content-center align-self-center">
      <div class="title-wrap">
        <h4><span class="dots"></span>Holiday Keepers</h4>
        <h2>
          <span>Access Great </span> Rental <br />
          Properties For Your Vacay
          <span class="dots"></span>
        </h2>
        <p>
          UI/UX * Mobile
        </p>
        <div class="d-flex justify-content-center">
          <a class="btn btn-primary" [routerLink]="['/contact-us']"
            >Get In Touch
            <picture>
              <source
                srcset="assets/images/home-new/icon-banner-arrowup.webp"
                type="image/webp"
              />
              <source
                srcset="assets/images/home-new/icon-banner-arrowup.png"
                type="image/png"
              />
              <img
                loading="lazy"
                data-src="assets/images/home-new/icon-banner-arrowup.svg"
                alt="Arrow up"
                title="Arrow up"
                width="21"
                height="21"
                class="img-fluid"
              />
            </picture>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <section class="parkcase-studies">
  <div class="container">
    <div class="row">
      <div class="firstpart bg-park">
        <div class="row align-items-center">
          <div class="col-lg-7 col-md-7 mb-3">
            <div class="part-one">
              <img
                src="assets/images/case-study-holiday-keepers/holidaykeepers-logo.png"
                class="img-fluid mb-3 w-40"
                alt="holidaykeepers logo"
                title="Access Great Rental Properties For Your Vacay"
                width="300"
              />
              <h1>Holiday Keepers:</h1>
              <h1>Access Great Rental Properties For Your Vacay</h1>
              <p>UI/UX <span>Mobile</span></p>
              <ul class="social-icon">
                <li>
                  <a
                    href="https://www.linkedin.com/company/holidaykeepers/"
                    target="_blank"
                  >
                    <img
                      src="assets/images/case-study-park/linkedin.png"
                      height="30"
                      width="30"
                      alt="linked-in"
                      title="social-icons"
                    />
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-5 col-md-5 mb-3">
            <div class="text-right">
              <img
                src="assets/images/case-study-holiday-keepers/holiday-keepersmobileview.png"
                class="img-fluid"
                alt="Holiday keepers"
                title="Holiday Keepers"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<section class="requirements">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-5">
        <div class="business-requirement">
          <h6>Client Name</h6>
          <h3>Holiday Keepers</h3>
        </div>
        <div class="business-requirement">
          <h6>Business</h6>
          <h3>Vacation Homes</h3>
        </div>
        <div class="business-requirement">
          <h6>Country</h6>
          <h3>United States</h3>
        </div>
        <div class="business-requirement">
          <h6>Team</h6>
          <h3>13</h3>
        </div>
        <div class="business-requirement">
          <h6>Website</h6>
          <h3>
            <a href="https://www.holidaykeepers.com" target="_blank"
              >holidaykeepers.com</a
            >
          </h3>
        </div>
      </div>
      <div class="col-lg-8 col-md-7">
        <div class="analysis">
          <!-- <h6>Holiday Keepers</h6>
          <h3>Access Great Rental Properties For Your Vacay</h3> -->
          <div class="title-wrap">
            <h4><span class="dots"></span>About</h4>
            <h2>
              <span>Access Great</span> Rental Properties For Your Vacay
              <span class="dots"></span>
            </h2>
          </div>
          <p>
            Holiday Keepers is a humble vacation rental startup that has been
            consistently growing within the United States. The platform allows
            travelers to easily find great places to stay on their vacation and
            hosts to open their properties for business quickly. They also
            wanted to provide better value to all users of the platform by
            cutting down additional costs that are usually seen on other
            vacation rental platforms.
          </p>

          <p>
            Vacation rental platforms have been very popular because of Airbnb.
            And, no matter which part of the world you are in, having the
            convenience of booking a rental property on the go makes sense for
            travelers. However, it’s not enough to just have an app that has
            properties customers can book. You need to ensure quality and safety
            where travelers know exactly where they are staying and who owns the
            property. The Holiday Keepers team knew exactly that and this led
            them to us.
          </p>

          <p>
            Holiday Keepers is a vacation rental platform that allows hosts to
            automate the rental process, ensures safety and privacy through
            e-KYC, sync reservation across other rental platforms, and as an
            additional feature, allows travelers to pay in 3 installments for
            their stay, given that they have booked at least one month in prior.
            But more on that later.
          </p>
          <div class="external-links">
            <a href="https://www.holidaykeepers.com/" target="_blank"
              >holidaykeepers.com</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="parkgallery">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <picture>
          <source
            srcset="
              assets/images/case-study-holiday-keepers/holiday-keeper-banner-image.webp
            "
            type="image/webp"
          />
          <source
            srcset="
              assets/images/case-study-holiday-keepers/holiday-keeper-banner-image.png
            "
            type="image/png"
          />
          <img
            loading="lazy"
            data-src="assets/images/case-study-holiday-keepers/holiday-keeper-banner-image.png"
            alt="Holiday Keepers"
            title="Holiday Keepers"
            width="1582"
            height="1024"
            class="img-fluid"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
<section class="centerised-design">
  <div class="container">
    <div class="row mb-3">
      <div class="col-lg-12">
        <div class="title-wrap text-center mb-0 mt-4">
          <h2>
            <span>What </span>We’ve Done
            <span class="dots"></span>
          </h2>
        </div>
      </div>
    </div>
    <div class="row mb-3 justify-content-center">
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-3">
        <div class="common-design">
          <picture>
            <source
              srcset="assets/images/case-study-holiday-keepers/discover-01.webp"
              type="image/webp"
            />
            <source
              srcset="assets/images/case-study-holiday-keepers/discover-01.png"
              type="image/png"
            />
            <img
              loading="lazy"
              data-src="assets/images/case-study-holiday-keepers/discover-01.svg"
              alt="Discover-01"
              title="What We’ve Done"
              width="60"
              height="60"
              class="img-fluid"
            />
          </picture>
          <p>
            Holiday Keepers was just an idea when the team came to us and they
            were very keen on creating a great user experience. Part of that is
            having an ecosystem across all devices and operating systems as well
            as a UI that’s seamless to use.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-3">
        <div class="common-design">
          <picture>
            <source
              srcset="assets/images/case-study-holiday-keepers/define-01.webp"
              type="image/webp"
            />
            <source
              srcset="assets/images/case-study-holiday-keepers/define-01.png"
              type="image/png"
            />
            <img
              loading="lazy"
              data-src="assets/images/case-study-holiday-keepers/define-01.svg"
              alt="Define-01"
              title="What We’ve Done"
              width="60"
              height="60"
              class="img-fluid"
            />
          </picture>
          <p>
            We as an on-demand app development company have been building
            vacation rental platforms for businesses since 2016. Our vacation
            rental platform, RentalSlew, was the right fit for the job. However,
            you could say that Holiday Keepers was built from the ground up
            because of the customizations.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-3">
        <div class="common-design">
          <picture>
            <source
              srcset="assets/images/case-study-holiday-keepers/ideate-01.webp"
              type="image/webp"
            />
            <source
              srcset="assets/images/case-study-holiday-keepers/ideate-01.png"
              type="image/png"
            />
            <img
              loading="lazy"
              data-src="assets/images/case-study-holiday-keepers/ideate-01.svg"
              alt="Ideate-01"
              title="What We’ve Done"
              width="60"
              height="60"
              class="img-fluid"
            />
          </picture>
          <p>
            The Keepers team wanted their vacation rental platform to be
            available on Web, Android, and iOS. And, the platform would be
            available across the United States with strict security measures
            such as e-KYC enforced. We allocated a dedicated team for the
            development of the project and the development was planned over the
            course of 1 year.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="app-features">
  <div class="container">
    <div class="row mb-2">
      <div class="col-lg-12">
        <div class="title-wrap text-center">
          <h2>
            <span>Holiday Keepers </span>, Vacation Homes & Luxury <br />
            Stays Across the US
            <span class="dots"></span>
          </h2>
        </div>
        <div class="bussiness-common-heading">
          <!-- <h3>Holiday Keepers, Vacation Homes & Luxury Stays Across the US</h3> -->
          <p>
            The major problem that Holiday Keepers was trying to solve was the
            poor quality of rental properties that users usually end up with
            when booking online. Keepers is fairly centralized and requires both
            the hosts and travelers to complete an e-KYC before they can start
            using the platform. This ensures that all the listings are
            legitimate and that travelers always get quality stays. The KYC also
            protects homeowners from shady customers that might use their
            properties for illicit activities. The Admin always has to approve a
            property listing before it can be public.
          </p>

          <p>
            The Hosts have greater control over their listings as compared to
            other platforms. For example, hosts can set different prices for
            different days on the calendar and change the prices whenever they
            like. This is perfect for hosts that have properties they use and
            only want to rent them out when they are available. Hosts can also
            block days on the calendar in case they have private bookings
            scheduled. This will reflect even on other platforms the properties
            are listed on through ICAL Sync.
          </p>

          <p>
            Travelers also have the flexibility for booking their stays. They
            can negotiate prices directly with the host right inside the
            platform and find the perfect stay for their dream holiday.
          </p>
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-lg-12">
        <picture>
          <source
            srcset="
              assets/images/case-study-holiday-keepers/holiday-keeper-banner-image.webp
            "
            type="image/webp"
          />
          <source
            srcset="
              assets/images/case-study-holiday-keepers/holiday-keeper-banner-image.png
            "
            type="image/png"
          />
          <img
            loading="lazy"
            data-src="assets/images/case-study-holiday-keepers/holiday-keeper-banner-image.png"
            alt="Holiday Keepers dashboard screens"
            title="Holiday Keepers, Vacation Homes & Luxury Stays Across the US"
            width="1582"
            height="1024"
            class="img-fluid"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
<section class="feautures bg-park">
  <div class="container">
    <div class="row mb-3">
      <div class="col-lg-6 mx-auto">
        <div class="bussiness-common-heading">
          <div class="title-wrap text-center">
            <!-- <h4><span class="dots"></span> Salient Features</h4> -->
            <h2>
              <span>Salient </span> Features
              <span class="dots"></span>
            </h2>
          </div>
          <!-- <div class="text-center">
            <h5>Salient Features</h5>
            <h3>What Makes Parkk Different and Unique</h3>
          </div> -->
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="common-design">
          <picture>
            <source
              srcset="
                assets/images/case-study-holiday-keepers/flexible-pay.webp
              "
              type="image/webp"
            />
            <source
              srcset="assets/images/case-study-holiday-keepers/flexible-pay.png"
              type="image/png"
            />
            <img
              loading="lazy"
              data-src="assets/images/case-study-holiday-keepers/flexible-pay.svg"
              alt="Flexible Pay"
              title="Flexible Pay"
              width="60"
              height="60"
              class="img-fluid"
            />
          </picture>

          <h3>Flexible Pay</h3>
          <p>
            Travelers can plan their stays in advance and pay in 3 installments.
            The initial payment will be made when they book, and the 2 remaining
            installments can be made anytime before they check in at the
            property.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="common-design">
          <picture>
            <source
              srcset="
                assets/images/case-study-holiday-keepers/calendar-sync.webp
              "
              type="image/webp"
            />
            <source
              srcset="
                assets/images/case-study-holiday-keepers/calendar-sync.png
              "
              type="image/png"
            />
            <img
              loading="lazy"
              data-src="assets/images/case-study-holiday-keepers/calendar-sync.svg"
              alt="Calendar Sync"
              title="Calendar Sync"
              width="60"
              height="60"
              class="img-fluid"
            />
          </picture>

          <h3>Calendar Sync</h3>
          <p>
            The platform’s calendar is synced with all other vacation rental
            platforms. In case of failure to pay, the booking will expire.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="common-design">
          <picture>
            <source
              srcset="assets/images/case-study-holiday-keepers/e-kyc.webp"
              type="image/webp"
            />
            <source
              srcset="assets/images/case-study-holiday-keepers/e-kyc.png"
              type="image/png"
            />
            <img
              loading="lazy"
              data-src="assets/images/case-study-holiday-keepers/e-kyc.svg"
              alt="e-KYC"
              title="e-KYC"
              width="60"
              height="60"
              class="img-fluid"
            />
          </picture>
          <h3>e-KYC</h3>
          <p>
            This is applicable to both hosts and travelers, ensuring safety and
            security for all parties.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="common-design">
          <picture>
            <source
              srcset="assets/images/case-study-holiday-keepers/chat-module.webp"
              type="image/webp"
            />
            <source
              srcset="assets/images/case-study-holiday-keepers/chat-module.png"
              type="image/png"
            />
            <img
              loading="lazy"
              data-src="assets/images/case-study-holiday-keepers/chat-module.svg"
              alt="Chat Module"
              title="Chat Module"
              width="60"
              height="60"
              class="img-fluid"
            />
          </picture>
          <h3>Chat Module</h3>
          <p>
            Hosts and Travelers can converse with each other on the platform.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="common-design">
          <picture>
            <source
              srcset="
                assets/images/case-study-holiday-keepers/chat-masking.webp
              "
              type="image/webp"
            />
            <source
              srcset="assets/images/case-study-holiday-keepers/chat-masking.png"
              type="image/png"
            />
            <img
              loading="lazy"
              data-src="assets/images/case-study-holiday-keepers/chat-masking.svg"
              alt="Chat Masking"
              title="Chat Masking"
              width="60"
              height="60"
              class="img-fluid"
            />
          </picture>
          <h3>Chat Masking</h3>
          <p>
            Information such as links, email,s and phone numbers are blocked on
            the chat module.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="common-design">
          <picture>
            <source
              srcset="
                assets/images/case-study-holiday-keepers/flexible-pricing.webp
              "
              type="image/webp"
            />
            <source
              srcset="
                assets/images/case-study-holiday-keepers/flexible-pricing.png
              "
              type="image/png"
            />
            <img
              loading="lazy"
              data-src="assets/images/case-study-holiday-keepers/flexible-pricing.svg"
              alt="Flexible Pricing"
              title="Flexible Pricing"
              width="60"
              height="60"
              class="img-fluid"
            />
          </picture>
          <h3>Flexible Pricing</h3>
          <p>
            Hosts can change prices for individual dates and even block dates
            for private bookings. This will reflect on all other platforms they
            have listed the property on.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="common-design">
          <picture>
            <source
              srcset="assets/images/case-study-holiday-keepers/explore.webp"
              type="image/webp"
            />
            <source
              srcset="assets/images/case-study-holiday-keepers/explore.png"
              type="image/png"
            />
            <img
              loading="lazy"
              data-src="assets/images/case-study-holiday-keepers/explore.svg"
              alt="Explore"
              title="Explore"
              width="60"
              height="60"
              class="img-fluid"
            />
          </picture>
          <h3>Explore</h3>
          <p>
            Travelers can see exciting new places around them with details on
            the app.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="common-design">
          <picture>
            <source
              srcset="assets/images/case-study-holiday-keepers/negotiation.webp"
              type="image/webp"
            />
            <source
              srcset="assets/images/case-study-holiday-keepers/negotiation.png"
              type="image/png"
            />
            <img
              loading="lazy"
              data-src="assets/images/case-study-holiday-keepers/negotiation.svg"
              alt="Negotiation"
              title="Negotiation"
              width="60"
              height="60"
              class="img-fluid"
            />
          </picture>
          <h3>Negotiation</h3>
          <p>
            Travelers can negotiate with hosts on prices right on the platform
            and book luxury stays that suit their budget.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="common-design">
          <picture>
            <source
              srcset="assets/images/case-study-holiday-keepers/reviews.webp"
              type="image/webp"
            />
            <source
              srcset="assets/images/case-study-holiday-keepers/reviews.png"
              type="image/png"
            />
            <img
              loading="lazy"
              data-src="assets/images/case-study-holiday-keepers/reviews.svg"
              alt="Reviews"
              title="Reviews"
              width="60"
              height="60"
              class="img-fluid"
            />
          </picture>
          <h3>Reviews</h3>
          <p>
            Both Hosts and Travelers can write reviews. This helps improves the
            overall experience of the platform and also the quality.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="techstack">
  <div class="container">
    <div class="row mb-3">
      <div class="col-lg-8 mx-auto">
        <div class="title-wrap text-center">
          <h4><span class="dots"></span> Tools</h4>
          <h2>
            <span>A great app needs </span> the right tools and technology to
            perform
            <span class="dots"></span>
          </h2>
        </div>
      </div>
    </div>
    <!--backend start-->
    <div class="row mb-3">
      <div class="col-md-12">
        <div class="tech-stack-heading text-center">
          <h3>Back End</h3>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-2 col-md-3 col-sm-3 col-4 mb-3">
        <div class="tech-stack-wrap text-center">
          <picture>
            <source
              srcset="assets/images/techstack/backend/php.webp"
              type="image/webp"
            />
            <source
              srcset="assets/images/techstack/backend/php.png"
              type="image/png"
            />
            <img
              loading="lazy"
              data-src="assets/images/techstack/backend/php.svg"
              alt="PHP"
              title="Back End"
              width="70"
              height="70"
              class="img-fluid"
            />
          </picture>
          <p>PHP</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-3 col-4 mb-3">
        <div class="tech-stack-wrap text-center">
          <picture>
            <source
              srcset="assets/images/techstack/backend/laravel.webp"
              type="image/webp"
            />
            <source
              srcset="assets/images/techstack/backend/laravel.png"
              type="image/png"
            />
            <img
              loading="lazy"
              data-src="assets/images/techstack/backend/laravel.svg"
              alt="Laravel"
              title="Back End"
              width="70"
              height="70"
              class="img-fluid"
            />
          </picture>
          <p>Laravel</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-3 col-4 mb-3">
        <div class="tech-stack-wrap text-center">
          <picture>
            <source
              srcset="assets/images/techstack/database/mssql.webp"
              type="image/webp"
            />
            <source
              srcset="assets/images/techstack/database/mssql.png"
              type="image/png"
            />
            <img
              loading="lazy"
              data-src="assets/images/techstack/database/mssql.svg"
              alt="Mysql"
              title="Database"
              width="70"
              height="70"
              class="img-fluid"
            />
          </picture>
          <p>MySQL</p>
        </div>
      </div>
    </div>
    <div class="row my-4">
      <div class="col-lg-12">
        <hr />
      </div>
    </div>
    <!--end-->
    <!--Frontend start-->
    <div class="row mb-3">
      <div class="col-md-12">
        <div class="tech-stack-heading text-center">
          <h3>Front End</h3>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-2 col-md-3 col-sm-3 col-4 mb-3">
        <div class="tech-stack-wrap text-center">
          <picture>
            <source
              srcset="assets/images/techstack/frontend/html5.webp"
              type="image/webp"
            />
            <source
              srcset="assets/images/techstack/frontend/html5.png"
              type="image/svg"
            />
            <img
              loading="lazy"
              data-src="assets/images/techstack/frontend/html5.svg"
              alt="Frontend"
              title="Front End"
              width="70"
              height="70"
              class="img-fluid"
            />
          </picture>
          <p>HTML5</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-3 col-4 mb-3">
        <div class="tech-stack-wrap text-center">
          <picture>
            <source
              srcset="assets/images/techstack/frontend/css.webp"
              type="image/webp"
            />
            <source
              srcset="assets/images/techstack/frontend/css.png"
              type="image/png"
            />
            <img
              loading="lazy"
              data-src="assets/images/techstack/frontend/css.svg"
              alt="css"
              title="Front End"
              width="70"
              height="70"
              class="img-fluid"
            />
          </picture>
          <p>CSS3</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-3 col-4 mb-3">
        <div class="tech-stack-wrap text-center">
          <picture>
            <source
              srcset="assets/images/techstack/frontend/jquery.webp"
              type="image/webp"
            />
            <source
              srcset="assets/images/techstack/frontend/jquery.png"
              type="image/png"
            />
            <img
              loading="lazy"
              data-src="assets/images/techstack/frontend/jquery.svg"
              alt="jquery"
              title="Front End"
              width="70"
              height="70"
              class="img-fluid"
            />
          </picture>
          <p>JQuery</p>
        </div>
      </div>
    </div>
    <div class="row my-4">
      <div class="col-lg-12">
        <hr />
      </div>
    </div>
    <!--end-->
    <!--android-->
    <div class="row mb-3">
      <div class="col-md-12">
        <div class="tech-stack-heading text-center">
          <h3>Android</h3>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-2 col-md-3 col-sm-3 col-4 mb-3">
        <div class="tech-stack-wrap text-center">
          <picture>
            <source
              srcset="assets/images/techstack/mobile/astudio.webp"
              type="image/webp"
            />
            <source
              srcset="assets/images/techstack/mobile/astudio.png"
              type="image/png"
            />
            <img
              loading="lazy"
              data-src="assets/images/techstack/mobile/astudio.svg"
              alt="Android Studio"
              title="Mobile"
              width="70"
              height="70"
              class="img-fluid"
            />
          </picture>
          <p>Android Studio</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-3 col-4 mb-3">
        <div class="tech-stack-wrap text-center">
          <picture>
            <source
              srcset="assets/images/techstack/backend/java.webp"
              type="image/webp"
            />
            <source
              srcset="assets/images/techstack/backend/java.png"
              type="image/png"
            />
            <img
              loading="lazy"
              data-src="assets/images/techstack/backend/java.svg"
              alt="Java"
              title="Mobile"
              width="70"
              height="70"
              class="img-fluid"
            />
          </picture>
          <p>Java</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-3 col-4 mb-3">
        <div class="tech-stack-wrap text-center">
          <picture>
            <source
              srcset="assets/images/techstack/mobile/kotlin.webp"
              type="image/webp"
            />
            <source
              srcset="assets/images/techstack/mobile/kotlin.png"
              type="image/png"
            />
            <img
              loading="lazy"
              data-src="assets/images/techstack/mobile/kotlin.svg"
              alt="Kotlin"
              title="Mobile"
              width="70"
              height="70"
              class="img-fluid"
            />
          </picture>
          <p>Kotlin</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-3 col-4 mb-3">
        <div class="tech-stack-wrap text-center">
          <picture>
            <source
              srcset="assets/images/techstack/mobile/socket-io.webp"
              type="image/webp"
            />
            <source
              srcset="assets/images/techstack/mobile/socket-io.png"
              type="image/png"
            />
            <img
              loading="lazy"
              data-src="assets/images/techstack/mobile/socket-io.svg"
              alt="Socket IO"
              title="Database"
              width="70"
              height="70"
              class="img-fluid"
            />
          </picture>
          <p>Socket IO</p>
        </div>
      </div>
    </div>
    <div class="row my-4">
      <div class="col-lg-12">
        <hr />
      </div>
    </div>
    <!--end-->
    <!--IOS start-->
    <div class="row mb-3">
      <div class="col-md-12">
        <div class="tech-stack-heading text-center">
          <h3>iOS</h3>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-2 col-md-3 col-sm-3 col-4 mb-3">
        <div class="tech-stack-wrap text-center">
          <picture>
            <source
              srcset="assets/images/techstack/mobile/apple_xcode-icon.webp"
              type="image/webp"
            />
            <source
              srcset="assets/images/techstack/mobile/apple_xcode-icon.png"
              type="image/png"
            />
            <img
              loading="lazy"
              data-src="assets/images/techstack/mobile/apple_xcode-icon.svg"
              alt="XCode"
              title="IOS"
              width="70"
              height="70"
              class="img-fluid"
            />
          </picture>
          <p>XCode</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-3 col-4 mb-3">
        <div class="tech-stack-wrap text-center">
          <picture>
            <source
              srcset="assets/images/techstack/mobile/swift.webp"
              type="image/webp"
            />
            <source
              srcset="assets/images/techstack/mobile/swift.png"
              type="image/png"
            />
            <img
              loading="lazy"
              data-src="assets/images/techstack/mobile/swift.svg"
              alt="Swift"
              title="IOS"
              width="70"
              height="70"
              class="img-fluid"
            />
          </picture>
          <p>Swift</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-3 col-4 mb-3">
        <div class="tech-stack-wrap text-center">
          <div class="tech-stack-wrap text-center">
            <picture>
              <source
                srcset="assets/images/techstack/mobile/netcore.webp"
                type="image/webp"
              />
              <source
                srcset="assets/images/techstack/mobile/netcore.png"
                type="image/png"
              />
              <img
                loading="lazy"
                data-src="assets/images/techstack/mobile/netcore.svg"
                alt="Core Data"
                title="IOS"
                width="70"
                height="70"
                class="img-fluid"
              />
            </picture>
            <p>Swift</p>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-3 col-4 mb-3">
        <div class="tech-stack-wrap text-center">
          <picture>
            <source
              srcset="assets/images/techstack/mobile/socket-io.webp"
              type="image/webp"
            />
            <source
              srcset="assets/images/techstack/mobile/socket-io.png"
              type="image/png"
            />
            <img
              loading="lazy"
              data-src="assets/images/techstack/mobile/socket-io.svg"
              alt="socket Io"
              title="Database"
              width="70"
              height="70"
              class="img-fluid"
            />
          </picture>
          <p>Socket IO</p>
        </div>
      </div>
    </div>

    <!--end-->
  </div>
</section>

<app-reviews></app-reviews>

<!-- <section class="result">
  <div class="container">
    <div class="row mb-3">
      <div class="col-lg-6 pr-4">
        <div class="title-wrap">
          <h4><span class="dots"></span> Result</h4>
          <h2>
            <span>Scheduling </span> and better route to the parking lot.
            <span class="dots"></span>
          </h2>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="bussiness-common-heading">
          <p>
            Parkk is operation all over the US, serving travelers and RVers
            everyday. The company is in talks with multiple investors and
            expecting to expand their team in 2022. Through Parkk, we as a
            development company also connected with multiple organizations and
            are currently working with them on enterprise applications.
          </p>
        </div>
      </div>
    </div>
  </div>
</section> -->
<app-case-study-more></app-case-study-more>
<app-blog-scroll></app-blog-scroll>
<app-contact></app-contact>
