<section class="contact-section">
  <div class="container">
    <hr />
    <div class="row">
      <div class="col-lg-12">
        <div class="title-wrap">
          <h4><span class="dots"></span> Contact</h4>
          <h2>
            <span>Turn Ideas </span> into Reality! <span class="dots"></span>
          </h2>
        </div>
        <div class="getintouch getintochform form-new">
          <div #crmForm></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="quick-contact d-flex justify-content-between">
          <div class="q-contact">
            <h4>For Business</h4>
            <p>
              <i class="bi bi-envelope-open"></i>
              <a href="mailto:sales@sparkouttech.com">sales@sparkouttech.com</a>
            </p>
            <p>
              <i class="bi bi-whatsapp"></i>
              <a href="https://wa.me/7708889555" target="_blank"
              rel="noopener noreferrer"
                >+91 77088 89555</a
              >
            </p>
            <p>
              <i class="bi bi-skype"></i>
              <a href="skype:yokesh.sankar?chat" target="_blank"
              rel="noopener noreferrer"
                >yokesh.sankar</a
              >
            </p>
            <p>
              <i class="bi bi-telegram"></i>
              <a href="https://t.me/yokesh_sankar" target="_blank"
              rel="noopener noreferrer"
                >t.me/yokesh_sankar</a
              >
            </p>
          </div>
          <div class="q-contact">
            <h4>For Jobs</h4>
            <p>
              <i class="bi bi-people"></i>
              <a [routerLink]="['/career']">See job openings</a>
            </p>
          </div>
          <div class="q-contact">
            <h4>Join CodeSpot</h4>
            <p>
              <i class="bi bi-book"></i>
              <a href="https://www.codespotfoundation.org/" target="_blank"
              rel="noopener noreferrer"
                >CodeSpot Foundation</a
              >
            </p>
            <p>
              <i class="bi bi-whatsapp"></i>
              <a href="https://wa.me/8072395240" target="_blank"
              rel="noopener noreferrer"
                >+91 80723 95240</a
              >
            </p>
          </div>
          <div class="q-contact">
            <h4>Contact HR</h4>
            <p>
              <i class="bi bi-envelope-open"></i>
              <a href="mailto:career@sparkouttech.com"
                >career@sparkouttech.com</a
              >
            </p>
            <p>
              <i class="bi bi-whatsapp"></i>
              <a href="https://wa.me/8667726177" target="_blank"
              rel="noopener noreferrer"
                >+91 86677 26177</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>

    <hr class="btm-hr" />
  </div>
</section>
