<section class="casestudy-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="title-wrap">
          <h4><span class="dots"></span> Case Study</h4>
          <h2>
            <span>Building</span> technology <br />
            products that impact lives <span class="dots"></span>
          </h2>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="title-wrap">
          <p>
            Read through our case studies to see how we've helped businesses
            around the world serve customers better through innovative
            technology solutions as a leading custom software development
            company. Bleeding-edge tech with great customer experience.
          </p>
          <a [routerLink]="['/case-studies']" class="btn btn-primary"
            >View case study
            <picture>
              <source
                type="image/webp"
                srcset="assets/images/home-new/icon-arrow-up.webp"
              />
              <source
                type="image/png"
                srcset="assets/images/home-new/icon-arrow-up.png"
              />
              <img
                loading="lazy"
                data-src="assets/images/home-new/icon-arrow-up.svg"
                alt="arrow-icon"
                title="arrow-icon"
                width="21"
                height="21"
                class="img-fluid"
              />
            </picture>
          </a>
        </div>
      </div>
    </div>

    <owl-carousel-o [options]="casestudyOptions">
      <ng-template carouselSlide>
        <div class="casestudy-card">
            <figure>
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/case-studies/casestudy-park.webp"
                />
                <source
                  type="image/jpg"
                  srcset="assets/images/case-studies/casestudy-park.jpg"
                />
                <img
                loading="lazy"
                data-src="assets/images/case-studies/casestudy-park.jpg"
                  width="728"
                  height="435"
                  class="img-fluid"
                  alt="Parkk / Mobile Apps"
                  title="Parkk / Mobile Apps"
                />
              </picture>
            </figure>
            <h3>Opens up a world of parking - Parkk</h3>
            <p>
              Find parking spaces in the hustle and bustle with an intuitive on-demand app. Access parking spaces all over the US with Parkk.
            </p>
            <div class="d-flex justify-content-between">
              <h4>
                <span><span class="dots"></span> Parkk</span> Parkk / Mobile
                Apps
              </h4>
              <a [routerLink]="['/parking-app-case-study']" class="btn btn-primary d-flex align-items-center mb-0"
                >Learn More
                <picture>
                  <source
                    type="image/webp"
                    srcset="assets/images/home-new/icon-arrow-up.webp"
                  />
                  <source
                    type="image/png"
                    srcset="assets/images/home-new/icon-arrow-up.png"
                  />
                  <img
                  loading="lazy"
                  data-src="assets/images/home-new/icon-arrow-up.svg"
                    alt="arrow-icon"
                    title="arrow-icon"
                    width="21"
                    height="21"
                    class="img-fluid"
                  />
                </picture>
              </a>
            </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="casestudy-card">
            <figure>
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/case-studies/casestudy-holiday-keepers.webp"
                />
                <source
                  type="image/jpg"
                  srcset="assets/images/case-studies/casestudy-holiday-keepers.jpg"
                />
                <img
                loading="lazy"
                data-src="assets/images/case-studies/casestudy-holiday-keepers.jpg"
                  width="728"
                  height="435"
                  class="img-fluid"
                  alt="Rental Properties"
                  title="Holiday Keepers"
                />
              </picture>
            </figure>
            <h3>Access Great Rental Properties - Holiday Keepers</h3>
            <p>
              Integrate OpenAI's APIs with your platform & give your application the AI boost needs for the ultimate customer experience.
            </p>
            <div class="d-flex justify-content-between">
              <h4>
                <span><span class="dots"></span> Holiday Keepers</span> Rental
                Software / Web & Mobile Apps
              </h4>
              <a [routerLink]="[
              '/vacation-rental-platform-case-study-holiday-keepers'
            ]" class="btn btn-primary d-flex align-items-center mb-0"
                >Learn More
                <picture>
                  <source
                    type="image/webp"
                    srcset="assets/images/home-new/icon-arrow-up.webp"
                  />
                  <source
                    type="image/png"
                    srcset="assets/images/home-new/icon-arrow-up.png"
                  />
                  <img
                  loading="lazy"
                  data-src="assets/images/home-new/icon-arrow-up.svg"
                    alt="arrow-icon"
                    title="arrow-icon"
                    width="21"
                    height="21"
                    class="img-fluid"
                  />
                </picture>
              </a>
            </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="casestudy-card">
            <figure>
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/case-studies/casestudy-notifynow.webp"
                />
                <source
                  type="image/jpg"
                  srcset="assets/images/case-studies/casestudy-notifynow.jpg"
                />
                <img
                loading="lazy"
                data-src="assets/images/case-studies/casestudy-notifynow.jpg"
                  width="728"
                  height="435"
                  class="img-fluid"
                  alt="Death Record Management App"
                  title="Notifynow"
                />
              </picture>
            </figure>
            <h3>Death Record Management App - Notifynow</h3>
            <p>
              Notifynow is one of our long-term projects, live in the market. Partnered with Philps & Cohens Associates.</p>
            <div class="d-flex justify-content-between">
              <h4>
                <span><span class="dots"></span> Notifynow</span> PCA / Web App
              </h4>
              <a [routerLink]="['/death-record-management-case-study-notifynow']" class="btn btn-primary d-flex align-items-center mb-0"
                >Learn More
                <picture>
                  <source
                    type="image/webp"
                    srcset="assets/images/home-new/icon-arrow-up.webp"
                  />
                  <source
                    type="image/png"
                    srcset="assets/images/home-new/icon-arrow-up.png"
                  />
                  <img
                  loading="lazy"
                  data-src="assets/images/home-new/icon-arrow-up.svg"
                    alt="arrow-icon"
                    title="arrow-icon"
                    width="21"
                    height="21"
                    class="img-fluid"
                  />
                </picture>
              </a>
            </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="casestudy-card">
            <figure>
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/case-studies/casestudy-decedent-check.webp"
                />
                <source
                  type="image/jpg"
                  srcset="assets/images/case-studies/casestudy-decedent-check.jpg"
                />
                <img
                loading="lazy"
                data-src="assets/images/case-studies/casestudy-decedent-check.jpg"
                  width="728"
                  height="435"
                  class="img-fluid"
                  alt="DC / PCA / Web App"
                  title="DC / PCA / Web App"
                />
              </picture>
            </figure>
            <h3>A Complete Death Records - Decedent Check</h3>
            <p>
              It isn't easy to derive any other data, Death records are usually highly secured within the governments' infrastructures.
            </p>
            <div class="d-flex justify-content-between">
              <h4>
                <span><span class="dots"></span> DCA</span> DC / PCA / Web App
              </h4>
              <a [routerLink]="['/decedent-check-case-study-adc']" class="btn btn-primary d-flex align-items-center mb-0"
                >Learn More
                <picture>
                  <source
                    type="image/webp"
                    srcset="assets/images/home-new/icon-arrow-up.webp"
                  />
                  <source
                    type="image/png"
                    srcset="assets/images/home-new/icon-arrow-up.png"
                  />
                  <img
                  loading="lazy"
                  data-src="assets/images/home-new/icon-arrow-up.svg"
                    alt="arrow-icon"
                    title="arrow-icon"
                    width="21"
                    height="21"
                    class="img-fluid"
                  />
                </picture>
              </a>
            </div>
        </div>
      </ng-template>
      <!-- <ng-template carouselSlide>
        <div class="casestudy-card">
            <figure>
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/case-studies/casestudy-firstblastit.webp"
                />
                <source
                  type="image/jpg"
                  srcset="assets/images/case-studies/casestudy-firstblastit.jpg"
                />
                <img
                loading="lazy"
                  data-src="assets/images/case-studies/casestudy-firstblastit.jpg"
                width="728"
                height="435"
                class="img-fluid"
                alt="FirstBlastIt"
                title="FirstBlastIt"
                />
              </picture>
            </figure>
            <h3>Professional Podcasting</h3>
            <p>
              Professional Podcasting, Everything Contemporary On Tech, events.
              Opens up a world of parking with thousands of spaces near
              businesses, events Opens up a world of parking with thousands.
            </p>
            <div class="d-flex justify-content-between">
              <h4>
                <span><span class="dots"></span> FirstBlastIt</span> First
                Solutions / Mobile Apps
              </h4>
              <a [routerLink]="['/firstblastit-case-study']" class="btn btn-primary d-flex align-items-center mb-0"
                >Learn More
                <picture>
                  <source
                    type="image/webp"
                    srcset="assets/images/home-new/icon-arrow-up.webp"
                  />
                  <source
                    type="image/png"
                    srcset="assets/images/home-new/icon-arrow-up.png"
                  />
                  <img
                  loading="lazy"
                  data-src="assets/images/home-new/icon-arrow-up.svg"
                    alt="arrow-icon"
                    title="arrow-icon"
                    width="21"
                    height="21"
                    class="img-fluid"
                  />
                </picture>
              </a>
            </div>
        </div>
      </ng-template> -->

      <!-- <ng-template carouselSlide>
        <div class="casestudy-card">
            <figure>
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/case-studies/casestudy-firsttrackit.webp"
                />
                <source
                  type="image/jpg"
                  srcset="assets/images/case-studies/casestudy-firsttrackit.jpg"
                />
                <img
                  loading="lazy"
                  data-src="assets/images/case-studies/casestudy-firsttrackit.jpg"
                  width="728"
                  height="435"
                  class="img-fluid"
                  alt="First Track It"
                  title="First Track It"
                />
              </picture>
            </figure>
            <h3>First Track It</h3>
            <p>
              First Track It - An Instant Passage Connecting the Production Operations With The Users
            </p>
            <div class="d-flex justify-content-between">
              <h4>
                <span><span class="dots"></span> First Track It</span> First
                Solutions / Web
              </h4>
              <a [routerLink]="['/firsttrackit-case-study']" class="btn btn-primary d-flex align-items-center mb-0"
                >Learn More
                <picture>
                  <source
                    type="image/webp"
                    srcset="assets/images/home-new/icon-arrow-up.webp"
                  />
                  <source
                    type="image/png"
                    srcset="assets/images/home-new/icon-arrow-up.png"
                  />
                  <img
                    loading="lazy"
                    data-src="assets/images/home-new/icon-arrow-up.svg"
                    alt="arrow-icon"
                    title="arrow-icon"
                    width="21"
                    height="21"
                    class="img-fluid"
                  />
                </picture>
              </a>
            </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="casestudy-card">
            <figure>
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/case-studies/casestudy-fabvenues.webp"
                />
                <source
                  type="image/jpg"
                  srcset="assets/images/case-studies/casestudy-fabvenues.jpg"
                />
                <img
                  loading="lazy"
                  data-src="assets/images/case-studies/casestudy-fabvenues.jpg"
                  width="728"
                  height="435"
                  class="img-fluid"
                  alt="Fabvenues"
                  title="Fabvenues"
                />
              </picture>
            </figure>
            <h3>Fabvenues</h3>
            <p>
              Fabvenues is an online venue rental marketplace and platform for booking portals for venues.</p>
            <div class="d-flex justify-content-between">
              <h4>
                <span><span class="dots"></span> Fabvenues</span> Rental booking / Web
              </h4>
              <a  [routerLink]="['/fabvenues-case-study']" class="btn btn-primary d-flex align-items-center mb-0"
                >Learn More
                <picture>
                  <source
                    type="image/webp"
                    srcset="assets/images/home-new/icon-arrow-up.webp"
                  />
                  <source
                    type="image/png"
                    srcset="assets/images/home-new/icon-arrow-up.png"
                  />
                  <img
                    loading="lazy"
                    data-src="assets/images/home-new/icon-arrow-up.svg"
                    alt="arrow-icon"
                    title="arrow-icon"
                    width="21"
                    height="21"
                    class="img-fluid"
                  />
                </picture>
              </a>
            </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="casestudy-card">
            <figure>
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/case-studies/casestudy-deeplens.webp"
                />
                <source
                  type="image/jpg"
                  srcset="assets/images/case-studies/casestudy-deeplens.jpg"
                />
                <img
                  loading="lazy"
                  data-src="assets/images/case-studies/casestudy-deeplens.jpg"
                  width="728"
                  height="435"
                  class="img-fluid"
                  alt="Deep Lens"
                  title="Deep Lens"
                />
              </picture>
            </figure>
            <h3>Deep Lens</h3>
            <p>
              DeepLens - From The Eye Of Creators, A unified social platform for Pathologists Healthcare Mobile App Case Study</p>
            <div class="d-flex justify-content-between">
              <h4>
                <span><span class="dots"></span> Deep Lens</span> Deep Lens / Mobile Apps
              </h4>
              <a [routerLink]="['/deeplens-case-study']" class="btn btn-primary d-flex align-items-center mb-0"
                >Learn More
                <picture>
                  <source
                    type="image/webp"
                    srcset="assets/images/home-new/icon-arrow-up.webp"
                  />
                  <source
                    type="image/png"
                    srcset="assets/images/home-new/icon-arrow-up.png"
                  />
                  <img
                    loading="lazy"
                    data-src="assets/images/home-new/icon-arrow-up.svg"
                    alt="arrow-icon"
                    title="arrow-icon"
                    width="21"
                    height="21"
                    class="img-fluid"
                  />
                </picture>
              </a>
            </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="casestudy-card">
            <figure>
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/case-studies/casestudy-layeronex.webp"
                />
                <source
                  type="image/jpg"
                  srcset="assets/images/case-studies/casestudy-layeronex.jpg"
                />
                <img
                  loading="lazy"
                  data-src="assets/images/case-studies/casestudy-layeronex.jpg"
                  width="728"
                  height="435"
                  class="img-fluid"
                  alt="LayerOneX"
                  title="LayerOneX"
                />
              </picture>
            </figure>
            <h3>LayerOneX</h3>
            <p>
              Connect with absolute like-minded techy's where every individual gets to seek, explore, participate, and take up their single-handed projects all in one space.</p>
            <div class="d-flex justify-content-between">
              <h4>
                <span><span class="dots"></span> LayerOneX</span> Professional Social Handle / Web
              </h4>
              <a  [routerLink]="['/layeronex-case-study']" class="btn btn-primary d-flex align-items-center mb-0"
                >Learn More
                <picture>
                  <source
                    type="image/webp"
                    srcset="assets/images/home-new/icon-arrow-up.webp"
                  />
                  <source
                    type="image/png"
                    srcset="assets/images/home-new/icon-arrow-up.png"
                  />
                  <img
                    loading="lazy"
                    data-src="assets/images/home-new/icon-arrow-up.svg"
                    alt="arrow-icon"
                    title="arrow-icon"
                    width="21"
                    height="21"
                    class="img-fluid"
                  />
                </picture>
              </a>
            </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="casestudy-card">
            <figure>
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/case-studies/casestudy-farmsent.webp"
                />
                <source
                  type="image/jpg"
                  srcset="assets/images/case-studies/casestudy-farmsent.jpg"
                />
                <img
                  loading="lazy"
                  data-src="assets/images/case-studies/casestudy-farmsent.jpg"
                  width="728"
                  height="435"
                  class="img-fluid"
                  alt="Farmsent"
                  title="Farmsent"
                />
              </picture>
            </figure>
            <h3>Farmsent</h3>
            <p>
              A blockchain platform for farmers Producers where they can directly supply goods to the consumers</p>
            <div class="d-flex justify-content-between">
              <h4>
                <span><span class="dots"></span> Farmsent</span> Food & Beverages
                / Web Apps
              </h4>
              <a [routerLink]="['/farmsent-case-study']" class="btn btn-primary d-flex align-items-center mb-0"
                >Learn More
                <picture>
                  <source
                    type="image/webp"
                    srcset="assets/images/home-new/icon-arrow-up.webp"
                  />
                  <source
                    type="image/png"
                    srcset="assets/images/home-new/icon-arrow-up.png"
                  />
                  <img
                    loading="lazy"
                    data-src="assets/images/home-new/icon-arrow-up.svg"
                    alt="arrow-icon"
                    title="arrow-icon"
                    width="21"
                    height="21"
                    class="img-fluid"
                  />
                </picture>
              </a>
            </div>
        </div>
      </ng-template> -->
    </owl-carousel-o>
  </div>
</section>
