<section class="subbanner delivery-banner-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-lg-9 mb-4">
        <div class="title-wrap">
          <h4><span class="dots"></span>Delivery Dispatch Solution</h4>
          <h2>
            <span>Transgenie - A Modular </span> solution for businesses looking
            to future-proof their Business operations
            <span class="dots"></span>
          </h2>

          <div class="spark-cta mr-3 mb-3">
            <a class="about-us btn-style-one">
              <span class="text"
                >Watch Demo
                <span class="arrow"
                  ><i><span>→</span></i>
                  <svg
                    class="arrow-icon"
                    xmlns="http://www.w3.org/2000/svg"
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                  >
                    <g
                      fill="none"
                      stroke="#fff"
                      stroke-width="2"
                      stroke-linejoin="round"
                      stroke-miterlimit="10"
                    >
                      <circle
                        class="arrow-icon--circle"
                        cx="16"
                        cy="16"
                        r="15.12"
                      ></circle>
                    </g>
                  </svg>
                </span>
              </span>
            </a>
          </div>

          <div class="spark-cta mb-3">
            <a [routerLink]="['/contact-us']" class="about-us btn-style-one">
              <span class="text"
                >Product Documentation
                <span class="arrow"
                  ><i><span>→</span></i>
                  <svg
                    class="arrow-icon"
                    xmlns="http://www.w3.org/2000/svg"
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                  >
                    <g
                      fill="none"
                      stroke="#fff"
                      stroke-width="2"
                      stroke-linejoin="round"
                      stroke-miterlimit="10"
                    >
                      <circle
                        class="arrow-icon--circle"
                        cx="16"
                        cy="16"
                        r="15.12"
                      ></circle>
                    </g>
                  </svg>
                </span>
              </span>
            </a>
          </div>
        </div>
      </div>
      <div
        class="col-md-3 col-lg-3 d-flex justify-content-center align-items-center"
      >
        <div class="subbanner-img1">
          <!-- Button trigger modal -->

          <!-- Modal -->
          <div
            class="modal fade"
            id="exampleModal"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <iframe
                    width="100%"
                    height="420"
                    src="https://www.youtube.com/embed/Ne8QCaAJ4jc?autoplay=1"
                    title="YouTube video player"
                    frameborder="0"
                    allowfullscreen
                  ></iframe>
                </div>
              </div>
            </div>
          </div>

          <a
            href="#"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            class="popup-video"
          >
            <span class="play-link">
              <svg
                id="icon"
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                viewBox="0 0 32 32"
                aria-hidden="false"
                aria-label="Play this video"
                data-di-res-id="437c6aae-dc6cb26"
                data-di-rand="1685350400439"
              >
                <path
                  d="M7,28a1,1,0,0,1-1-1V5a1,1,0,0,1,1.4819-.8763l20,11a1,1,0,0,1,0,1.7525l-20,11A1.0005,1.0005,0,0,1,7,28ZM8,6.6909V25.3088L24.9248,16Z"
                  transform="translate(0)"
                ></path>
                <rect width="32" height="32" style="fill: none"></rect>
              </svg>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="benefits common-section">
  <div class="container">
    <div class="title-wrap text-center">
      <h4><span class="dots"></span>Delivery Dispatch Solution</h4>
      <h2>
        <span>Overview </span> of the product
        <span class="dots"></span>
      </h2>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-6">
        <div class="title-wrap">
          <h2>Overview about TransGenie</h2>
          <!-- <h4>Why choose TransGenie for your Delivery & Dispatch operations?</h4> -->
          <p>
            Transgenie is a technological solution designed to revolutionize
            businesses' operations and streamline the entire order lifecycle,
            from creation to delivery, providing businesses with unparalleled
            control and efficiency. Transgenie takes a modular approach,
            incorporating cutting-edge technologies like AI, Blockchain,
            Automation, and more to create a versatile and customizable order
            management solution for your business.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <picture>
          <source
            type="image/webp"
            srcset="assets/images/transgenie/overview-of-the-product.webp"
          />
          <source
            type="image/png"
            srcset="assets/images/transgenie/overview-of-the-product.png"
          />
          <img
            loading="lazy"
            data-src="assets/images/transgenie/overview-of-the-product.png"
            alt="Overview about TransGenie"
            title="Overview about TransGenie"
            width="744"
            height="639"
            class="img-fluid"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
<section class="ourservices common-section">
  <div class="container">
    <div class="row mb-4">
      <div class="col-lg-10 mx-auto">
        <div class="title-wrap text-center">
          <h4><span class="dots"></span>Delivery Dispatch Solution</h4>
          <h2>
            <span>Why choose Transgenie </span> for Delivery Dispatch
            <span class="dots"></span>
          </h2>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="drone-icon-wrap">
          <picture>
            <source
              type="image/webp"
              srcset="assets/images/transgenie/icon-quick-deployment-time.webp"
            />
            <source
              type="image/png"
              srcset="assets/images/transgenie/icon-quick-deployment-time.png"
            />
            <img
              loading="lazy"
              data-src="assets/images/transgenie/icon-quick-deployment-time.png"
              alt="Quick Deployment time"
              title="Quick Deployment time"
              width="60"
              height="60"
              class="img-fluid"
            />
          </picture>
          <h4>Quick Deployment time</h4>
          <p>
            We ensure faster response and delivery of goods, leading to improve
            customer satisfaction and loyalty.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="drone-icon-wrap">
          <picture>
            <source
              type="image/webp"
              srcset="
                assets/images/transgenie/icon-increase-profit-high-roi.webp
              "
            />
            <source
              type="image/png"
              srcset="
                assets/images/transgenie/icon-increase-profit-high-roi.png
              "
            />
            <img
              loading="lazy"
              data-src="assets/images/transgenie/icon-increase-profit-high-roi.png"
              alt="Increase profit high ROI"
              title="Increase profit high ROI"
              width="60"
              height="60"
              class="img-fluid"
            />
          </picture>
          <h4>Increase profit high ROI</h4>
          <p>
            We focus on efficiency, automation, resource optimization, and
            continuous improvement leading to increase profit margins and a high
            ROI
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="drone-icon-wrap">
          <picture>
            <source
              type="image/webp"
              srcset="assets/images/transgenie/icon-powerful-technology.webp"
            />
            <source
              type="image/png"
              srcset="assets/images/transgenie/icon-powerful-technology.png"
            />
            <img
              loading="lazy"
              data-src="assets/images/transgenie/icon-powerful-technology.png"
              alt="Powerful Technology"
              title="Powerful Technology"
              width="60"
              height="60"
              class="img-fluid"
            />
          </picture>
          <h4>Powerful Technology</h4>
          <p>
            With real-time tracking, automated routing, and data analytics
            capabilities, we provide businesses with greater visibility &
            control over their logistics operations.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="solutions bg-dark-blue common-section">
  <div class="container">
    <div class="row mb-4">
      <div class="col-lg-10 mx-auto text-white">
        <div class="title-wrap text-center">
          <h4><span class="dots"></span>Delivery Dispatch Solution</h4>
          <h2>
            <span>Blockchain in supply </span> chain infographic
            <span class="dots"></span>
          </h2>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-12 col-md-12 col-sm-12 mb-4">
        <div>
          <picture>
            <source
              type="image/webp"
              srcset="
                assets/images/transgenie/blockchain-in-supplychain-infographic.webp
              "
            />
            <source
              type="image/jpg"
              srcset="
                assets/images/transgenie/blockchain-in-supplychain-infographic.jpg
              "
            />
            <img
              loading="lazy"
              data-src="assets/images/transgenie/blockchain-in-supplychain-infographic.jpg"
              alt="Blockchain in supply chain infographic"
              title="Blockchain in supply chain infographic"
              width="100"
              height="100"
              class="img-fluid w-100"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="what-we-do wwd-sticky">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="sticky">
          <div class="title-wrap">
            <h4><span class="dots"></span>What we do</h4>
            <h2>
              <span>Solution under </span> Transgenie
              <span class="dots"></span>
            </h2>
            <p class="pb-4">
              TransGenie is a technology solution that we've developed to help
              businesses manage their supply chain, fleet, and field operations.
              Our approach has been to make TransGenie a modular technology with
              multiple avenues such as AI, Blockchain, Automation, etc., to
              deliver a customized product that makes your business
              frictionless.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="techstack">
          <h2>Supplier Relationship Management(SRM)</h2>
          <p>
            Our SRM software accurately tracks orders and helps your business
            streamline supplier selection, onboarding, performance tracking,
            validation, and document management.
          </p>
        </div>
        <hr class="mb-5" />
        <div class="techstack">
          <h2>Blockchain-Based Supply Chain Tracking</h2>
          <p>
            We leverage blockchain technology to provide transparent, secure &
            traceable supply chain tracking. It lets businesses track & verify
            the movement of goods, ensuring authenticity, reducing the risk of
            counterfeit products, and so on.
          </p>
        </div>
        <hr class="mb-5" />
        <div class="techstack">
          <h2>Internet of Things(IOT)</h2>
          <p>
            Our blockchain-powered IoT network enables secure, frictionless
            communication between sensors, distributed ledgers, and databases to
            optimize supply chain visibility and quality assurance.
          </p>
        </div>
        <hr class="mb-5" />
        <div class="techstack">
          <h2>Industry Process Management</h2>
          <p>
            Our IPM solution optimizes & automates various processes within the
            supply chain. It contains features like workflow management,
            document management, task automation, improving efficiency &
            enhancing overall productivity.
          </p>
        </div>
        <hr class="mb-5" />
        <div class="techstack">
          <h2>Order Management</h2>
          <p>
            Our order management solution provides end-to-end visibility &
            control over the order fulfillment process with features like order
            capture, inventory management, order tracking, customer
            communication, and ensuring timely orders.
          </p>
        </div>
        <hr class="mb-5" />
        <div class="techstack">
          <h2>Lean Management</h2>
          <p>
            Not just the software we build, but our entire team will support
            your project continuously throughout the process and beyond, like
            lean management.
          </p>
        </div>
        <hr class="mb-5" />
        <div class="techstack">
          <h2>Fleet Management</h2>
          <p>
            We enable businesses to efficiently manage their fleets of vehicles
            in logistics & transportation. It includes features like route
            optimization, vehicle tracking, fuel management, driver performance
            monitoring, & so on.
          </p>
        </div>
        <hr class="mb-5" />
        <div class="techstack">
          <h2>AR-Powered Warehouse Automation</h2>
          <p>
            We leverage AR technology to enhance warehouse operations with
            features like AR-guided picking, inventory management, warehouse
            layout optimization & improving accuracy, speed & efficiency in
            warehouse processes.
          </p>
        </div>
        <hr class="mb-5" />
        <div class="techstack">
          <h2>Delivery Dispatch</h2>
          <p>
            Our delivery dispatch solution revolutionizes the coordination and
            management of delivery operations by providing features like
            seamless scheduling, real-time tracking, route optimization, proof
            of delivery & timely deliveries while enhancing customer
            satisfaction.
          </p>
        </div>
      </div>
    </div>
    <!--end-->
  </div>
</section>

<section class="ourservices common-section">
  <div class="container">
    <div class="row mb-4">
      <div class="col-lg-10 mx-auto text-center">
        <div class="title-wrap">
          <h4><span class="dots"></span>Delivery Dispatch Solution</h4>
          <h2>
            <span>Features </span> of Transgenie
            <span class="dots"></span>
          </h2>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-6 col-sm-12 mb-4">
        <div class="drone-icon-wrap">
          <picture>
            <source
              type="image/webp"
              srcset="
                assets/images/transgenie/icon-transparency-and-traceability.webp
              "
            />
            <source
              type="image/png"
              srcset="
                assets/images/transgenie/icon-transparency-and-traceability.png
              "
            />
            <img
              loading="lazy"
              data-src="assets/images/transgenie/icon-transparency-and-traceability.png"
              alt="Transparency and Traceability"
              title="Transparency and Traceability"
              width="60"
              height="60"
              class="img-fluid"
            />
          </picture>
          <h4>Transparency and Traceability</h4>
          <p>
            Blockchain integration provides high transparency and traceability.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 mb-4">
        <div class="drone-icon-wrap">
          <picture>
            <source
              type="image/webp"
              srcset="
                assets/images/transgenie/icon-enhance-efficiency-and-productivity.webp
              "
            />
            <source
              type="image/png"
              srcset="
                assets/images/transgenie/icon-enhance-efficiency-and-productivity.png
              "
            />
            <img
              loading="lazy"
              data-src="assets/images/transgenie/icon-enhance-efficiency-and-productivity.png"
              alt="Enhance Efficiency and Productivity"
              title="Enhance Efficiency and Productivity"
              width="60"
              height="60"
              class="img-fluid"
            />
          </picture>
          <h4>Enhance Efficiency and Productivity</h4>
          <p>
            Up-to-date, proper tracking leads to higher efficiency and
            productivity.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 mb-4">
        <div class="drone-icon-wrap">
          <picture>
            <source
              type="image/webp"
              srcset="
                assets/images/transgenie/icon-sustainability-and-environmental-management.webp
              "
            />
            <source
              type="image/png"
              srcset="
                assets/images/transgenie/icon-sustainability-and-environmental-management.png
              "
            />
            <img
              loading="lazy"
              data-src="assets/images/transgenie/icon-sustainability-and-environmental-management.png"
              alt="Sustainability and Environmental management"
              title="Sustainability and Environmental management"
              width="60"
              height="60"
              class="img-fluid"
            />
          </picture>
          <h4>Sustainability and Environmental management</h4>
          <p>
            A cascade of sustainable practices that flow smoothly throughout the
            supply chain.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 mb-4">
        <div class="drone-icon-wrap">
          <picture>
            <source
              type="image/webp"
              srcset="
                assets/images/transgenie/icon-predictive-maintenance-and-asset-management.webp
              "
            />
            <source
              type="image/png"
              srcset="
                assets/images/transgenie/icon-predictive-maintenance-and-asset-management.png
              "
            />
            <img
              loading="lazy"
              data-src="assets/images/transgenie/icon-predictive-maintenance-and-asset-management.png"
              alt="Task notification"
              title="Task notification"
              width="60"
              height="60"
              class="img-fluid"
            />
          </picture>
          <h4>Predictive maintenance and asset management</h4>
          <p>
            AI integration improves predictive modeling and asset management.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="technolgies common-section">
  <div class="container">
    <div class="row mb-4">
      <div class="col-lg-9 mx-auto text-center">
        <div class="title-wrap">
          <h4><span class="dots"></span>Benefits of Transgenie</h4>
          <h2>
            <span>A Delivery & Dispatch </span> solution for modern businesses
            <span class="dots"></span>
          </h2>
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-lg-4 col-md-6 mb-30">
        <div class="what-wedo-applist">
          <picture>
            <source
              type="image/webp"
              srcset="
                assets/images/transgenie/icon-enhance-customer-experience.webp
              "
            />
            <source
              type="image/png"
              srcset="
                assets/images/transgenie/icon-enhance-customer-experience.png
              "
            />
            <img
              loading="lazy"
              data-src="assets/images/transgenie/icon-enhance-customer-experience.png"
              alt="Enhance customer Experience"
              title="Enhance customer Experience"
              width="60"
              height="60"
              class="img-fluid"
            />
          </picture>
          <h3>Enhance customer Experience</h3>
          <p>
            Keep your commitments to customers by executing perfect order
            fulfillment across all channels.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-30">
        <div class="what-wedo-applist">
          <picture>
            <source
              type="image/webp"
              srcset="
                assets/images/transgenie/icon-maximize-inventory-productivity.webp
              "
            />
            <source
              type="image/png"
              srcset="
                assets/images/transgenie/icon-maximize-inventory-productivity.png
              "
            />
            <img
              loading="lazy"
              data-src="assets/images/transgenie/icon-maximize-inventory-productivity.png"
              alt="Maximize inventory productivity"
              title="Maximize inventory productivity"
              width="60"
              height="60"
              class="img-fluid"
            />
          </picture>
          <h3>Maximize inventory productivity</h3>
          <p>
            Intelligent supply chain tracking solution for faster decision
            making.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-30">
        <div class="what-wedo-applist">
          <picture>
            <source
              type="image/webp"
              srcset="
                assets/images/transgenie/icon-regardless-channel-access.webp
              "
            />
            <source
              type="image/png"
              srcset="
                assets/images/transgenie/icon-regardless-channel-access.png
              "
            />
            <img
              loading="lazy"
              data-src="assets/images/transgenie/icon-regardless-channel-access.png"
              alt="Regardless channel access"
              title="Regardless channel access"
              width="60"
              height="60"
              class="img-fluid"
            />
          </picture>
          <h3>Regardless channel access</h3>
          <p>
            Engage with customers through multiple channels like online
            platforms, and mobile applications which provide flexibility for
            interactions.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-30">
        <div class="what-wedo-applist">
          <picture>
            <source
              type="image/webp"
              srcset="assets/images/transgenie/icon-automated-on-inventory.webp"
            />
            <source
              type="image/png"
              srcset="assets/images/transgenie/icon-automated-on-inventory.png"
            />
            <img
              loading="lazy"
              data-src="assets/images/transgenie/icon-automated-on-inventory.png"
              alt="More into Automated on inventory"
              title="More into Automated on inventory"
              width="60"
              height="60"
              class="img-fluid"
            />
          </picture>
          <h3>More into Automated on inventory</h3>
          <p>
            We make it possible for companies to optimize stock levels while
            reducing manual errors in their inventory processes. By saving time
            and money through automation, businesses are able to increase
            productivity.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-30">
        <div class="what-wedo-applist">
          <picture>
            <source
              type="image/webp"
              srcset="assets/images/transgenie/icon-ai-powered-insights.webp"
            />
            <source
              type="image/png"
              srcset="assets/images/transgenie/icon-ai-powered-insights.png"
            />
            <img
              loading="lazy"
              data-src="assets/images/transgenie/icon-ai-powered-insights.png"
              alt="AI powered Insights"
              title="AI powered Insights"
              width="60"
              height="60"
              class="img-fluid"
            />
          </picture>
          <h3>AI powered Insights</h3>
          <p>
            With AI, we offer valuable insights into customer behavior,
            purchasing patterns, and trends that help businesses make & optimize
            their overall strategy for better results.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-30">
        <div class="what-wedo-applist">
          <picture>
            <source
              type="image/webp"
              srcset="assets/images/transgenie/icon-simplified-technology.webp"
            />
            <source
              type="image/png"
              srcset="assets/images/transgenie/icon-simplified-technology.png"
            />
            <img
              loading="lazy"
              data-src="assets/images/transgenie/icon-simplified-technology.png"
              alt="Simplified Technology"
              title="Simplified Technology"
              width="60"
              height="60"
              class="img-fluid"
            />
          </picture>
          <h3>Simplified Technology</h3>
          <p>
            We provide a user-friendly interface and intuitive tools, making it
            easier for businesses to adopt and ensuring a smooth implementation
            process.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="partners-section calltoaction-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12">
        <div class="title-wrap text-center">
          <h4><span class="dots"></span> Contact Us</h4>
          <h2>
            <span>Let's Discuss </span> Your Project
            <span class="dots"></span>
          </h2>
          <p>
            Get free consultation and let us know your project idea <br />
            to turn it into an amazing digital product.
          </p>
        </div>
      </div>
      <div class="col-lg-12 bottom-contact text-center">
        <div class="spark-cta">
          <a [routerLink]="['/contact-us']" class="about-us btn-style-one">
            <span class="text">
              Let's Discuss
              <span class="arrow">
                <i>
                  <span>→</span>
                </i>
                <svg
                  class="arrow-icon"
                  xmlns="http://www.w3.org/2000/svg"
                  width="32"
                  height="32"
                  viewBox="0 0 32 32"
                >
                  <g
                    fill="none"
                    stroke="#fff"
                    stroke-width="2"
                    stroke-linejoin="round"
                    stroke-miterlimit="10"
                  >
                    <circle
                      class="arrow-icon--circle"
                      cx="16"
                      cy="16"
                      r="15.12"
                    ></circle>
                  </g>
                </svg>
              </span>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <app-let-discuss-transgenie></app-let-discuss-transgenie> -->
<app-blog-scroll></app-blog-scroll>
<app-contact></app-contact>
