<section class="subbanner subbanner-home">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="title-wrap">
          <span class="top-pattern"></span>
          <h4>UX/UI Design</h4>
          <h1>We design captivating experiences for Humans</h1>
          <p>
            Create beautiful user experiences for your customers. Get access to
            industry-leading UX experts to launch your next product.
          </p>
          <span class="btm-pattern"></span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="subbanner-img">
          <img
            src="assets/images/uiuxdesign/uiux-banner.png"
            class="img-fluid"
            alt="uiux-banner"
          />
        </div>
      </div>
    </div>
  </div>
</section>
<section class="pt-100 pb-80 successful-apps bg-blue-light">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="title-wrap text-center">
          <h4>Services we offer</h4>
          <h2>We are all about creating intuitive experiences for users</h2>
        </div>
      </div>
    </div>
    <div class="mobileapps-left pb-5">
      <img
        src="assets/images/uiuxdesign/design-services.png"
        class="img-fluid rounded-2rem"
        alt="Services we offer"
      />
    </div>
    <div class="row justify-content-center three-col-process">
      <div class="col-md-4 col-sm-6">
        <div class="process-list">
          <h2 class="heading4">
            Mobile design <span class="process-num">01</span>
          </h2>
          <p>
            Design captivating user interfaces for all kinds of mobile platforms
            such as iOS, and Android.
          </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="process-list">
          <h2 class="heading4 rht-top">
            Web design <span class="process-num">02</span>
          </h2>
          <p>
            Build robust web applications with great user interfaces with our
            UI/UX services.
          </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="process-list">
          <h2 class="heading4">
            Product design <span class="process-num">03</span>
          </h2>
          <p>
            Design software products that solve real-world problems for your
            users, easily.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="business-growth pt-100">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-6">
        <div class="title-wrap">
          <h4>Design Approach</h4>
          <h2>Give users experiences, not apps</h2>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="drone-text-wrap">
          <p>
            Creating a user interface should be exactly what it sounds like, for
            users. We take your ideas and turn them into interactive interfaces
            that give great user experiences. Give them exactly what they need,
            where and when they need them, and hassle-free.
          </p>
        </div>
      </div>
    </div>
    <div class="title-wrap pb-5">
      <h3>UX Design Process</h3>
      <img
        src="assets/images/uiuxdesign/ux-design-process.jpg"
        alt="UX Design Process"
        class="w-full"
      />
    </div>
    <div class="title-wrap">
      <h3>UI Design Process</h3>
      <img
        src="assets/images/uiuxdesign/ui-design-process.jpg"
        alt="UI Design Process"
        class="w-full"
      />
    </div>
  </div>
</section>
<section class="what-we-do wwd-sticky web-wwd">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="sticky">
          <div class="title-wrap">
            <h4>What we do</h4>
            <h2 class="mb-3">Customer-centric Designs & Standards</h2>
          </div>
          <div class="row mb-4 justify-content-center text-center">
            <div class="col-lg-6 col-6">
              <div class="what-we-do-app">
                <img
                  src="assets/images/uiuxdesign/Market-Analysis.svg"
                  alt="Market Analysis"
                />
                <h3>Market Analysis</h3>
              </div>
            </div>
            <div class="col-lg-6 col-6">
              <div class="what-we-do-app">
                <img
                  src="assets/images/uiuxdesign/Mindmap-Conceptualisation.svg"
                  alt="Mindmap & Conceptualisation"
                />
                <h3>Mindmap Conceptualization</h3>
              </div>
            </div>
            <div class="col-lg-6 col-6">
              <div class="what-we-do-app">
                <img
                  src="assets/images/uiuxdesign/wireframe.svg"
                  alt="User Journeys & Wireframe"
                />
                <h3>User Journey & Wireframing</h3>
              </div>
            </div>
            <div class="col-lg-6 col-6">
              <div class="what-we-do-app">
                <img
                  src="assets/images/uiuxdesign/Digital-Experience.svg"
                  alt="Digital Experience"
                />
                <h3>Digital Experience</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="techstack">
          <h2 class="mb-4">Research</h2>
          <p>
            You have to put in a considerable amount of research to build an
            interface that users can love and want to use. This is crucial to
            give an immersive experience to your users. Our UI/UX services
            include an end to end user & market research.
          </p>
        </div>
        <hr class="mb-5" />
        <div class="techstack">
          <h2 class="mb-4">Wireframing</h2>
          <p>
            This is where your app first comes to life where we add basic design
            elements and text to try designs out. We then shortlist these
            wireframes and create low-fidelity and high-fidelity prototypes,
            before sending them off to the developers.
          </p>
        </div>
        <hr class="mb-5" />
        <div class="techstack">
          <h2 class="mb-4">Visual Style</h2>
          <p>
            Here, your app gets its character and user-captivating design
            elements. The major focus here is to make the user interface
            attractive while making it as simple as possible for the users.
            Great user interfaces are always user-friendly.
          </p>
        </div>
        <hr class="mb-5" />
        <div class="techstack">
          <h2 class="mb-4">Design & Delivery</h2>
          <p>
            Once we lay all this groundwork, then it’s off to the fun part, the
            actual design of the user interface. Here, you'll see your app come
            to life as a high-fidelity prototype. Clients can easily test out
            the UI inside Adobe XD or Figma.
          </p>
        </div>
      </div>
    </div>
    <!--end-->
  </div>
</section>
<section class="what-we-work">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-10 col-md-10 mx-auto">
        <div class="title-wrap text-center">
          <h4>We work globally</h4>
          <h2>What makes us stand out?</h2>
          <p>
            Our work is spread across the world in the hands of users. You can
            find our work on multiple platforms.
          </p>
        </div>
      </div>
    </div>
    <div class="inst-fact pb-100">
      <div class="row mb-5">
        <div class="col-md-4">
          <div class="tabs">
            <p>More work on</p>
            <h2 class="primarycolor">Behance</h2>
            <h2>Instagram</h2>
            <h2 class="pb-100">Lottie</h2>
            <p>Clients</p>
            <h1>240+</h1>
            <p>Projects</p>
            <h1>3500+</h1>
          </div>
        </div>
        <div class="col-md-8">
          <div class="tab-content">
            <figure>
              <img
                src="assets/images/uiuxdesign/Instagram-lottie.png"
                alt="Behance"
              />
            </figure>
          </div>
        </div>
      </div>
    </div>
    <div class="business-growth">
      <div class="row mb-60">
        <div class="col-lg-6">
          <div class="title-wrap">
            <h4>Rapid Growth</h4>
            <h2>Create UX Designs that work for your users</h2>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="drone-text-wrap">
            <p>
              User experience design is about creating a UI or an experience for
              your users that encourage them to stay on your platform and keep
              coming back. Creating a simple yet intuitive UI is going to
              directly reflect on your revenue figures.
            </p>
          </div>
        </div>
      </div>
      <div class="row mt-4 justify-content-center">
        <div class="col-lg-4 col-md-6 mb-5">
          <div class="what-we-do-app">
            <img
              src="assets/images/uiuxdesign/User-focused-design.svg"
              alt="User focused design"
            />
            <h3>User-focused design</h3>
            <p>
              Create designs that users want to use and in turn, increase your
              user retention. User-focus design is the industry standard, tried
              and tested approach to UI/UX.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-5">
          <div class="what-we-do-app">
            <img
              src="assets/images/uiuxdesign/Clarity-simplicity.svg"
              alt="Clarity and simplicity"
            />
            <h3>Clarity and simplicity</h3>
            <p>
              We make designs that deal with complex things in the simplest of
              ways. Users have to be able to use your product without the hassle
              and without prior training.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-5">
          <div class="what-we-do-app">
            <img
              src="assets/images/uiuxdesign/Consistent-Design.svg"
              alt="Consistent Design"
            />
            <h3>Consistent design</h3>
            <p>
              Enforce trust with your customers by including a consistent and
              professional-looking UI inside your app. Our UI/UX services help
              you achieve exactly that.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-5">
          <div class="what-we-do-app">
            <img
              src="assets/images/uiuxdesign/Visual-hierarchy.svg"
              alt="Visual hierarchy"
            />
            <h3>Visual hierarchy</h3>
            <p>
              Since our designs are based on research, we apply design
              techniques to visually appeal to the audience, create a mentally
              retainable design, etc.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-5">
          <div class="what-we-do-app">
            <img src="assets/images/uiuxdesign/Feedback.svg" alt="Feedback" />
            <h3>Feedback</h3>
            <p>
              We get feedback from users during research and our clients so that
              the vision for the project is conveyed uniformly across your
              application.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-5">
          <div class="what-we-do-app">
            <img src="assets/images/uiuxdesign/Usability.svg" alt="Usability" />
            <h3>Usability</h3>
            <p>
              Build easy-to-use mobile, web, and desktop applications that help
              users find exactly what they need when they need it. Usability or
              Utility is key to success.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--end-->
<section class="technolgies pt-100 pb-80">
  <div class="container">
    <div class="row mb-4">
      <div class="col-lg-10 col-md-11 col-sm-12 mx-auto">
        <div class="common-text-wrap text-center">
          <h4>Tools</h4>
          <h2>Build user experiences that customers get used to</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-2 col-md-3 col-sm-4 col-4">
            <div class="tech-stack-details">
              <img
                src="assets/images/techstack/ui/Illustrator.svg"
                width="80"
                height="80"
                class="mb-3"
                alt="Illustrator"
              />
              <p>Illustrator</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4 col-4">
            <div class="tech-stack-details">
              <img
                src="assets/images/techstack/ui/photoshop.svg"
                width="80"
                height="80"
                class="mb-3"
                alt="Photoshop"
              />
              <p>Photoshop</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4 col-4">
            <div class="tech-stack-details">
              <img
                src="assets/images/techstack/ui/adobexds.svg"
                width="80"
                height="80"
                class="mb-3"
                alt="Adobe XD"
              />
              <p>Adobe XD</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4 col-4">
            <div class="tech-stack-details">
              <img
                src="assets/images/techstack/ui/after-effect.svg"
                width="80"
                height="80"
                class="mb-3"
                alt="After Effects"
              />
              <p>After Effects</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4 col-4">
            <div class="tech-stack-details">
              <img
                src="assets/images/techstack/ui/figma.svg"
                width="80"
                height="80"
                class="mb-3"
                alt="Figma"
              />
              <p>Figma</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4 col-4">
            <div class="tech-stack-details">
              <img
                src="assets/images/techstack/ui/sketch.svg"
                width="80"
                height="80"
                class="mb-3"
                alt="Sketch"
              />
              <p>Sketch</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4 col-4">
            <div class="tech-stack-details">
              <img
                src="assets/images/techstack/ui/invision.svg"
                width="80"
                height="80"
                class="mb-3"
                alt="Invision"
              />
              <p>Invision</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4 col-4">
            <div class="tech-stack-details">
              <img
                src="assets/images/techstack/ui/zeplin.svg"
                width="80"
                height="80"
                class="mb-3"
                alt="Zeplin"
              />
              <p>Zeplin</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-casestudy-scroll></app-casestudy-scroll>
<app-blog-scroll></app-blog-scroll>
<app-contact></app-contact>

<!--end-->
