<!-- <section class="drone">
    <div class="container">
        <div class="row mb-4">
            <div class="col-lg-12">
                <div class="about-wrap">
                    <h1>Food Delivery</h1>
                    <h2>Stimulate your business .</h2>
                </div>
            </div>
        </div>
    </div>
</section> -->
<section class="banners-section home-banner sub-banner">
    <div class="common">
      <picture>
        <source type="image/webp" srcset="assets/images/fooddelivery/food-delivery-banner.webp"/>
        <source type="image/jpg" srcset="assets/images/fooddelivery/food-delivery-banner.jpg" />
        <img loading="lazy" data-src="assets/images/fooddelivery/food-delivery-banner.jpg" alt="Food Delivery"
          title="Food Delivery" width="100" height="100"  class="img-fluid" />
      </picture>
     
      <div class="banner-text d-flex justify-content-center align-self-center">
        <div class="title-wrap">
          <h4><span class="dots"></span>Food Delivery</h4>
          <h1>
            <span>Stimulate your</span> Business forward with  <br />
            On-demand food delivery solutions
            <span class="dots"></span>
          </h1>
          <p>
            Get ready for the next-generation AI revolution with Sparkou Tech.
            Upgrade your business operations with <br />
            Generative AI models, that are perfectly ideated and crafted
            exclusively for your needs.
          </p>
          <div class="d-flex justify-content-center">
            <a class="btn btn-primary" [routerLink]="['/contact-us']" class="btn btn-primary">Get In Touch
              <!-- <img src="assets/images/home-new/icon-banner-arrowup.svg" alt="Arrow up" title="Arrow up" /> -->
                <picture>
                  <source type="image/webp" srcset="assets/images/home-new/icon-banner-arrowup.webp" />
                  <source type="image/png" srcset="assets/images/home-new/icon-banner-arrowup.png" />
                  <img loading="lazy" data-src="assets/images/home-new/icon-banner-arrowup.svg" alt="arrow-icon" title="arrow-icon"
                    width="21" height="21" class="img-fluid" />
                </picture>
              </a>
          </div>
        </div>
      </div>
    </div>
  </section>
<section class="droine-second-image">
    <div class="container">
       
        <div class="row mb-4">
            <div class="col-lg-6 mb-4">
                <div class="title-wrap">
                    <h4><span class="dots"></span> Why Sparkout Tech Solutions ?</h4>
                    <h2>
                      <span>Food & restaurant app</span><br />
                      development company
                      <span class="dots"></span>
                    </h2>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="drone-text-wrap">
                    <p>Drive your potential customers into a comfort zone where ordering online food becomes a cakewalk with complete digital synced solutions in food delivery. With the on-demand food delivery app and services gaining the momentum, you have to inject the digital adrenaline to put your business on the fast forward moving scale.</p>
                </div>

            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="drone-icon-wrap">
                    <picture>
                        <source type="image/webp" srcset="assets/images/fooddelivery/drone-resource.webp"/>
                        <source type="image/svg" srcset="assets/images/drone/drone-resource.svg" />
                        <img loading="lazy" data-src="assets/images/drone/drone-resource.svg"
                         alt="Get to market faster" title="Get to market faster" width="60" height="60"
                          class="img-fluid" />
                    </picture>
                    <!-- <img src="assets/images/drone/drone-resource.svg" width="60" height="60" alt="Get to market faster"> -->
                    <h4>Get to market faster</h4>
                    <p>Our Drones replace your employees keeping them away in safety from hazardous environment of radiation and vertical climbs.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="drone-icon-wrap">
                    <picture>
                        <source type="image/webp" srcset="assets/images/fooddelivery/drone-cutting-edge.webp"/>
                        <source type="image/svg" srcset="assets/images/drone/drone-cutting-edge.svg" />
                        <img loading="lazy" data-src="assets/images/drone/drone-cutting-edge.svg"
                         alt="Scalable Solution" title="Scalable Solution" width="60" height="60"
                          class="img-fluid" />
                    </picture>
                    <!-- <img src="assets/images/drone/drone-cutting-edge.svg" width="60" height="60" alt="Scalable Solution"> -->
                    <h4>Scalable Solution</h4>
                    <p>Our AI powered Drones capture critical data of your business that can be accessed within hours of the Drone leaving towards the set target.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="drone-icon-wrap">
                    <picture>
                        <source type="image/webp" srcset="assets/images/fooddelivery/drone-analysis.webp"/>
                        <source type="image/svg" srcset="assets/images/drone/drone-analysis.svg" />
                        <img loading="lazy" data-src="assets/images/drone/drone-analysis.svg"
                         alt="Global Reach" title="Global Reach" width="60" height="60"
                          class="img-fluid" />
                    </picture>
                    <!-- <img src="assets/images/drone/drone-analysis.svg" width="60" height="60" alt="Global Reach"> -->
                    <h4>Global Reach</h4>
                    <p>The cloud enabled software gives you the best analyzing solutions and reports that can be integrated to an ERP using our API.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="benefits">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 mb-3">
                <div class="drone-benifit-imgwrap px-4">
                    <picture>
                        <source type="image/webp" srcset="assets/images/fooddelivery/food-delivery-benefit.webp"/>
                        <source type="image/svg" srcset="assets/images/fooddelivery/food-delivery-benefit.jpg" />
                        <img loading="lazy" data-src="assets/images/fooddelivery/food-delivery-benefit.jpg"
                         alt="Benefits by Chat Solution" title="Benefits by Chat Solution" width="100%" height="100%"
                          class="img-fluid" />
                    </picture>
                    <!-- <img src="assets/images/fooddelivery/food-delivery-benefit.png" class="img-fluid" alt=""> -->
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="drone-benifit-textwrap">
                    <div class="title-wrap">
                        <h4><span class="dots"></span> Benefits by Food Delivery</h4>
                        <h2>
                          <span>What are the verticals </span>
                          that can benefit by food delivery?
                          <span class="dots"></span>
                        </h2>
                    </div>
                    <p>Planned or unplanned micro delivery(Within 10kgs) within 20 kms. Continuous tracking & monitoring where human errors are high & high human resource expense. Applicable to all type of micro delivery and transportation systems in countries where road transport is not available. Applicable to industries where the aerial view analysis required</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ourservices">
    <div class="container">
        <div class="row mb-4">
            <div class="col-lg-8 text-center mx-auto">
                <div class="title-wrap">
                    <h4><span class="dots"></span>Our Offerings</h4>
                    <h2>
                      <span> Achieve your business </span>goals with our enterprise
                      application development services <span class="dots"></span>
                    </h2>
                  </div>
                
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="drone-icon-wrap">
                    <picture>
                        <source type="image/webp" srcset="assets/images/fooddelivery/drone-survaliance.webp"/>
                        <source type="image/svg" srcset="assets/images/drone/drone-survaliance.svg" />
                        <img loading="lazy" data-src="assets/images/drone/drone-survaliance.svg"
                         alt="Online slot reservation" title="Online slot reservation" width="60" height="60"
                          class="img-fluid" />
                    </picture>
                    <!-- <img src="" width="60" height="60" alt="Online slot reservation"> -->
                    <h4>Online slot reservation</h4>
                    <p>Total Security & High-End Surveillance Spot any irregular activity before it turns critical. Trust foresight with our drones.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="drone-icon-wrap">
                    <picture>
                        <source type="image/webp" srcset="assets/images/fooddelivery/drone-survey.webp"/>
                        <source type="image/svg" srcset="assets/images/drone/drone-survey.svg" />
                        <img loading="lazy" data-src="assets/images/drone/drone-survey.svg"
                         alt="Online promotion through check in Apps" title="Online promotion through check in Apps" width="60" height="60"
                          class="img-fluid" />
                    </picture>
                    <!-- <img src="assets/images/drone/drone-survey.svg" width="60" height="60" alt="Online promotion througH check in Apps"> -->
                    <h4>Online promotion through 'check in' Apps</h4>
                    <p>Perfect And Precise Surveying And Mapping With Drones Highest grade 3D topographic, visual, and heat mapping.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="drone-icon-wrap">
                    <picture>
                        <source type="image/webp" srcset="assets/images/fooddelivery/drone-processing.webp"/>
                        <source type="image/svg" srcset="assets/images/drone/drone-processing.svg" />
                        <img loading="lazy" data-src="assets/images/drone/drone-processing.svg"
                         alt="Digital menu card" title="Digital menu card" width="60" height="60"
                          class="img-fluid" />
                    </picture>
                    <!-- <img src="assets/images/drone/drone-processing.svg" width="60" height="60" alt="Digital menu card"> -->
                    <h4>Digital menu card</h4>
                    <p>We have a team of GIS Experts and Advanced Compute Servers to process and mapping Large data. We offer deliverables like orthomosaic.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="drone-icon-wrap">
                    <picture>
                        <source type="image/webp" srcset="assets/images/fooddelivery/drone-analysis.webp"/>
                        <source type="image/svg" srcset="assets/images/drone/drone-analysis.svg" />
                        <img loading="lazy" data-src="assets/images/drone/drone-analysis.svg"
                         alt="Online reviews and ratings" title="Online reviews and ratings" width="60" height="60"
                          class="img-fluid" />
                    </picture>
                    <!-- <img src="assets/images/drone/drone-analysis.svg" width="60" height="60" alt="Online reviews and ratings"> -->
                    <h4>Online reviews and ratings</h4>
                    <p>High Precision Asset And Process Inspections Get high quality video & thermal imaging to dramatically increase the efficiency.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="drone-icon-wrap">
                    <picture>
                        <source type="image/webp" srcset="assets/images/fooddelivery/drone-construction.webp"/>
                        <source type="image/svg" srcset="assets/images/drone/drone-construction.svg" />
                        <img loading="lazy" data-src="assets/images/drone/drone-construction.svg"
                         alt="Online ordering and delivery" title="Online ordering and delivery" width="60" height="60"
                          class="img-fluid" />
                    </picture>
                    <!-- <img src="assets/images/drone/drone-construction.svg" width="60" height="60" alt="Online ordering and delivery "> -->
                    <h4>Online ordering and delivery</h4>
                    <p>Live drone-enabled construction progress monitoring enhances the speed and accuracy of building modelling and plans.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="drone-icon-wrap">
                    <picture>
                        <source type="image/webp" srcset="assets/images/fooddelivery/drone-delivery.webp"/>
                        <source type="image/svg" srcset="assets/images/drone/drone-delivery.svg" />
                        <img loading="lazy" data-src="assets/images/drone/drone-delivery.svg"
                         alt="On demand food delivery solution" title="On demand food delivery solution" width="60" height="60"
                          class="img-fluid" />
                    </picture>
                    <!-- <img src="assets/images/drone/drone-delivery.svg" width="60" height="60" alt="On demand food delivery solution"> -->
                    <h4>On demand food delivery solution</h4>
                    <p>Deliver packages, medical supplies, disaster relief material, important replacement parts, or more, fast and with pin-point destination precision.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<app-blog-scroll></app-blog-scroll>
<app-contact></app-contact>
<!-- <app-footer></app-footer> -->
