<section class="portfolio common-section">
  <div class="container">
    <div class="row mb-4">
      <div class="col-lg-6 col-md-6">
        <div class="title-wrap">
          <h4>Portfolio</h4>
          <h2>
            <span>Delivering digital </span> experiences with disruptive innovations
            <span class="dots"></span>
          </h2>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="title-wrap">
          <p>
            Delve into a collection of Sparkout projects & witness the results
            of meticulous & cutting-edge technology. Each project represents a
            unique challenge & showcases our expertise in developing practical
            solutions. Get exploring the endless possibilities of it.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6 mb-3">
        <a href="https://debtsettlementregistry.com/" target="_blank">
          <div class="portfolio_wrap settlenow">
            <div class="portfolio_img_wrap">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/portfolio/settlenow.webp"
                />
                <source
                  type="image/png"
                  srcset="assets/images/portfolio/settlenow.png"
                />
                <img
                  loading="lazy"
                  data-src="assets/images/portfolio/settlenow.png"
                  width="551"
                  height="333"
                  alt="settlenow"
                  title="settlenow"
                  class="img-fluid"
                />
              </picture>
            </div>
          </div>
          <div class="portfolio_text_wrap">
            <h4>Finance | Web</h4>
            <h3>Transforming Debt Settlement with Digital Simplicity</h3>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 mb-3">
        <a href="https://firstpageit.com/" target="_blank">
          <div class="portfolio_wrap firstpage">
            <div class="portfolio_img_wrap">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/portfolio/firstpageit.webp"
                />
                <source
                  type="image/png"
                  srcset="assets/images/portfolio/firstpageit.png"
                />
                <img
                  loading="lazy"
                  data-src="assets/images/portfolio/firstpageit.png"
                  width="551"
                  height="333"
                  alt="firstpageit"
                  title="firstpageit"
                  class="img-fluid"
                />
              </picture>
            </div>
          </div>
          <div class="portfolio_text_wrap">
            <h4>IT | Web</h4>
            <h3>The platform for connecting buyers and sellers</h3>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 mb-3">
        <a href="https://www.ekta.io/" target="_blank">
          <div class="portfolio_wrap ekta">
            <div class="portfolio_img_wrap">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/portfolio/ekta.webp"
                />
                <source
                  type="image/png"
                  srcset="assets/images/portfolio/ekta.png"
                />
                <img
                  loading="lazy"
                  data-src="assets/images/portfolio/ekta.png"
                  width="551"
                  height="333"
                  alt="ekta"
                  title="ekta"
                  class="img-fluid"
                />
              </picture>
            </div>
          </div>
          <div class="portfolio_text_wrap">
            <h4>Blockchain | Web3 - Dapp</h4>
            <h3>Layer 1 Blockchain ecosystem for Real Estate in Bali</h3>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 mb-3">
        <a href="https://firstblastit.com/" target="_blank">
          <div class="portfolio_wrap fisrtblastit">
            <div class="portfolio_img_wrap">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/portfolio/firstblastit.webp"
                />
                <source
                  type="image/png"
                  srcset="assets/images/portfolio/firstblastit.png"
                />
                <img
                  loading="lazy"
                  data-src="assets/images/portfolio/firstblastit.png"
                  width="551"
                  height="333"
                  alt="firstblastit"
                  title="firstblastit"
                  class="img-fluid"
                />
              </picture>
            </div>
          </div>
          <div class="portfolio_text_wrap">
            <h4>Media | Mobile</h4>
            <h3>Professional Audio Streaming Application</h3>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 mb-3">
        <a href="https://www.parkk.com/" target="_blank">
          <div class="portfolio_wrap parkk">
            <div class="portfolio_img_wrap">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/portfolio/parkk.webp"
                />
                <source
                  type="image/png"
                  srcset="assets/images/portfolio/parkk.png"
                />
                <img
                  loading="lazy"
                  data-src="assets/images/portfolio/parkk.png"
                  width="551"
                  height="333"
                  alt="parkk"
                  title="parkk"
                  class="img-fluid"
                />
              </picture>
            </div>
          </div>
          <div class="portfolio_text_wrap">
            <h4>Travel | Mobile - Web</h4>
            <h3>Find, Reserve, Park, Effortlessly in USA</h3>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 mb-3">
        <a href="https://notifynow.com/" target="_blank">
          <div class="portfolio_wrap notifynow">
            <div class="portfolio_img_wrap">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/portfolio/notifynow.webp"
                />
                <source
                  type="image/png"
                  srcset="assets/images/portfolio/notifynow.png"
                />
                <img
                  loading="lazy"
                  data-src="assets/images/portfolio/notifynow.png"
                  width="551"
                  height="333"
                  alt="notifynow"
                  title="notifynow"
                  class="img-fluid"
                />
              </picture>
            </div>
          </div>
          <div class="portfolio_text_wrap">
            <h4>Fintech | Web</h4>
            <h3>Platform for sending Decedent Notification to Creditors</h3>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 mb-3">
        <a>
          <div class="portfolio_wrap notifynow notlob">
            <div class="portfolio_img_wrap">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/portfolio/notlob.webp"
                />
                <source
                  type="image/png"
                  srcset="assets/images/portfolio/notlob.png"
                />
                <img
                  loading="lazy"
                  data-src="assets/images/portfolio/notlob.png"
                  width="551"
                  height="333"
                  alt="notlob"
                  title="notlob"
                  class="img-fluid"
                />
              </picture>
            </div>
          </div>
          <div class="portfolio_text_wrap">
            <h4>Food & Beverages | Mobile - Web</h4>
            <h3>Online food delivery platform in Bahrain</h3>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 mb-3">
        <a href="https://okboz.com/" target="_blank">
          <div class="portfolio_wrap notifynow boxfood">
            <div class="portfolio_img_wrap">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/portfolio/boxfood.webp"
                />
                <source
                  type="image/png"
                  srcset="assets/images/portfolio/boxfood.png"
                />
                <img
                  loading="lazy"
                  data-src="assets/images/portfolio/boxfood.png"
                  width="551"
                  height="333"
                  alt="boxfood"
                  title="boxfood"
                  class="img-fluid"
                />
              </picture>
            </div>
          </div>
          <div class="portfolio_text_wrap">
            <h4>Food & Beverages | Mobile - Web</h4>
            <h3>An online food delivery app in India</h3>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 mb-3">
        <a href="http://www.delivereef.com/" target="_blank">
          <div class="portfolio_wrap notifynow delivereef">
            <div class="portfolio_img_wrap">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/portfolio/delivereef.webp"
                />
                <source
                  type="image/png"
                  srcset="assets/images/portfolio/delivereef.png"
                />
                <img
                  loading="lazy"
                  data-src="assets/images/portfolio/delivereef.png"
                  width="551"
                  height="333"
                  alt="delivereef"
                  title="delivereef"
                  class="img-fluid"
                />
              </picture>
            </div>
          </div>
          <div class="portfolio_text_wrap">
            <h4>Food & Beverages | Mobile - Web</h4>
            <h3>Ultimate Grocery Delivery Companion in Spain</h3>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 mb-3">
        <a>
          <div class="portfolio_wrap notifynow ziber">
            <div class="portfolio_img_wrap">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/portfolio/ziber.webp"
                />
                <source
                  type="image/png"
                  srcset="assets/images/portfolio/ziber.png"
                />
                <img
                  loading="lazy"
                  data-src="assets/images/portfolio/ziber.png"
                  width="551"
                  height="333"
                  alt="ziber"
                  title="ziber"
                  class="img-fluid"
                />
              </picture>
            </div>
          </div>
          <div class="portfolio_text_wrap">
            <h4>Food & Beverages | Mobile - Web</h4>
            <h3>An On-demand multiservice app in Iraq</h3>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 mb-3">
        <a>
          <div class="portfolio_wrap notifynow truely">
            <div class="portfolio_img_wrap">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/portfolio/truely.webp"
                />
                <source
                  type="image/png"
                  srcset="assets/images/portfolio/truely.png"
                />
                <img
                  loading="lazy"
                  data-src="assets/images/portfolio/truely.png"
                  width="551"
                  height="333"
                  alt="truely"
                  title="truely"
                  class="img-fluid"
                />
              </picture>
            </div>
          </div>
          <div class="portfolio_text_wrap">
            <h4>Food & Beverages | Mobile - Web</h4>
            <h3>An On-Demand Food Delivery app in India</h3>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 mb-3">
        <a>
          <div class="portfolio_wrap notifynow yahalafoods">
            <div class="portfolio_img_wrap">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/portfolio/yahalafoods.webp"
                />
                <source
                  type="image/png"
                  srcset="assets/images/portfolio/yahalafoods.png"
                />
                <img
                  loading="lazy"
                  data-src="assets/images/portfolio/yahalafoods.png"
                  width="551"
                  height="333"
                  alt="yahalafoods"
                  title="yahalafoods"
                  class="img-fluid"
                />
              </picture>
            </div>
          </div>
          <div class="portfolio_text_wrap">
            <h4>Food & Beverages | Mobile - Web</h4>
            <h3>Quick and Easy On-Demand Delivery app in Syria</h3>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 mb-3">
        <a>
          <div class="portfolio_wrap notifynow delisho">
            <div class="portfolio_img_wrap">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/portfolio/delisho.webp"
                />
                <source
                  type="image/png"
                  srcset="assets/images/portfolio/delisho.png"
                />
                <img
                  loading="lazy"
                  data-src="assets/images/portfolio/delisho.png"
                  width="551"
                  height="333"
                  alt="delisho"
                  title="delisho"
                  class="img-fluid"
                />
              </picture>
            </div>
          </div>
          <div class="portfolio_text_wrap">
            <h4>Food & Beverages | Mobile - Web</h4>
            <h3>Your Ultimate Food Delivery Companion in ​​Iraq</h3>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 mb-3">
        <a>
          <div class="portfolio_wrap notifynow yamyam">
            <div class="portfolio_img_wrap">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/portfolio/yamyam.webp"
                />
                <source
                  type="image/png"
                  srcset="assets/images/portfolio/yamyam.png"
                />
                <img
                  loading="lazy"
                  data-src="assets/images/portfolio/yamyam.png"
                  width="551"
                  height="333"
                  alt="yamyam"
                  title="yamyam"
                  class="img-fluid"
                />
              </picture>
            </div>
          </div>
          <div class="portfolio_text_wrap">
            <h4>Food & Beverages | Mobile - Web</h4>
            <h3>Your Go-To App for Food Delivery Services - Turkey</h3>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 mb-3">
        <a href="https://www.fabvenues.in/" target="_blank">
          <div class="portfolio_wrap fabvenues">
            <div class="portfolio_img_wrap">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/portfolio/fabvenues.webp"
                />
                <source
                  type="image/png"
                  srcset="assets/images/portfolio/fabvenues.png"
                />
                <img
                  loading="lazy"
                  data-src="assets/images/portfolio/fabvenues.png"
                  width="551"
                  height="333"
                  alt="fabvenues"
                  title="fabvenues"
                  class="img-fluid"
                />
              </picture>
            </div>
          </div>
          <div class="portfolio_text_wrap">
            <h4>Travel | Web</h4>
            <h3>A single platform for all venue booking in India</h3>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 mb-3">
        <a>
          <div class="portfolio_wrap skal">
            <div class="portfolio_img_wrap">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/portfolio/skal.webp"
                />
                <source
                  type="image/png"
                  srcset="assets/images/portfolio/skal.png"
                />
                <img
                  loading="lazy"
                  data-src="assets/images/portfolio/skal.png"
                  width="551"
                  height="333"
                  alt="skal"
                  title="skal"
                  class="img-fluid"
                />
              </picture>
            </div>
          </div>
          <div class="portfolio_text_wrap">
            <h4>Food & Beverages | Mobile - Web</h4>
            <h3>An on-demand Beverage delivery service in Switzerland</h3>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 mb-3">
        <a href="https://www.beebush.com/" target="_blank">
          <div class="portfolio_wrap beebushmessenger">
            <div class="portfolio_img_wrap">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/portfolio/beebushmessenger.webp"
                />
                <source
                  type="image/png"
                  srcset="assets/images/portfolio/beebushmessenger.png"
                />
                <img
                  loading="lazy"
                  data-src="assets/images/portfolio/beebushmessenger.png"
                  width="551"
                  height="333"
                  alt="beebushmessenger"
                  title="beebushmessenger"
                  class="img-fluid"
                />
              </picture>
            </div>
          </div>
          <div class="portfolio_text_wrap">
            <h4>Communication | Mobile</h4>
            <h3>A chat app for all users to connect with each other</h3>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 mb-3">
        <a>
          <div class="portfolio_wrap reflexfinance">
            <div class="portfolio_img_wrap">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/portfolio/reflexfinance.webp"
                />
                <source
                  type="image/png"
                  srcset="assets/images/portfolio/reflexfinance.png"
                />
                <img
                  loading="lazy"
                  data-src="assets/images/portfolio/reflexfinance.png"
                  width="551"
                  height="333"
                  alt="reflexfinance"
                  title="reflexfinance"
                  class="img-fluid"
                />
              </picture>
            </div>
          </div>
          <div class="portfolio_text_wrap">
            <h4>Blockchain | Web3 - Dapp</h4>
            <h3>The Next gen DeFi ecosystem</h3>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 mb-3">
        <a href="https://waifercoin.com/" target="_blank">
          <div class="portfolio_wrap waifercoin">
            <div class="portfolio_img_wrap">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/portfolio/waifercoin.webp"
                />
                <source
                  type="image/png"
                  srcset="assets/images/portfolio/waifercoin.png"
                />
                <img
                  loading="lazy"
                  data-src="assets/images/portfolio/waifercoin.png"
                  width="551"
                  height="333"
                  alt="waifercoin"
                  title="waifercoin"
                  class="img-fluid"
                />
              </picture>
            </div>
          </div>
          <div class="portfolio_text_wrap">
            <h4>Blockchain | Web3 - Dapp</h4>
            <h3>Community-Driven Social Media Token Project</h3>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 mb-3">
        <a href="https://zuki.app/" target="_blank">
          <div class="portfolio_wrap zuki">
            <div class="portfolio_img_wrap">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/portfolio/zuki.webp"
                />
                <source
                  type="image/png"
                  srcset="assets/images/portfolio/zuki.png"
                />
                <img
                  loading="lazy"
                  data-src="assets/images/portfolio/zuki.png"
                  width="551"
                  height="333"
                  alt="zuki"
                  title="zuki"
                  class="img-fluid"
                />
              </picture>
            </div>
          </div>
          <div class="portfolio_text_wrap">
            <h4>Blockchain | Web3 - Dapp</h4>
            <h3>An Immersive Play to Earn crypto gaming platform</h3>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 mb-3">
        <a>
          <div class="portfolio_wrap polakadog">
            <div class="portfolio_img_wrap">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/portfolio/polakadog.webp"
                />
                <source
                  type="image/png"
                  srcset="assets/images/portfolio/polakadog.png"
                />
                <img
                  loading="lazy"
                  data-src="assets/images/portfolio/polakadog.png"
                  width="551"
                  height="333"
                  alt="polakadog"
                  title="polakadog"
                  class="img-fluid"
                />
              </picture>
            </div>
          </div>
          <div class="portfolio_text_wrap">
            <h4>Blockchain | Web3 - Dapp</h4>
            <h3>NFTs, Staking, and Community Driven Memecoin</h3>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 mb-3">
        <a href="https://www.bountytemple.com/" target="_blank">
          <div class="portfolio_wrap bountytemple">
            <div class="portfolio_img_wrap">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/portfolio/bountytemple.webp"
                />
                <source
                  type="image/png"
                  srcset="assets/images/portfolio/bountytemple.png"
                />
                <img
                  loading="lazy"
                  data-src="assets/images/portfolio/bountytemple.png"
                  width="551"
                  height="333"
                  alt="bountytemple"
                  title="bountytemple"
                  class="img-fluid"
                />
              </picture>
            </div>
          </div>
          <div class="portfolio_text_wrap">
            <h4>Blockchain | Web3 - Dapp</h4>
            <h3>The P2E-Evolution blockchain game</h3>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 mb-3">
        <a href="https://starcardmv.io/" target="_blank">
          <div class="portfolio_wrap starcardsports">
            <div class="portfolio_img_wrap">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/portfolio/starcardsports.webp"
                />
                <source
                  type="image/png"
                  srcset="assets/images/portfolio/starcardsports.png"
                />
                <img
                  loading="lazy"
                  data-src="assets/images/portfolio/starcardsports.png"
                  width="551"
                  height="333"
                  alt="starcardsports"
                  title="starcardsports"
                  class="img-fluid"
                />
              </picture>
            </div>
          </div>
          <div class="portfolio_text_wrap">
            <h4>Blockchain | Web3 - Dapp</h4>
            <h3>Connecting the Physical World of Sports with Blockchain</h3>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 mb-3">
        <a href="https://www.bigtimecoin.co/" target="_blank">
          <div class="portfolio_wrap bigtime">
            <div class="portfolio_img_wrap">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/portfolio/bigtime.webp"
                />
                <source
                  type="image/png"
                  srcset="assets/images/portfolio/bigtime.png"
                />
                <img
                  loading="lazy"
                  data-src="assets/images/portfolio/bigtime.png"
                  width="551"
                  height="333"
                  alt="bigtime"
                  title="bigtime"
                  class="img-fluid"
                />
              </picture>
            </div>
          </div>
          <div class="portfolio_text_wrap">
            <h4>Blockchain | Web3 - Dapp</h4>
            <h3>
              Tokenized Real Estate: Invest, Earn Rental Income, and Diversify
            </h3>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 mb-3">
        <a>
          <div class="portfolio_wrap columbus">
            <div class="portfolio_img_wrap">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/portfolio/columbus.webp"
                />
                <source
                  type="image/png"
                  srcset="assets/images/portfolio/columbus.png"
                />
                <img
                  loading="lazy"
                  data-src="assets/images/portfolio/columbus.png"
                  width="551"
                  height="333"
                  alt="columbus"
                  title="columbus"
                  class="img-fluid"
                />
              </picture>
            </div>
          </div>
          <div class="portfolio_text_wrap">
            <h4>Blockchain | Web3 - Dapp</h4>
            <h3>Community-Fueled DeFi Revolution</h3>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 mb-3">
        <a>
          <div class="portfolio_wrap uscryptobank">
            <div class="portfolio_img_wrap">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/portfolio/uscryptobank.webp"
                />
                <source
                  type="image/png"
                  srcset="assets/images/portfolio/uscryptobank.png"
                />
                <img
                  loading="lazy"
                  data-src="assets/images/portfolio/uscryptobank.png"
                  width="551"
                  height="333"
                  alt="uscryptobank"
                  title="uscryptobank"
                  class="img-fluid"
                />
              </picture>
            </div>
          </div>
          <div class="portfolio_text_wrap">
            <h4>Blockchain | Web3 - Dapp</h4>
            <h3>The Future of banking</h3>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 mb-3">
        <a href="https://www.farmsent.io/" target="_blank">
          <div class="portfolio_wrap farmsent">
            <div class="portfolio_img_wrap">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/portfolio/farmsent.webp"
                />
                <source
                  type="image/png"
                  srcset="assets/images/portfolio/farmsent.png"
                />
                <img
                  loading="lazy"
                  data-src="assets/images/portfolio/farmsent.png"
                  width="551"
                  height="333"
                  alt="farmsent"
                  title="farmsent"
                  class="img-fluid"
                />
              </picture>
            </div>
          </div>
          <div class="portfolio_text_wrap">
            <h4>Blockchain | Web3 - Dapp - Mobile</h4>
            <h3>
              A blockchain platform connecting farmers and buyers directly
            </h3>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 mb-3">
        <a href="https://www.l1x.foundation/" target="_blank">
          <div class="portfolio_wrap layer1x">
            <div class="portfolio_img_wrap">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/portfolio/layer1x.webp"
                />
                <source
                  type="image/png"
                  srcset="assets/images/portfolio/layer1x.png"
                />
                <img
                  loading="lazy"
                  data-src="assets/images/portfolio/layer1x.png"
                  width="551"
                  height="333"
                  alt="layer1x"
                  title="layer1x"
                  class="img-fluid"
                />
              </picture>
            </div>
          </div>
          <div class="portfolio_text_wrap">
            <h4>Blockchain | Web3 - Dapp</h4>
            <h3>A truly decentralized interoperable Blockchain</h3>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 mb-3">
        <a href="https://www.blockchainx.finance/" target="_blank">
          <div class="portfolio_wrap bxfinance">
            <div class="portfolio_img_wrap">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/portfolio/bxfinance.webp"
                />
                <source
                  type="image/png"
                  srcset="assets/images/portfolio/bxfinance.png"
                />
                <img
                  loading="lazy"
                  data-src="assets/images/portfolio/bxfinance.png"
                  width="551"
                  height="333"
                  alt="bxfinance"
                  title="bxfinance"
                  class="img-fluid"
                />
              </picture>
            </div>
          </div>
          <div class="portfolio_text_wrap">
            <h4>Blockchain | Web3 - Dapp</h4>
            <h3>A No-code ecosystem for Web3 Founders</h3>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 mb-3">
        <a>
          <div class="portfolio_wrap trident">
            <div class="portfolio_img_wrap">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/portfolio/trident.webp"
                />
                <source
                  type="image/png"
                  srcset="assets/images/portfolio/trident.png"
                />
                <img
                  loading="lazy"
                  data-src="assets/images/portfolio/trident.png"
                  width="551"
                  height="333"
                  alt="trident"
                  title="trident"
                  class="img-fluid"
                />
              </picture>
            </div>
          </div>
          <div class="portfolio_text_wrap">
            <h4>Blockchain | Web3 - Dapp</h4>
            <h3>One-Stop OTC Solution for Bitcoin and Ethereum Trading</h3>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 mb-3">
        <a>
          <div class="portfolio_wrap gpscomm">
            <div class="portfolio_img_wrap">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/portfolio/gpscomm.webp"
                />
                <source
                  type="image/png"
                  srcset="assets/images/portfolio/gpscomm.png"
                />
                <img
                  loading="lazy"
                  data-src="assets/images/portfolio/gpscomm.png"
                  width="551"
                  height="333"
                  alt="gpscomm"
                  title="gpscomm"
                  class="img-fluid"
                />
              </picture>
            </div>
          </div>
          <div class="portfolio_text_wrap">
            <h4>Blockchain | Mobile - Web</h4>
            <h3>The platform for Secured Meetings, Chat, & Call</h3>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 mb-3">
        <a href="https://www.legacynow.com/" target="_blank">
          <div class="portfolio_wrap legacynow">
            <div class="portfolio_img_wrap">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/portfolio/legacynow.webp"
                />
                <source
                  type="image/png"
                  srcset="assets/images/portfolio/legacynow.png"
                />
                <img
                  loading="lazy"
                  data-src="assets/images/portfolio/legacynow.png"
                  width="551"
                  height="333"
                  alt="legacynow"
                  title="legacynow"
                  class="img-fluid"
                />
              </picture>
            </div>
          </div>
          <div class="portfolio_text_wrap">
            <h4>Finance | Mobile - Web</h4>
            <h3>Secure Blockchain powered Digital Will Solution</h3>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 mb-3">
        <a>
          <div class="portfolio_wrap decedentcheck">
            <div class="portfolio_img_wrap">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/portfolio/decedentcheck.webp"
                />
                <source
                  type="image/png"
                  srcset="assets/images/portfolio/decedentcheck.png"
                />
                <img
                  loading="lazy"
                  data-src="assets/images/portfolio/decedentcheck.png"
                  width="551"
                  height="333"
                  alt="decedentcheck"
                  title="decedentcheck"
                  class="img-fluid"
                />
              </picture>
            </div>
          </div>
          <div class="portfolio_text_wrap">
            <h4>Finance | Web</h4>
            <h3>
              Platform for organizations to check if a person has deceased
            </h3>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 mb-3">
        <a href="https://firsttrackit.com/" target="_blank">
          <div class="portfolio_wrap firsttrackit">
            <div class="portfolio_img_wrap">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/portfolio/firsttrackit.webp"
                />
                <source
                  type="image/png"
                  srcset="assets/images/portfolio/firsttrackit.png"
                />
                <img
                  loading="lazy"
                  data-src="assets/images/portfolio/firsttrackit.png"
                  width="551"
                  height="333"
                  alt="firsttrackit"
                  title="firsttrackit"
                  class="img-fluid"
                />
              </picture>
            </div>
          </div>
          <div class="portfolio_text_wrap">
            <h4>IT | Mobile - Web</h4>
            <h3>
              SaaS platform to Track and Manage business/Industrial Process
            </h3>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 mb-3">
        <a href="https://www.paradigm.inc/" target="_blank">
          <div class="portfolio_wrap deeplens">
            <div class="portfolio_img_wrap">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/portfolio/deeplens.webp"
                />
                <source
                  type="image/png"
                  srcset="assets/images/portfolio/deeplens.png"
                />
                <img
                  loading="lazy"
                  data-src="assets/images/portfolio/deeplens.png"
                  width="551"
                  height="333"
                  alt="deeplens"
                  title="deeplens"
                  class="img-fluid"
                />
              </picture>
            </div>
          </div>
          <div class="portfolio_text_wrap">
            <h4>Healthcare | Mobile</h4>
            <h3>Social Mobile Platform for Pathologists</h3>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 mb-3">
        <a>
          <div class="portfolio_wrap bipinexports">
            <div class="portfolio_img_wrap">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/portfolio/bipinexports.webp"
                />
                <source
                  type="image/png"
                  srcset="assets/images/portfolio/bipinexports.png"
                />
                <img
                  loading="lazy"
                  data-src="assets/images/portfolio/bipinexports.png"
                  width="551"
                  height="333"
                  alt="bipinexports"
                  title="bipinexports"
                  class="img-fluid"
                />
              </picture>
            </div>
          </div>
          <div class="portfolio_text_wrap">
            <h4>Manufacturing | Mobile - Web</h4>
            <h3>Industrial Process Tracking</h3>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 mb-3">
        <a>
          <div class="portfolio_wrap reliance">
            <div class="portfolio_img_wrap">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/portfolio/reliance.webp"
                />
                <source
                  type="image/png"
                  srcset="assets/images/portfolio/reliance.png"
                />
                <img
                  loading="lazy"
                  data-src="assets/images/portfolio/reliance.png"
                  width="551"
                  height="333"
                  alt="reliance"
                  title="reliance"
                  class="img-fluid"
                />
              </picture>
            </div>
          </div>
          <div class="portfolio_text_wrap">
            <h4>Supply Chain | AR/VR</h4>
            <h3>Warehouse automation with smart glass</h3>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 mb-3">
        <a
          href="https://play.google.com/store/apps/details?id=com.arcore"
          target="_blank"
        >
          <div class="portfolio_wrap augur">
            <div class="portfolio_img_wrap">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/portfolio/augur.webp"
                />
                <source
                  type="image/png"
                  srcset="assets/images/portfolio/augur.png"
                />
                <img
                  loading="lazy"
                  data-src="assets/images/portfolio/augur.png"
                  width="551"
                  height="333"
                  alt="augur"
                  title="augur"
                  class="img-fluid"
                />
              </picture>
            </div>
          </div>
          <div class="portfolio_text_wrap">
            <h4>Real Estate | AR/VR</h4>
            <h3>AR Powered RealEstate Showcase solution</h3>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 mb-3">
        <a href="https://www.circleofmarketers.com/" target="_blank">
          <div class="portfolio_wrap circleofmarketers">
            <div class="portfolio_img_wrap">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/portfolio/circleofmarketers.webp"
                />
                <source
                  type="image/png"
                  srcset="assets/images/portfolio/circleofmarketers.png"
                />
                <img
                  loading="lazy"
                  data-src="assets/images/portfolio/circleofmarketers.png"
                  width="551"
                  height="333"
                  alt="circleofmarketers"
                  title="circleofmarketers"
                  class="img-fluid"
                />
              </picture>
            </div>
          </div>
          <div class="portfolio_text_wrap">
            <h4>IT | Web</h4>
            <h3>A complete freelance marketplace platform</h3>
          </div>
        </a>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6 mb-3">
        <a href="https://www.autofly.hr/" target="_blank">
          <div class="portfolio_wrap autofly">
            <div class="portfolio_img_wrap">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/portfolio/autofly.webp"
                />
                <source
                  type="image/png"
                  srcset="assets/images/portfolio/autofly.png"
                />
                <img
                  loading="lazy"
                  data-src="assets/images/portfolio/autofly.png"
                  width="551"
                  height="333"
                  alt="autofly"
                  title="autofly"
                  class="img-fluid"
                />
              </picture>
            </div>
          </div>
          <div class="portfolio_text_wrap">
            <h4>Supply Chain | Web</h4>
            <h3>Truck SupplyChain Management solution</h3>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 mb-3">
        <a href="https://www.apartshub.com/" target="_blank">
          <div class="portfolio_wrap apartshub">
            <div class="portfolio_img_wrap">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/portfolio/apartshub.webp"
                />
                <source
                  type="image/png"
                  srcset="assets/images/portfolio/apartshub.png"
                />
                <img
                  loading="lazy"
                  data-src="assets/images/portfolio/apartshub.png"
                  width="551"
                  height="333"
                  alt="apartshub"
                  title="apartshub"
                  class="img-fluid"
                />
              </picture>
            </div>
          </div>
          <div class="portfolio_text_wrap">
            <h4>Travel | Mobile - Web</h4>
            <h3>A crypto-enabled vacation rental platform</h3>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 mb-3">
        <a href="https://www.holidaykeepers.com/" target="_blank">
          <div class="portfolio_wrap holidaykeepers">
            <div class="portfolio_img_wrap">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/portfolio/holidaykeepers.webp"
                />
                <source
                  type="image/png"
                  srcset="assets/images/portfolio/holidaykeepers.png"
                />
                <img
                  loading="lazy"
                  data-src="assets/images/portfolio/holidaykeepers.png"
                  width="551"
                  height="333"
                  alt="holidaykeepers"
                  title="holidaykeepers"
                  class="img-fluid"
                />
              </picture>
            </div>
          </div>
          <div class="portfolio_text_wrap">
            <h4>Travel | Mobile - Web</h4>
            <h3>A platform to find the perfect vacation rentals in USA</h3>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 mb-3">
        <a>
          <div class="portfolio_wrap mfb">
            <div class="portfolio_img_wrap">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/portfolio/mfb.webp"
                />
                <source
                  type="image/png"
                  srcset="assets/images/portfolio/mfb.png"
                />
                <img
                  loading="lazy"
                  data-src="assets/images/portfolio/mfb.png"
                  width="551"
                  height="333"
                  alt="mfb"
                  title="mfb"
                  class="img-fluid"
                />
              </picture>
            </div>
          </div>
          <div class="portfolio_text_wrap">
            <h4>Blockchain | Web3 - Dapp</h4>
            <h3>Protect flammable vegetation with the safest technology</h3>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 mb-3">
        <a href="https://www.merchanttoken.org/" target="_blank">
          <div class="portfolio_wrap merchanttoken">
            <div class="portfolio_img_wrap">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/portfolio/merchanttoken.webp"
                />
                <source
                  type="image/png"
                  srcset="assets/images/portfolio/merchanttoken.png"
                />
                <img
                  loading="lazy"
                  data-src="assets/images/portfolio/merchanttoken.png"
                  width="551"
                  height="333"
                  alt="merchanttoken"
                  title="merchanttoken"
                  class="img-fluid"
                />
              </picture>
            </div>
          </div>
          <div class="portfolio_text_wrap">
            <h4>Blockchain | Web3 - Dapp</h4>
            <h3>The Future of Secure Crypto Payments</h3>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 mb-3">
        <a href="https://y5crypto.com/" target="_blank">
          <div class="portfolio_wrap y5">
            <div class="portfolio_img_wrap">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/portfolio/y5.webp"
                />
                <source
                  type="image/png"
                  srcset="assets/images/portfolio/y5.png"
                />
                <img
                  loading="lazy"
                  data-src="assets/images/portfolio/y5.png"
                  width="551"
                  height="333"
                  alt="y5"
                  title="y5"
                  class="img-fluid"
                />
              </picture>
            </div>
          </div>
          <div class="portfolio_text_wrap">
            <h4>Blockchain | Web3 - Dapp</h4>
            <h3>The future of crypto wealth creation</h3>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 mb-3">
        <a href="https://aocfinance.com/" target="_blank">
          <div class="portfolio_wrap aocfinance">
            <div class="portfolio_img_wrap">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/portfolio/aocfinance.webp"
                />
                <source
                  type="image/png"
                  srcset="assets/images/portfolio/aocfinance.png"
                />
                <img
                  loading="lazy"
                  data-src="assets/images/portfolio/aocfinance.png"
                  width="551"
                  height="333"
                  alt="aocfinance"
                  title="aocfinance"
                  class="img-fluid"
                />
              </picture>
            </div>
          </div>
          <div class="portfolio_text_wrap">
            <h4>Blockchain | Web3 - Dapp</h4>
            <h3>The Synergy of Security and Utility Token Innovation</h3>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 mb-3">
        <a href="https://wemp.world/" target="_blank">
          <div class="portfolio_wrap wemp">
            <div class="portfolio_img_wrap">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/portfolio/wemp.webp"
                />
                <source
                  type="image/png"
                  srcset="assets/images/portfolio/wemp.png"
                />
                <img
                  loading="lazy"
                  data-src="assets/images/portfolio/wemp.png"
                  width="551"
                  height="333"
                  alt="wemp"
                  title="wemp"
                  class="img-fluid"
                />
              </picture>
            </div>
          </div>
          <div class="portfolio_text_wrap">
            <h4>Blockchain | Web3 - Dapp</h4>
            <h3>A Crypto Platform for Women's Global Impact</h3>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 mb-3">
        <a href="https://www.centaurify.io/" target="_blank">
          <div class="portfolio_wrap centaurify">
            <div class="portfolio_img_wrap">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/portfolio/centaurify.webp"
                />
                <source
                  type="image/png"
                  srcset="assets/images/portfolio/centaurify.png"
                />
                <img
                  loading="lazy"
                  data-src="assets/images/portfolio/centaurify.png"
                  width="551"
                  height="333"
                  alt="centaurify"
                  title="centaurify"
                  class="img-fluid"
                />
              </picture>
            </div>
          </div>
          <div class="portfolio_text_wrap">
            <h4>Blockchain | Web3 - Dapp</h4>
            <h3>The frontier shaping the new digital norm of music culture</h3>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 mb-3">
        <a>
          <div class="portfolio_wrap realworld">
            <div class="portfolio_img_wrap">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/portfolio/realworld.webp"
                />
                <source
                  type="image/png"
                  srcset="assets/images/portfolio/realworld.png"
                />
                <img
                  loading="lazy"
                  data-src="assets/images/portfolio/realworld.png"
                  width="551"
                  height="333"
                  alt="realworld"
                  title="realworld"
                  class="img-fluid"
                />
              </picture>
            </div>
          </div>
          <div class="portfolio_text_wrap">
            <h4>Blockchain | Web3 - Dapp</h4>
            <h3>
              Store, Mint, and Sell Luxury Products with Real World's NFT
              Platform
            </h3>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 mb-3">
        <a>
          <div class="portfolio_wrap bullionblock">
            <div class="portfolio_img_wrap">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/portfolio/bullionblock.webp"
                />
                <source
                  type="image/png"
                  srcset="assets/images/portfolio/bullionblock.png"
                />
                <img
                  loading="lazy"
                  data-src="assets/images/portfolio/bullionblock.png"
                  width="551"
                  height="333"
                  alt="bullionblock"
                  title="bullionblock"
                  class="img-fluid"
                />
              </picture>
            </div>
          </div>
          <div class="portfolio_text_wrap">
            <h4>Blockchain | Mobile</h4>
            <h3>Decentralized Ecosystem For All Your Financial Needs</h3>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 mb-3">
        <a>
          <div class="portfolio_wrap headlands">
            <div class="portfolio_img_wrap">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/portfolio/headlands.webp"
                />
                <source
                  type="image/png"
                  srcset="assets/images/portfolio/headlands.png"
                />
                <img
                  loading="lazy"
                  data-src="assets/images/portfolio/headlands.png"
                  width="551"
                  height="333"
                  alt="headlands"
                  title="headlands"
                  class="img-fluid"
                />
              </picture>
            </div>
          </div>
          <div class="portfolio_text_wrap">
            <h4>Healtcare | Web</h4>
            <h3>
              Medical and Psychiatric Services & Addiction Treatment Programs
            </h3>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
<app-blog-scroll></app-blog-scroll>
<app-contact></app-contact>
<!-- <app-footer></app-footer> -->
