<section class="banners-section home-banner sub-banner">
  <div class="common">
    <img
      src="assets/images/case-studies/case-studies-banner.jpg"
      class="img-fluid"
      alt="First Track It Case Study"
      title="First Track It Case Study"
    />
    <div class="banner-text d-flex justify-content-center align-self-center">
      <div class="title-wrap">
        <h4><span class="dots"></span>First Track It</h4>
        <h2>
          <span>An Instant  </span> Passage Connecting  <br />
          the Production Operations With The
          Users
          <span class="dots"></span>
        </h2>
        <!-- <p>
          Our experienced full-stack developers are involved in igniting the
          magic for your <br />
          Web app development, enduring high performance, customized functions,
          and effective <br />
          responses via modern solutions.
        </p> -->
        <div class="d-flex justify-content-center">
          <a class="btn btn-primary" [routerLink]="['/contact-us']"
            >Get In Touch
            <img
              src="assets/images/home-new/icon-banner-arrowup.svg"
              alt="Arrow up"
              title="Arrow up"
          /></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <section class="parkcase-studies">
  <div class="container">
    <div class="row">
      <div class="firstpart bg-park">
        <div class="row align-items-center">
          <div class="col-lg-7 col-md-7 mb-3">
            <div class="part-one">
              <img
                src="assets/images/case-studies/firsttrackit/first-trackit-logo.png"
                class="img-fluid mb-3"
                alt="First Track It logo"
                title="An Instant Passage Connecting the Production Operations With The Users"
                width="250"
              />
              <h1>
                An Instant Passage Connecting the Production Operations With The
                Users
              </h1>
              <h4>First Track It</h4>
            </div>
          </div>
          <div class="col-lg-5 col-md-5 mb-3">
            <div class="text-right">
              <img
                src="assets/images/case-studies/firstblastit/firstblastit-banner1.png"
                class="img-fluid"
                alt="firstblastit"
                title="First Track It"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<section class="requirements">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-5">
        <div class="business-requirement">
          <h6>Client Name</h6>
          <h3>
            <a href="https://fslns.com" target="_blank">First Solutions</a>
          </h3>
        </div>
        <div class="business-requirement">
          <h6>Business</h6>
          <h3>Large scale, Production Industry</h3>
        </div>
        <div class="business-requirement">
          <h6>Country</h6>
          <h3>USA</h3>
        </div>
        <div class="business-requirement">
          <h6>Website</h6>
          <h3>
            <a href="https://firsttrackit.com/" target="_blank"
              >firsttrackit.com</a
            >
          </h3>
        </div>

        <div class="business-requirement">
          <h6>Team</h6>
          <h3 class="font-sm">
            Node JS - 1<br />
            React - 1<br />
            UI/UX Design - 1<br />
            QA - 1<br />
            PM - 1<br />
            Tech Architect - 1<br />
            Android - 1<br />
            IOS - 1
          </h3>
        </div>
      </div>
      <div class="col-lg-8 col-md-7">
        <div class="title-wrap">
          <h4><span class="dots"></span> About</h4>
          <h2>
            <span>First Track It </span> - An Instant Passage Connecting the
            Production Operations With The Users
            <span class="dots"></span>
          </h2>

          <p>
            To hold a record of every update in the production process of an
            order, First Track It is a solution we derived for our client First
            Solutions. This is a process management solution allowing users to
            get instant updates on the process. A simplified platform connecting
            sellers and operators with the user making the order. Despite any
            inconvenience in the process, through this solution, we have worked
            to give the users acute information on their orders.
          </p>
          <p>
            We at Sparkout Tech are associated with First Solutions over a few
            projects now. We have been deriving solutions to meet global
            requirements. First Track It is a similar application that can
            contribute majorly to production tracking and other business
            operations involved by a plant. This is designed as a simple yet
            sleek application for users to conveniently place orders and get its
            update, while the customers and operators can update on the process
            going in just a few clicks.
          </p>
          <p>
            For example, if a manufacturing plant has a set of processes, it can
            define these processes inside the FirstTrackIt application. The
            manufacturer, workers, and users will have apps. Whenever a process
            is initiated, the worker will update it on the app. The user can
            view the progress of the process on the user app.
          </p>
          <p>
            The platform's subscription model made it a remunerative business,
            helping customers to reach out to multiple users and channelize
            their orders through these applications.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="busiessgoal bg-park">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <div class="title-wrap text-center">
          <h4><span class="dots"></span>Business Goal</h4>
          <h2>
            What <span> First Track It</span> Aims At?
            <span class="dots"></span>
          </h2>
          <p>
            Irrespective of the industry, operations, and products, there is a
            lot of risk, misplacements, and loss of track in the process of
            delivering fine products to the users on their order request. This
            delays and also occurs major loss in production and the consumer
            end.
          </p>
          <p>
            The difficulties in tracking and assigning orders have their
            difficulties internally and externally. First Track developed for
            First Solution, is a well-mannered, organized, and configured system
            connecting the users, operators, and customers together. The
            auto-responsive attitude makes things simpler.
          </p>
          <p class="mb-0 pb-0">
            The ultimate goal of First Track It is to cut the shortcomings and
            smoothen the vulnerabilities faced at the production deliverables in
            and around every sector. Eliminating the delay and finding accurate
            reasons through instant updates in the process of rendering the
            orders in any sector.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="solutions">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="title-wrap">
          <h4><span class="dots"></span>Challenges/Developing Challenges</h4>
          <h2>
            <span>Simplifying,</span> We Simplified For First Track It
            <span class="dots"></span>
          </h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 mb-3">
        <div class="challange challenge-wrap">
          <div class="chall-num">1</div>
          <p>
            The ultimate challenge was in curating a simple and sleek space for
            the users of First Track It. The idea was simple: facilitate
            information to the user on everything happening around the
            production and dispatch, until received.
          </p>
        </div>
      </div>
      <div class="col-lg-4 mb-3">
        <div class="challange challenge-wrap">
          <div class="chall-num">2</div>
          <p>
            Yet to make it look the way it sounds? We happened to work on a few
            designs and structures while making the requirements precise, short,
            and crisp, yet detailing everything.
          </p>
        </div>
      </div>
      <div class="col-lg-4 mb-3">
        <div class="challange challenge-wrap">
          <div class="chall-num">3</div>
          <p>
            Working on different nuances, we finally came up with the present
            design and have other structures soon to come on the platform. All
            of it focuses on step-to-step actions that are precise and
            particular.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <figure>
          <img
            src="assets/images/case-studies/firstblastit/about.jpg"
            class="img-fluid"
            alt="about"
            title="We Simplified For First Track It"
          />
        </figure>
      </div>
    </div>
  </div>
</section>
<section class="solutions bg-park bg-with-img bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="title-wrap">
          <h4><span class="dots"></span>Solution, Achievements</h4>
          <h2>
            <span>First Track It</span> So Far Is A Hit
            <span class="dots"></span>
          </h2>
          <p>
            Allowing Customers to track order status updates on the Production
            process, with regular 24 X 7 X 365 from the vendors, suppliers,
            firms, Agents, and everyone else. Complete package of information,
            which brings the order chasing, email, Phone calls, and messages
            collected as one through the First Track It user portals.
          </p>
          <p class="mb-0">
            As a blend of new technology and providing critically simplified
            solutions is also estimated to cut down service costs, for sure
            attracts global users. Moreover, the tension and longing and the
            desperate attitude behind every order made are completely taken off.
            It also provides synchronized real-time updates, anywhere, anytime
            making the road smooth.
          </p>
        </div>
        <!-- <div class="challange">

        </div> -->
      </div>
    </div>
  </div>
</section>
<!-- <section class="user-flow pb-0">
  <div class="container">
  </div>
</section> -->
<section class="app-features">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <div class="title-wrap">
          <h4><span class="dots"></span>Discovery, Workflow(Design process)</h4>
          <h2>
            <span>Working And Functionalities </span> Of First Track It
            <span class="dots"></span>
          </h2>

          <p>
            The First Track It application has three major subscription plans
            for the Users. $39/month for 10 customers, $69/month for 100
            customers, and $149/month for unlimited customers. It can be billed
            semi-annually and the subscription terms fall in after the 7 days
            trial for all subscription plans.
          </p>
        </div>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-lg-12">
        <div class="bussiness-common-heading common-heading">
          <h3>The User Application</h3>
          <p>
            To start with the User Panel, the one placing orders to their
            customers and its operators. Once after the registration process and
            choosing the subscription plan it redirects to the payment portal.
            Once it's completed, the user is open to access the application. SNN
            code number is generated for every user and it helps in identifying
            customers and managing them.
          </p>
          <p>
            Users can check on their orders in the Dashboard, while they can add
            their customers, Operators, the process, its sequences, and also
            choose its type, say Sequence or Independent. When a process is
            sequenced it comes in order, while the process is Independent it can
            act on its own from between.
          </p>
          <p>
            From setting the time, scheduling the dispatch time, process order,
            its priorities are managed and fixed by the user making the order.
            They can simply raise their order request organizing things based on
            their need and requirement. From Time to time every update from the
            customer and operators is updated to the user.
          </p>
          <p>
            The Exception option lists the reasons for the delay or any external
            or internal hindrance that has been occurring in the production or
            operations side of the customer, causing the delay. Once it's
            updated by the operator or customer, the Exception closes and the
            process continues.
          </p>

          <h3>There are 4 account types on the platform</h3>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-lg-6 col-md-6 mb-3">
        <div class="process-list">
          <h4 class="heading4">
            Manufacturing/Distribution <span class="process-num">1</span>
          </h4>
          <p>
            For the production industry comprising different levels of
            processes. As it connects manufacturers and distributors the lineage
            through the application updates on the production process via the
            platform.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 mb-3">
        <div class="process-list">
          <h4 class="heading4">
            Local Governance/Public Utility <span class="process-num">2</span>
          </h4>
          <p>
            Utilized by the local government operations, and public entities to
            monitor and track events and procedures in the locality.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 mb-3">
        <div class="process-list">
          <h4 class="heading4">
            Over the Counter/Cash Sales <span class="process-num">3</span>
          </h4>
          <p>
            Used by businesses carrying out counter sales and through online
            distributions. The vendor can track the orders they made while
            utilizing to update on the order received.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 mb-3">
        <div class="process-list">
          <h4 class="heading4">
            Applications Decisions Business <span class="process-num">4</span>
          </h4>
          <p>
            This account type is used by institutions or agencies, in general,
            to track their clients and data in one as they update and upload.
          </p>
        </div>
      </div>
    </div>

    <div class="row mb-3 justify-content-center">
      <div class="col-sm-6 col-12 mb-3">
        <div class="common-design blue text-center">
          <div class="z-index1">
            <figure class="orangebg">
              <img
                src="assets/images/case-studies/firstblastit/free-membership.svg"
                width="60"
                height="60"
                alt="Free membership"
                title="The Customer and Operator App"
              />
            </figure>
            <h3>The Customer and Operator App</h3>
            <p>
              Both applications are more similar, as the order is placed by the
              user, and the customer receives it and transcends it to the
              operator or the agent. Every update on the task for the operator
              on the task will be updated to the customer and the User
              simultaneously. For every Start, Exception, and Finish it's been
              instantly updated in the co-relative accounts.
            </p>
            <p>
              Before all this, the customer will be sent the SNN number to
              receive orders, as every SNN number is unique, it's easy to
              identify the user and their order.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-12 mb-3">
        <div class="common-design blue text-center">
          <div class="z-index1">
            <figure class="orangebg">
              <img
                src="assets/images/case-studies/firstblastit/standard-membership.svg"
                alt="Standard membership"
                title="The Admin Panel"
                width="60"
                height="60"
              />
            </figure>
            <h3>The Admin Panel</h3>
            <p>
              The Admin dashboard manages and maintains the record and track of
              the user's transactions. It generates Promo codes for discounts
              and offers. Subscriptions are managed and maintained here. And any
              alterations or updates in the platform can be updated through
              this.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="app-features pb-0">
  <div class="container">
    <div class="row mb-2">
      <div class="col-lg-6">
        <div class="title-wrap">
          <h4><span class="dots"></span>First Track It</h4>
          <h2><span>Design</span> Screens <span class="dots"></span></h2>
        </div>
      </div>
    </div>
    <div class="img-lg">
      <div class="row">
        <div class="col-lg-12">
          <figure>
            <img
              src="assets/images/case-studies/firstblastit/design-screens.jpg"
              class="img-fluid"
              alt="design screens"
              title="Workflow of First Track It"
            />
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <section class="app-features revenue-model">
  <div class="container">
    <div class="row mb-2">
      <div class="col-lg-12">
        <div class="bussiness-common-heading">
          <h3>Renewal process</h3>
          <p>
            The users can opt for Monthly or Yearly packages with auto-renewal
            options. The first card uploaded in the Credit Card Management
            section will stay as Default, it cannot be deleted while others can
            be. Any number of cards can be added and chosen as default.
            Meanwhile, the subscription can be upgraded or downgraded.
          </p>
        </div>
      </div>
    </div>
  </div>
</section> -->
<section class="feautures bg-park unique-features">
  <div class="container">
    <div class="row mb-3">
      <div class="col-lg-12 mx-auto">
        <div class="title-wrap text-center">
          <h4><span class="dots"></span>Unique Features</h4>
          <h2>
            <span>Features</span> Defining First Track It<span
              class="dots"
            ></span>
          </h2>
          <p>
            Never losing anything in the Process! First Track It, brings and
            binds the data and orders in the order and pushes its users to
            render precise output and delivery. And here are its features
            defining its capabilities.
          </p>
        </div>
        <div class="bussiness-common-heading">
          <div class="text-center">
            <div class="row"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="common-design">
          <h3>Simplified User Interface</h3>
          <p>
            The User, customer, and operators are facilitated with a simple yet
            effective interface with not more or nothing less, the very apt
            field with very precise information and data to proceed.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="common-design">
          <h3>Unique SNN code</h3>
          <p>
            The very unique SNN code is specified to the user placing the order.
            They can hold their customers and operators in the app based on
            their subscriptions. Being listed by the users, as customers and
            operators, this SNN code identifies the user and the order in
            request.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="common-design">
          <h3>Exception Feature</h3>
          <p>
            This option is present in all the dashboards. The main purpose of
            this is to inform the user of any delay or pause in the process from
            the operations side. In case of any hindrance or delay will be
            expressed through the Exceptions feature. And once it's recovered
            and the operation gets back to normal, the user will be instantly
            notified and the Exception closes.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="techstack">
  <div class="container">
    <div class="row mb-3">
      <div class="col-lg-12">
        <div class="title-wrap text-center">
          <h4><span class="dots"></span>Tools</h4>
          <h2><span>Tech </span> Stack <span class="dots"></span></h2>
        </div>
        <!-- <div class="bussiness-common-heading">
          <h5></h5>
          <h3>A great app needs the right tools and technology to perform</h3>
        </div> -->
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-12 mb-3">
        <div class="tech-stack-heading mb-3 text-center">
          <h3>Android</h3>
        </div>
        <div
          class="row row-cols-lg-5 row-cols-md-5 row-cols-sm-3 row-cols-2 justify-content-center"
        >
          <div class="col mb-3">
            <div class="tech-stack-wrap text-center">
              <img
                src="assets/images/techstack/mobile/kotlin.svg"
                width="70"
                height="70"
                alt="Android Studio"
                title="Mobile"
              />
              <p>Android Studio Electric Eel 2022.1.1</p>
            </div>
          </div>
          <div class="col mb-3">
            <div class="tech-stack-wrap text-center">
              <img
                src="assets/images/techstack/backend/java.svg"
                width="70"
                height="70"
                alt="Java"
                title="Backend"
              />
              <p>Java 11</p>
            </div>
          </div>
          <div class="col mb-3">
            <div class="tech-stack-wrap text-center">
              <img
                src="assets/images/techstack/mobile/flutter.svg"
                width="70"
                height="70"
                alt="Firebase Crashlytics"
                title="Android"
              />
              <p>Firebase Crashlytics 17.3.0</p>
            </div>
          </div>
          <div class="col mb-3">
            <div class="tech-stack-wrap text-center">
              <img
                src="assets/images/techstack/mobile/Socket-io.svg"
                width="70"
                height="70"
                alt="SocketIO"
                title="Database"
              />
              <p>SocketIO 2.0.1</p>
            </div>
          </div>
          <div class="col mb-3">
            <div class="tech-stack-wrap text-center">
              <img
                src="assets/images/techstack/mobile/ionic.svg"
                width="70"
                height="70"
                alt="Gradle"
                title="Android"
              />
              <p>Gradle 5.4.1</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 mb-3">
        <div class="tech-stack-heading mb-3 text-center">
          <h3>iOS</h3>
        </div>
        <div
          class="row row-cols-lg-5 row-cols-md-5 row-cols-sm-3 row-cols-2 justify-content-center"
        >
          <div class="col mb-3">
            <div class="tech-stack-wrap text-center">
              <img
                src="assets/images/techstack/mobile/swift.svg"
                width="70"
                height="70"
                alt="XCode 14"
                title="IOS"
              />
              <p>IDE: XCode 14</p>
            </div>
          </div>
          <div class="col mb-3">
            <div class="tech-stack-wrap text-center">
              <img
                src="assets/images/techstack/mobile/swift.svg"
                width="70"
                height="70"
                alt="Swift"
                title="IOS"
              />
              <p>Language: Swift 5.7</p>
            </div>
          </div>
          <div class="col mb-3">
            <div class="tech-stack-wrap text-center">
              <img
                src="assets/images/techstack/mobile/swift.svg"
                width="70"
                height="70"
                alt="iOS 12.0"
                title="Deployment Target"
              />
              <p>Deployment Target: iOS 12.0</p>
            </div>
          </div>
          <div class="col mb-3">
            <div class="tech-stack-wrap text-center">
              <img
                src="assets/images/techstack/cocoapods.png"
                width="70"
                height="70"
                alt="UIKit"
                title="UI Frameworks"
              />
              <p>UI Frameworks: UIKit</p>
            </div>
          </div>
          <div class="col mb-3">
            <div class="tech-stack-wrap text-center">
              <img
                src="assets/images/techstack/circleci.png"
                width="70"
                height="70"
                alt="circleci"
                title="Crashlytics"
              />
              <p>Crashlytics: Firebase/Crashlytics</p>
            </div>
          </div>
          <div class="col mb-3">
            <div class="tech-stack-wrap text-center">
              <img
                src="assets/images/techstack/circleci.png"
                width="70"
                height="70"
                alt="Cocoapods"
                title="Dependency"
              />
              <p>Dependency: Cocoapods</p>
            </div>
          </div>
          <div class="col mb-3">
            <div class="tech-stack-wrap text-center">
              <img
                src="assets/images/techstack/circleci.png"
                width="70"
                height="70"
                alt="Socket IO"
                title="Database"
              />
              <p>Socket IO</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 mb-3">
        <div class="tech-stack-heading mb-3 text-center">
          <h3>Back End</h3>
        </div>
        <div class="row row-cols-5 justify-content-center">
          <div class="col mb-3">
            <div class="tech-stack-wrap text-center">
              <img
                src="assets/images/techstack/mongodb.svg"
                width="70"
                height="70"
                alt="MongoDB"
                title="Database"
              />
              <p>MongoDB version 4.4</p>
            </div>
          </div>
          <div class="col mb-3">
            <div class="tech-stack-wrap text-center">
              <img
                src="assets/images/techstack/nodejs.svg"
                width="70"
                height="70"
                alt="Node"
                title="Backend"
              />
              <p>Node v14.19.1</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 mb-3">
        <div class="tech-stack-heading mb-3 text-center">
          <h3>Web</h3>
        </div>
        <div class="row row-cols-1">
          <div class="col mb-3">
            <div class="tech-stack-wrap text-center">
              <img
                src="assets/images/techstack/tailwind.svg"
                width="70"
                height="70"
                alt="tailwind"
                title="platform"
              />
              <p>Tailwind</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="my-5 mb-0" />
    <!--end-->
  </div>
</section>
<app-reviews></app-reviews>

<section class="result">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 pr-4">
        <div class="title-wrap">
          <h4><span class="dots"></span>Results</h4>
          <h2>
            <span>Steroid Services, </span> So Why Waiting?
            <span class="dots"></span>
          </h2>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="bussiness-common-heading mb-0">
          <p>
            The First Track It application is soon to be open for download in
            the Play Store and App Store. Its ability to act on a real-time
            basis, makes it pause and interrogate its ability. The pipeline is
            vast, the client is targeting the major production hubs in versatile
            sectors to barge into the application and make full use of it.
          </p>
          <p class="mb-0">
            Best regards,<br />
            Yokesh Sankar,
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <app-casestudy-scroll></app-casestudy-scroll> -->
<app-blog-scroll></app-blog-scroll>
<app-contact></app-contact>
