<!-- <div *ngIf="loading">
    <ngx-spinner
        [fullScreen] = "true"
        id="loadermain"
        template="">
        <img src='assets/images/logo/loader-logo.png' width='220'/>
    </ngx-spinner>
</div>
<div *ngIf="!loading">
    <app-header-new class="menu-toggler"></app-header-new>
    <router-outlet></router-outlet>
    <app-footer-new></app-footer-new>
</div> -->

<app-header-new class="menu-toggler"></app-header-new>
<router-outlet></router-outlet>
<app-footer-new></app-footer-new>
