<section class="brands-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="title-wrap d-flex flex-column align-items-center">
          <h4 class="d-flex justify-content-center">
            <span class="dots"></span> Our Brands
          </h4>
          <h2>
            <span>Pioneering </span> in deep technology and <br />
            product development <span class="dots"></span>
          </h2>
          <a [routerLink]="['/contact-us']" class="btn btn-primary"
            >Talk to our team
            <picture>
              <source
                type="image/webp"
                srcset="assets/images/home-new/icon-arrow-up.webp"
              />
              <source
                type="image/png"
                srcset="assets/images/home-new/icon-arrow-up.png"
              />
              <img
                loading="lazy"
                data-src="assets/images/home-new/icon-arrow-up.svg"
                alt="arrow-icon"
                title="arrow-icon"
                width="21"
                height="21"
                class="img-fluid"
              />
            </picture>
          </a>
        </div>
        <owl-carousel-o [options]="brandsOptions">
          <ng-template carouselSlide>
            <div class="brands-logo">
              <a href="https://www.blockchainx.tech/" target="_blank" rel="noopener noreferrer">
                <picture>
                  <source
                    type="image/webp"
                    srcset="assets/images/home-new/blockchainx.webp"
                  />

                  <source
                    type="image/png"
                    srcset="assets/images/home-new/blockchainx.png"
                  />

                  <img
                    loading="lazy"
                    data-src="assets/images/home-new/blockchainx.png"
                    alt="blockchainx"
                    class="img-fluid"
                    title="blockchainx"
                    width="195"
                    height="60"
                  />
                </picture>
              </a>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="brands-logo">
              <a href="https://codespotfoundation.org/" target="_blank" rel="noopener noreferrer">
                <picture>
                  <source
                    type="image/webp"
                    srcset="assets/images/home-new/codespot.webp"
                  />

                  <source
                    type="image/png"
                    srcset="assets/images/home-new/codespot.png"
                  />

                  <img
                    loading="lazy"
                    data-src="assets/images/home-new/codespot.png"
                    alt="codespot"
                    class="img-fluid"
                    title="codespot"
                    width="195"
                    height="60"
                  />
                </picture>
              </a>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="brands-logo">
              <a href="https://www.blockchainx.finance/" target="_blank" rel="noopener noreferrer">
                <picture>
                  <source
                    type="image/webp"
                    srcset="assets/images/home-new/bxfinance.webp"
                  />

                  <source
                    type="image/png"
                    srcset="assets/images/home-new/bxfinance.png"
                  />

                  <img
                    loading="lazy"
                    data-src="assets/images/home-new/bxfinance.png"
                    alt="BX Finance"
                    class="img-fluid"
                    title="BX Finance"
                    width="195"
                    height="60"
                  />
                </picture>
              </a>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="brands-logo">
              <a href="https://www.cyphershield.tech/" target="_blank" rel="noopener noreferrer">
                <picture>
                  <source
                    type="image/webp"
                    srcset="assets/images/home-new/cyphershield.webp"
                  />

                  <source
                    type="image/png"
                    srcset="assets/images/home-new/cyphershield.png"
                  />

                  <img
                    loading="lazy"
                    data-src="assets/images/home-new/cyphershield.png"
                    alt="cyphershield"
                    class="img-fluid"
                    title="cyphershield"
                    width="195"
                    height="60"
                  />
                </picture>
              </a>
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>
