<section class="what-we-dos">
  <app-blog-list></app-blog-list>

  <div class="container mt-5">
    <div class="row dosees">
      <div class="col-lg-5 col-md-6 pr-0 col-sm-12">
        <div class="getintouch">
          <h3>Get in Touch</h3>
          <h2 class="mb-4 text-white">
            You have a vision. We have a way to get you there.
          </h2>
          <div class="contact-social">
            <div>
              <img
                src="assets/images/c-skype.svg"
                width="63"
                height="63"
                alt="skype"
              />
            </div>
            <div class="mx-4">
              <h5>Skype</h5>
              <a href="skype:yokesh.sankar?chat">yokesh.sankar</a>
            </div>
          </div>
          <div class="contact-social mb-4">
            <div>
              <img
                src="assets/images/c-mail.svg"
                width="63"
                height="63"
                alt="mail"
              />
            </div>
            <div class="mx-4">
              <h5>Mail ID</h5>
              <a href="mailto:contact@sparkouttech.com"
                >contact@sparkouttech.com</a
              >
            </div>
          </div>
          <div class="contact-mob-no mb-4">
            <div class="mb-2">
              <h5>HR</h5>
              <a href="tel:8667726177">+91 86677 26177</a>
            </div>
            <div class="mb-2">
              <h5>Business</h5>
              <a href="tel:7708889555">+91 77088 89555</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-7 col-md-6 pl-0 col-sm-12">
        <div class="getintouch getintochform">
          <div #crmForm></div>
        </div>
      </div>
    </div>
  </div>
</section>
