<section class="subbanner">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 mb-4">
        <div class="title-wrap">
          <h4>DevOps Services</h4>
          <h1>New age of deployment <br/>with DevOps Experts!</h1>
        </div>
      </div>
      <div class="col-lg-5 mb-4">
        <div class="content-wrap">
          <p class="pt-5 mb-0">
            At Sparkout Tech, we provide comprehensive DevOps services that are
            highly scalable, agile and technology-driven IT solutions for your
            business. Our expertise can assist your business in being more
            effectively optimized, and we will automate all your business
            infrastructure.
          </p>
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-lg-12">
        <div class="subbanner-img">
          <img
            src="assets/images/Devops/devops-solution-banner.png"
            class="img-fluid"
            alt="DevOps Services banner"
          />
        </div>
      </div>
    </div>
  </div>
</section>
<section class="why-choose-us business-growth">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-6">
        <div class="title-wrap">
          <h4>Why Choose Us?</h4>
          <h2>An ideal DevOps team for <br/>your Growing Business</h2>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="drone-text-wrap">
          <p>
            With the right tools, we aid better solutions that unite development
            and operational needs based on demands. We help you jot from the
            beginning to the end of your platform development process through
            our expertise in DevOps services.
          </p>
        </div>
      </div>
    </div>

    <div class="row my-4 justify-content-center">
      <div class="col-lg-4 col-md-6 mb-3">
        <div class="what-we-do-app">
          <img
            src="assets/images/Devops/Fully-Automation.svg"
            alt="Fully Automation"
          />
          <h3>Fully automation</h3>
          <p>
            Our automation connects every end of the development process in
            order to deliver the product on time with enhanced efficiency.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-3">
        <div class="what-we-do-app">
          <img
            src="assets/images/Devops/Enhanced-Security.svg"
            alt="Enhanced Security"
          />
          <h3>Enhanced Security</h3>
          <p>
            Incorporating our DevOps services in the process, we ensure the
            security in the platform is tight, making the system agile.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-3">
        <div class="what-we-do-app">
          <img src="assets/images/Devops/Scalability.svg" alt="Customer Contentment" />
          <h3>Customer Contentment</h3>
          <p>
            We leverage technologies to develop innovative, user-friendly
            business services that are secure, scalable, flexible, and at the
            same time meet your needs.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="business-growth pt-100 devops-approach">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-6">
        <div class="title-wrap">
          <h4>DevOps Approach</h4>
          <h2>Strict planning and implementations to Swirl-up</h2>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="drone-text-wrap">
          <p>
            With our expert DevOps team, we meet your business goals, through
            toolchains. Our strategies never miss out on the very purpose and
            help to derive an agile solution.
          </p>
        </div>
      </div>
    </div>
    <div class="title-wrap">
      <p class="ls-1 mb-5">
        <span>></span> Test Automation <span>></span> Continuous
        Integration/Delivery <span>></span> Expertise in Popular Databases
        <span>></span> 3rd Party Services / Platforms / SDK
      </p>
    </div>

    <div class="what-devops">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-3 mt-4 justify-content-center">
        <div class="col mb-5">
          <div class="what-we-do-app">
            <h3>The plan</h3>
            <p>
              Collecting the requirements, we work out a plan for the platform,
              based on its nature, features, and abilities.
            </p>
          </div>
        </div>
        <div class="col mb-5">
          <div class="what-we-do-app">
            <h3>Coding</h3>
            <p>
              From the plan, we work on executing the required codes and derive
              action results on the infrastructure.
            </p>
          </div>
        </div>
        <div class="col mb-5">
          <div class="what-we-do-app">
            <h3>Deployment</h3>
            <p>
              The different parts of the applications are put together to catch
              up on the requirements, and it's tested multiple times on
              different propositions to avoid bugs.
            </p>
          </div>
        </div>
        <div class="col mb-5">
          <div class="what-we-do-app">
            <h3>Integration</h3>
            <p>
              When there are new abilities developed and need to be added, it's
              brought on time to integrate into the platform with automation.
            </p>
          </div>
        </div>
        <div class="col mb-5">
          <div class="what-we-do-app">
            <h3>Security</h3>
            <p>
              We ensure to stick to strong security measures throughout the
              process of deployment to render a highly scalable yet secured
              ecosystem.
            </p>
          </div>
        </div>
      </div>

      <div class="row mt-4 continous-mob">
        <div class="col-6 w-60">
          <div class="continuous">
            <hr />
            <p>Continuous integration</p>
          </div>
        </div>
      </div>
      <div class="row mt-4 continous-mob">
        <div class="col-9 w-80">
          <div class="continuous">
            <hr />
            <p>Continuous Delivery</p>
          </div>
        </div>
      </div>
      <div class="row mt-4 continous-mob">
        <div class="col-12">
          <div class="continuous">
            <hr />
            <p>Continuous Feedback</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="what-we-do wwd-sticky">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="sticky">
          <div class="title-wrap">
            <h4>What We Do</h4>
            <h2 class="mb-3">
              Get precise and particular solutions with our DevOps services.
            </h2>
          </div>
          <div class="row mb-4 justify-content-center text-center">
            <div class="col-lg-6 col-6">
              <div class="what-we-do-app">
                <img
                  src="assets/images/Devops/Anywhere-Anytime-Infrastructure.svg"
                  alt="Testing and deployment are handy"
                />
                <h3>Testing and deployment are handy</h3>
              </div>
            </div>
            <div class="col-lg-6 col-6">
              <div class="what-we-do-app">
                <img
                  src="assets/images/Devops/Hybrid-workforce-by-design.svg"
                  alt="Encouraging Innovative automation"
                />
                <h3>Encouraging Innovative automation
                </h3>
              </div>
            </div>
            <div class="col-lg-6 col-6">
              <div class="what-we-do-app">
                <img
                  src="assets/images/Devops/Integrate-testing-with-development.svg"
                  alt="Infrastructure anywhere"
                />
                <h3>Infrastructure anywhere
                </h3>
              </div>
            </div>
            <div class="col-lg-6 col-6">
              <div class="what-we-do-app">
                <img
                  src="assets/images/Devops/Automate-work-to-encourage-innovation.svg"
                  alt="Hybrid workspace for design "
                />
                <h3>Hybrid workspace for design </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="techstack">
          <h2 class="mb-4">Continuous Integrations & Delivery</h2>
          <p>
            Update your code regularly during the build and keep your product
            ready to be launched with continuous integrations and continuous
            delivery.
          </p>
        </div>
        <hr class="mb-5" />
        <div class="techstack">
          <h2 class="mb-4">Microservices</h2>
          <p>
            This allows your products to be modular. You can create applications
            with components that can be upgraded and maintained independently.
          </p>
        </div>
        <hr class="mb-5" />
        <div class="techstack">
          <h2 class="mb-4">Infrastructure as a Service</h2>
          <p>
            This technique allows you to manage your IT infrastructure using
            configuration files rather than depending on hardware
            configurations.
          </p>
        </div>
        <hr class="mb-5" />
        <div class="techstack">
          <h2 class="mb-4">Platform as Code</h2>
          <p>
            PaC method allows to code and execute declarative instructions about
            the platform layer which includes the operating system and other
            tools required for your application.
          </p>
        </div>
        <hr class="mb-5" />
        <div class="techstack">
          <h2 class="mb-4">Security Integration</h2>
          <p>
            It is important for DevOps teams to follow best security practices
            from the planning stage of a project and apply proper automation.
          </p>
        </div>
        <hr class="mb-5" />
        <div class="techstack">
          <h2 class="mb-4">Monitoring and Logging</h2>
          <p>
            Analyzing the proper metrics and logging of data such as state
            changes are crucial to ensure that your build performs as it should.
          </p>
        </div>
      </div>
    </div>
    <!--end-->
  </div>
</section>

<section class="why-choose-us nobefore-blue pt-100 pb-100">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-10 mx-auto">
        <div class="title-wrap text-center">
          <h4>Benefits of DevOps</h4>
          <h2>Our energetic team of DevOps experts understands your needs & emphasizes deploying a custom solution
          </h2>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div
        class="col-lg-6 col-md-6 mb-3 order-last order-sm-last order-md-first order-lg-first"
      >
        <div class="mobileapps-left">
          <img
            src="assets/images/Devops/Benefits-of-DevOps.png"
            class="img-fluid rounded-2rem"
            alt="Benefits of DevOps"
          />
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="mobileapps-text-wrap">
          <h2>How can Cloud Computing help your Project?          </h2>
          <p class="pb-30">
            In this day and age, it's not just about delivering a great product, it’s about delivering it fast without compromising on reliability. Getting the right DevOps team for your project ensures that you can deliver scalable products faster, work with stable operating environments, and deliver efficiency.

          </p>
          <div class="row mbmb-20">
                  <div class="col-lg-6">
                    <ul class="list">
                      <li>Scalable Solution</li>
                      <li>Faster deployment</li>
                    </ul>
                  </div>
                  <div class="col-lg-6">
                    <ul class="list">
                      <li>Better automation</li>
                      <li>Highly Secured</li>
                    </ul>
                  </div>
              </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="business-growth pt-100 pb-60 devops-values">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-6">
        <div class="title-wrap">
          <h4>DevOps Values</h4>
          <h2>Integrate cloud infrastructures with our DevOps Intellects</h2>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="drone-text-wrap">
          <p>
            DevOps has no stereotypes to follow coherently, as the process
            entirely vest on the requirements and resolutions.
          </p>
        </div>
      </div>
    </div>

    <div class="row mt-4 justify-content-center">
      <div class="col-lg-4 col-md-6 mb-5">
        <div class="what-we-do-app">
          <h3>Collaboration & Communication</h3>
          <p>
            The core of DevOps is collaboration, bringing in all the creatives
            together as one, communication is unhindered and expelled all over
            the process keenly.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-5">
        <div class="what-we-do-app">
          <h3>Transparency, Innovation, Freedom</h3>
          <p>
            Open communication emphasis on end to end transparency laying hands
            on the end product while the freedom to open up bring in innovatives
            from all over.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-5">
        <div class="what-we-do-app">
          <h3>CALMs</h3>
          <p>
            A cultural shift applies all fundamentals, the CALMs framework,
            analysis the values of culture, lean, automation, measurements,
            sharing, etc to evaluate on par ratio.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="what-we-work">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-10 col-md-10 mx-auto">
        <div class="title-wrap text-center">
          <h4>Industries We Work With</h4>
          <h2>Sectors with wider opportunities.</h2>
          <p>
            Our expertise is in deriving first-class solutions with our DevOps
            services. We have put our hands on a wide range of sectors to grow
            and groom.
          </p>
        </div>
      </div>
    </div>

    <div class="desktop-whatwedo desktop-industry-expertise pb-100">
      <div class="row mb-4">
        <ul class="nav nav-tabs d-none d-lg-flex" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button
              class="nav-link active"
              id="fintech-tab"
              data-bs-toggle="tab"
              data-bs-target="#fintech-tab-pane"
              type="button"
              role="tab"
              aria-controls="fintech-tab-pane"
              aria-selected="true"
            >
              Fintech
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="real-tab"
              data-bs-toggle="tab"
              data-bs-target="#real-tab-pane"
              type="button"
              role="tab"
              aria-controls="real-tab-pane"
              aria-selected="false"
            >
              Real Estate
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="travel-tab"
              data-bs-toggle="tab"
              data-bs-target="#travel-tab-pane"
              type="button"
              role="tab"
              aria-controls="travel-tab-pane"
              aria-selected="false"
            >
              Travel
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="sports-tab"
              data-bs-toggle="tab"
              data-bs-target="#sports-tab-pane"
              type="button"
              role="tab"
              aria-controls="sports-tab-pane"
              aria-selected="false"
            >
              Sports
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="social-tab"
              data-bs-toggle="tab"
              data-bs-target="#social-tab-pane"
              type="button"
              role="tab"
              aria-controls="social-tab-pane"
              aria-selected="false"
            >
              Social Networking
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="media-tab"
              data-bs-toggle="tab"
              data-bs-target="#media-tab-pane"
              type="button"
              role="tab"
              aria-controls="media-tab-pane"
              aria-selected="false"
            >
              Media & Entertainment
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="logistics-tab"
              data-bs-toggle="tab"
              data-bs-target="#logistics-tab-pane"
              type="button"
              role="tab"
              aria-controls="logistics-tab-pane"
              aria-selected="false"
            >
              Transportation & Logistics

            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="healthcare-tab"
              data-bs-toggle="tab"
              data-bs-target="#healthcare-tab-pane"
              type="button"
              role="tab"
              aria-controls="healthcare-tab-pane"
              aria-selected="false"
            >
              Healthcare Solution
            </button>
          </li>
        </ul>
        <div
          class="tab-content accordion our-industry-common"
          id="myTabContent"
        >
          <div
            class="tab-pane fade show active accordion-item"
            id="fintech-tab-pane"
            role="tabpanel"
            aria-labelledby="fintech-tab"
            tabindex="0"
          >
            <h2 class="accordion-header d-lg-none" id="headingFive">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFive"
                aria-expanded="true"
                aria-controls="collapseFive"
              >
                Fintech
              </button>
            </h2>
            <div
              id="collapseFive"
              class="accordion-collapse collapse show d-lg-block"
              aria-labelledby="headingFive"
              data-bs-parent="#myTabContent"
            >
              <div class="accordion-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="our-industry-main-wrap">
                      <div class="row mb-4">
                        <div class="col-sm-6">
                          <figure class="mb-0 h-full">
                            <img
                              src="assets/images/our-industry/fintech1.png"
                              class="mb-4 img-fluid"
                              alt="Fintech"
                            />
                          </figure>
                        </div>
                        <div class="col-sm-6">
                          <figure>
                            <img
                              src="assets/images/our-industry/fintech2.png"
                              class="mb-4 img-fluid"
                              alt="Fintech"
                            />
                          </figure>
                          <figure class="mb-0">
                            <img
                              src="assets/images/our-industry/fintech3.png"
                              class="mb-4 img-fluid"
                              alt="Fintech"
                            />
                          </figure>
                        </div>
                      </div>
                      <p>
                        Make your customers digital banking and investing
                        experience smooth without irritation like banking long
                        queue lines..
                        <span
                          >Easy Money Transfer | Investment & Guides | Manage
                          Daily Expenses</span
                        >
                      </p>
                      <div class="my-5 mb-0">
                        <a
                          [routerLink]="['/fintech-application-development']"
                          class="explore-now"
                          >Explore Industry Details
                          <img
                            src="assets/images/Icon--arrow-right.svg"
                            alt="next-icon"
                            class="explore-img"
                        /></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade accordion-item"
            id="real-tab-pane"
            role="tabpanel"
            aria-labelledby="real-tab"
            tabindex="0"
          >
            <h2 class="accordion-header d-lg-none" id="headingOne">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="false"
                aria-controls="collapseOne"
              >
                Real Estate
              </button>
            </h2>
            <div
              id="collapseOne"
              class="accordion-collapse collapse d-lg-block"
              aria-labelledby="headingOne"
              data-bs-parent="#myTabContent"
            >
              <div class="accordion-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="our-industry-main-wrap">
                      <figure>
                        <img
                          src="assets/images/our-industry/real-estate.png"
                          class="mb-4 img-fluid"
                          alt="Real Estate"
                        />
                      </figure>
                      <p>
                        Leverage the power of mobile applications and expand
                        your real-estate business to multiple device screens
                        with us.
                      </p>
                      <div class="my-5 mb-0">
                        <a
                          class="explore-now"
                          [routerLink]="[
                            '/real-estate-application-development'
                          ]"
                          >Explore Industry Details
                          <img
                            src="assets/images/Icon--arrow-right.svg"
                            alt="next-icon"
                            class="explore-img"
                        /></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade accordion-item"
            id="travel-tab-pane"
            role="tabpanel"
            aria-labelledby="travel-tab"
            tabindex="0"
          >
            <h2 class="accordion-header d-lg-none" id="headingTwo">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                Travel
              </button>
            </h2>
            <div
              id="collapseTwo"
              class="accordion-collapse collapse d-lg-block"
              aria-labelledby="headingTwo"
              data-bs-parent="#myTabContent"
            >
              <div class="accordion-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="our-industry-main-wrap">
                      <figure>
                        <img
                          src="assets/images/our-industry/travel.png"
                          class="mb-4 img-fluid"
                          alt="Travel"
                        />
                      </figure>
                      <p>
                        Help millions of travelers travel safely and stay
                        comfortably through an app that makes the booking
                        process a breeze.
                      </p>

                      <div class="my-5 mb-0">
                        <a
                          [routerLink]="['/travel-application-development']"
                          class="explore-now"
                          >Explore Industry Details
                          <img
                            src="assets/images/Icon--arrow-right.svg"
                            alt="next-icon"
                            class="explore-img"
                        /></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade accordion-item"
            id="sports-tab-pane"
            role="tabpanel"
            aria-labelledby="sports-tab"
            tabindex="0"
          >
            <h2 class="accordion-header d-lg-none" id="headingThree">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree"
              >
                Sports
              </button>
            </h2>
            <div
              id="collapseThree"
              class="accordion-collapse collapse d-lg-block"
              aria-labelledby="headingThree"
              data-bs-parent="#myTabContent"
            >
              <div class="accordion-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="our-industry-main-wrap">
                      <figure>
                        <img
                          src="assets/images/our-industry/sports.png"
                          class="mb-4 img-fluid"
                          alt="Sports"
                        />
                      </figure>
                      <p>
                        Track and manage your athletes with an innovative mobile
                        application that anyone can easily use and experience.
                      </p>
                      <div class="my-5 mb-0">
                        <a
                          [routerLink]="['/sports-application-development']"
                          class="explore-now"
                          >Explore Industry Details
                          <img
                            src="assets/images/Icon--arrow-right.svg"
                            alt="next-icon"
                            class="explore-img"
                        /></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade accordion-item"
            id="social-tab-pane"
            role="tabpanel"
            aria-labelledby="social-tab"
            tabindex="0"
          >
            <h2 class="accordion-header d-lg-none" id="headingFour">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFour"
                aria-expanded="false"
                aria-controls="collapseFour"
              >
                Social Networking
              </button>
            </h2>
            <div
              id="collapseFour"
              class="accordion-collapse collapse d-lg-block"
              aria-labelledby="headingFour"
              data-bs-parent="#myTabContent"
            >
              <div class="accordion-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="our-industry-main-wrap">
                      <figure>
                        <img
                          src="assets/images/our-industry/social.png"
                          class="mb-4 img-fluid"
                          alt="Social Networking"
                        />
                      </figure>
                      <p>
                        Witness the genesis of the next generation in human
                        interactions by building the next big social media
                        platform.
                      </p>
                      <div class="my-5 mb-0">
                        <a
                          [routerLink]="[
                            '/social-media-application-development'
                          ]"
                          class="explore-now"
                          >Explore Industry Details
                          <img
                            src="assets/images/Icon--arrow-right.svg"
                            alt="next-icon"
                            class="explore-img"
                        /></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade accordion-item"
            id="media-tab-pane"
            role="tabpanel"
            aria-labelledby="media-tab"
            tabindex="0"
          >
            <h2 class="accordion-header d-lg-none" id="headingSix">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseSix"
                aria-expanded="false"
                aria-controls="collapseSix"
              >
                Media & Entertainment
              </button>
            </h2>
            <div
              id="collapseSix"
              class="accordion-collapse collapse d-lg-block"
              aria-labelledby="headingSix"
              data-bs-parent="#myTabContent"
            >
              <div class="accordion-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="our-industry-main-wrap">
                      <figure>
                        <img
                          src="assets/images/our-industry/media.png"
                          class="mb-4 img-fluid"
                          alt="Media & Entertainment"
                        />
                      </figure>
                      <p>
                        Create amazing applications that users would spend their
                        quality screen times on with a media & entertainment
                        app.
                      </p>
                      <div class="my-5 mb-0">
                        <a
                          [routerLink]="[
                            '/media-and-entertainment-application-development'
                          ]"
                          class="explore-now"
                          >Explore Industry Details
                          <img
                            src="assets/images/Icon--arrow-right.svg"
                            alt="next-icon"
                            class="explore-img"
                        /></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade accordion-item"
            id="logistics-tab-pane"
            role="tabpanel"
            aria-labelledby="logistics-tab"
            tabindex="0"
          >
            <h2 class="accordion-header d-lg-none" id="headingSeven">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseSeven"
                aria-expanded="false"
                aria-controls="collapseSeven"
              >
                Transportation & Logistics

              </button>
            </h2>
            <div
              id="collapseSeven"
              class="accordion-collapse collapse d-lg-block"
              aria-labelledby="headingSeven"
              data-bs-parent="#myTabContent"
            >
              <div class="accordion-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="our-industry-main-wrap">
                      <figure>
                        <img
                          src="assets/images/our-industry/logistic.png"
                          class="mb-4 img-fluid"
                        />
                      </figure>
                      <p>
                        Track your supply chain & logistics operations with a
                        highly scalable mobile application that streamlines your
                        business.
                      </p>
                      <div class="my-5 mb-0">
                        <a
                          [routerLink]="['/logistics-application-development']"
                          class="explore-now"
                          >Explore Industry Details
                          <img
                            src="assets/images/Icon--arrow-right.svg"
                            class="explore-img"
                            alt="next-icon"
                        /></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade accordion-item"
            id="healthcare-tab-pane"
            role="tabpanel"
            aria-labelledby="healthcare-tab"
            tabindex="0"
          >
            <h2 class="accordion-header d-lg-none" id="headingEight">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseEight"
                aria-expanded="false"
                aria-controls="collapseEight"
              >
                Healthcare Solution
              </button>
            </h2>
            <div
              id="collapseEight"
              class="accordion-collapse collapse d-lg-block"
              aria-labelledby="headingEight"
              data-bs-parent="#myTabContent"
            >
              <div class="accordion-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="our-industry-main-wrap">
                      <figure>
                        <img
                          src="assets/images/our-industry/health.png"
                          class="mb-4 img-fluid"
                          alt="Healthcare solution"
                        />
                      </figure>
                      <p>
                        Now, deliver the best healthcare to your customer’s palm
                        by creating a robust and secure app that works on all
                        devices.
                      </p>
                      <div class="my-5 mb-0">
                        <a
                          [routerLink]="['/healthcare-application-development']"
                          class="explore-now"
                          >Explore Industry Details
                          <img
                            src="assets/images/Icon--arrow-right.svg"
                            alt="next-icon"
                            class="explore-img"
                        /></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="business-growth">
      <div class="row mb-5">
        <div class="col-lg-6">
          <div class="title-wrap">
            <h4>Enhance Growth With Us</h4>
            <h2>Empower your Business with an highly abled DevOps Team</h2>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="drone-text-wrap">
            <p>
              We entrust security and compliance at the early stage of the project. The core value of our DevOps team is to deliver quality solutions that are permeable to act per need. Our development checklist insists on the following.

            </p>
          </div>
        </div>
      </div>

      <div class="row my-4 justify-content-center">
        <div class="col-lg-4 col-md-6 mb-3">
          <div class="what-we-do-app">
            <img
              src="assets/images/Devops/complex-delivery-experience.svg"
              alt="Improved Customer Experience"
            />
            <h3>Improved Customer Experience</h3>
            <p>
              Everything we do or build is done to satisfy global needs. Our expert DevOps engineers understand the purging need of the utilisers and help you build solutions that suffice to meet.

            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-3">
          <div class="what-we-do-app">
            <img
              src="assets/images/Devops/skilled-and-talented-engineers.svg"
              alt="On-Time Deployment"
            />
            <h3>On-Time Deployment
            </h3>
            <p>
              Apart From being highly efficient, being on time is also very important. We ensure to deliver high-quality solutions on time and assure to back you all and the business needs all time.

            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-3">
          <div class="what-we-do-app">
            <img
              src="assets/images/Devops/dedicated-devOps-team.svg"
              alt="Extensively Creative Team"
            />
            <h3>Extensively Creative Team</h3>
            <p>
              To be punctual is important, however, the creativeness and difference in approach can bring revolutionary changes. Our creatives in the team help you identify better solutions in the most unexpected manner.

            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="technolgies pt-100 pb-80">
  <div class="container">
    <div class="row mb-4">
      <div class="col-lg-8 col-md-11 col-sm-12 mx-auto">
        <div class="common-text-wrap text-center">
          <h4 class="text-center">Tools</h4>
          <h2>
            We vitalize on trending and scalable technologies to derive
            solutions with higher efficiency and possibilities.
          </h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-2 col-md-3 col-sm-4 col-4">
            <div class="tech-stack-details">
              <img
                src="assets/images/techstack/devops/aws.svg"
                width="80"
                height="80"
                class="mb-3"
                alt="Amazon AWS"
              />
              <p>Amazon AWS</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4 col-4">
            <div class="tech-stack-details">
              <img
                src="assets/images/techstack/devops/mazure.svg"
                width="80"
                height="80"
                class="mb-3"
                alt="Microsoft Azure"
              />
              <p>Microsoft Azure</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4 col-4">
            <div class="tech-stack-details">
              <img
                src="assets/images/techstack/devops/digital-ocean.svg"
                width="80"
                height="80"
                class="mb-3"
                alt="Digital Ocean"
              />
              <p>Digital Ocean</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4 col-4">
            <div class="tech-stack-details">
              <img
                src="assets/images/techstack/devops/docker.svg"
                width="80"
                height="80"
                class="mb-3"
                alt="Docker"
              />
              <p>Docker</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4 col-4">
            <div class="tech-stack-details">
              <img
                src="assets/images/techstack/devops/kubernetes.svg"
                width="80"
                height="80"
                class="mb-3"
                alt="Kubernetes"
              />
              <p>Kubernetes</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4 col-4">
            <div class="tech-stack-details">
              <img
                src="assets/images/techstack/devops/jenkins.svg"
                width="80"
                height="80"
                class="mb-3"
                alt="Jenkins"
              />
              <p>Jenkins</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-casestudy-scroll></app-casestudy-scroll>
<app-blog-scroll></app-blog-scroll>
<app-contact></app-contact>
<!-- <app-footer></app-footer> -->
<!--end-->
