<section class="technology-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="title-wrap">
          <h4><span class="dots"></span> Technology</h4>
          <h2>
            <span>We discover,</span> imagine <br />
            and implement the right tech <span class="dots"></span>
          </h2>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="title-wrap">
          <p>
            We believe in building technology that impacts human lives. Leverage
            the latest technologies to transform your business and curate the
            perfect customer experience for your clients.
          </p>
          <a [routerLink]="['/contact-us']" class="btn btn-primary"
            >Talk to our team
            <picture>
              <source
                type="image/webp"
                srcset="assets/images/home-new/icon-arrow-up.webp"
              />
              <source
                type="image/png"
                srcset="assets/images/home-new/icon-arrow-up.png"
              />
             <img
                loading="lazy"
                data-src="assets/images/home-new/icon-arrow-up.svg"
                alt="arrow-icon"
                title="arrow-icon"
                width="21"
                height="21"
                class="img-fluid"
              />
            </picture>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="technology-card">
          <figure>
            <picture>
              <source
                type="image/webp"
                srcset="assets/images/home-new/metaverse.webp"
              />
              <source
                type="image/jpg"
                srcset="assets/images/home-new/metaverse.jpg"
              />
              <img
                loading="lazy"
                data-src="assets/images/home-new/metaverse.jpg"
                width="356"
                height="252"
                class="img-fluid"
                alt="metaverse"
                title="Metaverse Development"
              />
            </picture>
          </figure>
          <h3>Metaverse Development</h3>
          <p>
            Create immersive virtual spaces in the Metaverse for your customers
            and upscale your brand recognition.
          </p>
          <a
            href="https://www.blockchainx.tech/metaverse-development-company/"
            target="_blank" rel="noopener noreferrer"
            class="btn btn-primary"
            >Learn More
            <picture>
              <source
                type="image/webp"
                srcset="assets/images/home-new/icon-arrow-up.webp"
              />
              <source
                type="image/png"
                srcset="assets/images/home-new/icon-arrow-up.png"
              />
             <img
                loading="lazy"
                data-src="assets/images/home-new/icon-arrow-up.svg"
                alt="arrow-icon"
                title="arrow-icon"
                width="21"
                height="21"
                class="img-fluid"
              />
            </picture>
          </a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="technology-card">
          <figure>
            <picture>
              <source
                type="image/webp"
                srcset="assets/images/home-new/openai-development.webp"
              />
              <source
                type="image/jpg"
                srcset="assets/images/home-new/openai-development.jpg"
              />
              <img
                loading="lazy"
                data-src="assets/images/home-new/openai-development.jpg"
                width="356"
                height="252"
                class="img-fluid"
                alt="openai-development"
                title="OpenAI Development"
              />
            </picture>
          </figure>
          <h3>OpenAI Development</h3>
          <p>
            Integrate OpenAI's APIs with your platform & give your application
            the AI boost it needs for the ultimate customer experience.
          </p>
          <a
            [routerLink]="['/artificial-intelligence-application-development-company']"
            class="btn btn-primary"
            >Learn More
            <picture>
              <source
                type="image/webp"
                srcset="assets/images/home-new/icon-arrow-up.webp"
              />
              <source
                type="image/png"
                srcset="assets/images/home-new/icon-arrow-up.png"
              />
             <img
                loading="lazy"
                data-src="assets/images/home-new/icon-arrow-up.svg"
                alt="arrow-icon"
                title="arrow-icon"
                width="21"
                height="21"
                class="img-fluid"
              />
            </picture>
          </a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="technology-card">
          <figure>
            <picture>
              <source
                type="image/webp"
                srcset="assets/images/home-new/enterprise-blockchain.webp"
              />
              <source
                type="image/jpg"
                srcset="assets/images/home-new/enterprise-blockchain.jpg"
              />
              <img
                loading="lazy"
                data-src="assets/images/home-new/enterprise-blockchain.jpg"
                width="356"
                height="252"
                class="img-fluid"
                alt="enterprise-blockchain"
                title="Enterprise Blockchain"
              />
            </picture>
          </figure>
          <h3>Enterprise Blockchain</h3>
          <p>
            Build secure and decentralized solutions for business use cases with
            our enterprise software development services
          </p>
          <a
            [routerLink]="['/blockchain-development-company']"
            class="btn btn-primary"
            >Learn More
            <picture>
              <source
                type="image/webp"
                srcset="assets/images/home-new/icon-arrow-up.webp"
              />
              <source
                type="image/png"
                srcset="assets/images/home-new/icon-arrow-up.png"
              />
             <img
                loading="lazy"
                data-src="assets/images/home-new/icon-arrow-up.svg"
                alt="arrow-icon"
                title="arrow-icon"
                width="21"
                height="21"
                class="img-fluid"
              />
            </picture>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
