<section class="banners-section home-banner sub-banner">
  <div class="common">
    <img
      src="assets/images/case-studies/case-studies-banner.jpg"
      class="img-fluid"
      alt="DeepLens Case Study"
      title="DeepLens Case Study"
    />
    <div class="banner-text d-flex justify-content-center align-self-center">
      <div class="title-wrap">
        <h4><span class="dots"></span>DeepLens</h4>
        <h2>
          <span>A unified social platform </span> for Pathologists <br />
          Healthcare Mobile App Case Study
          <span class="dots"></span>
        </h2>
        <!-- <p>DeepLens:   -
          </p> -->
        <div class="d-flex justify-content-center">
          <a class="btn btn-primary" [routerLink]="['/contact-us']"
            >Get In Touch
            <img
              src="assets/images/home-new/icon-banner-arrowup.svg"
              alt="Arrow up"
              title="Arrow up"
          /></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <section class="parkcase-studies">
  <div class="container">
    <div class="row">
      <div class="firstpart bg-park">
        <div class="row align-items-center">
          <div class="col-lg-7 col-md-7 mb-3">
            <div class="part-one">
              <img
                src="assets/images/case-studies/deeplens/deeplens-logo1.png"
                class="img-fluid mb-3"
                alt="deeplens-logo"
                title="DeepLens: A unified social platform for Pathologists"
                width="250"
              />
              <h1>
                DeepLens: A unified social platform for Pathologists -
                Healthcare Mobile App Case Study
              </h1>
              <h4>DeepLens</h4>
            </div>
          </div>
          <div class="col-lg-5 col-md-5 mb-3">
            <div class="text-right">
              <img
                src="assets/images/case-studies/firstblastit/firstblastit-banner1.png"
                class="img-fluid"
                alt="firstblastit"
                title="Deeplens Healthcare Mobile App Case Study"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<section class="requirements">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-5">
        <div class="business-requirement">
          <h6>Client Name</h6>
          <h3>
            <a href="http://www.deeplens.ai" target="_blank">DeepLens</a>
          </h3>
        </div>
        <div class="business-requirement">
          <h6>Business</h6>
          <h3>Medical Industry, Research</h3>
        </div>
        <div class="business-requirement">
          <h6>Country</h6>
          <h3>United States of America</h3>
        </div>
        <div class="business-requirement">
          <h6>Website</h6>
          <h3>
            <a href="http://www.deeplens.ai" target="_blank">deeplens.ai</a>
          </h3>
        </div>
        <div class="business-requirement">
          <h6>Description</h6>
          <h3>
            Connecting Pathologists in the locality, contributing to better
            their community and research.
          </h3>
        </div>
        <div class="business-requirement">
          <h6>Services</h6>
          <h3>Social Handle For Pathologists to interact on their research.</h3>
        </div>
        <div class="business-requirement">
          <h6>Industries</h6>
          <h3>Healthcare, Social Media</h3>
        </div>

        <div class="business-requirement">
          <h6>Team</h6>
          <h3 class="font-sm">
            Backend - 1<br />
            Frontend - 1<br />
            UI/UX Design - 1<br />
            QA - 1<br />
            PM - 1<br />
            Tech Architect - 1<br />
          </h3>
        </div>
      </div>
      <div class="col-lg-8 col-md-7">
        <div class="title-wrap">
          <h4><span class="dots"></span> About</h4>
          <h2>
            <span>DeepLens</span> - From The Eye Of Creators
            <span class="dots"></span>
          </h2>

          <p>
            Started with the idea to connect with Pathologists and contribute an
            efficient social handle to ease interactions and facilitate secured
            data sharing abilities. DeepLens is a social networking Healthcare
            software solution developed at Sparkout, the house of innovations.
            This is a mobile health analysis app development solution crafted
            for the healthcare sector.
          </p>
          <p>
            This healthcare case study on AR/VR-driven healthcare solutions was
            built for our client who wanted to bridge the community of
            Pathologists with their medical research needs. With our expert team
            undergoing rigorous research, we can with a solution connecting the
            dots and the users(pathologists) as one.
          </p>
          <p>
            DeepLens is a social networking application, developed for Android.
            It was specially developed for pathologists in the US to connect and
            interact better with their fellow communities via the application's
            features.
          </p>
          <p>
            DeepLens more or less resembles the popular social media platforms
            making it easy and convenient to work with. A Professionally
            endorsed application with features to build great personal
            connections.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="busiessgoal bg-park">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <div class="title-wrap text-center">
          <h4><span class="dots"></span>Business Goal</h4>
          <h2>
            <span> Ambitious </span>Social Network Platform
            <span class="dots"></span>
          </h2>
          <p>
            The idea behind DeepLens was to create and manage a community of
            Pathologists. The client wanted to connect pathologists around the
            country and build an efficient medium that contributes to better
            specimen analysis and their professional growth. This social
            networking model was designed to meet the need more effectively and
            also integrate security measures to secure the confidential data of
            the clients.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="solutions">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="title-wrap">
          <h4><span class="dots"></span>Challenges/Developing Challenges</h4>
          <h2>
            <span>DeepLens </span>Development Process - Jotting The Clusters To
            shape <span class="dots"></span>
          </h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 mb-3">
        <div class="challange challenge-wrap">
          <div class="chall-num">1</div>
          <p>
            DeepLens was built only for Android as per client requirements. The
            Projects development phase was a total of 10 months. The first 2
            months were dedicated to security testing to ensure security traits
            and UI/UX designing. We curated designs and sent them to the client
            for approval. With the approved design the development phase
            started. Finally, it was launched and taken over by the internal
            team.
          </p>
        </div>
      </div>
      <div class="col-lg-6 mb-3">
        <div class="challange challenge-wrap">
          <div class="chall-num">2</div>
          <p>
            To maintain data based on the US and which are confidential, the
            development process of this healthcare mobile app involved going
            through SOC2 compliance and HIPAA compliance which provided the
            certification. Integrated qualified secured infrastructure. Finally,
            it was launched after meeting all its requirements and is running
            successfully.
          </p>
        </div>
      </div>
      <div class="col-lg-4 mb-3">
        <div class="challange challenge-wrap">
          <div class="chall-num">3</div>
          <p>
            Initially, we started by discussing the scope of the project. How
            this exclusive social networking application for Pathologists could
            be helpful and what is required to make it better and more
            efficient.
          </p>
        </div>
      </div>
      <div class="col-lg-4 mb-3">
        <div class="challange challenge-wrap">
          <div class="chall-num">4</div>
          <p>
            Going ahead with security purposes and big data management, we put
            in our efforts and finally passed the testing phase for the
            application. Planned its workflow and operations.
          </p>
        </div>
      </div>
      <div class="col-lg-4 mb-3">
        <div class="challange challenge-wrap">
          <div class="chall-num">5</div>
          <p>
            We also suggested the annotation feature that allows users to make
            precise mentions in their posts about the specimens. To make it
            simple and convenient for all, Square, circle, and arrow marks were
            chosen to indicate particular areas.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <figure>
          <img
            src="assets/images/case-studies/firstblastit/about.jpg"
            class="img-fluid"
            alt="about"
            title="Deeplens Development Process"
          />
        </figure>
      </div>
    </div>
  </div>
</section>
<section class="solutions bg-park bg-with-img bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="title-wrap">
          <h4><span class="dots"></span>Solution, Achievements</h4>
          <h2>
            <span>Security So Far Is </span> A HitTraits In Managing
            Confidential Data <span class="dots"></span>
          </h2>
          <p>
            The biggest obstacle in bringing this mobile medical app to life
            completely lies in security and handling huge amounts of
            information. To encompass a solution with a simple interface, infuse
            a sleek infrastructure, and fetch in high-end security was the
            primary goal.
          </p>
          <p>
            SOC2 compliance stresses the organization on certain norms while
            handling user data. This is a mandatory compliance standard of the
            American Institute of CPAs. The availability, Confidentiality,
            security, and process integrity are maintained under the Trust
            Service Criteria.
          </p>
          <p>
            HIPAA compliance is a living healthcare culture that demands its
            implementations to abide in terms of data, protect it, privacy,
            security, and integrity.
          </p>
          <p>
            Ensuring security and big data management need, we undertook SOC2
            compliance and HIPPA configuration to get through the security
            tests. And it was after that we started the process. We developed a
            security-integrated healthcare mobile app solution for Pathologists
            in the United States, and we made it and handed it over to our
            client.
          </p>
          <p>
            DeepLens in 2018 laid the base for long-term futuristic
            integrations. The client had planned to bring solutions powered by
            AI. This being the source for future incorporation, cannot be a
            cluster or lack security configurations.
          </p>
          <p class="mb-0">
            Through our expert team at Sparkout, we were able to build DeepLens
            with a solvent infrastructure that is simple yet comprehends the
            needs and contributes to the future. This pathologist's healthcare
            app case study will pave the way to new adventures, and be the trend
            setter to curate new solutions connecting professionals in dynamic
            walks of life.
          </p>
        </div>
        <!-- <div class="challange">

          </div> -->
      </div>
    </div>
  </div>
</section>
<section class="user-flow pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <div class="title-wrap">
          <h4><span class="dots"></span>Discovery, Workflow(Design process)</h4>
          <h2>
            <span>Working And Functionalities </span> Of DeepLens<span
              class="dots"
            ></span>
          </h2>

          <p>
            The First Track It application has three major subscription plans
            for the Users. $39/month for 10 customers, $69/month for 100
            customers, and $149/month for unlimited customers. It can be billed
            semi-annually and the subscription terms fall in after the 7 days
            trial for all subscription plans.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12"></div>
    </div>
  </div>
</section>
<section class="app-features">
  <div class="container">
    <div class="row mb-2">
      <div class="col-lg-12">
        <div class="title-wrap">
          <h4><span class="dots"></span>DeepLens</h4>
          <h2><span>Workflow Of </span>DeepLens <span class="dots"></span></h2>
        </div>
        <div class="bussiness-common-heading">
          <p>
            Users here are Pathologists and students in the associated field.
            Pathologists are medical healthcare practitioners. They examine the
            human body and its tissues and also perform lab tests.
          </p>
          <p>
            DeepLens user sign-up is very simple. By choosing sign-up, the name,
            professions, and basic details of the users are collected. Through
            number, an OTP is sent for verification. The user after verification
            can explore this medical social networking platform.
          </p>
          <p>
            The News feed is present with a split screen as Public and private.
            They can scroll through to find their followers and connections
            posts. Eventually, users are also allowed to Post, like, and comment
            on other posts and share them.
          </p>
          <p>
            The Annotate feature is an added plus in DeepLens and a very
            peculiar option making it convenient for the user to explain their
            post much better. The three different shapes - Square, Circle, and
            Arrow, can be used to specifically identify the area.
          </p>
          <p>
            While sharing a specimen photo, the user can indicate the area when
            it's affected by the shape, say Square, followed by other details
            with a circle and arrow. Meanwhile, apart from post descriptions,
            likes, and comments, every annotation can be individually described,
            and like and comment options are also individually made available.
          </p>
          <p>
            The user can share their post with a particular audience by choosing
            to share privately and also share publicly in this healthcare app.
            From the inspiration of popular social networking applications,
            Instagram and Linked In, we have brought and made functions that
            simplify the need.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="app-features pb-0">
  <div class="container">
    <div class="row mb-2">
      <div class="col-lg-6">
        <div class="title-wrap">
          <h4><span class="dots"></span>DeepLens</h4>
          <h2><span>Design</span> Screens <span class="dots"></span></h2>
        </div>
      </div>
    </div>
    <div class="img-lg">
      <div class="row">
        <div class="col-lg-12">
          <figure>
            <img
              src="assets/images/case-studies/firstblastit/design-screens.jpg"
              class="img-fluid"
              alt="design screens"
              title="Workflow Of Deeplens"
            />
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="feautures bg-park unique-features">
  <div class="container">
    <div class="row mb-3">
      <div class="col-lg-12 mx-auto">
        <div class="title-wrap text-center">
          <h4><span class="dots"></span>Unique Features</h4>
          <h2>
            <span>DeepLens </span> User Features<span class="dots"></span>
          </h2>
        </div>
        <div class="bussiness-common-heading">
          <div class="text-center">
            <div class="row"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="common-design">
          <h3>Choose Profession</h3>
          <p>
            The users can either opt between a Student or a Doctor and file
            their profile accordingly. Here there is a specified option to
            mention their Area of practice to aid relevant information.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="common-design">
          <h3>Follow & Connect</h3>
          <p>
            This medical social networking pathologists healthcare app allows
            users to connect with people in their field and follow their
            handles. Bringing close communication and easing discussions.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="common-design">
          <h3>Create Posts</h3>
          <p>
            The users can share their ideas, information on specimens, and the
            questions they are seeking answers to in the space that's very
            exclusive and precisely curated for Pathologists to interact and
            connect.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="common-design">
          <h3>Newsfeeds</h3>
          <p>
            Unlike other social media News Feeds, this one in DeepLens shall be
            flooded with information and posts on the field. It's an educator
            and at the same time gathers more insights on relevant specimens.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="common-design">
          <h3>Public & Private feeds</h3>
          <p>
            The users can choose the audience of the post they share. If they
            want to gain a wider reach and the topic discussed to reach more
            heads, they can choose public or pick their receivers and make it
            private also.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="common-design">
          <h3>Save Posts</h3>
          <p>
            In the user profile, there is a Saved post option that collects the
            posts that they have saved. Instead of searching for a particular
            post with their friends and connections, saving interesting posts
            makes it easy.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="common-design">
          <h3>Annotate Option</h3>
          <p>
            The very exclusive feature of DeepLens is the annotation option. The
            user in their post rather than just sharing the image of the
            specimens such they can highlight their different spots and explain
            them separately.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="common-design">
          <h3>Specified Reaction</h3>
          <p>
            The users can like and comment on the post like usual and also they
            can react and share their opinions, particularly for the annotated
            part of the posts. Separate likes and comments are calculated.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="common-design">
          <h3>Private Chat</h3>
          <p>
            Like in other popular social media handles, the users can
            communicate and interact with their connections and friends
            privately through the chat box, also share posts and converse on it.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="common-design">
          <h3>Notifications</h3>
          <p>
            The Notification bar helps the users to conveniently check on
            updates, likes, comments, suggestions, and friends and connect
            requests, instantly. This gives a clear idea of your audience.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="common-design">
          <h3>View Profile</h3>
          <p>
            Before connecting and following other users, the user can view
            profiles of the other users and know who they are, what they do,
            their field of practice, and other basic details, making them choose
            their community better.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="common-design">
          <h3>Settings</h3>
          <p>
            The Setting option helps the user choose their preferences and
            customize the push notification option of their device. To report,
            and know about the application the setting menu has it all.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="techstack">
  <div class="container">
    <div class="row mb-3">
      <div class="col-12">
        <div class="title-wrap text-center">
          <h4><span class="dots"></span>Tools</h4>
          <h2><span>Tech </span> Stack <span class="dots"></span></h2>
        </div>
      </div>
    </div>
    <div class="row mb-3 text-center">
      <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
        <div class="tech-stack-heading mb-3">
          <h3>Android</h3>
        </div>
        <div class="row">
          <div class="col-12 mb-3">
            <div class="tech-stack-wrap text-center">
              <img
                src="assets/images/techstack/mobile/kotlin.svg"
                width="70"
                height="70"
                alt="Kotiln"
                title="Android"
              />
              <p>Kotiln</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
        <div class="tech-stack-heading mb-3">
          <h3>Back End</h3>
        </div>
        <div class="row">
          <div class="col-12 mb-3">
            <div class="tech-stack-wrap text-center">
              <img
                src="assets/images/techstack/backend/node-js.svg"
                width="70"
                height="70"
                alt="Node JS"
                title="Back End"
              />
              <p>Node JS</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
        <div class="tech-stack-heading mb-3">
          <h3>Realtime communication</h3>
        </div>
        <div class="row">
          <div class="col-12 mb-3">
            <div class="tech-stack-wrap text-center">
              <img
                src="assets/images/techstack/devops/socket.io.png"
                width="70"
                height="70"
                alt="Socket.io"
                title="Realtime communication"
              />
              <p>Socket.io</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
        <div class="tech-stack-heading mb-3">
          <h3>Design</h3>
        </div>
        <div class="row">
          <div class="col-12 mb-3">
            <div class="tech-stack-wrap text-center">
              <img
                src="assets/images/techstack/devops/adode.png"
                width="70"
                height="70"
                alt="Adobe XD"
                title="Design"
              />
              <p>Adobe XD</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="my-5 mb-0" />
    <!--end-->
  </div>
</section>
<app-reviews></app-reviews>

<section class="result">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 pr-4">
        <div class="title-wrap">
          <h4><span class="dots"></span>Results</h4>
          <h2>
            <span>Zoom-in </span> Through The Big Data<span class="dots"></span>
          </h2>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="bussiness-common-heading mb-0">
          <p>
            Pathologists can zoom in through the big data as the odds of
            management get out of focus. DeepLens allows Pathologists to track
            and refine data better, and eventually interact with co-pathologist
            about the specimen; the application has been successfully utilized
            since 2018. This is one unique creative that has the potential to
            reform the future of AR in the healthcare sector.
          </p>
          <p class="mb-0">
            Our clients after the launch hired an internal team to work on its
            maintenance. DeepLens on-demand healthcare software solutions is a
            medical pseudonym of social media that brings users from a
            particular society, connects them, and contributes to their research
            purpose. It also opened professionals for discussions. This case
            study of AR/VR in the Healthcare sector solution will be an opening
            for other professionals to push on similar platforms to reform their
            abilities more effectively.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <app-casestudy-scroll></app-casestudy-scroll> -->
<app-blog-scroll></app-blog-scroll>
<app-contact></app-contact>
