<section class="clients-section">
  <owl-carousel-o [options]="clientOptions">
    <ng-template carouselSlide>
      <div class="item">
        <a href="https://fslns.com/" target="_blank" rel="noopener noreferrer">
          <picture>
            <source
              type="image/webp"
              srcset="assets/images/clients/first-solutions.webp"
            />

            <source
              type="image/svg"
              srcset="assets/images/clients/logo-first-solutions.svg"
            />

            <img
              loading="lazy"
              data-src="assets/images/clients/logo-first-solutions.png"
              alt="first solutions"
              title="First Solution"
              width="183"
              height="54"
              class="img-fluid"
            />
          </picture>
        </a>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="item">
        <a href="https://www.parkk.com/" target="_blank" rel="noopener noreferrer">
          <picture>
            <source
              type="image/webp"
              srcset="assets/images/clients/parkk.webp"
            />

            <source
              type="image/svg"
              srcset="assets/images/clients/logo-parkk.svg"
            />

            <img
              loading="lazy"
              data-src="assets/images/clients/parkk.png"
              alt="parkk"
              title="Parkk"
              width="183"
              height="54"
              class="img-fluid"
            />
          </picture>
        </a>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="item">
        <a href="https://phillips-cohen.com/" target="_blank" rel="noopener noreferrer">
          <picture>
            <source type="image/webp" srcset="assets/images/clients/pca.webp" />

            <source
              type="image/svg"
              srcset="assets/images/clients/logo-pca.svg"
            />

            <img
              loading="lazy"
              data-src="assets/images/clients/pca.png"
              alt="PCA"
              title="PCA"
              width="183"
              height="54"
              class="img-fluid"
            />
          </picture>
        </a>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="item">
        <picture>
          <source
            type="image/webp"
            srcset="assets/images/clients/truely.webp"
          />

          <source
            type="image/svg"
            srcset="assets/images/clients/logo-truely.svg"
          />

          <img
            loading="lazy"
            data-src="assets/images/clients/truely.png"
            alt="truely"
            title="Truely"
            width="183"
            height="54"
            class="img-fluid"
          />
        </picture>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="item">
        <a href="https://okboz.com/" target="_blank" rel="noopener noreferrer">
          <picture>
            <source
              type="image/webp"
              srcset="assets/images/clients/boxfood.webp"
            />

            <source
              type="image/svg"
              srcset="assets/images/clients/logo-boxfood.svg"
            />

            <img
              loading="lazy"
              data-src="assets/images/clients/boxfood.png"
              alt="boxfood"
              title="Boxfood"
              width="183"
              height="54"
              class="img-fluid"
            />
          </picture>
        </a>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="item">
        <a href="https://www.ekta.io/" target="_blank" rel="noopener noreferrer">
          <picture>
            <source
              type="image/webp"
              srcset="assets/images/clients/ekta.webp"
            />

            <source
              type="image/svg"
              srcset="assets/images/clients/logo-ekta.svg"
            />

            <img
              loading="lazy"
              data-src="assets/images/clients/ekta.png"
              alt="ekta"
              title="ekta"
              width="183"
              height="54"
              class="img-fluid"
            />
          </picture>
        </a>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="item">
        <a href="https://farmsent.io/" target="_blank" rel="noopener noreferrer">
          <picture>
            <source
              type="image/webp"
              srcset="assets/images/clients/farmsent.webp"
            />

            <source
              type="image/svg"
              srcset="assets/images/clients/logo-farmsent.svg"
            />

            <img
              loading="lazy"
              data-src="assets/images/clients/farmsent.png"
              alt="farmsent"
              title="farmsent"
              width="183"
              height="54"
              class="img-fluid"
            />
          </picture>
        </a>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="item">
        <a href="https://www.holidaykeepers.com/" target="_blank" rel="noopener noreferrer">
          <picture>
            <source
              type="image/webp"
              srcset="assets/images/clients/holiday-keepers.webp"
            />

            <source
              type="image/svg"
              srcset="assets/images/clients/logo-holiday-keepers.svg"
            />

            <img
              loading="lazy"
              data-src="assets/images/clients/holiday-keepers.png"
              alt="holiday-keepers"
              title="Holidays Keepers"
              width="183"
              height="54"
              class="img-fluid"
            />
          </picture>
        </a>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="item">
        <picture>
          <source
            type="image/webp"
            srcset="assets/images/clients/reliance.webp"
          />

          <source
            type="image/svg"
            srcset="assets/images/clients/logo-reliance.svg"
          />

          <img
            loading="lazy"
            data-src="assets/images/clients/reliance.png"
            alt="reliance"
            title="Reliance"
            width="183"
            height="54"
            class="img-fluid"
          />
        </picture>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="item">
        <a href="https://www.l1x.foundation/" target="_blank" rel="noopener noreferrer">
          <picture>
            <source
              type="image/webp"
              srcset="assets/images/clients/layer1x.webp"
            />

            <source
              type="image/svg"
              srcset="assets/images/clients/logo-layer1x.svg"
            />

            <img
              loading="lazy"
              data-src="assets/images/clients/layer1x.png"
              alt="layer1x"
              title="layer1x"
              width="183"
              height="54"
              class="img-fluid"
            />
          </picture>
        </a>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="item">
        <a href="https://www.paradigm.inc/" target="_blank" rel="noopener noreferrer">
          <picture>
            <source
              type="image/webp"
              srcset="assets/images/clients/deeplens.webp"
            />

            <source
              type="image/svg"
              srcset="assets/images/clients/logo-deeplens.svg"
            />

            <img
              loading="lazy"
              data-src="assets/images/clients/deeplens.png"
              alt="layer1x"
              title="layer1x"
              width="183"
              height="54"
              class="img-fluid"
            />
          </picture>
        </a>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="item">
        <a href="https://www.fabvenues.in/" target="_blank" rel="noopener noreferrer">
          <picture>
            <source
              type="image/webp"
              srcset="assets/images/clients/fabvenues.webp"
            />

            <source
              type="image/svg"
              srcset="assets/images/clients/logo-fabvenues.svg"
            />

            <img
              loading="lazy"
              data-src="assets/images/clients/fabvenues.png"
              alt="fabvenues"
              title="Fabvenues"
              width="183"
              height="54"
              class="img-fluid"
            />
          </picture>
        </a>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="item">
        <a href="http://www.delivereef.com/" target="_blank" rel="noopener noreferrer">
          <picture>
            <source
              type="image/webp"
              srcset="assets/images/clients/delivereef.webp"
            />

            <source
              type="image/svg"
              srcset="assets/images/clients/logo-delivereef.svg"
            />

            <img
              loading="lazy"
              data-src="assets/images/clients/delivereef.png"
              alt="delivereef"
              title="Delivereef"
              width="183"
              height="54"
              class="img-fluid"
            />
          </picture>
        </a>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="item">
        <a href="https://www.apartshub.com/" target="_blank" rel="noopener noreferrer">
          <picture>
            <source
              type="image/webp"
              srcset="assets/images/clients/apartshub.webp"
            />

            <source
              type="image/svg"
              srcset="assets/images/clients/logo-apartshub.svg"
            />

            <img
              loading="lazy"
              data-src="assets/images/clients/apartshub.png"
              alt="apartshub"
              title="Apartshub"
              width="183"
              height="54"
              class="img-fluid"
            />
          </picture>
        </a>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="item">
        <picture>
          <source type="image/webp" srcset="assets/images/clients/ziber.webp" />

          <source
            type="image/svg"
            srcset="assets/images/clients/logo-ziber.svg"
          />

          <img
            loading="lazy"
            data-src="assets/images/clients/ziber.png"
            alt="ziber"
            title="Ziber"
            width="183"
            height="54"
            class="img-fluid"
          />
        </picture>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="item">
        <a href="https://zuki.app/" target="_blank" rel="noopener noreferrer">
          <picture>
            <source
              type="image/webp"
              srcset="assets/images/clients/zuki.webp"
            />

            <source
              type="image/svg"
              srcset="assets/images/clients/logo-zuki.svg"
            />

            <img
              loading="lazy"
              data-src="assets/images/clients/zuki.png"
              alt="zuki"
              title="Zuki"
              width="183"
              height="54"
              class="img-fluid"
            />
          </picture>
        </a>
      </div>
    </ng-template>
  </owl-carousel-o>
</section>
