<section class="aboutus-section wwd-sticky">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="sticky">
          <div class="title-wrap">
            <h4><span class="dots"></span> About us</h4>
            <h2>
              <span>The Story</span> of <br />
              Sparkout Tech Solutions  <span class="dots"></span>
            </h2>
            <h6>
              A passionate team with a relentless drive to build and innovate
            </h6>
            <figure class="sparkout-group">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/home-new/sparkout-group.webp"
                />
                <source
                  type="image/png"
                  srcset="assets/images/home-new/sparkout-group.png"
                />
                <img
                  loading="lazy"
                  data-src="assets/images/home-new/sparkout-group.jpg"
                  width="641"
                  height="157"
                  class="img-fluid"
                  alt="The story of Sparkout Tech Solutions"
                  title="The story of Sparkout Tech Solutions"
                />
              </picture>
            </figure>
            <p>
              We are an enterprise software development and digital transformation company with 150+ projects and 100+ dedicated professionals working in Coimbatore, India, delivering bleeding-edge tech to our global clientele.
            </p>
            <h2 class="glassdoor">
              <a href="https://www.glassdoor.co.in/Overview/Working-at-Sparkout-Tech-EI_IE1978547.11,24.htm" target="_blank" rel="noopener noreferrer">
                  <picture>
                    <source
                      type="image/webp"
                      srcset="assets/images/home-new/verticalstarrating.webp"
                    />
                    <source
                      type="image/png"
                      srcset="assets/images/home-new/verticalstarrating.png"
                    />
                    <img
                      loading="lazy"
                      data-src="assets/images/home-new/verticalstarrating.png"
                      width="175"
                      height="68"
                      class="img-fluid"
                      alt="Find us on Glassdoor."
                      title="Glassdoor"
                    />
                  </picture>
                <span class="dots"></span>
              </a>
            </h2>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="fact-section">
          <div class="fact">
            <h2 class="filled">01</h2>
            <h3><span>6+ Years of</span> Excellence in Innovation</h3>
            <p>
              We empower businesses around the world with the right tech, with
              experience in building complex software solutions
            </p>
          </div>
          <div class="fact">
            <h2>02</h2>
            <h3><span>150+ Clients</span> All over the world</h3>
            <p>
              Our strong focus on premium customer experience has allowed us to
              serve hundreds of businesses globally.
            </p>
          </div>
          <div class="fact">
            <h2>03</h2>
            <h3><span>100+ Experts in </span> Multiple domains</h3>
            <p>
              We are a team of 100+ happy professionals with experts in multiple
              tech stacks and industry use cases.
            </p>
          </div>
          <div class="fact">
            <h2>04</h2>
            <h3><span>240+ Projects in</span> delivered globally</h3>
            <p>
              Our loyal clientele is the result of the quality of services and
              products that we deliver, on time every time.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!--end-->
  </div>
</section>
