<section class="banners-section home-banner owl-banner">
  <div
    id="carouselExampleFade"
    class="carousel slide carousel-fade"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleFade"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleFade"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleFade"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleFade"
        data-bs-slide-to="3"
        aria-label="Slide 4"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="5000">
        <div class="common">
          <picture>
            <source
              type="image/webp"
              srcset="assets/images/home-new/banner-1.webp"
            />

            <source
              type="image/png"
              srcset="assets/images/home-new/banner-1.jpg"
            />

            <img
              loading="lazy"
              data-src="assets/images/home-new/banner-1.jpg"
              width="100%"
              height="100%"
              class="d-block w-100"
              alt="Digital Transformation"
              title="Digital Transformation"
            />
          </picture>
          <div
            class="banner-text d-flex justify-content-center align-self-center"
          >
            <div class="title-wrap">
              <h4><span class="dots"></span> Digital Transformation</h4>
              <h2>
                <span>Driving Innovation </span> Forward
                <span class="dots"></span>
              </h2>
              <p>
                Sparkout Tech is an enterprise software development company that
                helps businesses of all sizes<br />
                digitally transform their operations. Take a step towards the
                future with us.
              </p>
              <div class="d-flex justify-content-center">
                <a class="btn btn-primary" [routerLink]="['/contact-us']"
                  >Learn More
                  <picture>
                    <source
                      type="image/webp"
                      srcset="assets/images/home-new/icon-banner-arrowup.webp"
                    />
                    <source
                      type="image/png"
                      srcset="assets/images/home-new/icon-banner-arrowup.png"
                    />
                    <img
                      loading="lazy"
                      data-src="assets/images/home-new/icon-banner-arrowup.svg"
                      alt="arrow-icon"
                      title="arrow-icon"
                      width="21"
                      height="21"
                      class="img-fluid"
                    />
                  </picture>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <div class="common">
          <picture>
            <source
              type="image/webp"
              srcset="assets/images/home-new/banner-2.webp"
            />

            <source
              type="image/png"
              srcset="assets/images/home-new/banner-2.jpg"
            />

            <img
              loading="lazy"
              data-src="assets/images/home-new/banner-2.jpg"
              width="100%"
              height="100%"
              class="d-block w-100"
              alt="Blockchain Technology"
              title="Blockchain Technology"
            />
          </picture>
          <div
            class="banner-text d-flex justify-content-center align-self-center"
          >
            <div class="title-wrap">
              <h4><span class="dots"></span> Blockchain Technology</h4>
              <h2>
                <span>Robust Decentralized </span> Solutions
                <span class="dots"></span>
              </h2>
              <p>
                As early adopters of Blockchain and Smart Contracts, we founded
                BlockchainX. Access experts <br />
                with experience in DeFi and Enterprise Blockchain Solutions.
              </p>
              <div class="d-flex justify-content-center">
                <a
                  class="btn btn-primary"
                  [routerLink]="['/blockchain-development-company']"
                  >Learn More
                  <picture>
                    <source
                      type="image/webp"
                      srcset="assets/images/home-new/icon-banner-arrowup.webp"
                    />
                    <source
                      type="image/png"
                      srcset="assets/images/home-new/icon-banner-arrowup.png"
                    />
                    <img
                      loading="lazy"
                      data-src="assets/images/home-new/icon-banner-arrowup.svg"
                      alt="arrow-icon"
                      title="arrow-icon"
                      width="21"
                      height="21"
                      class="img-fluid"
                    />
                  </picture>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <div class="common">
          <picture>
            <source
              type="image/webp"
              srcset="assets/images/home-new/banner-3a.webp"
            />

            <source
              type="image/png"
              srcset="assets/images/home-new/banner-3.jpg"
            />

            <img
              loading="lazy"
              data-src="assets/images/home-new/banner-3.jpg"
              width="100%"
              height="100%"
              class="d-block w-100"
              alt="Fintech Solutions"
              title="Fintech Solutions"
            />
          </picture>
          <div
            class="banner-text d-flex justify-content-center align-self-center"
          >
            <div class="title-wrap">
              <h4><span class="dots"></span> Fintech Solutions</h4>
              <h2>
                <span>Enabling Future </span> Transactions
                <span class="dots"></span>
              </h2>
              <p>
                Our Fintech solutions power major banks and other financial
                institutions, globally. Harness <br />
                leading experts in custom software development for building your
                next fintech product.
              </p>
              <div class="d-flex justify-content-center">
                <a class="btn btn-primary" [routerLink]="['/contact-us']"
                  >Learn More
                  <picture>
                    <source
                      type="image/webp"
                      srcset="assets/images/home-new/icon-banner-arrowup.webp"
                    />
                    <source
                      type="image/png"
                      srcset="assets/images/home-new/icon-banner-arrowup.png"
                    />
                    <img
                      loading="lazy"
                      data-src="assets/images/home-new/icon-banner-arrowup.svg"
                      alt="arrow-icon"
                      title="arrow-icon"
                      width="21"
                      height="21"
                      class="img-fluid"
                    />
                  </picture>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="common">
          <picture>
            <source
              type="image/webp"
              srcset="assets/images/home-new/banner-4a.webp"
            />

            <source
              type="image/png"
              srcset="assets/images/home-new/banner-4.jpg"
            />

            <img
              loading="lazy"
              data-src="assets/images/home-new/banner-4.jpg"
              width="100%"
              height="100%"
              class="d-block w-100"
              alt="Enabling Future Transactions"
              title="Enabling Future Transactions"
            />
          </picture>
          <div
            class="banner-text d-flex justify-content-center align-self-center"
          >
            <div class="title-wrap">
              <h4><span class="dots"></span> Supply Chain Solutions</h4>
              <h2>
                <span>Source to Destination, </span> Easily
                <span class="dots"></span>
              </h2>
              <p>
                The supply chain dives the world forward and covers a spectrum
                of industries. From process <br />
                tracking in manufacturing to deliveries, we can help you
                transform your business.
              </p>
              <div class="d-flex justify-content-center">
                <a class="btn btn-primary" [routerLink]="['/contact-us']"
                  >Learn More
                  <picture>
                    <source
                      type="image/webp"
                      srcset="assets/images/home-new/icon-banner-arrowup.webp"
                    />
                    <source
                      type="image/png"
                      srcset="assets/images/home-new/icon-banner-arrowup.png"
                    />
                    <img
                      loading="lazy"
                      data-src="assets/images/home-new/icon-banner-arrowup.svg"
                      alt="arrow-icon"
                      title="arrow-icon"
                      width="21"
                      height="21"
                      class="img-fluid"
                    />
                  </picture>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleFade"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleFade"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
