<section class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-12">
        <div class="footer-logo">
          <img
            src="assets/images/logo/footer-logo.svg"
            class="img-fluid"
            alt="footer logo"
          />
        </div>
      </div>
      <div class="col-lg-9 col-md-8 col-sm-12">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="footer-heading">
              <h3>Head Office</h3>

              <p>
                No. 2 C.M.Nagar, Ramakrishnapuram,
                <span class="span-block">Coimbatore, Tamilnadu, </span>
                <span class="span-block">India – 641 006.</span>
              </p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="footer-heading">
              <h3>Branch Office</h3>
              <p>
                No. 4 Gem Colony, Near Siva Hospital,
                <span class="span-block"
                  >Ganapathy, Coimbatore, Tamilnadu,
                </span>
                <span class="span-block">India – 641 006.</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="lines-white"></div>
      </div>
    </div>
    <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-5">
      <div class="col">
        <div class="footer-heading">
          <h3>Overview</h3>
          <ul>
            <li><a [routerLink]="['/about-us']">About Us</a></li>

            <li><a [routerLink]="['/how-we-work']">How We Work</a></li>
            <li>
              <a [routerLink]="['/development-methodology']">Methodology </a>
            </li>
            <li><a [routerLink]="['/career']">Career Overview</a></li>
            <li><a [routerLink]="['/contact-us']">Contact Us</a></li>
          </ul>
        </div>
      </div>
      <div class="col">
        <div class="footer-heading">
          <h3>Service</h3>
          <ul>
            <li>
              <a [routerLink]="['/mobile-application-development']"
                >Mobile App</a
              >
            </li>
            <li>
              <a [routerLink]="['/web-application-development']"
                >Web Development</a
              >
            </li>
            <li><a [routerLink]="['/ui-ux-development']">UI-UX Design</a></li>
            <li>
              <a [routerLink]="['/quality-assurance-and-testing-services']"
                >QA & Testing</a
              >
            </li>
            <li>
              <a [routerLink]="['/blockchain-development-company']"
                >Blockchain</a
              >
            </li>
            <li><a [routerLink]="['/devops-services']">DevOps</a></li>
            <li>
              <a [routerLink]="['/ar-vr-application-development']">AR and VR</a>
            </li>
            <li>
              <a [routerLink]="['/machine-learning-development']"
                >Machine Learning</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="col">
        <div class="footer-heading">
          <h3>Industry</h3>
          <ul>
            <li>
              <a [routerLink]="['/real-estate-application-development']"
                >Real Estate</a
              >
            </li>
            <li>
              <a [routerLink]="['/travel-application-development']">Travel</a>
            </li>
            <li>
              <a [routerLink]="['/sports-application-development']">Sports</a>
            </li>
            <li>
              <a [routerLink]="['/social-media-application-development']"
                >Social Networking</a
              >
            </li>

            <li>
              <a
                [routerLink]="[
                  '/media-and-entertainment-application-development'
                ]"
                >Media & Entertainment</a
              >
            </li>

            <li>
              <a [routerLink]="['/healthcare-application-development']"
                >Healthcare Solution</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="col">
        <div class="footer-heading">
          <h3>Solutions</h3>
          <ul>
            <li>
              <a [routerLink]="['/transgenie']"
                >TransGenie - Logistics & Field Management</a
              >
            </li>
            <li>
              <a [routerLink]="['/enterprise-software-development']"
                >Enterprise Software</a
              >
            </li>

            <li>
              <a [routerLink]="['/ecommerce-application-development']"
                >Ecommerce Solution</a
              >
            </li>
            <li>
              <a [routerLink]="['/on-demand-application-development']"
                >On-demand Solution</a
              >
            </li>
            <li>
              <a [routerLink]="['/online-food-delivery-solution']"
                >Food Delivery Solution</a
              >
            </li>
            <li>
              <a [routerLink]="['/chat-application-development']"
                >Chat Solution</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="col">
        <div class="footer-heading">
          <h3>Insights</h3>
          <ul>
            <li><a [routerLink]="['/blog']">Blog</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="lines-white"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12 order-1 order-md-0">
        <div class="copyrights mb-4">
          <p>© Sparkout Tech 2017-2023. All rights reserved</p>
          <p>
            <a [routerLink]="['/privacy-policy']">Privacy Policy</a> |
            <a [routerLink]="['/cookies-policy']"> Cookies Policy</a> |
            <a [routerLink]="['/terms-conditions']">Terms & Conditions</a>
          </p>
        </div>
        <div class="protected-screen">
          <img src="assets/images/dmca-protected.png" alt="dmca-protected" />
        </div>
      </div>
      <div class="col-md-6 col-sm-12 order-0 order-md-1">
        <div class="social-icons text-right">
          <ul>
            <li>
              <a
                href="https://wa.me/8667726177"
                class="contact-icon"
                title="whatsapp"
                target="_blank"
              >
                <img src="assets/images/whatsapp-icon.png" alt="facebook" />
              </a>
            </li>
            <li>
              <a href="{{ fb }}" target="_blank"
                ><img src="assets/images/facebook-icon.svg" alt="facebook"
              /></a>
            </li>
            <li>
              <a href="{{ twitter }}" target="_blank"
                ><img src="assets/images/twitter-icon.svg" alt="twitter"
              /></a>
            </li>
            <li>
              <a href="{{ linkedin }}" target="_blank"
                ><img src="assets/images/linkedin-icon.svg" alt="linkedin"
              /></a>
            </li>
            <li>
              <a href="{{ instagram }}" target="_blank"
                ><img
                  src="assets/images/instagram.svg"
                  width="47"
                  height="47"
                  alt="instagram"
              /></a>
            </li>
            <li>
              <a href="{{ youtube }}" target="_blank"
                ><img src="assets/images/youtube-icon.svg" alt="youtube"
              /></a>
            </li>
            <li>
              <a href="{{ github }}" target="_blank"
                ><img src="assets/images/github-icon.svg" alt="github"
              /></a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="scroller" (click)="scrollToTop()">
          <i class="bi bi-arrow-up"></i>
        </div>
      </div>
    </div>
  </div>
</section>
