
<section class="career-vacancy pb-50 pt-50" id="apply">
  <div class="container">
      <div class="row justify-content-center mb-5">
          <div class="col-lg-12 col-md-12 col-sm-12 mb-4">


              <div class="getintouch getintochform">
                <div class="title-wrap">
                    <h2>
                      <span>Apply </span> for job<span class="dots"></span>
                    </h2>
                  </div>

                <div #crmForm></div>

                <!-- <form [formGroup]="contactmail" (ngSubmit)="onSubmit()">
                    <div class="row ">
                        <div class="col-lg-6 col-md-6">
                            <div class="form-floating mb-4">
                                <input type="text" class="form-control" id="floatingInput" formControlName="name" placeholder="name@example.com" [ngClass]="{'is-invalid': submitted && f.name.errors}">
                                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                    <div *ngIf="f.name.errors.required">Name is required</div>
                                </div>
                                <label for="floatingInput">Name</label>
                              </div>

                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-floating  mb-4">
                                <input type="email" class="form-control" id="floatingemail" placeholder="name@example.com" formControlName="email" [ngClass]="{'is-invalid': submitted && f.email.errors}" >
                                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                    <div *ngIf="f.email.errors.required">Email is required</div>
                                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                                </div>
                                <label for="floatingemail">Email</label>
                              </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="form-floating mb-4">
                                <input placeholder="Phone Number" (keypress)="numericOnly($event)" type="text" formControlName="phone_number" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phone_number.errors }" />
                                <div *ngIf="submitted && f?.phone_number?.errors" class="invalid-feedback">
                                  <div *ngIf="f?.phone_number?.errors?.required">Phone is required</div>
                                  <div *ngIf="f?.phone_number?.errors?.minlength">Phone must be at least 10 numbers.</div>
                                  <div *ngIf="f?.phone_number?.errors?.maxlength">Phone must be  10 numbers.</div>
                                </div>
                                <label for="floatingphone">Phone Number</label>
                              </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                          <div class="form-floating mb-4">
                            <input type="file" class="form-control custom-file-input" id="floatingUpload" formControlName="resume" placeholder="Upload CV" [ngClass]="{'is-invalid': submitted && f.resume.errors}" >
                              <div *ngIf="submitted && f.resume.errors" class="invalid-feedback">
                                  <div *ngIf="f.resume.errors.required">Upload CV is required</div>
                              </div>
                              <label for="floatingUpload">Upload CV</label>
                            </div>

                      </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-floating mb-4">
                                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 120px;" formControlName="message" [ngClass]="{'is-invalid':submitted && f.message.errors}"></textarea>
                                <div *ngIf="submitted && f.message.errors" class="invalid-feedback">
                                    <div *ngIf="f.message.errors.required">Message is required</div>
                                </div>
                                <label for="floatingTextarea2">Message</label>
                              </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div>
                                <button class="btn about-us">Submit Application</button>
                            </div>
                        </div>
                    </div>
                </form> -->
            </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-12 mx-auto">
              <p>Couldn’t find the job you are looking for?
                  Send us your resume to <strong><a href="mailto:career@sparkouttech.com">career@sparkouttech.com</a></strong></p>
          </div>
      </div>
  </div>
</section>
