<section class="drone common-section">
  <div class="container">
    <div class="row mb-4">
      <div class="col-lg-12">
        <div class="title-wrap">
          <h4><span class="dots"></span>Drone Mapping</h4>
          <h2>
            <span>Pioneering in Drone </span> & UAV Mapping Software Development
            <span class="dots"></span>
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="droine-second-image">
  <div class="container">
    <div class="row mb-4">
      <div class="col-lg-12">
        <div class="drone-tech">
          <img
            src="assets/images/drone/dronetech.webp"
            class="img-fluid"
            alt="drone technology"
          />
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-lg-6 mb-4">
        <div class="drone-text-warp">
          <h3>Data is king, visual data is better!</h3>
          <h4>Streamline your on-site operations with aerial data</h4>
        </div>
      </div>
      <div class="col-lg-6 mb-4">
        <div class="drone-text-wrap">
          <p>
            We don't just specialize in Drone/UAV mapping technology, we love
            it. Our solutions give you the right set of hands to create
            high-performance GIS analysis and visualization tools to gather the
            right set of data to streamline your business and operations.
          </p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="drone-icon-wrap">
          <img
            src="assets/images/drone/drone-resource.svg"
            width="60"
            height="60"
            alt="Workforce Safety"
          />
          <h4>Workforce Safety</h4>
          <p>
            Through aerial mapping, your resources can stay away from hazardous
            environments while still collecting relevant data through the UAVs.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="drone-icon-wrap">
          <img
            src="assets/images/drone/drone-cutting-edge.svg"
            width="60"
            height="60"
            alt="Cutting-Edge Tech"
          />
          <h4>Cutting-Edge Tech</h4>
          <p>
            As cutting edge as drone technology is, our solutions can stay one
            step ahead each time with Al-Powered visualization tools.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="drone-icon-wrap">
          <img
            src="assets/images/drone/drone-analysis.svg"
            width="60"
            height="60"
            alt="Analysis and Report"
          />
          <h4>Analytics and Reporting</h4>
          <p>
            Generate accurate and detailed reports from all your flying
            expeditions with the right tools for data analysis.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="benefits">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-6">
        <div class="drone-benifit-imgwrap">
          <img
            src="assets/images/drone/drone-benefit.webp"
            class="img-fluid mb-4"
            alt="Benefits by Drone"
          />
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="drone-benifit-textwrap">
          <h3>Benefits of Drones</h3>
          <h4>Leverage UAVs to reach places, without the risk</h4>
          <p>
            UAVs or Drones can benefit multiple industries such as civil
            engineering, architecture, agriculture, and much more. Additionally
            you can use drones for search and rescue operations in a different
            type of terrain.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="ourservices">
  <div class="container">
    <div class="row mb-4">
      <div class="col-lg-12">
        <div class="title-wrap">
          <h4><span class="dots"></span>Our Offerings</h4>
          <h2>
            <span>Solutions tailor-made </span> to your business needs
            <span class="dots"></span>
          </h2>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="drone-icon-wrap">
          <img
            src="assets/images/drone/drone-survaliance.svg"
            width="60"
            height="60"
            alt="Security Surveillance"
          />
          <h4>Security & Surveillance</h4>
          <p>
            Not all places are alike and there are many safety risks associated
            with surveillance operations. Our security and surveillance module
            can help your security personnel patrol risky areas, sitting safely
            at their designated posts.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="drone-icon-wrap">
          <img
            src="assets/images/drone/drone-survey.svg"
            width="60"
            height="60"
            alt="Surveying & Mapping"
          />
          <h4>Surveying & Mapping</h4>
          <p>
            Surveying and mapping different terrain has always been a difficult
            task. You can simply deploy the drone into otherwise inaccessible
            areas and gather the required data for surveying and mapping.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="drone-icon-wrap">
          <img
            src="assets/images/drone/drone-processing.svg"
            width="60"
            height="60"
            alt="UAV Data Processing"
          />
          <h4>UAV Data Processing</h4>
          <p>
            You don’t just collect aerial data, you have to process it if you
            want to use it to streamline your business. Our UAV data processing
            module allows you to process the collected data into usable
            information.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="drone-icon-wrap">
          <img
            src="assets/images/drone/drone-analysis.svg"
            width="60"
            height="60"
            alt="Arial Inspection"
          />
          <h4>Aerial Inspection</h4>
          <p>
            Especially designed for disaster relief, you can inspect disaster
            affected or other dangerous areas where your personnel can’t
            physically go. With AI integration, you can also auto-detect debris
            and objects easily.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="drone-icon-wrap">
          <img
            src="assets/images/drone/drone-construction.svg"
            width="60"
            height="60"
            alt="Construction Process"
          />
          <h4>Construction Process</h4>
          <p>
            Conduct thorough inspections of construction sites throughout the
            construction process and effectively track your progress. No matter
            how high or low your building is, you can get the complete picture
            with in-app measurement tools.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="drone-icon-wrap">
          <img
            src="assets/images/drone/drone-delivery.svg"
            width="60"
            height="60"
            alt="Drone Delivery"
          />
          <h4>Drone Delivery</h4>
          <p>
            Assign a fleet of drones to conduct delivery operations, track them
            in real-time, and get the job done on time. Our solution is
            Drone-Agnostic, meaning that it can track multiple drone, regardless
            of the original manufacturer.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="drone-technologies">
  <div class="container">
    <div class="row mb-4">
      <div class="col-lg-8 mx-auto text-center">
        <div class="drone-text-warp">
          <h3>Deploy Across Industries</h3>
          <h4>
            Drone technology can not only benefit enterprises, it can streamline
            it.
          </h4>
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-lg-12 mx-auto">
        <ul class="techstack">
          <li class="tech-list" *ngFor="let dmenus of dronemenulist">
            <a
              (click)="dronetag(dmenus)"
              [ngClass]="{ actives: techlisted === dmenus }"
              >{{ dmenus }}</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-lg-12">
        <ng-container *ngIf="techlisted == 'Agriculture'">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
              <div class="our-industries-imgwrap">
                <img
                  src="assets/images/drone/agriculture.png"
                  class="img-fluid mb-4"
                  alt="Agriculture Drone"
                />
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="our-industries-textwrap">
                <h3>Agriculture</h3>
                <p>
                  The industry can benefit greatly when it comes to using Drone
                  technology. UAVs can cover large agricultural land for use
                  cases such as crop monitoring, surveillance, and even
                  insurance surveys. It's not always easy to process insurance
                  claims related to crop damage. Well, now it is.
                </p>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="techlisted == 'Transportation'">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
              <div class="our-industries-imgwrap">
                <img
                  src="assets/images/drone/transport.png"
                  class="img-fluid mb-4"
                  alt="Transportation Drone"
                />
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="our-industries-textwrap">
                <!-- <h2>Transportation Drone</h2> -->
                <h3>Transportation</h3>
                <p>
                  The major component of efficient transportation, no matter in
                  which segment, is infrastructure. Using Aerial mapping,
                  engineers can easily survey, monitor, and measure larger areas
                  and plan construction accordingly. All this can be done while
                  sitting in one place and without spending several hours.
                </p>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="techlisted == 'Renewable Energy'">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
              <div class="our-industries-imgwrap">
                <img
                  src="assets/images/drone/energy.png"
                  class="img-fluid mb-4"
                  alt="Renewable Energy Drone"
                />
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="our-industries-textwrap">
                <!-- <h2>Renewable Energy Drone</h2> -->
                <h3>Renewable energy</h3>
                <p>
                  One of the major challenges in the renewable energy sector is
                  maintenance. Some of these tasks such as maintenance of
                  turbine blades require a worker actually putting themselves in
                  dangerous situations. With Drones, this can all be done with a
                  remote control.
                </p>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="techlisted == 'Mining'">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
              <div class="our-industries-imgwrap">
                <img
                  src="assets/images/drone/mining.png"
                  class="img-fluid mb-4"
                  alt="Mining"
                />
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="our-industries-textwrap">
                <!-- <h2>Mining</h2> -->
                <h3>Mining</h3>
                <p>
                  The major benefit that you get with Drones or UAVs is
                  accessibility. Mining has always had workplace hazards and
                  people are forced to work in these hazardous conditions.
                  Drones allow your workers to survey and monitor hazardous
                  areas without putting themselves at risk.
                </p>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="techlisted == 'Oil and Gas'">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
              <div class="our-industries-imgwrap">
                <img
                  src="assets/images/drone/oilgas.png"
                  class="img-fluid mb-4"
                  alt="Oil and Gas"
                />
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="our-industries-textwrap">
                <!-- <h2>Oil and Gas</h2> -->
                <h3>Oil and Gas</h3>
                <p>
                  Oil and Gas mining rigs are some of the most dangerous places
                  to work not only because of the danger of harmful substances
                  and fumes but also because of the volatility of the
                  substances. Drones help your workforce access these dangerous
                  areas safely.
                </p>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="techlisted == 'Search & Rescue'">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
              <div class="our-industries-imgwrap">
                <img
                  src="assets/images/drone/utilities.png"
                  class="img-fluid mb-4"
                  alt="Utilities"
                />
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="our-industries-textwrap">
                <!-- <h2>Utilities</h2> -->
                <h3>Search & Rescue</h3>
                <p>
                  Search and rescue operations are perhaps the areas where we
                  have all seen Drones at work. You can access otherwise
                  impossible-to-get-to areas using Drones and plan search &
                  rescue operations without putting the personnel's lives at
                  risk.
                </p>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</section>
<app-blog-scroll></app-blog-scroll>
<app-contact></app-contact>
<!-- <app-footer></app-footer> -->
