<section class="banners-section home-banner sub-banner">
  <div class="common">
    <img
      src="assets/images/case-studies/case-studies-banner.jpg"
      class="img-fluid"
      alt="FirstBlastIt Case Study"
      title="FirstBlastIt Case Study"
    />
    <div class="banner-text d-flex justify-content-center align-self-center">
      <div class="title-wrap">
        <h4><span class="dots"></span>FirstBlastIt</h4>
        <h2>
          <span>Professional Podcasting, </span>  Everything  <br />
          Contemporary On Tech
          <span class="dots"></span>
        </h2>
        <p>Business Podcast for Professionals</p>
        <div class="d-flex justify-content-center">
          <a class="btn btn-primary" [routerLink]="['/contact-us']"
            >Get In Touch
            <img
              src="assets/images/home-new/icon-banner-arrowup.svg"
              alt="Arrow up"
              title="Arrow up"
          /></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <section class="parkcase-studies">
  <div class="container">
    <div class="row">
      <div class="firstpart bg-park">
        <div class="row align-items-center">
          <div class="col-lg-7 col-md-7 mb-3">
            <div class="part-one">
              <img
                src="assets/images/case-studies/firstblastit/logo.png"
                class="img-fluid mb-3"
                alt="FirstBlastIt logo"
                title="Professional Podcasting, Everything Contemporary On Tech"
                width="250"
              />
              <h1>Professional Podcasting, Everything Contemporary On Tech</h1>
              <h4>FirstBlastIt</h4>
            </div>
          </div>
          <div class="col-lg-5 col-md-5 mb-3">
            <div class="text-right">
              <img
                src="assets/images/case-studies/firstblastit/firstblastit-banner1.png"
                class="img-fluid"
                alt="firstblastit"
                title="Professional Podcasting, Everything Contemporary On Tech"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<section class="requirements">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-5">
        <div class="business-requirement">
          <h6>Client Name</h6>
          <h3>
            <a href="https://fslns.com" target="_blank">First Solutions</a>
          </h3>
        </div>
        <div class="business-requirement">
          <h6>Business</h6>
          <h3>Business Podcast for Professionals</h3>
        </div>
        <div class="business-requirement">
          <h6>Country</h6>
          <h3>USA</h3>
        </div>
        <div class="business-requirement">
          <h6>Website</h6>
          <h3>
            <a href="https://firstblastit.com" target="_blank"
              >firstblastit.com</a
            >
          </h3>
        </div>

        <div class="business-requirement">
          <h6>Team</h6>
          <h3 class="font-sm">
            Backend - 5 <br />
            Frontend - 1 <br />
            UI/UX Design - 1 <br />
            QA - 2 <br />
            PM - 1 <br />
            Tech Architect - 1
          </h3>
        </div>
      </div>
      <div class="col-lg-8 col-md-7">
        <div class="analysis">
          <h6>About</h6>
          <h3>
            FirstBlastIt - Professional Podcasting, Everything Contemporary On
            Tech
          </h3>
          <p>
            Over the years communication has transferred into a totally upscaled
            version, and so did open communication with mass. When we have to
            underline the purpose, why is this whole thing done? - It’s simple
            as, to educate and inform. Following the trait over every sector, so
            did business mediums started exploring spaces to talk and
            communicate their enterprises and ideas in order to preach their
            ideologies to expand over the geographies.
          </p>
          <p>
            And to pull off a business from this, the First Solutions team came
            to us with a raw and innate idea that was totally fresh and
            innovative. Unlike other vibing platforms for music, their aim was
            to build a solution that could be a blast for tech-pruners,
            enterprises, developers, and other associations to get educated and
            make use of entirely new and original audio content.
          </p>
          <p>
            First Blast It - is an audio uploading platform in Gen Z’s language,
            a full-fledged Podcast to talk about everything business, by
            professionals for aspiring professionals. The First solution
            originated in the United States, this was an amazing step to put
            forward for the world.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="busiessgoal bg-park">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <div class="bussiness-common-heading">
          <div class="text-center">
            <h5>Business Goal</h5>
            <h3>To Be Unanimous And Unique</h3>
            <p>
              The main objective of First Solutions is to crack the divided
              opportunities and benefit society with a united yet unique
              solution that can blast ideologies along with technologies upfront
              moves in one space and only all that is updated.
            </p>
            <p>
              They aim at hitting the global audience's attention with their
              unique podcast stream application that is yet to be launched. And
              moreover, bring in speakers, and encourage educationalists and
              professionals into this space to empower the future.
            </p>
            <p class="mb-0">
              All that matters is - the audience and listeners must make use of
              the audio cycle effectively and bring in a breakthrough in terms
              of educating, updating, and recollecting data through their
              subscription models bringing in revenue to progress and scale up.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="solutions">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mb-3">
        <div class="challange">
          <h5>Challenges/Developing Challenges</h5>
          <h3>Hurdles In The Hustle Of FirstBlastIt</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 mb-3">
        <div class="challange challenge-wrap">
          <div class="chall-num">1</div>
          <p>
            In the process of formulating this idea of FirstBlastIt, there was a
            lot of scheduling to shortlist the limitations to concentrate on
            here. Being a podcast streaming application, First Solution strived
            to eradicate the eccentrically diverse options available.
          </p>
        </div>
      </div>
      <div class="col-lg-4 mb-3">
        <div class="challange challenge-wrap">
          <div class="chall-num">2</div>
          <p>
            There is no exclusive podcast service facilitating application
            contracting on the concerns of business professionals and stories of
            the same. FirstBlastIt is anticipated to evolve as the one and only
            podcasting service with all updates on the tech world.
          </p>
        </div>
      </div>
      <div class="col-lg-4 mb-3">
        <div class="challange challenge-wrap">
          <div class="chall-num">3</div>
          <p>
            The creators and listeners have the privilege to upload and at the
            same time get the record out of the playlist queue. Through its
            added subscription options, it allows the audio to add back to the
            list.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <figure>
          <img
            src="assets/images/case-studies/firstblastit/about.jpg"
            class="img-fluid"
            alt="about"
            title="Hurdles In The Hustle Of FirstBlastIt"
          />
        </figure>
      </div>
    </div>
  </div>
</section>
<section class="solutions bg-park bg-with-img">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="challange">
          <h5>Solution, Achievements</h5>
          <h3>FirstBlastIt - The Elixir To Supreme Streaming</h3>
          <p>
            The foremost Endorsement of FirstBlastIt - is its own idea, the tech
            world could be proud and take the privilege of being the foremost
            idea to be proposed in the sector. And also successfully crossed
            over its deployment stage, ready to get launched for the users.
          </p>
          <p class="mb-0">
            Adding further, First solutions through their innate subscriptions
            model will catch the global audiences. The audio streaming cycle is
            a little different, but they got things perfectly covered in the
            row, and as the count strikes the maximum the least gets out
            automatically. While there are options to retrieve them back.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="user-flow pb-0">
  <div class="container">
    <div class="row mb-3">
      <div class="col-lg-7 mx-auto">
        <div class="bussiness-common-heading">
          <div class="text-center">
            <h5>Discovery, Workflow(Design process)</h5>
            <h3>Working Model Of FirstBlastIt</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <p>
          FirstBlast consists of segmented working conditions based on the
          user's and publisher's subscriptions plan. In general, the application
          allows a single user to one only access the first 200 audio files
          under any subcategory and the cycle goes on updating in consecutive
          numbers moving the older files to stage two. The current playlist will
          only have 200 however. There are different sub-categories under each
          category giving a vast and in-depth knowledge of the same.
        </p>
        <p>
          As a new user, after registering in the application OPT is sent to the
          email and phone to verify. Once the verification is validated, the
          user gets access to the platform. Any user logged in for the first
          time will enjoy the privilege of the Free Subscription module, that
          further can be updated and downgraded at any point of time.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="app-features pb-0">
  <div class="container">
    <div class="row mb-2">
      <div class="col-lg-6">
        <div class="bussiness-common-heading">
          <h5>FirstBlast</h5>
          <h3>Design Screens</h3>
        </div>
      </div>
    </div>
    <div class="img-lg">
      <div class="row">
        <div class="col-lg-12">
          <figure>
            <img
              src="assets/images/case-studies/firstblastit/design-screens.jpg"
              class="img-fluid"
              alt="design screens"
              title="Workflow of FirstBlast"
            />
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="app-features">
  <div class="container">
    <div class="row mb-2">
      <div class="col-lg-12">
        <div class="bussiness-common-heading">
          <h5>FirstBlastIt</h5>
          <h3>Working Model Of FirstBlastIt</h3>
          <p>
            FirstBlast consists of segmented working conditions based on the
            user's and publisher's subscriptions plan. In general, the
            application allows a single user to one only access the first 200
            audio files under any subcategory and the cycle goes on updating in
            consecutive numbers moving the older files to stage two. The current
            playlist will only have 200 however. There are different
            sub-categories under each category giving a vast and in-depth
            knowledge of the same.
          </p>
          <p>
            As a new user, after registering in the application OPT is sent to
            the email and phone to verify. Once the verification is validated,
            the user gets access to the platform. Any user logged in for the
            first time will enjoy the privilege of the Free Subscription module,
            that further can be updated and downgraded at any point of time.
          </p>
          <h5 class="mb-20">
            To upload an audio file, the user has to check on these.
          </h5>
          <ul class="list-img">
            <li>The audio file should be a minimum of 10 secs.</li>
            <li>Maximum 2 minutes and not more</li>
          </ul>
          <p>
            The audio can be either recorded in the platform directly or
            uploaded from Internal File storages/ Google Drive / Onedrive/
            Dropbox. After choosing the file, Click on Next and enter the
            details like Title, choose Category, and subcategory. Then fill in
            the SPC (Self Promotional Content) details ( not mandatory). To add
            on, there are options to also download the audio to the Listener’s
            local drive.
          </p>
          <p>
            When it's filed, the listener with the help of Get SPC button can
            derive the details of the publisher when enabled.
          </p>
          <p>
            Similarly, there is a BTM (Bring back To Me) button that gives the
            publishers the details of listeners of the audio.
          </p>
          <p>Coming forward,</p>
          <p>
            There are Four Track Modules for the audio to slide through in the
            application.
          </p>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-lg-3 col-md-6 mb-3">
        <div class="process-list">
          <h4 class="heading4">
            Waiting Track <span class="process-num">1</span>
          </h4>
          <p>
            - any audio recorded or uploaded stay here, before getting to the
            next stage. Once verified and validated the audio then goes to the
            next track for listening.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-3">
        <div class="process-list">
          <h4 class="heading4">
            Current Track <span class="process-num">2</span>
          </h4>
          <p>
            - only 200 audios are played from each subcategory. The queue is
            well managed by the admin team and it is processed as per the First
            in First out Concept.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-3">
        <div class="process-list">
          <h4 class="heading4">
            Retro Track <span class="process-num">3</span>
          </h4>
          <p>
            - when the 201st track adds in the current track, The very 1st audio
            there comes to the Retro tracks. The cycle is also maintained here
            in order to maintain updates.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-3">
        <div class="process-list">
          <h4 class="heading4">
            Deleted Track <span class="process-num">4</span>
          </h4>
          <p>
            - the first track from the Retro comes in here as that is lined with
            200 tracks under the subcategory. This sticks to the idea that the
            oldest comes out first.
          </p>
        </div>
      </div>
    </div>
    <p>
      The audio in the deleted track will be visible to the punisher in the
      uploaded file while it won't be visible to the listener. It can be
      reuploaded by the publisher.
    </p>
    <p>
      Moreover, the count of 200 can be increased or decreased in the future by
      the admin based on requirements.
    </p>
    <p>
      As mentioned earlier the privileges of the user in FirstBlastIt are based
      on their subscription plans, there <b>4 module</b> to choose from.
    </p>
    <div class="row mb-3 justify-content-center">
      <div class="col-sm-6 col-12 mb-3">
        <div class="common-design blue text-center">
          <div class="z-index1">
            <figure class="orangebg">
              <img
                src="assets/images/case-studies/firstblastit/free-membership.svg"
                width="60"
                height="60"
                alt="Free membership"
                title="Free membership"
              />
            </figure>
            <h3>Free membership</h3>
            <p>
              The listeners can access any number of videos but only be able to
              publish 3 audio per month. With 3 clicks to access either SPC or
              BTM.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-12 mb-3">
        <div class="common-design blue text-center">
          <div class="z-index1">
            <figure class="orangebg">
              <img
                src="assets/images/case-studies/firstblastit/standard-membership.svg"
                alt="Standard membership"
                title="Standard membership"
                width="60"
                height="60"
              />
            </figure>
            <h3>Standard membership</h3>
            <p>
              Similarly upload 3 audio per month. SPC and BTM have unlimited
              access for the users here.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-12 mb-3">
        <div class="common-design blue text-center">
          <div class="z-index1">
            <figure class="orangebg">
              <img
                src="assets/images/case-studies/firstblastit/premium-membership.svg"
                alt="Premium membership"
                title="Premium membership"
                width="60"
                height="60"
              />
            </figure>
            <h3>Premium membership</h3>
            <p>
              Everything is unlimited for the users here. The number of audio
              published, SPC, and BTM are free to access.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-12 mb-3">
        <div class="common-design blue text-center">
          <div class="z-index1">
            <figure class="orangebg">
              <img
                src="assets/images/case-studies/firstblastit/premium-plus-membership.svg"
                alt="Premium Plus membership"
                title="Premium Plus membership"
                width="60"
                height="60"
              />
            </figure>
            <h3>Premium Plus membership</h3>
            <p>
              Everything is unlimited for the users here. The number of audio
              published, SPC, and BTM are free to access. Additionally, users
              get the option to rotate their audio 3 times in the cycle.
            </p>
          </div>
        </div>
      </div>
    </div>
    <p>
      In order to manage bulk data processing fast and securely in the
      background, we have brought in Queue functions with Laravel to achieve it.
    </p>
  </div>
</section>
<section class="app-features revenue-model">
  <div class="container">
    <div class="row mb-2">
      <div class="col-lg-12">
        <div class="bussiness-common-heading">
          <h3>Renewal process</h3>
          <p>
            The users can opt for Monthly or Yearly packages with auto-renewal
            options. The first card uploaded in the Credit Card Management
            section will stay as Default, it cannot be deleted while others can
            be. Any number of cards can be added and chosen as default.
            Meanwhile, the subscription can be upgraded or downgraded.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="feautures bg-park unique-features">
  <div class="container">
    <div class="row mb-3">
      <div class="col-lg-12 mx-auto">
        <div class="bussiness-common-heading">
          <div class="text-center">
            <h5>Unique Features</h5>
            <h3>Features Of FirstBlastIt</h3>
            <p>The Home page comprises the following buttons and features.</p>
            <div class="row">
              <div class="col mb-3">
                <div class="spark-cta">
                  <a
                    [routerLink]="['/contact-us']"
                    class="about-us btn-style-one"
                  >
                    <span class="text"
                      >Audio Repeat
                      <span class="arrow"
                        ><i><span>→</span></i>
                        <svg
                          class="arrow-icon"
                          xmlns="http://www.w3.org/2000/svg"
                          width="32"
                          height="32"
                          viewBox="0 0 32 32"
                        >
                          <g
                            fill="none"
                            stroke="#fff"
                            stroke-width="2"
                            stroke-linejoin="round"
                            stroke-miterlimit="10"
                          >
                            <circle
                              class="arrow-icon--circle"
                              cx="16"
                              cy="16"
                              r="15.12"
                            ></circle>
                          </g>
                        </svg>
                      </span>
                    </span>
                  </a>
                </div>
              </div>
              <div class="col mb-3">
                <div class="spark-cta">
                  <a
                    [routerLink]="['/contact-us']"
                    class="about-us btn-style-one"
                  >
                    <span class="text"
                      >Download
                      <span class="arrow"
                        ><i><span>→</span></i>
                        <svg
                          class="arrow-icon"
                          xmlns="http://www.w3.org/2000/svg"
                          width="32"
                          height="32"
                          viewBox="0 0 32 32"
                        >
                          <g
                            fill="none"
                            stroke="#fff"
                            stroke-width="2"
                            stroke-linejoin="round"
                            stroke-miterlimit="10"
                          >
                            <circle
                              class="arrow-icon--circle"
                              cx="16"
                              cy="16"
                              r="15.12"
                            ></circle>
                          </g>
                        </svg>
                      </span>
                    </span>
                  </a>
                </div>
              </div>
              <div class="col mb-3">
                <div class="spark-cta">
                  <a
                    [routerLink]="['/contact-us']"
                    class="about-us btn-style-one"
                  >
                    <span class="text"
                      >Play pause
                      <span class="arrow"
                        ><i><span>→</span></i>
                        <svg
                          class="arrow-icon"
                          xmlns="http://www.w3.org/2000/svg"
                          width="32"
                          height="32"
                          viewBox="0 0 32 32"
                        >
                          <g
                            fill="none"
                            stroke="#fff"
                            stroke-width="2"
                            stroke-linejoin="round"
                            stroke-miterlimit="10"
                          >
                            <circle
                              class="arrow-icon--circle"
                              cx="16"
                              cy="16"
                              r="15.12"
                            ></circle>
                          </g>
                        </svg>
                      </span>
                    </span>
                  </a>
                </div>
              </div>
              <div class="col">
                <div class="spark-cta">
                  <a
                    [routerLink]="['/contact-us']"
                    class="about-us btn-style-one"
                  >
                    <span class="text"
                      >Forward and Backward
                      <span class="arrow"
                        ><i><span>→</span></i>
                        <svg
                          class="arrow-icon"
                          xmlns="http://www.w3.org/2000/svg"
                          width="32"
                          height="32"
                          viewBox="0 0 32 32"
                        >
                          <g
                            fill="none"
                            stroke="#fff"
                            stroke-width="2"
                            stroke-linejoin="round"
                            stroke-miterlimit="10"
                          >
                            <circle
                              class="arrow-icon--circle"
                              cx="16"
                              cy="16"
                              r="15.12"
                            ></circle>
                          </g>
                        </svg>
                      </span>
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="common-design">
          <h3></h3>
          <p>
            <b>Next in the queue</b>, lists only the immediate audio appears
            here
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="common-design">
          <p>
            <b>The current track-up</b> shows the audio from where it is played.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="common-design">
          <p>
            <b>Switch track filters</b> can be opted to swap the track from the
            cycle.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="common-design">
          <p>
            <b>Audio</b> from any of the tracks is played in order and can not
            be shuffled
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="common-design">
          <p>
            <b>SPC/ BTM details</b> open with 2 tabs giving the detail
            respectively.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="common-design">
          <p>
            <b>Categories</b> can be changed at any time based on the listener's
            preference.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="common-design">
          <p>
            The <b>private account enables options that</b> allow users to
            restrict their information being shared explicitly.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="feautures unique-features bg-white pb-0">
  <div class="container">
    <div class="row mb-3">
      <div class="col-lg-10 mx-auto">
        <div class="bussiness-common-heading">
          <div class="text-center">
            <h4>
              Go to Home Screen, click on Profile icon > Settings > Profile
              Clips > Click on Three Dots
            </h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="common-design">
          <p><b>Insights: </b>details on every inch of the uploaded audio</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="common-design">
          <p>
            <b>Shares: </b>audio can be shared to any social media or person
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="common-design">
          <p><b>Reupload: </b>audio can be reuploaded into the current track</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="techstack">
  <div class="container">
    <div class="row mb-3">
      <div class="col-lg-8">
        <div class="bussiness-common-heading">
          <h5>Tools</h5>
          <h3>A great app needs the right tools and technology to perform</h3>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
        <div class="tech-stack-heading mb-3">
          <h3>Front End</h3>
        </div>
        <div class="row">
          <div class="col-sm-6 mb-3">
            <div class="tech-stack-wrap text-center">
              <img
                src="assets/images/techstack/frontend/tailwind.svg"
                width="70"
                height="70"
                alt="tailwind"
                title="Front End"
              />
              <p>Tailwind</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
        <div class="tech-stack-heading mb-3">
          <h3>Back End</h3>
        </div>
        <div class="row">
          <div class="col-sm-6 col-6 mb-3">
            <div class="tech-stack-wrap text-center">
              <img
                src="assets/images/techstack/backend/laravel.svg"
                width="70"
                height="70"
                alt="Laravel"
                title="Back End"
              />
              <p>Laravel</p>
            </div>
          </div>
          <div class="col-sm-6 col-6 mb-3">
            <div class="tech-stack-wrap text-center">
              <img
                src="assets/images/techstack/backend/php.svg"
                width="70"
                height="70"
                alt="PHP"
              />
              <p>PHP</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
        <div class="tech-stack-heading mb-3">
          <h3>Database</h3>
        </div>
        <div class="row">
          <div class="col-sm-6 col-6 mb-3">
            <div class="tech-stack-wrap text-center">
              <img
                src="assets/images/techstack/database/mysql.svg"
                width="70"
                height="70"
                alt="MySql"
                title="Database"
              />
              <p>MySql</p>
            </div>
          </div>
          <div class="col-sm-6 col-6 mb-3">
            <div class="tech-stack-wrap text-center">
              <img
                src="assets/images/techstack/database/mongo.svg"
                width="70"
                height="70"
                alt="MongoDB"
                title="Database"
              />
              <p>MongoDB</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 mb-3">
        <div class="tech-stack-heading mb-3">
          <h3>Android</h3>
        </div>
        <div class="row row-cols-lg-5 row-cols-md-5 row-cols-sm-3 row-cols-2">
          <div class="col mb-3">
            <div class="tech-stack-wrap text-center">
              <img
                src="assets/images/techstack/mobile/kotlin.svg"
                width="70"
                height="70"
                alt="Kotiln"
                title="Mobile"
              />
              <p>Kotiln</p>
            </div>
          </div>
          <div class="col mb-3">
            <div class="tech-stack-wrap text-center">
              <img
                src="assets/images/techstack/mobile/android.svg"
                width="70"
                height="70"
                alt="Android"
                title="Mobile"
              />
              <p>Android</p>
            </div>
          </div>
          <div class="col mb-3">
            <div class="tech-stack-wrap text-center">
              <img
                src="assets/images/techstack/mobile/flutter.svg"
                width="70"
                height="70"
                alt="Flutter"
                title="Mobile"
              />
              <p>Flutter</p>
            </div>
          </div>
          <div class="col mb-3">
            <div class="tech-stack-wrap text-center">
              <img
                src="assets/images/techstack/mobile/react-native.svg"
                width="70"
                height="70"
                alt="React"
                title="Mobile"
              />
              <p>React</p>
            </div>
          </div>
          <div class="col mb-3">
            <div class="tech-stack-wrap text-center">
              <img
                src="assets/images/techstack/mobile/ionic.svg"
                width="70"
                height="70"
                alt="Ionic"
                title="Mobile"
              />
              <p>Ionic</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 mb-3">
        <div class="tech-stack-heading mb-3">
          <h3>IOS</h3>
        </div>
        <div class="row row-cols-lg-5 row-cols-md-5 row-cols-sm-3 row-cols-2">
          <div class="col mb-3">
            <div class="tech-stack-wrap text-center">
              <img
                src="assets/images/techstack/mobile/swift.svg"
                width="70"
                height="70"
                alt="Swift"
                title="IOS"
              />
              <p>Swift</p>
            </div>
          </div>
          <div class="col mb-3">
            <div class="tech-stack-wrap text-center">
              <img
                src="assets/images/techstack/mobile/obj-c.svg"
                width="70"
                height="70"
                alt="Obj-c"
                title="IOS"
              />
              <p>Obj-c</p>
            </div>
          </div>
          <div class="col mb-3">
            <div class="tech-stack-wrap text-center">
              <img
                src="assets/images/techstack/swiftui.png"
                width="70"
                height="70"
                alt="Swiftui"
                title="IOS"
              />
              <p>Swiftui</p>
            </div>
          </div>
          <div class="col mb-3">
            <div class="tech-stack-wrap text-center">
              <img
                src="assets/images/techstack/cocoapods.png"
                width="70"
                height="70"
                alt="Cocoapods"
                title="IOS"
              />
              <p>Cocoapods</p>
            </div>
          </div>
          <div class="col mb-3">
            <div class="tech-stack-wrap text-center">
              <img
                src="assets/images/techstack/circleci.png"
                width="70"
                height="70"
                alt="circleci"
                title=""
              />
              <p>Circleci</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="my-5 mb-0" />
    <!--end-->
  </div>
</section>
<app-testmonial></app-testmonial>

<section class="result">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 pr-4">
        <div class="bussiness-common-heading">
          <h5>Results</h5>
          <h3>FirstBlastIt - What Is It About To!?</h3>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="bussiness-common-heading mb-0">
          <p>
            The main aim of First Solution is to render a solution that can
            regulate original content and automatically queue new content as out
            listing the old. FirstBlastIt is such a solution that we build it
            for them. It's all set to launch and the client is holding it for
            the right time.
          </p>
          <p class="mb-0">
            This Business solution is anticipated to stand out from the regular
            audio streaming application and confined to be in a place that is
            more welcomed, utilized, and encouraged by professionals.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <app-case-study-more></app-case-study-more> -->
<app-blog-scroll></app-blog-scroll>
<app-contact></app-contact>
