<section class="health-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="banner-section">
                    <img src="assets/images/Logistic/Logistic-banner.png" class="img-fluid" alt="Transportation & Logistics
">
                    <div class="banner-text-wrap">
                        <h1>Transportation & Logistics
</h1>
                        <h2>Logistics & Automotive Software Solutions</h2>
                        <p>Logistics and automotive software solutions with the latest tech give you an edge over competition across the board. Use Internet of Things (IoT) to track your operations and predict malfunction. Add Big Data solutions, and get valuable insights into your operations.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="overview">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="overview-wrap">
                    <h1>Overview</h1>
                    <h2>Transport & Logistics App Development Solutions</h2>
                    <p>Logistics and automotive software solutions with the latest tech give you an edge over competition across the board. Use Internet of Things (IoT) to track your operations and predict malfunction. Add Big Data solutions, and get valuable insights into your operations. Need to simplify employee on-boarding? Use Augmented and Virtual Reality training.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="overview-challange">
    <div class="container">
        <div class="row mb-5">
            <div class="col-lg-6 mx-auto">
                <div class="text-center">
                    <div class="challange-wrap">
                        <h1>Challenges</h1>
                        <h2>Your business come out strongly through all challenges</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-4">
            <div class="col-lg-12">
                <div class="row ">
                    <div class="bg-whites">
                        <div class="row ">
                            <div class="col-lg-4 col-md-6">
                                <div class="challange-text-wrap">
                                    <div>
                                        <img src="assets/images/healthcare/diamond-icon.svg"  width="20" height="20" alt="icon">
                                    </div>
                                    <div class="pl-3">
                                        <p>Protecting large IT estates with
                                            specialist systems</p>
                                    </div>
                                </div>
                            </div><div class="col-lg-4 col-md-6 ">
                                <div class="challange-text-wrap">
                                    <div>
                                        <img src="assets/images/healthcare/diamond-icon.svg"  width="20" height="20" alt="icon">
                                    </div>
                                    <div class="pl-3">
                                        <p>Safeguarding sensitive patient data</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 ">
                                <div class="challange-text-wrap">
                                    <div>
                                        <img src="assets/images/healthcare/diamond-icon.svg"  width="20" height="20" alt="icon">
                                    </div>
                                    <div class="pl-3">
                                        <p>Balancing information security and access to systems</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 ">
                                <div class="challange-text-wrap">
                                    <div>
                                        <img src="assets/images/healthcare/diamond-icon.svg"  width="20" height="20" alt="icon">
                                    </div>
                                    <div class="pl-3">
                                        <p>Detecting and responding to breaches</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 ">
                                <div class="challange-text-wrap">
                                    <div>
                                        <img src="assets/images/healthcare/diamond-icon.svg"  width="20" height="20" alt="icon">
                                    </div>
                                    <div class="pl-3">
                                        <p>Protecting large IT estates with
                                            specialist systems</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="challange-text-wrap">
                                    <div>
                                        <img src="assets/images/healthcare/diamond-icon.svg"  width="20" height="20" alt="icon">
                                    </div>
                                    <div class="pl-3">
                                        <p>Identifying at-risk assets</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="solutions">
    <div class="container">
        <div class="row mb-4">
            <div class="col-xxl-7 col-lg-9 col-md-12">
                <div class="solution-wrap">
                    <h1>Solutions</h1>
                    <h2>Comprehensive technology solutions to increase real-time visibility, optimize processes</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-3">
                <div class="solution-whole-wrap">
                    <img src="assets/images/Logistic/Transport.png" class="img-fluid" alt="Transport Management Solution">
                    <div class="solutiontext-wrap">
                        <h3>Transport Management Solution</h3>
                        <p>Access strategy, design, development,
                            testing, and maintenance professionals
                            from one source. Onboard the team or
                            our PM just once.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-3">
                <div class="solution-whole-wrap">
                    <img src="assets/images/Logistic/Supply-chain-management.png" class="img-fluid" alt="Supply Chain Management">
                    <div class="solutiontext-wrap">
                        <h3> Supply Chain Management</h3>
                        <p>We develop online accounting software
                            and AIS architectures integrated with
                            CRM, ERP, and other financial
                            management programs.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-3">
                <div class="solution-whole-wrap">
                    <img src="assets/images/Logistic/fleet-management.png" class="img-fluid" alt="Fleet Management">
                    <div class="solutiontext-wrap">
                        <h3>Fleet Management</h3>
                        <p>Digital wallet users, made up to 15mln
                            of population. do not find it smart to
                            log in and out of a platform frequently.
                            Once they reach the checkout page.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-3">
                <div class="solution-whole-wrap">
                    <img src="assets/images/Logistic/warehouse-management.png" class="img-fluid" alt="Warehouse Management">
                    <div class="solutiontext-wrap">
                        <h3>Warehouse Management</h3>
                        <p>Financial management software
                            provides businesses with a full suite of
                            accounting functions to track daily
                            financial operations and generate.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-3">
                <div class="solution-whole-wrap">
                    <img src="assets/images/Logistic/courier.png" class="img-fluid" alt="Courier Delivery">
                    <div class="solutiontext-wrap">
                        <h3>Courier Delivery</h3>
                        <p>We develop custom financial platforms
                            for trading and securities business
                            ventures for more than 15 years.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-3">
                <div class="solution-whole-wrap">
                    <img src="assets/images/Logistic/erp.png" class="img-fluid" alt="Enterprise Resource Planning (ERP)">
                    <div class="solutiontext-wrap">
                        <h3>Enterprise Resource Planning (ERP)</h3>
                        <p>Predictive analytics is one of the most
                            important big data trends affecting
                            FinTech. Established financial companies
                            like Payoneer and PayPal..</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="why-choose">
    <div class="container">
        <div class="row mb-5">
            <div class="col-lg-5">
                <div class="why-choose-wrap">
                    <h1>Why Choose Sparkout</h1>
                    <h2>A trusted partner for Transportation & Logistics
</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="bg-grey">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="challange-text-wrap">
                                    <div>
                                        <img src="assets/images/healthcare/diamond-icon.svg" class="img-fluid" width="20" height="20" alt="icon">
                                    </div>
                                    <div class="pl-3">
                                        <p>One of the highest accredited UK pentesting companies</p>
                                    </div>
                                </div>
                                <div class="challange-text-wrap">
                                    <div>
                                        <img src="assets/images/healthcare/diamond-icon.svg" class="img-fluid" width="20" height="20" alt="icon">
                                    </div>
                                    <div class="pl-3">
                                        <p>A deep understanding of how hackers operate</p>
                                    </div>
                                </div>
                                <div class="challange-text-wrap">
                                    <div>
                                        <img src="assets/images/healthcare/diamond-icon.svg" class="img-fluid" width="20" height="20" alt="icon">
                                    </div>
                                    <div class="pl-3">
                                        <p>In-depth threat analysis and advice you can trust</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="challange-text-wrap">
                                    <div>
                                        <img src="assets/images/healthcare/diamond-icon.svg"  width="20" height="20" alt="icon">
                                    </div>
                                    <div class="pl-3">
                                        <p>Complete post-test care for effective risk remediation</p>
                                    </div>
                                </div>
                                <div class="challange-text-wrap">
                                    <div>
                                        <img src="assets/images/healthcare/diamond-icon.svg"  width="20" height="20" alt="icon">
                                    </div>
                                    <div class="pl-3">
                                        <p>Multi award-winning offensive security services</p>
                                    </div>
                                </div>
                                <div class="challange-text-wrap">
                                    <div>
                                        <img src="assets/images/healthcare/diamond-icon.svg"  width="20" height="20" alt="icon">
                                    </div>
                                    <div class="pl-3">
                                        <p>Avg. 9/10 customer satisfaction, 95% retention rate</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<app-letdiscuss></app-letdiscuss>
<app-case-study-more></app-case-study-more>
<app-testmonial></app-testmonial>
<app-blog-scroll></app-blog-scroll>
<app-contact></app-contact>
<!-- <app-footer></app-footer> -->
