<section class="banners-section home-banner sub-banner">
  <div class="common">
    <img
      src="assets/images/case-studies/case-studies-banner.jpg"
      class="img-fluid"
      alt="LayerOneX Case Study"
      title="LayerOneX Case Study"
    />
    <div class="banner-text d-flex justify-content-center align-self-center">
      <div class="title-wrap">
        <h4><span class="dots"></span>LayerOneX</h4>
        <h2>
          <span>LayerOneX Developer  </span> Portal is  <br />
          exclusively created for the developer
          <span class="dots"></span>
        </h2>
        <p>Community to build, extend, connect, and upscale their
          career.
        </p>
        <div class="d-flex justify-content-center">
          <a class="btn btn-primary" [routerLink]="['/contact-us']"
            >Get In Touch
            <img
              src="assets/images/home-new/icon-banner-arrowup.svg"
              alt="Arrow up"
              title="Arrow up"
          /></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <section class="parkcase-studies">
  <div class="container">
    <div class="row">
      <div class="firstpart bg-park">
        <div class="row align-items-center">
          <div class="col-lg-7 col-md-7 mb-3">
            <div class="part-one">
              <img
                src="assets/images/layer1x-logo.png"
                class="img-fluid mb-3"
                alt="layer1x logo"
                title="LayerOneX Developer Portal is exclusively created for the developer community"
                width="150"
              />
              <h1>
                LayerOneX Developer Portal is exclusively created for the
                developer community to build, extend, connect, and upscale their
                career.
              </h1>
              <h4>Social Links & websites</h4>
            </div>
          </div>
          <div class="col-lg-5 col-md-5 mb-3">
            <div class="text-right">
              <img
                src="assets/images/case-studies/firstblastit/firstblastit-banner1.png"
                class="img-fluid"
                alt="firstblastit"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<section class="requirements">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-5">
        <div class="business-requirement">
          <h6>Client Name</h6>
          <h3>Kevin Coutinho</h3>
        </div>
        <div class="business-requirement">
          <h6>Business</h6>
          <h3>Professional Social Handle</h3>
        </div>
        <div class="business-requirement">
          <h6>Country</h6>
          <h3>Australia</h3>
        </div>
        <div class="business-requirement">
          <h6>Website</h6>
          <h3>
            <a href="https://www.l1x.foundation/" target="_blank"
              >l1x.foundation</a
            >
          </h3>
        </div>

        <div class="business-requirement">
          <h6>Industries</h6>
          <h3>Blockchain</h3>
        </div>

        <div class="business-requirement">
          <h6>Team Count</h6>
          <h3 class="font-sm">
            Backend - 1<br />
            Frontend - 2<br />
            Smart contract Blockchain - 1<br />
            UI/UX Design - 1<br />
            Tech Architect - 1<br />
            Angular - 2 <br />
            QA - 1<br />
            PM - 1
          </h3>
        </div>
      </div>
      <div class="col-lg-8 col-md-7">
        <div class="title-wrap">
          <h4><span class="dots"></span> About</h4>
          <h2>
            <span>LayerOneX </span> - Connect with absolute like-minded techy's
            where every individual gets to seek, explore, participate, and take
            up their single-handed projects all in one space.
            <span class="dots"></span>
          </h2>

          <h3>Services</h3>
          <p>
            Event Management, Organize Hackathons, Project Roll Out, Participant
            in Events, Hackathons, Take up Projects, Resume Builder, NFTs.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="busiessgoal bg-park">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <div class="title-wrap text-center">
          <h4><span class="dots"></span>Business Goal</h4>
          <h2>
            <span> Business Objects </span> Of LayerOneX
            <span class="dots"></span>
          </h2>
          <p>
            The primary objective of developing a professionally aided community
            platform solution like LayerOneX Dev Portal was the man behind the
            idea, our client Kevin Coutinho who was very enthusiastic about
            curating an exclusive space for tech minds to collaborate.
          </p>
          <p>
            The vision is to connect like-minded people, who are willing to
            explore the space of technology and development, all in one space.
            To build an exclusive platform that shall be the first call for
            professionals who are seeking opportunities and willing to skill and
            scale up.
          </p>
          <p class="mb-0 pb-0">
            LayerOneX is aiming to step up in the social spaces as an epitome
            for individuals to grab their skill scaling opportunity and to
            connect with the LayerOneX community.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="solutions">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="title-wrap">
          <h4><span class="dots"></span>Challenges/Developing Challenges</h4>
          <h2>
            <span>The Crucial Stage </span> Of Development
            <span class="dots"></span>
          </h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 mb-3">
        <div class="challange challenge-wrap">
          <div class="chall-num">1</div>
          <p>
            We had limited development time for this project so that they could
            launch quickly.. The project was pitched and asked to complete
            development within 15 days and out for launch. The team was
            confident that we could pull it off on time with planning and
            support from the client. This challenge coming our way was like an
            opportunity that came our way to ace our capabilities.
          </p>
        </div>
      </div>
      <!-- <div class="col-lg-4 mb-3">
        <div class="challange challenge-wrap">
          <div class="chall-num">2</div>
          <p>Yet to make it look the way it sounds? We happened to work on a few designs and structures while making the requirements precise, short, and crisp, yet detailing everything.
          </p>
        </div>
      </div>
      <div class="col-lg-4 mb-3">
        <div class="challange challenge-wrap">
          <div class="chall-num">3</div>
          <p>Working on different nuances, we finally came up with the present design and have other structures soon to come on the platform. All of it focuses on step-to-step actions that are precise and particular.
          </p>
        </div>
      </div> -->
    </div>
    <div class="row">
      <div class="col-lg-12">
        <figure>
          <img
            src="assets/images/case-studies/firstblastit/about.jpg"
            class="img-fluid"
            alt="about"
          />
        </figure>
      </div>
    </div>
  </div>
</section>
<section class="solutions bg-park bg-with-img bg-dark">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-7">
        <div class="title-wrap">
          <h4><span class="dots"></span>The Solution, Achievements</h4>
          <h2>
            <span>The Outcomes </span> Of Developing LayerOneX Platform
            <span class="dots"></span>
          </h2>
        </div>
        <h3>Design Phase</h3>
        <p>
          Curating the UI/UX designs for LayerOneX was completely a creative
          process. We had a full fledged freedom to take control on the
          Typography and iconography. “Styrene A LC” font was used in the banner
          and heading followed by “Manrope” for contents within the fields. This
          developer community platform design was meant to be simple and played
          with the Lilac tones.
        </p>
      </div>
      <div class="col-lg-5">
        <figure>
          <img
            src="assets/images/home-new/casestudy/l1x/design-phase.jpg"
            class="img-fluid"
            alt="about"
            title="The Outcomes Of Developing LayerOneX Platform"
          />
        </figure>
      </div>
    </div>
  </div>
</section>
<section class="app-features common-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="title-wrap">
          <h3>Development Phase</h3>
          <p>
            LayerOneX is a unique platform that is meant to bring in collectives
            with like-minded interests in technology, development, and more of
            being creative, on top of problems and solutions. LayerOneX
            addresses three major verticals that lay at the same cause -
            Connections and Reaching Out.
          </p>

          <h3>Events</h3>
          <p>
            An avenue that opens up for individuals to explore the different and
            multifacet events that are happening in the sector. They could take
            part directly by applying, but before that from agenda to speaker
            list and topics, this space shall cover it up.
          </p>
          <figure>
            <img
              src="assets/images/home-new/casestudy/l1x/events.jpg"
              class="img-fluid"
              alt="about"
              title="Development Phase"
            />
          </figure>
          <hr class="my-5 mb-0" />

          <h3>Hackathon</h3>
          <p>
            One door opening to multiple opportunities for individuals and a
            heads up to team building. Hackathons are usually a part of an
            Event, through this dashboard, the users can conveniently pick their
            chance, even if they missed out on the event.
          </p>
          <figure>
            <img
              src="assets/images/home-new/casestudy/l1x/hackathon.jpg"
              class="img-fluid"
              alt="about"
              title="Hackathon"
            />
          </figure>
          <hr class="my-5 mb-0" />

          <h3>Projects</h3>
          <p>
            The field explores the developers with the idea of requirements,
            input on basic contribution from admin, the budget and all of that.
            The platform gives the users a heads up on the projects that need to
            be curated with all the details, and based on the bid they get to
            work on it.
          </p>
          <figure>
            <img
              src="assets/images/home-new/casestudy/l1x/projects.jpg"
              class="img-fluid"
              alt="about"
              title="Projects"
            />
          </figure>
          <hr class="my-5 mb-0" />

          <h3>Message/Communication</h3>
          <p>
            This developer community Platform is more convenient to interact
            with. The Users get to communicate and discuss via group and
            personal chats with the project owners, that eases with the line of
            action.
          </p>
          <figure>
            <img
              src="assets/images/home-new/casestudy/l1x/messages.jpg"
              class="img-fluid"
              alt="about"
              title="Message/Communication"
            />
          </figure>
          <p>
            As simple as it is, we made the development phase intuitive,
            intrigued, and keen to make things simple and sound enough for the
            LayerOneX platform to roar.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="app-features">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <div class="title-wrap">
          <h4>
            <span class="dots"></span>Discovery, Workflow (Design process)
          </h4>
          <h2>
            <span>Working And Functionalities </span> Of First Track It
            <span class="dots"></span>
          </h2>

          <h3>Sitemap</h3>
          <figure>
            <img
              src="assets/images/home-new/casestudy/l1x/sitemap.jpg"
              class="img-fluid"
              alt="about"
              title="Sitemap"
            />
          </figure>
          <hr class="my-5 mb-0" />
          <h3>Flow Chart/Information Architecture(IA)</h3>
          <figure>
            <img
              src="assets/images/case-studies/firstblastit/about.jpg"
              class="img-fluid"
              alt="about"
              title="Flow Chart/Information Architecture(IA)"
            />
          </figure>

          <hr class="my-5 mb-0" />

          <h3>The Working Mechanism Of the Developer (User) Dashboard.</h3>

          <p>
            The Working mechanism of the Developer dashboard simply comprises
            enabling the user to freely navigate through various events,
            hackathons, and project openings.
          </p>

          <ul class="list">
            <li>
              The very first step the user gets to explore is the sign-up
              process. Here KYC is made mandatory, and only when all the fields
              are filled and verified the user can explore the platform as a
              whole.
            </li>
            <li>
              The profile setup is inspired by LinkedIn, the former professional
              social media space for individuals. The user can set a complete
              profile, more like a new-fashioned resume. From their work
              experience to skills and certifications can be listed.
            </li>
            <li>
              The Profile can be downloaded in the Resume format. The Open to
              Work option is made available for the users.
            </li>
            <li>
              The Event tab showcases the event lined up for the user, by
              clicking on the View Details button an extended tab opens to
              detail the very nuances of the Event and also identifies if the
              users could apply for the event or its process.
            </li>
            <li>
              The Hackathon tab also details the various Hackathons available
              for the user/developer. As it’s under an event, those details can
              also be accessed. The closing timer runs simultaneously for each
              hackathon to notify the users.
            </li>
            <li>
              The Project tab gives the users and developers insights into the
              opportunities that are waiting for them. They get more clarity on
              what is to be done, from requirements to bidding details are open.
              The user can approach and the admin approves the bid that they are
              satisfied with.
            </li>
          </ul>

          <h3>The Roles Of Admin In The Dashboard</h3>

          <p>
            The Admin Dashboard manages all the activities of the LayerOne1
            Platform. From setting up events, planning hackathons, and listing
            out projects, everything is controlled and managed in this space
            seamlessly.
          </p>
          <p>
            Starting with the User Management tab, where all the users are
            listed, after verification and approving KYC, the user is added to
            the list, while the admin has the power to remove users as well.
          </p>
          <p>
            The next is the <b>Event Management</b> tab having two subdivisions.
          </p>

          <h3>Create Events</h3>
          <p>
            By providing every minute requirement on the Event, the admin
            creates it. Its name, topic, type, mode, location, banner images,
            posters, descriptions, speaker information, and time-to-time agenda
            of the event, are all fed and once created reflects in the Developer
            dashboard for users to explore. Including user participation, the
            admin can decide if the event is open to all or, if the participants
            are brought in under constraints from the admin.
          </p>

          <h3>Event List</h3>
          <p>
            The list of events created, its activity status, and enable-disable
            options are all found here.
          </p>
          <p>
            More importantly, we have a unique attendance system with the
            participants on the platform. For every confirmation of their
            participation in the event or hackathon, the user gets a mail with a
            QR code uniquely generated. Once that is scanned during the event
            day, automatically the users/participants' attendance is marked.
            Meanwhile, the admin can also do it manually from their dashboard.
          </p>
          <p>
            Following that we have the Hackathon Management tab with 2
            subdivisions.
          </p>
          <ul class="list">
            <li>Create Hackathon</li>
            <li>Hackathon list</li>
          </ul>

          <p>
            With similar qualities from the event management tab, the Hackathon
            management tab in addition, there are fields to mention the Event
            the hackathon belongs to. The admin also is responsible for
          </p>
          <ul class="list">
            <li>
              tracking applicants and confirming their participation in the
              event.
            </li>
            <li>Sending QR for Attendance purposes</li>
            <li>Reviewing the task and ranking</li>
            <li>Declaring the winners of the hackathon.</li>
          </ul>

          <p>
            Next in the row is the Project Management Tab in the admin panel.
          </p>
          <p>
            Creating Projects is opened for the admin to list out and formulate
            a project that needs assistance or ownership, by furnishing the
            requirements, the project's maximum budget, and setting up the Bid,
            all of that happens here.
          </p>
          <p>
            The Project list enlists the different projects that are sent for
            outsourcing through the LayerOneX platform, and the admin takes
            control of managing and maintaining them.
          </p>

          <p>
            The final tab of the Admin dashboard is the Communication Management
            tab
          </p>
          <p>
            Here the admin can interact and manage different project group
            communications with the power to provide user access. And there are
            private chat options as well. The admin can
          </p>
          <ul class="list">
            <li>Create group chat</li>
            <li>Get the member details</li>
            <li>Manage user access in the chat space</li>
            <li>Enable and disable users from the group</li>
            <li>Have individual conversations on projects.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="app-features pb-0">
  <div class="container">
    <div class="row mb-2">
      <div class="col-lg-6">
        <div class="title-wrap">
          <h4><span class="dots"></span>LayerOneX</h4>
          <h2><span>Design</span> Screens <span class="dots"></span></h2>
        </div>
      </div>
    </div>
    <div class="img-lg">
      <div class="row">
        <div class="col-lg-12">
          <figure>
            <img
              src="assets/images/case-studies/firstblastit/design-screens.jpg"
              class="img-fluid"
              alt="design screens"
              title="Workflow of LayeroneX"
            />
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="feautures bg-park unique-features">
  <div class="container">
    <div class="row mb-3">
      <div class="col-lg-12 mx-auto">
        <div class="title-wrap text-center">
          <h4><span class="dots"></span>Unique Features</h4>
          <h2>
            <span>Highlighting The Exclusive </span> Features Of <br />
            LayerOneX Developer Dashboard <span class="dots"></span>
          </h2>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="common-design">
          <h3>Profile drop-down menu</h3>
          <ul>
            <li>holds all the individual activities of the user.</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="common-design">
          <h3>Mandatory KYC</h3>
          <ul>
            <li>to regulate authenticity in the platform.</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="common-design">
          <h3>Profile Setup</h3>
          <ul>
            <li>brings together every nuance of professional information.</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="common-design">
          <h3>Notifications</h3>
          <ul>
            <li>bring the user important updates on the application made.</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="common-design">
          <h3>Group Chat notifications</h3>
          <ul>
            <li>are indicated as numbers in the fields.</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="common-design">
          <h3>User group control</h3>
          <ul>
            <li>can be customized as per the requirement.</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="common-design">
          <h3>Hackathon Timer</h3>
          <ul>
            <li>intimidates users to make wise decisions in the shortest.</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="common-design">
          <h3>Personal Chat</h3>
          <ul>
            <li>in project fields aids with quick and hassle-free action.</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="common-design">
          <h3>Event Tags</h3>
          <ul>
            <li>help in reaching a wider yet specific group of audience.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="techstack">
  <div class="container">
    <div class="row mb-3">
      <div class="col-lg-12">
        <div class="title-wrap text-center">
          <h4><span class="dots"></span>Tools</h4>
          <h2><span>Tech </span> Stack <span class="dots"></span></h2>
        </div>
        <!-- <div class="bussiness-common-heading">
          <h5></h5>
          <h3>A great app needs the right tools and technology to perform</h3>
        </div> -->
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-12 mb-3">
        <div class="tech-stack-heading mb-3 text-center">
          <h3>Front end</h3>
        </div>
        <div
          class="row row-cols-lg-5 row-cols-md-5 row-cols-sm-3 row-cols-2 justify-content-center"
        >
          <div class="col mb-3">
            <div class="tech-stack-wrap text-center">
              <img
                src="assets/images/techstack/mobile/kotlin.svg"
                width="70"
                height="70"
                alt="Material"
                title="Front end"
              />
              <p>Material</p>
            </div>
          </div>
          <div class="col mb-3">
            <div class="tech-stack-wrap text-center">
              <img
                src="assets/images/techstack/bootstrap.svg"
                width="70"
                height="70"
                alt="Bootstrap"
                title="Front end"
              />
              <p>Bootstrap</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 mb-3">
        <div class="tech-stack-heading mb-3 text-center">
          <h3>Backend</h3>
        </div>
        <div
          class="row row-cols-lg-5 row-cols-md-5 row-cols-sm-3 row-cols-2 justify-content-center"
        >
          <div class="col mb-3">
            <div class="tech-stack-wrap text-center">
              <img
                src="assets/images/techstack/nodejs.svg"
                width="70"
                height="70"
                alt="Node"
                title="Backend"
              />
              <p>Node</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 mb-3">
        <div class="tech-stack-heading mb-3 text-center">
          <h3>Database</h3>
        </div>
        <div class="row row-cols-5 justify-content-center">
          <div class="col mb-3">
            <div class="tech-stack-wrap text-center">
              <img
                src="assets/images/techstack/mongodb.svg"
                width="70"
                height="70"
                alt="MongoDB"
                title="Database"
              />
              <p>MongoDB</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="my-5 mb-0" />
    <!--end-->
  </div>
</section>
<app-reviews></app-reviews>

<section class="result">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 pr-4">
        <div class="title-wrap">
          <h4><span class="dots"></span>Results</h4>
          <h2>
            <span>The Present </span> Stand Of LayerOneX
            <span class="dots"></span>
          </h2>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="bussiness-common-heading mb-0">
          <p>
            The very first phase of LayerOneX was developed, tested, and handed
            over to our clients. With the user/developer and admin dashboard
            enclosed the primary requirement of an event management application
            was delivered.
          </p>
          <p class="mb-0">
            In the pipeline, we still have to develop Mobile both Android and
            iOS versions of the platform. The next phase of development is
            blockchain integration. The company already has the L1X token in the
            market. It will be further improved for better performance and
            convenience in the web3 world.
          </p>

          <div class="title-wrap">
            <p>Develop Creative Management Tools,</p>
            <div class="spark-cta">
              <a
                href="https://www.behance.net/gallery/174945911/L1X-LABS-Event-Management-Dashboard"
                target="_blank"
                class="about-us btn-style-one"
              >
                <span class="text"
                  >Connect Now!
                  <span class="arrow"
                    ><i><span>→</span></i>
                    <svg
                      class="arrow-icon"
                      xmlns="http://www.w3.org/2000/svg"
                      width="32"
                      height="32"
                      viewBox="0 0 32 32"
                    >
                      <g
                        fill="none"
                        stroke="#fff"
                        stroke-width="2"
                        stroke-linejoin="round"
                        stroke-miterlimit="10"
                      >
                        <circle
                          class="arrow-icon--circle"
                          cx="16"
                          cy="16"
                          r="15.12"
                        ></circle>
                      </g>
                    </svg>
                  </span>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <app-casestudy-scroll></app-casestudy-scroll> -->
<app-blog-scroll></app-blog-scroll>
<app-contact></app-contact>
