<section class="common-section contact-us-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-12">
                <div class="getintouch">
                  <div class="title-wrap mb-0">
                    <!-- <h4>
                      <span class="dots"></span>Get in Touch
                    </h4> -->
                    <h2> <span>Get in </span> Touch <span class="dots"></span></h2>
                    <!-- <h2>
                      <span>Reach out to us  </span> and  <br />
                      get started right away. <span class="dots"></span>
                    </h2> -->
                  </div>

                    <!-- <div class="contact-social">
                      <div class="sm-icon">
                          <i class="bi bi-skype"></i>
                        </div>
                        <div class="mx-3">
                            <h5>Skype</h5>
                            <a href="skype:yokesh.sankar?chat" target="_blank">yokesh.sankar</a>
                        </div>
                    </div>
                    <div class="contact-social ">
                        <div class="sm-icon">
                          <i class="bi bi-envelope-fill"></i>
                        </div>
                        <div class="mx-3">
                            <h5>Mail ID</h5>
                            <a href="mailto:contact@sparkouttech.com">contact@sparkouttech.com</a>
                        </div>
                    </div>
                    <div class="contact-social mb-5">
                      <div class="sm-icon">
                          <i class="bi bi-telephone-fill"></i>
                        </div>
                        <div class="mx-3">
                            <h5>Phone</h5>
                            <a href="tel:8667726177">+91 86677 26177</a>

                        </div>
                    </div> -->

<!-- Calendly inline widget begin -->
<div class="calendly-inline-widget" data-url="https://calendly.com/sparkouttech" style="min-width:320px;height:470px;">
  <iframe src="https://calendly.com/sparkouttech?embed_domain=www.calendly-embed.com&amp;embed_type=Inline" width="100%" height="100%" frameborder="0" title="Select a Date &amp; Time - Calendly"></iframe>
  </div>
<!-- Calendly inline widget end -->

                </div>
          </div>
          <div class="col-lg-7 col-md-12">
            <div class="getintouch getintochform form-new contactpage-form">
              <div #crmForm></div>
            </div>

          </div>
        </div>
    </div>
</section>
<section class="branch-more-detail common-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
              <div class="title-wrap">
                <h4>
                  <span class="dots"></span>More contacts
                </h4>
                <h2>
                  Would you like to <span>consult for</span> Sales, Career, or Other? <span class="dots"></span>
                </h2>
              </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-12 mb-5 ">
                <div class="branch-head-detail">
                  <picture>
                    <source
                      type="image/webp"
                      srcset="assets/images/contact/business-consultant.webp"
                    />
                    <source
                      type="image/svg"
                      srcset="assets/images/contact/business-consultant.svg"
                    />
                    <img
                      loading="lazy"
                      data-src="assets/images/contact/business-consultant.svg"
                      width="95"
                      height="86"
                      alt="Business Consultant"
                      title="Business Consultant"
                      class="img-fluid"
                    />
                  </picture>
                    <h3>Business Consultant</h3>
                    <a href="mailto:sales@Sparkouttech.com">sales@sparkouttech.com</a>
                    <a href="tel:+91-76397-19980">+91 77088 89555</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mb-5 ">
                <div class="branch-head-detail">
                  <picture>
                    <source
                      type="image/webp"
                      srcset="assets/images/contact/Hr-manager.webp"
                    />
                    <source
                      type="image/svg"
                      srcset="assets/images/contact/Hr-manager.svg"
                    />
                    <img
                      loading="lazy"
                      data-src="assets/images/contact/Hr-manager.svg"
                      width="76"
                      height="85"
                      alt="Job Enquiries"
                      title="Job Enquiries"
                      class="img-fluid"
                    />
                  </picture>
                    <h3>Job Enquiries</h3>
                    <a href="mailto:career@sparkouttech.com">career@sparkouttech.com</a>
                    <a href="tel:+91-86677-26177">+91 80723 95240</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
                <div class="branch-head-detail">
                  <picture>
                    <source
                      type="image/webp"
                      srcset="assets/images/contact/adminstration-head.webp"
                    />
                    <source
                      type="image/svg"
                      srcset="assets/images/contact/adminstration-head.svg"
                    />
                    <img
                      loading="lazy"
                      data-src="assets/images/contact/adminstration-head.svg"
                      width="69"
                      height="85"
                      alt="Join CodeSpot"
                      title="Join CodeSpot"
                      class="img-fluid"
                    />
                  </picture>
                    <h3>Join CodeSpot</h3>
                    <a href="mailto:contact@codespotfoundation.org">contact@codespotfoundation.org</a>
                    <a href="tel:+91-77088-89555">+91 86677 26177</a>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="common-section contact-branch-wrap">
  <div class="container">
      <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <div class="title-wrap text-center">
              <h4>
                <span class="dots"></span>Our Office
              </h4>
              <h2>
                Visit <span>our offices, </span> we're easy to reach  <span class="dots"></span>
              </h2>
            </div>
          </div>
      </div>
      <div class="row text-center">
          <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="branch-detail">
                <owl-carousel-o [options]="officeOptions">
                  <ng-template carouselSlide>
                    <picture>
                      <source
                        type="image/webp"
                        srcset="assets/images/contact/contact-main-branch.webp"
                      />
                      <source
                        type="image/webp"
                        srcset="assets/images/contact/contact-main-branch.webp"
                      />
                      <img
                        loading="lazy"
                        data-src="assets/images/contact/contact-main-branch.webp"
                        width="729"
                        height="429"
                        alt="Sparkout Tech Soluiton Pvt Ltd"
                        title="Sparkout Tech Soluiton Pvt Ltd"
                        class="img-fluid"
                      />
                    </picture>
                  </ng-template>
                  <ng-template carouselSlide>
                    <picture>
                      <source
                        type="image/webp"
                        srcset="assets/images/contact/head-office-2.webp"
                      />
                      <source
                        type="image/jpg"
                        srcset="assets/images/contact/head-office-2.jpg"
                      />
                      <img
                        loading="lazy"
                        data-src="assets/images/contact/head-office-2.jpg"
                        width="729"
                        height="429"
                        alt="Sparkout Tech Soluiton Pvt Ltd"
                        title="Sparkout Tech Soluiton Pvt Ltd"
                        class="img-fluid"
                      />
                    </picture>
                  </ng-template>
                  <ng-template carouselSlide>
                    <picture>
                      <source
                        type="image/webp"
                        srcset="assets/images/contact/head-office-3.webp"
                      />
                      <source
                        type="image/png"
                        srcset="assets/images/contact/head-office-3.jpg"
                      />
                      <img
                        loading="lazy"
                        data-src="assets/images/contact/head-office-3.jpg"
                        width="729"
                        height="429"
                        alt="Sparkout Tech Soluiton Pvt Ltd"
                        title="Sparkout Tech Soluiton Pvt Ltd"
                        class="img-fluid"
                      />
                    </picture>
                  </ng-template>
                  <ng-template carouselSlide>
                    <picture>
                      <source
                        type="image/webp"
                        srcset="assets/images/contact/head-office-4.webp"
                      />
                      <source
                        type="image/jpg"
                        srcset="assets/images/contact/head-office-4.jpg"
                      />
                      <img
                        loading="lazy"
                        data-src="assets/images/contact/head-office-4.jpg"
                        width="729"
                        height="429"
                        alt="Sparkout Tech Soluiton Pvt Ltd"
                        title="Sparkout Tech Soluiton Pvt Ltd"
                        class="img-fluid"
                      />
                    </picture>
                  </ng-template>
                  <ng-template carouselSlide>
                    <picture>
                      <source
                        type="image/webp"
                        srcset="assets/images/contact/head-office-5.webp"
                      />
                      <source
                        type="image/jpg"
                        srcset="assets/images/contact/head-office-5.jpg"
                      />
                      <img
                        loading="lazy"
                        data-src="assets/images/contact/head-office-5.jpg"
                        width="729"
                        height="429"
                        alt="Sparkout Tech Soluiton Pvt Ltd"
                        title="Sparkout Tech Soluiton Pvt Ltd"
                        class="img-fluid"
                      />
                    </picture>
                  </ng-template>
                  <ng-template carouselSlide>
                    <picture>
                      <source
                        type="image/webp"
                        srcset="assets/images/contact/head-office-6.webp"
                      />
                      <source
                        type="image/jpg"
                        srcset="assets/images/contact/head-office-6.jpg"
                      />
                      <img
                        loading="lazy"
                        data-src="assets/images/contact/head-office-6.jpg"
                        width="729"
                        height="429"
                        alt="Sparkout Tech Soluiton Pvt Ltd"
                        title="Sparkout Tech Soluiton Pvt Ltd"
                        class="img-fluid"
                      />
                    </picture>
                  </ng-template>
                </owl-carousel-o>
                  <h3>Head Office</h3>
                  <p>No. 2 C.M.Nagar, Ramakrishnapuram, <br/>
                    Coimbatore, Tamilnadu, India – 641 006.</p>
              </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="branch-detail" >
                <owl-carousel-o [options]="officeOptions2">
                  <ng-template carouselSlide>
                    <picture>
                      <source
                        type="image/webp"
                        srcset="assets/images/contact/contact-branch-1.webp"
                      />
                      <source
                        type="image/webp"
                        srcset="assets/images/contact/contact-branch-1.webp"
                      />
                      <img
                        loading="lazy"
                        data-src="assets/images/contact/contact-branch-1.webp"
                        width="729"
                        height="429"
                        alt="Sparkout Tech Soluiton Pvt Ltd"
                        title="Sparkout Tech Soluiton Pvt Ltd"
                        class="img-fluid"
                      />
                    </picture>
                  </ng-template>
                  <ng-template carouselSlide>
                    <picture>
                      <source
                        type="image/webp"
                        srcset="assets/images/contact/branch-office-1.webp"
                      />
                      <source
                        type="image/jpg"
                        srcset="assets/images/contact/branch-office-1.jpg"
                      />
                      <img
                        loading="lazy"
                        data-src="assets/images/contact/branch-office-1.jpg"
                        width="729"
                        height="429"
                        alt="Sparkout Tech Soluiton Pvt Ltd"
                        title="Sparkout Tech Soluiton Pvt Ltd"
                        class="img-fluid"
                      />
                    </picture>
                  </ng-template>
                  <ng-template carouselSlide>
                    <picture>
                      <source
                        type="image/webp"
                        srcset="assets/images/contact/branch-office-2.webp"
                      />
                      <source
                        type="image/png"
                        srcset="assets/images/contact/branch-office-2.jpg"
                      />
                      <img
                        loading="lazy"
                        data-src="assets/images/contact/branch-office-2.jpg"
                        width="729"
                        height="429"
                        alt="Sparkout Tech Soluiton Pvt Ltd"
                        title="Sparkout Tech Soluiton Pvt Ltd"
                        class="img-fluid"
                      />
                    </picture>
                  </ng-template>
                  <ng-template carouselSlide>
                    <picture>
                      <source
                        type="image/webp"
                        srcset="assets/images/contact/branch-office-3.webp"
                      />
                      <source
                        type="image/png"
                        srcset="assets/images/contact/branch-office-3.jpg"
                      />
                      <img
                        loading="lazy"
                        data-src="assets/images/contact/branch-office-3.jpg"
                        width="729"
                        height="429"
                        alt="Sparkout Tech Soluiton Pvt Ltd"
                        title="Sparkout Tech Soluiton Pvt Ltd"
                        class="img-fluid"
                      />
                    </picture>
                  </ng-template>
                  <ng-template carouselSlide>
                    <picture>
                      <source
                        type="image/webp"
                        srcset="assets/images/contact/branch-office-4.webp"
                      />
                      <source
                        type="image/png"
                        srcset="assets/images/contact/branch-office-4.jpg"
                      />
                      <img
                        loading="lazy"
                        data-src="assets/images/contact/branch-office-4.jpg"
                        width="729"
                        height="429"
                        alt="Sparkout Tech Soluiton Pvt Ltd"
                        title="Sparkout Tech Soluiton Pvt Ltd"
                        class="img-fluid"
                      />
                    </picture>
                  </ng-template>
                  <ng-template carouselSlide>
                    <picture>
                      <source
                        type="image/webp"
                        srcset="assets/images/contact/branch-office-5.webp"
                      />
                      <source
                        type="image/jpg"
                        srcset="assets/images/contact/branch-office-5.jpg"
                      />
                      <img
                        loading="lazy"
                        data-src="assets/images/contact/branch-office-5.jpg"
                        width="729"
                        height="429"
                        alt="Sparkout Tech Soluiton Pvt Ltd"
                        title="Sparkout Tech Soluiton Pvt Ltd"
                        class="img-fluid"
                      />
                    </picture>
                  </ng-template>
                  <ng-template carouselSlide>
                    <picture>
                      <source
                        type="image/webp"
                        srcset="assets/images/contact/branch-office-6.webp"
                      />
                      <source
                        type="image/jpg"
                        srcset="assets/images/contact/branch-office-6.jpg"
                      />
                      <img
                        loading="lazy"
                        data-src="assets/images/contact/branch-office-6.jpg"
                        width="729"
                        height="429"
                        alt="Sparkout Tech Soluiton Pvt Ltd"
                        title="Sparkout Tech Soluiton Pvt Ltd"
                        class="img-fluid"
                      />
                    </picture>
                  </ng-template>
                  <ng-template carouselSlide>
                    <picture>
                      <source
                        type="image/webp"
                        srcset="assets/images/contact/branch-office-7.webp"
                      />
                      <source
                        type="image/jpg"
                        srcset="assets/images/contact/branch-office-7.jpg"
                      />
                      <img
                        loading="lazy"
                        data-src="assets/images/contact/branch-office-7.jpg"
                        width="729"
                        height="429"
                        alt="Sparkout Tech Soluiton Pvt Ltd"
                        title="Sparkout Tech Soluiton Pvt Ltd"
                        class="img-fluid"
                      />
                    </picture>
                  </ng-template>
                </owl-carousel-o>
                  <h3>Branch Office</h3>
                  <p>No. 4 Gem Colony, Near Siva Hospital, Ganapathy, <br/>
                      Coimbatore, Tamilnadu, India - 641 006.</p>
              </div>
          </div>
      </div>
  </div>
</section>







  <app-blog-scroll></app-blog-scroll>



<!-- <app-second-footer></app-second-footer> -->
