<section class="health-banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="banner-section">
          <img
            src="assets/images/healthcare/Health-banner.png"
            class="img-fluid"
            alt="Healthcare"
          />
          <div class="banner-text-wrap">
            <h1>Healthcare</h1>
            <h2>
              Delivering world-class healthcare application development services
              to improve medical care
            </h2>
            <p>
              With the healthcare sector a serious target for cybercriminals,
              are you taking the necessary steps required to protect
              confidential patient data and ensure the availability of critical
              services?
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="overview">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="overview-wrap">
          <h1>Overview</h1>
          <h2>We are a Pioneering Digital Healthcare Solution Company.</h2>
          <p>
            The Healthcare Industry has undergone through the most imperative
            transitions in the recent times. MindInventory, a globally
            recognized digital IT consultant is committed to offering
            comprehensive and inimitable Healthcare solutions helping business
            to escalate in new innovative directions. Drive in more patients’
            engagement with customer-centric apps with indomitable features to
            simplify their lives and become their personal health instructor.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="overview-challange">
  <div class="container">
    <div class="row mb-4">
      <div class="col-md-12">
        <div class="text-center">
          <div class="challange-wrap">
            <h1>Challenges</h1>
            <h2>Do these challenges sound familiar?</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-lg-12">
        <div class="row">
          <div class="bg-whites">
            <div class="row">
              <div class="col-lg-4 col-md-6">
                <div class="challange-text-wrap">
                  <div>
                    <img
                      src="assets/images/healthcare/diamond-icon.svg"
                      width="20"
                      height="20"
                      alt="icon"
                    />
                  </div>
                  <div class="pl-3">
                    <p>Protecting large IT estates with specialist systems</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="challange-text-wrap">
                  <div>
                    <img
                      src="assets/images/healthcare/diamond-icon.svg"
                      width="20"
                      height="20"
                      alt="icon"
                    />
                  </div>
                  <div class="pl-3">
                    <p>Safeguarding sensitive patient data</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="challange-text-wrap">
                  <div>
                    <img
                      src="assets/images/healthcare/diamond-icon.svg"
                      width="20"
                      height="20"
                      alt="icon"
                    />
                  </div>
                  <div class="pl-3">
                    <p>Balancing information security and access to systems</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="challange-text-wrap">
                  <div>
                    <img
                      src="assets/images/healthcare/diamond-icon.svg"
                      width="20"
                      height="20"
                      alt="icon"
                    />
                  </div>
                  <div class="pl-3">
                    <p>Detecting and responding to breaches</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="challange-text-wrap">
                  <div>
                    <img
                      src="assets/images/healthcare/diamond-icon.svg"
                      width="20"
                      height="20"
                      alt="icon"
                    />
                  </div>
                  <div class="pl-3">
                    <p>Protecting large IT estates with specialist systems</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="challange-text-wrap">
                  <div>
                    <img
                      src="assets/images/healthcare/diamond-icon.svg"
                      width="20"
                      height="20"
                      alt="icon"
                    />
                  </div>
                  <div class="pl-3">
                    <p>Identifying at-risk assets</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="solutions">
  <div class="container">
    <div class="row mb-4">
      <div class="col-lg-7">
        <div class="solution-wrap">
          <h1>Solutions</h1>
          <h2>Our solutions make difference</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="solution-whole-wrap">
          <img
            src="assets/images/healthcare/Electronic-Health.png"
            class="img-fluid"
            alt="Electronic Health Records (EHR)"
          />
          <div class="solutiontext-wrap">
            <h3>Electronic Health Records (EHR)</h3>
            <p>
              Less paperwork, more customer care. We develop secure
              HIPAA-compliant systems that allow keeping all possible
              information in one place.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="solution-whole-wrap">
          <img
            src="assets/images/healthcare/Mobile-Health.png"
            class="img-fluid"
            alt="Mobile Health
                    (mHealth)"
          />
          <div class="solutiontext-wrap">
            <h3>Mobile Health (mHealth)</h3>
            <p>
              Mobile health (mHealth) is the monitoring and sharing of health
              information via mobile technology – such as wearables and health
              tracking.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="solution-whole-wrap">
          <img
            src="assets/images/healthcare/Health-Monitoring.png"
            class="img-fluid"
            alt="Health Monitoring"
          />
          <div class="solutiontext-wrap">
            <h3>Health Monitoring</h3>
            <p>
              The health monitoring system offers several options for changing
              traditional patient management. It reduces the cost of medical
              care..
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="solution-whole-wrap">
          <img
            src="assets/images/healthcare/Tele-Medicine.png"
            class="img-fluid"
            alt="Telemedicine
                    (Telehealth)"
          />
          <div class="solutiontext-wrap">
            <h3>Telemedicine (Telehealth)</h3>
            <p>
              We use industry-proven and advanced technologies and tools to
              provide you with exclusive solutions to improve your healthcare
              experience.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="solution-whole-wrap">
          <img
            src="assets/images/healthcare/Bigdata-Techniques.png"
            class="img-fluid"
            alt="Big Data
                    Techniques"
          />
          <div class="solutiontext-wrap">
            <h3>Big Data Techniques</h3>
            <p>
              Big data in health care refers to extremely large sets of health
              data collected from a wide variety of sources. Data can come.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="solution-whole-wrap">
          <img
            src="assets/images/healthcare/Electronic-Health.png"
            class="img-fluid"
            alt="Management Systems"
          />
          <div class="solutiontext-wrap">
            <h3>Management Systems</h3>
            <p>
              EHR and EMR software development implies the design, development,
              development and maintenance of an electronic medical record
              system.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="why-choose">
  <div class="container">
    <div class="row mb-4">
      <div class="col-lg-4">
        <div class="why-choose-wrap">
          <h1>Why Choose Sparkout</h1>
          <h2>A trusted partner for Healthcare</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="bg-grey">
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="challange-text-wrap">
                  <div>
                    <img
                      src="assets/images/healthcare/diamond-icon.svg"
                      width="20"
                      height="20"
                      alt="icon"
                    />
                  </div>
                  <div class="pl-3">
                    <p>One of the highest accredited UK pentesting companies</p>
                  </div>
                </div>
                <div class="challange-text-wrap">
                  <div>
                    <img
                      src="assets/images/healthcare/diamond-icon.svg"
                      width="20"
                      height="20"
                      alt="icon"
                    />
                  </div>
                  <div class="pl-3">
                    <p>A deep understanding of how hackers operate</p>
                  </div>
                </div>
                <div class="challange-text-wrap">
                  <div>
                    <img
                      src="assets/images/healthcare/diamond-icon.svg"
                      width="20"
                      height="20"
                      alt="icon"
                    />
                  </div>
                  <div class="pl-3">
                    <p>In-depth threat analysis and advice you can trust</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="challange-text-wrap">
                  <div>
                    <img
                      src="assets/images/healthcare/diamond-icon.svg"
                      width="20"
                      height="20"
                      alt="icon"
                    />
                  </div>
                  <div class="pl-3">
                    <p>
                      Complete post-test care for effective risk remediation
                    </p>
                  </div>
                </div>
                <div class="challange-text-wrap">
                  <div>
                    <img
                      src="assets/images/healthcare/diamond-icon.svg"
                      width="20"
                      height="20"
                      alt="icon"
                    />
                  </div>
                  <div class="pl-3">
                    <p>Multi award-winning offensive security services</p>
                  </div>
                </div>
                <div class="challange-text-wrap">
                  <div>
                    <img
                      src="assets/images/healthcare/diamond-icon.svg"
                      width="20"
                      height="20"
                      alt="icon"
                    />
                  </div>
                  <div class="pl-3">
                    <p>Avg. 9/10 customer satisfaction, 95% retention rate</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="contact-wrap">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="contact-whole-wrap">
          <div>
            <h1 class="mb-2">Let's Discuss Your Project</h1>
            <p>
              Get free consultation and let us know your project idea to turn it
              into an amazing digital product.
            </p>
          </div>
          <div>
            <a class="btn-contact" [routerLink]="['/contact-us']"
              >Let's Talk
              <img
                src="assets/images/healthcare/arrow-right.svg"
                alt="right arrow"
            /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="relevant-project">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <h1>Related Projects</h1>
          </div>
          <div><a class="btn-contact">Explore More</a></div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-case-study-more></app-case-study-more>
<app-testmonial></app-testmonial>
<app-blog-scroll></app-blog-scroll>
<app-contact></app-contact>
<!-- <app-footer></app-footer> -->
