<section class="ourteam">
    <div class="container">
        <div class="row mb-5">
            <div class="col-lg-12">
                <div class="about-wrap">
                    <h1>Our Family</h1>
                    <h2>Meet the people behind Sparkout journey in leading Company.</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="second">
   <div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="ourteam-wrap-img">
                <img src="assets/images/ourteam/ourteam.webp" class="img-fluid" alt="Meet the people behind Sparkout journey in leading Company">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <div class="description-wrap">
                <h3>RELIABLE TEAMS SINCE 2017</h3>
                <h4>we believe in collaboration.
                    It’s the team that matters &
                    together we can achieve</h4>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="description-wrap">
                <p>Sparkout Tech is not just any ordinary mobile app and software
                    development company but also a family of forward-looking top
                    industry talents. Whether it’s enterprises, SMEs, or even startups,
                    our dedicated teams are ready to shape your ideas into
                    innovative solutions. We’ll let the world debate and decide that,
                    but for us</p>
            </div>
        </div>
    </div>
   </div>
</section>
<section class="our-founder">
    <div class="container">
        <div class="row mb-5">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="our-founder-head">
                    <h3>Our Founders</h3>
                    <h4>Passionate Personalities, Versatile Brains Who Paved the Way to Excellence</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
                <div class="founder-detils">
                    <img src="assets/images/about/leadership-1.png" class="img-fluid" alt="Senthil kumaran">
                    <h3>Senthil kumaran</h3>
                    <p>Chief Executive Officer(CEO)</p>
                    <div class="d-flex founder-soc-icon">
                        <a href="https://www.linkedin.com/in/senthil-kumaran-baskaran-617bb1aa/" target="_blank"><img src="assets/images/linkedin-icon.svg" width="35" height="35" alt="Linkedin"></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 mb-4" >
                <div class="founder-detils">
                    <img src="assets/images/about/leadership-2.png" class="img-fluid" alt="Yokesh Shankar" >
                    <h3>Yokesh Sankar</h3>
                    <p>Chief Operating Officer(COO)</p>
                    <div class="d-flex founder-soc-icon">
                        <a href="https://www.linkedin.com/in/yokeshsankar/" target="_blank"><img src="assets/images/linkedin-icon.svg" width="35" height="35" alt="Linkedin"></a>
                        <a href="https://twitter.com/yokesh_sankar_v" target="_blank"><img src="assets/images/twitter-icon.svg" width="35" height="35" alt="twitter"></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
                <div class="founder-detils">
                    <img src="assets/images/about/leadership-3.png" class="img-fluid" alt="Praveen Kumar">
                    <h3>Praveen Kumar</h3>
                    <p>Product Manager</p>
                    <div class="d-flex founder-soc-icon">
                        <a href="https://www.linkedin.com/in/praveen-kumar-752b4110a/" target="_blank"><img src="assets/images/linkedin-icon.svg" width="35" height="35" alt="Linkedin"></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
                <div class="founder-detils">
                    <img src="assets/images/about/leadership-4.png" class="img-fluid" alt="Vishnuvardhan">
                    <h3>Vishnuvardhan</h3>
                    <p>HR Manager</p>
                    <div class="d-flex founder-soc-icon">
                        <a href="https://www.linkedin.com/in/vishnuvardhan-balamurugan-348012114/" target="_blank"><img src="assets/images/linkedin-icon.svg" width="35" height="35" alt="Linkedin"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="our-family">
    <div class="container">
        <div class="row mb-5">
            <div class="col-lg-8 col-md-8">
                <div class="description-wrap">
                    <h3>Our Family</h3>
                    <h4>We are a team of believers, thinkers,
                        and creators. We are customer-centric.</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12" >
                <owl-carousel-o [options]="ourstrength" id="ourstrength">
                    <ng-template carouselSlide>
                        <div class="our-strength">
                            <img src="assets/images/ourteam/our-teammate/Gunaseelan.png" alt="Sparkout Tech Solution Pvt Ltd">
                            <div class="overlay"></div>
                            <div class="overlay-wrap"></div>
                            <div class="our-strength-text-wrap">
                                <h4>Gunaseelan</h4>
                            </div>
                        </div>
                        <div class="our-strength">
                            <img src="assets/images/ourteam/our-teammate/shobika.png" alt="Sparkout Tech Solution Pvt Ltd">
                            <div class="overlay"></div>
                            <div class="overlay-wrap"></div>
                            <div class="our-strength-text-wrap">
                                <h4>Shobika</h4>
                            </div>
                        </div>
                        <div class="our-strength">
                            <img src="assets/images/ourteam/our-teammate/aravindhan.png" alt="Sparkout Tech Solution Pvt Ltd">
                            <div class="overlay"></div>
                            <div class="overlay-wrap"></div>
                            <div class="our-strength-text-wrap">
                                <h4>Aravindhan</h4>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <!-- <div class="our-strength">
                            <img src="assets/images/ourteam/our-teammate/rajsekar.png" alt="Sparkout Tech Solution Pvt Ltd">
                            <div class="overlay"></div>
                            <div class="overlay-wrap"></div>
                            <div class="our-strength-text-wrap">
                                <h4>Rajsekar</h4>
                            </div>
                        </div> -->
                        <div class="our-strength">
                            <img src="assets/images/ourteam/our-teammate/sathees.png" alt="Sparkout Tech Solution Pvt Ltd">
                            <div class="overlay"></div>
                            <div class="overlay-wrap"></div>
                            <div class="our-strength-text-wrap">
                                <h4>Sathees</h4>
                            </div>
                        </div>
                        <div class="our-strength">
                            <img src="assets/images/ourteam/our-teammate/iniyavan.png" alt="Sparkout Tech Solution Pvt Ltd">
                            <div class="overlay"></div>
                            <div class="overlay-wrap"></div>
                            <div class="our-strength-text-wrap">
                                <h4>Iniyavan</h4>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="our-strength">
                            <img src="assets/images/ourteam/our-teammate/keerthi.png" alt="Sparkout Tech Solution Pvt Ltd">
                            <div class="overlay"></div>
                            <div class="overlay-wrap"></div>
                            <div class="our-strength-text-wrap">
                                <h4>Keerthi</h4>
                            </div>
                        </div>
                        <div class="our-strength">
                            <img src="assets/images/ourteam/our-teammate/priyanka.png" alt="Sparkout Tech Solution Pvt Ltd">
                            <div class="overlay"></div>
                            <div class="overlay-wrap"></div>
                            <div class="our-strength-text-wrap">
                                <h4>Priyanka</h4>
                            </div>
                        </div>
                        <div class="our-strength">
                            <img src="assets/images/ourteam/our-teammate/Aravinthasamy.png" alt="Sparkout Tech Solution Pvt Ltd">
                            <div class="overlay"></div>
                            <div class="overlay-wrap"></div>
                            <div class="our-strength-text-wrap">
                                <h4>Aravinthasamy</h4>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="our-strength">
                            <img src="assets/images/ourteam/our-teammate/sivaprakash.png" alt="Sparkout Tech Solution Pvt Ltd">
                            <div class="overlay"></div>
                            <div class="overlay-wrap"></div>
                            <div class="our-strength-text-wrap">
                                <h4>Siva Bharathy</h4>
                            </div>
                        </div>
                        <div class="our-strength">
                            <img src="assets/images/ourteam/our-teammate/sulaimaan.png" alt="Sparkout Tech Solution Pvt Ltd">
                            <div class="overlay"></div>
                            <div class="overlay-wrap"></div>
                            <div class="our-strength-text-wrap">
                                <h4>Sulaimaan</h4>
                            </div>
                        </div>
                        <div class="our-strength">
                            <img src="assets/images/ourteam/our-teammate/boobalan.png"alt="Sparkout Tech Solution Pvt Ltd">
                            <div class="overlay"></div>
                            <div class="overlay-wrap"></div>
                            <div class="our-strength-text-wrap">
                                <h4>Boobalan</h4>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="our-strength">
                            <img src="assets/images/ourteam/our-teammate/ruban.png" alt="Sparkout Tech Solution Pvt Ltd">
                            <div class="overlay"></div>
                            <div class="overlay-wrap"></div>
                            <div class="our-strength-text-wrap">
                                <h4>Ruban</h4>
                            </div>
                        </div>
                        <div class="our-strength">
                            <img src="assets/images/ourteam/our-teammate/prasanth.png" alt="Sparkout Tech Solution Pvt Ltd">
                            <div class="overlay"></div>
                            <div class="overlay-wrap"></div>
                            <div class="our-strength-text-wrap">
                                <h4>Prasanth</h4>
                            </div>
                        </div>
                        <div class="our-strength">
                            <img src="assets/images/ourteam/our-teammate/Shanmughasundaram.png" alt="Sparkout Tech Solution Pvt Ltd">
                            <div class="overlay"></div>
                            <div class="overlay-wrap"></div>
                            <div class="our-strength-text-wrap">
                                <h4>Shanmugha sundaram</h4>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="our-strength">
                            <img src="assets/images/ourteam/our-teammate/nivetha.png" alt="Sparkout Tech Solution Pvt Ltd">
                            <div class="overlay"></div>
                            <div class="overlay-wrap"></div>
                            <div class="our-strength-text-wrap">
                                <h4>Nivetha</h4>
                            </div>
                        </div>
                        <div class="our-strength">
                            <img src="assets/images/ourteam/our-teammate/prakash.png" alt="Sparkout Tech Solution Pvt Ltd">
                            <div class="overlay"></div>
                            <div class="overlay-wrap"></div>
                            <div class="our-strength-text-wrap">
                                <h4>Prakash</h4>
                            </div>
                        </div>
                        <div class="our-strength">
                            <img src="assets/images/ourteam/our-teammate/Kesavamoorthi.png" alt="Sparkout Tech Solution Pvt Ltd">
                            <div class="overlay"></div>
                            <div class="overlay-wrap"></div>
                            <div class="our-strength-text-wrap">
                                <h4>Kesavamoorthi</h4>
                            </div>
                        </div>
                    </ng-template>
                  </owl-carousel-o>
            </div>
        </div>
    </div>
</section>
<section class="sparton-speak">
    <div class="container">
        <div class="row mb-5">
            <div class="col-lg-8 col-md-8 mx-auto text-center">
                <div class="description-wrap">
                    <h3>Sparton's Speak</h3>
                    <h4> We think you build one with your employees first. Sparton's Speak !!</h4>
                </div>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-12">
                <div class="text-center">
                    <ul class="techstack">
                        <li class="tech-list" *ngFor="let testmonial of spartontest" >
                            <a  (click)="testmonialview(testmonial)" [ngClass]="{'actives':techlisted===testmonial}">{{testmonial}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ng-container *ngIf="techlisted==='By Words'">
                    <div class="col-lg-12">
                        <owl-carousel-o [options]="bywords" id="spartons">
                            <ng-template carouselSlide>
                                <div class="oursparton">
                                    <img src="assets/images/ourteam/our-teammate/ourteam-priyanka.webp" alt="Sparkout Tech Solution Pvt Ltd">
                                    <div class="oursparton-text-wrap">
                                        <h4>Priyanka VeeraKumar</h4>
                                        <p>I have been with Sparkout tech for 5 years now and it is a second family for me. I have gotten many opportunities to perform in different capacities and I feel valued for being a trusted resource.</p>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template carouselSlide>
                                <div class="oursparton">
                                    <img src="assets/images/ourteam/our-teammate/ourteam-vignesh.webp" alt="Sparkout Tech Solution Pvt Ltd">
                                    <div class="oursparton-text-wrap" >
                                        <h4>Vignesh</h4>
                                        <p>Sparkout tech is like a family. What
                                            keeps me going here is the healthy &
                                            friendly environment, supportive work
                                            culture & growth opportunities. If you
                                            want to make a difference too,
                                            Sparkout tech is your place.</p>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template carouselSlide>
                                <div class="oursparton">
                                    <img src="assets/images/ourteam/our-teammate/ourteam-siva.webp" alt="Sparkout Tech Solution Pvt Ltd">
                                    <div class="oursparton-text-wrap">
                                        <h4>Siva Bharathy</h4>
                                        <p>Sparkout Tech gives you endless
                                            opportunities to grow as a person & as
                                            a professional. A warm & welcoming
                                            culture with supportive mentors implies
                                            that Sparkout tech is no less than a
                                            second home for us..</p>
                                    </div>
                                </div>
                            </ng-template>
                        </owl-carousel-o>
                    </div>
                </ng-container>
                <!-- <ng-container *ngIf="techlisted==='By Voice'">

                    <div class="col-lg-12">
                        <owl-carousel-o [options]="byvoicetext" id="byvoicetext">
                            <ng-template carouselSlide>
                                <div class="oursparton">
                                    <img src="assets/images/ourteam/our-teammate/ourteam-priyanka.webp" class="img-fluid" alt="Sparkout Tech Solution Pvt Ltd">
                                    <div class="video-play-btn">
                                        <a href="https://www.youtube.com/watch?v=JpxsRwnRwCQ" target="_blank" class="owl-video"><img src="assets/images/ourteam/video-play.svg" width="50" height="50" alt="play-icon"></a>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template carouselSlide>
                                <div class="oursparton">
                                    <img src="assets/images/ourteam/our-teammate/ourteam-priyanka.webp" class="img-fluid" alt="Sparkout Tech Solution Pvt Ltd">
                                    <div class="video-play-btn">
                                        <a href="https://www.youtube.com/watch?v=JpxsRwnRwCQ" target="_blank" class="owl-video"><img src="assets/images/ourteam/video-play.svg" width="50" height="50" alt="play-icon"></a>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template carouselSlide>
                                <div class="oursparton">
                                    <img src="assets/images/ourteam/our-teammate/ourteam-priyanka.webp" class="img-fluid" alt="Sparkout Tech Solution Pvt Ltd">
                                    <div class="video-play-btn">
                                        <a href="https://www.youtube.com/watch?v=JpxsRwnRwCQ" target="_blank" class="owl-video"><img src="assets/images/ourteam/video-play.svg" width="50" height="50" alt="play-icon"></a>
                                    </div>
                                </div>
                            </ng-template>
                        </owl-carousel-o>
                    </div>
                </ng-container> -->
            </div>
        </div>
    </div>
</section>
<section class="carrer-development">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 mb-4">
                <div class="description-wrap">
                    <h3>CAREER DEVELOPMENT</h3>
                    <h4>At Sparkout Tech, we offer Big
                        amount of trainings help them
                        to sharpen for each individual</h4>
                    <p>At Sparkout Tech, we offer ample amount of trainings
                        for each individual as per their Roles & Responsibilities
                        and help them to sharpen their skills with subject matter
                        experts from the industry. We always believe in constant
                        learning culture so that gives them opportunity to perform
                        better be it, Business Communication, Technology or
                        Design Thinking.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                    <img src="assets/images/ourteam/carrer-development.webp" alt="Carrer Development" class="img-fluid">
            </div>
        </div>
    </div>
</section>
<app-blog-scroll></app-blog-scroll>
<app-contact></app-contact>
<!-- <app-footer></app-footer> -->
