.bg-park {
  background: #e6ecf3;
}
.bg-park-1 {
  background: #f3f6f9;
  border-radius: 25px;
}
.parkcase-studies {
  padding: 30px 0px 75px;
}
.firstpart {
  padding: 50px 50px 0px 100px;
  border-radius: 15px;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgb(243 246 249);
}
.part-one h1 {
  font-size: 64px;
  line-height: 86px;
  font-weight: 700;
  color: #252b33;
  padding: 0 0 10px;
  margin: 0;
}
.part-one p,
.part-one p span {
  font-size: 24px;
  line-height: 48px;
  font-weight: 500;
  color: #767676;
  padding: 0 10px 15px 10px;
  margin: 0;
}
.part-one p span:before {
  content: ".";
  position: relative;
  top: 50%;
  left: -2px;
  font-size: 40px !important;
  color: #767676;
  transform: translateY(-50%);
}
.social-icon {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.social-icon li {
  margin-right: 20px;
}
.requirements,
.parkgallery {
  padding: 75px 0px;
}
.business-requirement h6 {
  font-size: 20px;
  line-height: 34px;
  color: #ff6c1a;
  font-weight: 500;
  padding: 0px;
  margin: 0px;
}
.business-requirement h3,
.tech-stack-heading h3,
.result-details h3 {
  font-size: 30px;
  line-height: 44px;
  color: #252b33;
  font-weight: 700;
  padding: 0px;
  margin: 0px;
}
.tech-stack-heading h3 {
  color: #767676;
  font-weight: 600;
}
.business-requirement {
  margin: 0 0 30px;
}
.analysis h6,
.bussiness-common-heading h5,
.challange h5 {
  font-size: 34px;
  line-height: 55px;
  color: #ff6c1a;
  font-weight: 600;
  padding: 0px;
  margin: 0px;
}
.analysis h3,
.bussiness-common-heading h3,
.challange h3 {
  font-size: 46px;
  line-height: 62px;
  color: #192a44;
  font-weight: 700;
  padding: 0px;
  margin: 0 0 20px;
  width: 95%;
}
/* .bussiness-common-heading h3{
  width:100%;
} */
.analysis p,
.solutions p,
.bussiness-common-heading,
.result-details p {
  font-size: 16px;
  line-height: 168%;
  color: #767676;
  font-weight: 400;
  padding: 0px;
  margin: 0 0 25px;
}
.table th, .table td {
  padding: 5px;
}
.solutions p {
  width: 95%;
}
.external-links a {
  font-size: 28px;
  line-height: 34px;
  color: #767676;
  font-weight: 400;
  padding: 0px;
  margin: 0px;
}
/* .common-design h3 {
  font-size: 28px;
  line-height: 34px;
  color: #252b33;
  font-weight: 600;
  margin: 0 0 15px;
  text-align: left;
} */
.common-design {
  background: #fff;
  padding: 40px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 0px;
  transition: all 0.5s ease-in-out;
}
.common-design img {
  margin: 0 0 40px;
}
/* .appfeatures p,
.common-design li {
  font-size: 22px;
  line-height: 34px;
  color: #767676;
  font-weight: 400;
  text-align: left;
  padding: 0px;
  margin: 0px;
} */
.common-design ul {
  margin-bottom: 0;
  padding-left: 1.1rem;
}
.appfeatures p,
.common-design li {
  text-align: left;
}
.common-design li {
  padding: 0px 0 10px 0;
  /* font-size: 18px;
  line-height: 28px; */
}
.common-design li:last-child {
  padding: 0px;
}
.user-flow,
.solutions,
.information,
.app-features,
.testmonials,
.result {
  padding: 80px 0px;
}
.revenue-model .common-design {
  background: #f3f6f9;
}
.revenue-model .common-design img {
  margin: 0 auto 20px;
}
.revenue-model .common-design h3,
.revenue-model .common-design p {
  text-align: center;
}
.solutions,
.feautures,
.techstack {
  padding: 80px 0px;
}
.appfeatures {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.tech-stack-wrap img {
  margin: 0 0 20px;
}
.business-requirement h3.font-sm {
  font-size: 26px;
}
.tech-stack-wrap p,
.testmonial-author h4 {
  font-size: 26px;
  line-height: 34px;
  color: #767676;
  font-weight: 400;
  text-align: center;
  padding: 0px;
  margin: 0px;
}
.testmonial {
  position: relative;
  z-index: 1;
  padding: 100px 75px;
}
.testmonial::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 13%;
  left: 2%;
  background: url(../../assets/images/case-study-park/tetsquote.png);
  background-repeat: no-repeat;
  z-index: -3;
}
.testmonial img {
  width: 125px;
  height: 125px;
  object-fit: contain;
  border-radius: 50%;
}
.testmonial-author h4 {
  line-height: 40px;
  color: #192a44;
  font-weight: 600;
  text-align: left;
  margin: 0px;
}
.testmonial-author p {
  font-size: 20px;
  line-height: 44px;
  color: #767676;
  font-weight: 400;
  padding: 0px;
  margin: 0px;
}
.testmonial-author {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.testmonial h3 {
  font-size: 36px;
  line-height: 50px;
  color: #192a44;
  font-weight: 700;
  padding: 0px;
  width: 80%;
  margin: 0px 0px 30px;
}
.result-details {
  background: #f3f6f9;
  padding: 50px 25px;
  border-radius: 15px;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
.result-details img {
  margin: 0 0 20px;
}
.feautures .common-design img {
  margin: 0 0 20px;
}
.result-details h3 {
  margin: 0 0 25px;
}
.appfeatures p strong {
  font-weight: 500;
}
.common-design:hover {
  box-shadow: 0px 0px 10px #ff6c1a inset;
  transition: all 0.5s ease-in-out;
}
@media (max-width: 1601px) {
  .part-one h1 {
    font-size: 48px;
    line-height: 70px;
  }
  .analysis h6,
  .bussiness-common-heading h5,
  .challange h5 {
    font-size: 24px;
    line-height: 40px;
  }
  .analysis h3,
  .bussiness-common-heading h3,
  .challange h3 {
    font-size: 36px;
    line-height: 50px;
    color: #192a44;
    font-weight: 700;
  }
  /* .analysis p,
  .solutions p,
  .bussiness-common-heading,
  .result-details p {
    font-size: 24px;
    line-height: 40px;
  } */
  .external-links a {
    font-size: 24px;
    line-height: 34px;
  }
  .business-requirement h3,
  .tech-stack-heading h3,
  .result-details h3 {
    font-size: 26px;
    line-height: 36px;
  }
  /* .common-design h3 {
    font-size: 24px;
    line-height: 34px;
  } */
  .business-requirement h3.font-sm {
    font-size: 22px;
  }
}
@media (max-width: 1440px) {
  .analysis h6,
  .bussiness-common-heading h5,
  .challange h5 {
    font-size: 20px;
    line-height: 30px;
  }
  .analysis h3,
  .bussiness-common-heading h3,
  .challange h3 {
    font-size: 30px;
    line-height: 40px;
  }
  /* .analysis p,
  .solutions p,
  .bussiness-common-heading,
  .result-details p {
    font-size: 20px;
    line-height: 35px;
  } */
  .appfeatures p {
    font-size: 20px;
    line-height: 34px;
  }
  .common-design img {
    margin: 0 0 30px;
  }
  .tech-stack-wrap p,
  .testmonial-author h4 {
    font-size: 20px;
    line-height: 30px;
  }
  .business-requirement h3,
  .tech-stack-heading h3,
  .result-details h3 {
    font-size: 24px;
    line-height: 30px;
  }
  .testmonial h3 {
    font-size: 26px;
    line-height: 40px;
  }
  .part-one h1 {
    font-size: 40px;
    line-height: 50px;
  }
  .parkcase-studies,
  .parkgallery {
    padding: 30px 0 50px 0px;
  }
  .business-requirement h3.font-sm {
    font-size: 20px;
  }
}
@media (max-width: 1280px) {
  .part-one h1 {
    font-size: 30px;
    line-height: 40px;
  }
  .part-one p,
  .part-one p span {
    font-size: 18px;
    line-height: 30px;
  }
  .business-requirement h6 {
    font-size: 14px;
    line-height: 16px;
  }
  .business-requirement h3,
  .tech-stack-heading h3,
  .result-details h3 {
    font-size: 18px;
    line-height: 26px;
  }
  .analysis h3,
  .bussiness-common-heading h3,
  .challange h3 {
    font-size: 20px;
    line-height: 30px;
    width: 100%;
  }
  .analysis p,
  .solutions p,
  .bussiness-common-heading,
  .result-details p {
    font-size: 16px;
    line-height: 26px;
  }
  .external-links a {
    font-size: 16px;
    line-height: 30px;
  }
  .analysis p {
    margin: 0 0 10px;
  }
  .analysis h6,
  .bussiness-common-heading h5,
  .challange h5 {
    font-size: 16px;
    line-height: 26px;
  }
  .common-design {
    padding: 30px;
  }
  .common-design h3 {
    font-size: 18px;
    line-height: 30px;
  }
  .common-design p,
  .appfeatures p,
  .challange p,
  .bussiness-common-heading p {
    font-size: 16px;
    line-height: 26px;
  }
  .challange h3 {
    width: 100%;
  }
  .testmonial h3 {
    font-size: 20px;
    line-height: 30px;
  }
  .tech-stack-wrap p,
  .testmonial-author h4 {
    font-size: 16px;
    line-height: 26px;
  }
  .testmonial-author p {
    font-size: 16px;
    line-height: 30px;
  }
  .testmonial img {
    width: 90px;
    height: 90px;
  }
  .business-requirement h3.font-sm {
    font-size: 19px;
  }
  .parkcase-studies,
  .parkgallery {
    padding: 30px 0 0px 0px;
  }
  .requirements,
  .parkgallery {
    padding: 45px 0px;
  }
  .solutions,
  .feautures,
  .techstack {
    padding: 55px 0px;
  }
}
@media (max-width: 991px) {
  .firstpart {
    padding: 50px 50px 0px 50px;
    border-radius: 15px;
  }
  .part-one h1 {
    font-size: 24px;
    line-height: 36px;
  }
  .part-one p,
  .part-one p span {
    font-size: 16px;
    line-height: 16px;
  }
  .business-requirement h3,
  .tech-stack-heading h3,
  .result-details h3 {
    font-size: 16px;
    line-height: 26px;
  }
  .analysis h3,
  .bussiness-common-heading h3,
  .challange h3 {
    font-size: 20px;
    line-height: 30px;
  }
  .analysis h6,
  .bussiness-common-heading h5,
  .challange h5 {
    font-size: 14px;
    line-height: 26px;
  }
  .analysis p,
  .solutions p,
  .bussiness-common-heading,
  .result-details p {
    font-size: 14px;
    line-height: 24px;
  }
  .information,
  .app-features,
  .testmonials,
  .result {
    padding: 50px 0px;
  }
  .solutions,
  .feautures,
  .techstack {
    padding: 50px 0px;
  }
  .testmonial h3 {
    font-size: 20px;
    line-height: 30px;
    color: #192a44;
    font-weight: 700;
    padding: 0px;
    width: 100%;
  }
  .parkcase-studies,
  .parkgallery {
    padding: 50px 0px 0px;
  }
  .requirements,
  .parkgallery {
    padding: 50px 0px 0px;
  }
  .user-flow,
  .solutions,
  .information,
  .app-features,
  .testmonials,
  .result {
    padding: 50px 0px 0px;
  }
  .business-requirement h3.font-sm {
    font-size: 18px;
  }
  .bg-1 h3 {
    font-size: 24px;
    line-height: 36px;
  }
  .bg-1 p {
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 30px;
  }
  h3 {
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  .part-one h1 {
    font-size: 20px;
    line-height: 28px;
  }
  .part-one p,
  .part-one p span {
    font-size: 14px;
    line-height: 16px;
  }
  .analysis h3,
  .bussiness-common-heading h3,
  .challange h3 {
    font-size: 18px;
    line-height: 28px;
  }
  .common-design p,
  .appfeatures p,
  .challange p,
  .bussiness-common-heading p {
    font-size: 14px;
    line-height: 26px;
    width: 100%;
  }
  .common-design h3 {
    font-size: 16px;
    line-height: 30px;
  }
  .testmonial {
    position: relative;
    z-index: 1;
    padding: 50px 0px;
  }
  .testmonial h3 {
    font-size: 18px;
    line-height: 30px;
  }
  .testmonial img {
    width: 60px;
    height: 60px;
  }
  .testmonial-author p {
    font-size: 14px;
    line-height: 20px;
  }
  .business-requirement h3.font-sm {
    font-size: 16px;
  }
  .bg-1 h3 {
    font-size: 20px;
    line-height: 30px;
  }
  .bg-1 p {
    font-size: 14px;
    line-height: 24px;
  }
  .process-list h4 {
    line-height: 1.2;
    font-size: 20px;
  }
  h3 {
    font-size: 20px;
  }
  .busiessgoal {
    padding: 30px 0;
  }
  .img-lg {
    margin-bottom: 0px;
    border-radius: 30px;
  }
}
@media (max-width: 575px) {
  .firstpart {
    border-radius: 0px;
  }
  .testmonial h3 {
    font-size: 16px;
    line-height: 30px;
  }
  .feautures .common-design img {
    margin: 0 auto 20px;
    width: 50px;
  }
  .bg-1 {
    padding: 25px !important;
  }
  .bussiness-common-heading h3 {
    margin: 0 0 15px;
  }
  .parkcase-studies,
  .parkgallery {
    padding: 30px 0px 0px;
  }
}
