<section class="banners-section home-banner sub-banner">
  <div class="common">
    <picture>
      <source
        type="image/webp"
        srcset="assets/images/home-new/uiux/banner-ui-ux.webp"
      />

      <source
        type="image/png"
        srcset="assets/images/home-new/uiux/banner-ui-ux.jpg"
      />

      <img
        data-src="assets/images/home-new/uiux/banner-ui-ux.jpg"
        width="100"
        height="100"
        class="img-fluid"
        alt="Banner"
        title="Banner"
        loading="lazy"
      />
    </picture>
    <div class="banner-text d-flex justify-content-center align-self-center">
      <div class="title-wrap">
        <h4><span class="dots"></span>Our UI UX Design Services</h4>
        <h2>
          <span>Making </span> Digital<br />
          Experience Fascinating
          <span class="dots"></span>
        </h2>
        <p>
          Create ravishing user experiences for your customers. Get access to
          <br />
          industry-leading UX experts to launch your masterpiece.
        </p>
        <div class="d-flex justify-content-center">
          <a
            class="btn btn-primary"
            [routerLink]="['/contact-us']"
            class="btn btn-primary"
            >Get In Touch
            <picture>
              <source
                type="image/webp"
                srcset="assets/images/home-new/icon-banner-arrowup.webp"
              />
              <source
                type="image/png"
                srcset="assets/images/home-new/icon-banner-arrowup.png"
              />
              <img
                loading="lazy"
                data-src="assets/images/home-new/icon-banner-arrowup.svg"
                alt="arrow-icon"
                title="arrow-icon"
                width="21"
                height="21"
                class="img-fluid"
              />
            </picture>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="technology-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="title-wrap">
          <h4><span class="dots"></span> UI/UX Design Services</h4>
          <h2>
            <span>Practical uses of </span> <br />
            Generative AI Today <span class="dots"></span>
          </h2>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="title-wrap">
          <p>
            Leverage exciting UI/UX designs for convenient and intuitive
            products with the help of a leading UI/UX design company. Our
            creative minds craft flawless interfaces that are an experience your
            customers love. Venture the unparalleled benefits from our UI UX
            services and drive your business forward for exceptional results.
          </p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 pb-3">
        <div class="technology-alt-card">
          <picture>
            <source
              type="image/webp"
              srcset="assets/images/home-new/uiux/uxui-audit.webp"
            />

            <source
              type="image/jpg"
              srcset="assets/images/home-new/uiux/uxui-audit.jpg"
            />

            <img
              data-src="assets/images/home-new/uiux/uxui-audit.jpg"
              width="350"
              height="245"
              class="img-fluid"
              alt="UI/UX Audit"
              title="UI/UX Audit"
              loading="lazy"
            />
          </picture>
          <div class="industries-card">
            <div class="content">
              <h3 class="pb-2">UI/UX Audit</h3>
              <p>
                We deeply analyze and optimize your existing UI designs to meet
                customer needs.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 pb-3">
        <div class="technology-alt-card">
          <picture>
            <source
              type="image/webp"
              srcset="assets/images/home-new/uiux/mobile-app-uiux-design.webp"
            />

            <source
              type="image/jpg"
              srcset="assets/images/home-new/uiux/mobile-app-uiux-design.jpg"
            />

            <img
              data-src="assets/images/home-new/uiux/mobile-app-uiux-design.jpg"
              width="350"
              height="245"
              class="img-fluid"
              alt="Mobile app UI/UX Design"
              title="Mobile app UI/UX Design"
              loading="lazy"
            />
          </picture>
          <div class="industries-card">
            <div class="content">
              <h3 class="pb-2">Mobile app UI/UX Design</h3>
              <p>
                We build visually pleasing and functional user interfaces for
                Android and iOS devices.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 pb-3">
        <div class="technology-alt-card">
          <picture>
            <source
              type="image/webp"
              srcset="assets/images/home-new/uiux/web-app-uiux-design.webp"
            />

            <source
              type="image/jpg"
              srcset="assets/images/home-new/uiux/web-app-uiux-design.jpg"
            />

            <img
              data-src="assets/images/home-new/uiux/web-app-uiux-design.jpg"
              width="350"
              height="245"
              class="img-fluid"
              alt="Web App UI/UX Design"
              title="Web App UI/UX Design"
              loading="lazy"
            />
          </picture>
          <div class="industries-card">
            <div class="content">
              <h3 class="pb-2">Web App UI/UX Design</h3>
              <p>
                Build effective and user-friendly web apps users can rely on
                leveraging multiple tech stacks.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 pb-3">
        <div class="technology-alt-card">
          <picture>
            <source
              type="image/webp"
              srcset="assets/images/home-new/uiux/arvrmr-experience-design.webp"
            />

            <source
              type="image/jpg"
              srcset="assets/images/home-new/uiux/arvrmr-experience-design.jpg"
            />

            <img
              data-src="assets/images/home-new/uiux/arvrmr-experience-design.jpg"
              width="350"
              height="245"
              class="img-fluid"
              alt="AR/VR/MR Experience Design"
              title="AR/VR/MR Experience Design"
              loading="lazy"
            />
          </picture>
          <div class="industries-card">
            <div class="content">
              <h3 class="pb-2">AR/VR/MR Experience Design</h3>
              <p>
                We design virtual spaces and 3D assets for technologies such as
                AR, VR, and MR.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 pb-3">
        <div class="technology-alt-card">
          <picture>
            <source
              type="image/webp"
              srcset="assets/images/home-new/uiux/software-redesign.webp"
            />

            <source
              type="image/jpg"
              srcset="assets/images/home-new/uiux/software-redesign.jpg"
            />

            <img
              data-src="assets/images/home-new/uiux/software-redesign.jpg"
              width="350"
              height="245"
              class="img-fluid"
              alt="Software Redesign"
              title="Software Redesign"
              loading="lazy"
            />
          </picture>
          <div class="industries-card">
            <div class="content">
              <h3 class="pb-2">Software Redesign</h3>
              <p>
                We can transform the UI & UX for your web & mobile apps to meet
                your business needs better.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 pb-3">
        <div class="technology-alt-card">
          <picture>
            <source
              type="image/webp"
              srcset="assets/images/home-new/uiux/design-system.webp"
            />

            <source
              type="image/jpg"
              srcset="assets/images/home-new/uiux/design-system.jpg"
            />

            <img
              data-src="assets/images/home-new/uiux/design-system.jpg"
              width="350"
              height="245"
              class="img-fluid"
              alt="Design System"
              title="Design System"
              loading="lazy"
            />
          </picture>
          <div class="industries-card">
            <div class="content">
              <h3 class="pb-2">Design System</h3>
              <p>We create proper design systems to make workflow easier</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="common-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="title-wrap">
          <h4>
            <span class="dots"></span>Why Choose Sparkout for UI/UX Design
            Service
          </h4>
          <h2>
            <span>Excellent User Experience </span> <br />
            with Our UI UX Design Services <span class="dots"></span>
          </h2>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="title-wrap">
          <p>
            Our comprehensive services and mind-blowing designers dedicate
            market-leading results to continuous innovation, enabling
            organizations like yours to stay ahead of the curve and achieve
            unparalleled success.
          </p>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="what-we-do-app">
          <picture>
            <source
              type="image/webp"
              srcset="assets/images/home-new/uiux/Design.webp"
            />

            <img
              data-src="assets/images/home-new/uiux/Design.png"
              width="60"
              height="60"
              alt="Experienced Design Experts"
              title="Experienced Design Experts"
              class="img-fluid"
              loading="lazy"
            />
          </picture>
          <h3>Experienced Design Experts</h3>
          <p>
            Our experienced design experts can create tailor-made user interface
            solutions for your users in a very user-friendly manner.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="what-we-do-app">
          <picture>
            <source
              type="image/webp"
              srcset="assets/images/home-new/uiux/Innovative.webp"
            />

            <img
              data-src="assets/images/home-new/uiux/Innovative.png"
              width="60"
              height="60"
              alt="Innovative Designing Tools"
              title="Innovative Designing Tools"
              class="img-fluid"
              loading="lazy"
            />
          </picture>
          <h3>Innovative Designing Tools</h3>
          <p>
            The use of advanced tech tools means extracting the full potential
            of a UI and presenting it at its best, which is why we implement it.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="what-we-do-app">
          <picture>
            <source
              type="image/webp"
              srcset="assets/images/home-new/uiux/Centric-Designs.webp"
            />

            <img
              data-src="assets/images/home-new/uiux/Centric-Designs.png"
              width="60"
              height="60"
              alt="User-Centric Designs"
              title="User-Centric Designs"
              class="img-fluid"
              loading="lazy"
            />
          </picture>
          <h3>
            User-Centric <br />
            Designs
          </h3>
          <p>
            Our innovative and creative designs meet and greet user needs and
            are very flexible for beginners also.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="what-we-do-app">
          <picture>
            <source
              type="image/webp"
              srcset="assets/images/home-new/uiux/UX.webp"
            />

            <img
              data-src="assets/images/home-new/uiux/UX.png"
              width="60"
              height="60"
              alt="User-Centric Designs"
              title="User-Centric Designs"
              class="img-fluid"
              loading="lazy"
            />
          </picture>
          <h3>User Experience Transformation</h3>
          <p>
            We analyze your existing UI and conduct a clear UI/UX audit, then we
            redesign your product in a comprehensive way.
          </p>
        </div>
      </div>
      <div class="col-lg-12 bottom-contact text-center">
        <div class="spark-cta">
          <a [routerLink]="['/contact-us']" class="btn-style-one">
            <span class="text">
              Let's Discuss
              <span class="arrow">
                <i>
                  <span>→</span>
                </i>
                <svg
                  class="arrow-icon"
                  xmlns="http://www.w3.org/2000/svg"
                  width="32"
                  height="32"
                  viewBox="0 0 32 32"
                >
                  <g
                    fill="none"
                    stroke="#fff"
                    stroke-width="2"
                    stroke-linejoin="round"
                    stroke-miterlimit="10"
                  >
                    <circle
                      class="arrow-icon--circle"
                      cx="16"
                      cy="16"
                      r="15.12"
                    ></circle>
                  </g>
                </svg>
              </span>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="technolgies">
  <div class="container">
    <div class="row mb-4">
      <div class="col-sm-12 mx-auto">
        <div class="title-wrap text-center">
          <h4><span class="dots"></span> Design Tools We Use</h4>
          <h2>
            <span> Serve your client's </span> plate with the best and <br />
            finest technology. That's why we're here.<span class="dots"></span>
          </h2>
          <p>
            Enjoy the effectiveness of potential user interfaces that gives us
            an immersive experience over reality. We are a market-leading UI/UX
            development company that delivers a great user experience and a
            compelling brand presence, enabling you to gain valuable insights
            and drive success.
          </p>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-lg-12 text-center">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-3 col-md-3 col-sm-3 col-6 mb-3">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/home-new/uiux/figma.webp"
                />

                <img
                  data-src="assets/images/home-new/uiux/figma.png"
                  width="80"
                  height="80"
                  alt="Figma"
                  title="Figma"
                  class="img-fluid"
                  loading="lazy"
                />
              </picture>
              <p>Figma</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-6 mb-3">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/home-new/uiux/xd.webp"
                />

                <img
                  data-src="assets/images/home-new/uiux/xd.png"
                  width="80"
                  height="80"
                  alt="XD"
                  title="XD"
                  class="img-fluid"
                  loading="lazy"
                />
              </picture>
              <p>Adobe XD</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-6 mb-3">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/home-new/uiux/ai.webp"
                />

                <img
                  data-src="assets/images/home-new/uiux/ai.png"
                  width="80"
                  height="80"
                  alt="AI"
                  title="AI"
                  class="img-fluid"
                  loading="lazy"
                />
              </picture>
              <p>Illustrator</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-6 mb-3">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/home-new/uiux/ps.webp"
                />

                <img
                  data-src="assets/images/home-new/uiux/ps.png"
                  width="80"
                  height="80"
                  alt="AI"
                  title="AI"
                  class="img-fluid"
                  loading="lazy"
                />
              </picture>
              <p>Photoshop</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-6 mb-3">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/home-new/uiux/after-effect.webp"
                />

                <img
                  data-src="assets/images/home-new/uiux/after-effect.png"
                  width="80"
                  height="80"
                  alt="After Effect"
                  title="After Effect"
                  class="img-fluid"
                  loading="lazy"
                />
              </picture>
              <p>After Effect</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-6 mb-3">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/home-new/uiux/premier-pro.webp"
                />

                <img
                  data-src="assets/images/home-new/uiux/premier-pro.png"
                  width="80"
                  height="80"
                  alt="Premier Pro"
                  title="Premier Pro"
                  class="img-fluid"
                  loading="lazy"
                />
              </picture>
              <p>Premier Pro</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-6 mb-3">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/home-new/uiux/blender.webp"
                />

                <img
                  data-src="assets/images/home-new/uiux/blender.png"
                  width="80"
                  height="80"
                  alt="Blender"
                  title="Blender"
                  class="img-fluid"
                  loading="lazy"
                />
              </picture>
              <p>Blender</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-6 mb-3">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/home-new/uiux/unity.webp"
                />

                <img
                  data-src="assets/images/home-new/uiux/unity.png"
                  width="80"
                  height="80"
                  alt="Unity"
                  title="Unity"
                  class="img-fluid"
                  loading="lazy"
                />
              </picture>
              <p>Unity</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="reviews-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="title-wrap text-center">
          <h4 class="d-flex justify-content-center">
            <span class="dots"></span> Benefits
          </h4>
          <h2>
            <span>Benefits </span>of UI/UX Design <br />
            <span class="dots"></span>
          </h2>
        </div>
        <owl-carousel-o [options]="reviewsOptions">
          <ng-template carouselSlide>
            <div class="review-card">
              <h3>Enhance Customer Loyalty</h3>
              <p>
                Customer Experience or CX, is the ultimate goal. When you choose
                us as your UI/UX Design services provider, we meticulously craft
                the user experience so that customers want to stay on your app.
                This helps increase your customer loyalty.
              </p>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="review-card">
              <h3>Faster App Development</h3>
              <p>
                UI/UX Design is not just about what customers care about, it
                additionally affects your entire development process. A
                well-defined UI/UX Design draws the perfect map for your
                development teams to expedite the process. This way, you can
                launch quickly.
              </p>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="review-card">
              <h3>Higher Productivity</h3>
              <p>
                When you curate your app's user experience to your user's needs,
                it takes less time for them to access your services.
                Additionally, as a UI/UX Design services provider, we help your
                development team build better apps through intuitive design
              </p>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="review-card">
              <h3>Increase Conversion Rate</h3>
              <p>
                An elegant UI/UX design will increase your conversion rate and
                it's an experience your customers will love. Our experts
                understand the goals and intentions of your users and design the
                UI/UX to meet your needs, resulting in better conversions.
              </p>
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>
<section class="technology-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="title-wrap">
          <h4><span class="dots"></span> Design Works</h4>
          <h2>
            <span>Our UI UX </span> Design Works <span class="dots"></span>
          </h2>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="title-wrap">
          <p>
            Just as fast-paced innovation impacts human life, immersive UI/UX
            design makes your product more user-friendly. We transform your
            business and curate the best customer experience for your clients
            with advanced designing tools and practices.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="technology-card">
          <figure>
            <picture>
              <source
                type="image/webp"
                srcset="assets/images/home-new/uiux/l1x-labs.webp"
              />

              <img
                data-src="assets/images/home-new/uiux/l1x-labs.jpg"
                width="100"
                height="100"
                class="img-fluid"
                alt="L1X Labs"
                title="L1X Labs"
                loading="lazy"
              />
            </picture>
          </figure>
          <h3>L1X Labs</h3>
          <p>
            Create immersive virtual spaces in the Metaverse for your customers
            and upscale your brand recognition.
          </p>
          <a
            href="https://www.behance.net/gallery/174945911/L1X-LABS-Event-Management-Dashboard"
            target="_blank"
            class="btn btn-primary"
            >Learn More
            <picture>
              <source
                type="image/webp"
                srcset="assets/images/home-new/icon-arrow-up.webp"
              />

              <img
                loading="lazy"
                data-src="assets/images/home-new/icon-arrow-up.png"
                alt="arrow-icon"
                title="arrow-icon"
                width="21"
                height="21"
                class="img-fluid"
              /> </picture
          ></a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="technology-card">
          <figure>
            <picture>
              <source
                type="image/webp"
                srcset="assets/images/home-new/uiux/codespot.webp"
              />

              <img
                data-src="assets/images/home-new/uiux/codespot.jpg"
                width="100"
                height="100"
                class="img-fluid"
                alt="CodeSpot"
                title="CodeSpot"
                loading="lazy"
              />
            </picture>
          </figure>
          <h3>CodeSpot</h3>
          <p>
            Integrate OpenAI's APIs with your platform & give your application
            the AI boost it needs for the ultimate customer experience.
          </p>
          <a
            href="https://www.behance.net/gallery/172654721/CodeSpot-Non-Profit-Foundation-Landing-Page-Design"
            target="_blank"
            class="btn btn-primary"
            >Learn More
            <picture>
              <source
                type="image/webp"
                srcset="assets/images/home-new/icon-arrow-up.webp"
              />

              <img
                loading="lazy"
                data-src="assets/images/home-new/icon-arrow-up.png"
                alt="arrow-icon"
                title="arrow-icon"
                width="21"
                height="21"
                class="img-fluid"
              />
            </picture>
          </a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="technology-card">
          <figure>
            <picture>
              <source
                type="image/webp"
                srcset="assets/images/home-new/uiux/blockchainx.webp"
              />

              <img
                data-src="assets/images/home-new/uiux/blockchainx.jpg"
                width="100"
                height="100"
                class="img-fluid"
                alt="enterprise-blockchain"
                title="enterprise-blockchain"
                loading="lazy"
              />
            </picture>
          </figure>
          <h3>Blockchainx</h3>
          <p>
            Build secure and decentralized solutions for business use cases with
            our enterprise software development services
          </p>
          <a
            href="https://www.behance.net/gallery/171559441/Blockchain-Web3-Company-Landing-Page-Design"
            target="_blank"
            class="btn btn-primary"
            >Learn More
            <picture>
              <source
                type="image/webp"
                srcset="assets/images/home-new/icon-arrow-up.webp"
              />

              <img
                loading="lazy"
                data-src="assets/images/home-new/icon-arrow-up.png"
                alt="arrow-icon"
                title="arrow-icon"
                width="21"
                height="21"
                class="img-fluid"
              />
            </picture>
          </a>
        </div>
      </div>
    </div>

    <div class="text-center mt-3">
      <div class="spark-cta">
        <a
          href="https://www.behance.net/sparkouttech"
          target="_blank"
          class="about-us btn-style-one"
        >
          <span class="text"
            >Explore Designs
            <span class="arrow"
              ><i><span>→</span></i>
              <svg
                class="arrow-icon"
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                viewBox="0 0 32 32"
              >
                <g
                  fill="none"
                  stroke="#fff"
                  stroke-width="2"
                  stroke-linejoin="round"
                  stroke-miterlimit="10"
                >
                  <circle
                    class="arrow-icon--circle"
                    cx="16"
                    cy="16"
                    r="15.12"
                  ></circle>
                </g>
              </svg>
            </span>
          </span>
        </a>
      </div>
    </div>
  </div>
</section>
<section class="common-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="title-wrap">
          <h4><span class="dots"></span> UI/UX Design Process</h4>
          <h2>
            <span>The Process Steps We Heed for </span> <br />
            UI/UX Design Process <span class="dots"></span>
          </h2>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="title-wrap">
          <p>
            As a UI/UX Design firm, we use the right tools and technology to
            deliver user-centric designs. Our experts focus on the overall
            customer experience and design a robust product. Check out the steps
            we take to work on projects.
          </p>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-12 col-md-12 py-3 text-center mx-auto">
        <div class="Development-image">
          <picture>
            <source
              type="image/webp"
              srcset="assets/images/home-new/uiux/ux-design-process.webp"
            />

            <img
              data-src="assets/images/home-new/uiux/ux-design-process.png"
              alt="UI/UX Design Process"
              title="UI/UX Design Process"
              class="img-fluid"
              loading="lazy"
            />
          </picture>
        </div>
      </div>
    </div>

    <div class="text-center">
      <div class="spark-cta">
        <a [routerLink]="['/contact-us']" class="about-us btn-style-one">
          <span class="text">
            Let's Discuss
            <span class="arrow">
              <i>
                <span>→</span>
              </i>
              <svg
                class="arrow-icon"
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                viewBox="0 0 32 32"
              >
                <g
                  fill="none"
                  stroke="#fff"
                  stroke-width="2"
                  stroke-linejoin="round"
                  stroke-miterlimit="10"
                >
                  <circle
                    class="arrow-icon--circle"
                    cx="16"
                    cy="16"
                    r="15.12"
                  ></circle>
                </g>
              </svg>
            </span>
          </span>
        </a>
      </div>
    </div>
  </div>
</section>
<section class="reviews-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="title-wrap text-center">
          <h4 class="d-flex justify-content-center">
            <span class="dots"></span>Customer Story
          </h4>
          <h2>
            <span>Read</span> what our valued clients have <br />
            to say about us <span class="dots"></span>
          </h2>
        </div>
        <owl-carousel-o [options]="reviewoneOptions">
          <ng-template carouselSlide>
            <div class="review-card">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/home-new/logo-parkk.webp"
                />

                <img
                  data-src="assets/images/home-new/logo-parkk.png"
                  alt="Parkk"
                  title="Parkk"
                  class="img-fluid"
                  loading="lazy"
                />
              </picture>
              <p>
                Sparkout Developed and launched Parkk's android and IOS app from
                scratch. We started with the UI/UX app screen design phase first
                and then moved to development. It was a 1 year project and they
                delivered a quality solution which was good to present in front
                of investors and stable to goto market live.
              </p>
              <h3>Jason</h3>
              <h4 class="d-flex align-items-center">
                <span class="dots"></span> CEO, Parkk | USA
              </h4>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="review-card">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/home-new/logo-todo-delivery.webp"
                />

                <img
                  data-src="assets/images/home-new/logo-todo-delivery.png"
                  alt="todo delivery"
                  title="Todo Delivery"
                  class="img-fluid"
                  loading="lazy"
                />
              </picture>
              <p>
                We have implemented together with Sparkout a complete delivery
                solution, configured and translated for Argentina in
                approximately 5 months. We have fixed all the technical issues
                that arose during implementation.
              </p>
              <h3>Daniel G. Camps</h3>
              <h4 class="d-flex align-items-center">
                <span class="dots"></span> CEO, TODO Delivery | Uruguay
              </h4>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="review-card">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/home-new/logo-boxfood.webp"
                />

                <img
                  data-src="assets/images/home-new/logo-boxfood.png"
                  alt="boxfood"
                  title="Boxfood"
                  class="img-fluid"
                  loading="lazy"
                />
              </picture>
              <p>
                I would like to recommend sparkout tech solution team on their
                patience, seriousness and professionalism. I'm glad we chose
                your company to develop our Food Delivery product.
              </p>
              <h3>Senthil Kumar</h3>
              <h4 class="d-flex align-items-center">
                <span class="dots"></span> CEO, Box Food | India
              </h4>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="review-card">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/home-new/logo-zuki.webp"
                />

                <img
                  data-src="assets/images/home-new/logo-zuki.png"
                  alt="zuki"
                  title="Zuki"
                  class="img-fluid"
                  loading="lazy"
                />
              </picture>
              <p>
                Sparkout Tech - BlockchainX are a professional, competent and
                cost-effective team of crypto economists and coders, who deliver
                on time and within budget the products we've commissioned them
                to build. Highly recommended. Will use again and again.
              </p>
              <h3>Jim Phipps</h3>
              <h4 class="d-flex align-items-center">
                <span class="dots"></span> Zuki
              </h4>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="review-card">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/home-new/logo-bigtime.webp"
                />

                <img
                  data-src="assets/images/home-new/logo-bigtime.png"
                  alt="bigtime"
                  title="Bigtime"
                  class="img-fluid"
                  loading="lazy"
                />
              </picture>
              <p>
                Friendly and easy communication. Fast service. Highly skilled
                and reliable team.
              </p>
              <h3>Kestas</h3>
              <h4 class="d-flex align-items-center">
                <span class="dots"></span> Big Time Token
              </h4>
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>
<section class="common-section faq-section">
  <div class="container">
    <div class="row">
      <div class="title-wrap">
        <h4><span class="dots"></span>FAQ</h4>
        <h2>
          <span>How Can</span>
          We Help?<span class="dots"></span>
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              How much a typical UI/UX design project would cost?
            </button>
          </h2>
          <div
            id="collapseOne"
            class="accordion-collapse collapse show"
            aria-labelledby="headingOne"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <p>
                Design costs would be varied due to different factors, which
                depend on working hours, availability of resources, number of
                screens/layers of application, and design complexity.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseTwo"
              aria-expanded="false"
              aria-controls="collapseTwo"
            >
              What is the timeline for a Mobile App UI/UX design project?
            </button>
          </h2>
          <div
            id="collapseTwo"
            class="accordion-collapse collapse"
            aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <p>
                The time required to complete a graphic user interface design
                varies based on the complexity of the application and the
                availability of the resources. Typically for us as a UI/UX
                Design agency, it takes about 2 to 4 months to conceive, design,
                and manufacture a minimum viable product for a solution of
                medium complexity. But sometimes it can take more than 6 months
                to build a very complex application.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseThree"
              aria-expanded="false"
              aria-controls="collapseThree"
            >
              What is the difference between UX and UI?
            </button>
          </h2>
          <div
            id="collapseThree"
            class="accordion-collapse collapse"
            aria-labelledby="headingThree"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <p>
                User Interface (UI) and User Experience (UX) are two concepts
                that work hand in hand with each other. The UI deals with the
                visual screens, buttons, and other visual elements that users
                interact with. Simply, an interaction between the user and the
                computer system. UX is an immersive interaction of users
                including how users interact with a product.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFour">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseFour"
              aria-expanded="false"
              aria-controls="collapseFour"
            >
              What does it need from me for kickstarting Mobile App UI/UX
              Designing service?
            </button>
          </h2>
          <div
            id="collapseFour"
            class="accordion-collapse collapse"
            aria-labelledby="headingFour"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <p>
                The first step is a discovery call with our UI/UX consultants so
                that we can understand your business and curate a plan for you.
                The basic requirements we need from you are brand name, logo,
                theme colors, and so on.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFive">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseFive"
              aria-expanded="false"
              aria-controls="collapseFive"
            >
              Do you give the source file after completion of the Web APP UI/UX
              design service?
            </button>
          </h2>
          <div
            id="collapseFive"
            class="accordion-collapse collapse"
            aria-labelledby="headingFive"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <p>
                As our client, all designs we complete for you will be handed
                and you hold 100% of the ownership.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="common-section calltoaction-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12">
        <div class="title-wrap text-center mb-0">
          <h4><span class="dots"></span> Contact Us</h4>
          <h2>
            <span>Take the next step in </span> transforming your user
            experience
            <span class="dots"></span>
          </h2>
          <p>
            Building an app is not enough, you have to create an experience for
            your users. Connect with our experts today <br />
            to understand how you can transform your business with effective
            user experience design.
          </p>
          <div class="spark-cta">
            <a [routerLink]="['/contact-us']" class="btn-style-one">
              <span class="text">
                Let's Discuss
                <span class="arrow">
                  <i>
                    <span>→</span>
                  </i>
                  <svg
                    class="arrow-icon"
                    xmlns="http://www.w3.org/2000/svg"
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                  >
                    <g
                      fill="none"
                      stroke="#fff"
                      stroke-width="2"
                      stroke-linejoin="round"
                      stroke-miterlimit="10"
                    >
                      <circle
                        class="arrow-icon--circle"
                        cx="16"
                        cy="16"
                        r="15.12"
                      ></circle>
                    </g>
                  </svg>
                </span>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-blog-scroll></app-blog-scroll>
<app-contact></app-contact>
