<!--banners sections start here-->
<app-banner-scroll></app-banner-scroll>
<!--end-->

<!-- Clients sections start here-->
<app-clients></app-clients>
<!--end-->

<!-- Aboutus sections start here-->
<app-aboutus></app-aboutus>
<!--end-->

<!-- Technology sections start here-->
<app-technology></app-technology>
<!--end-->

<!--brands sections start here-->
<app-brands></app-brands>
<!--end-->

<!-- Partners section start here-->
<app-partners></app-partners>
<!--end-->

<!--Achievements sections start here-->
<app-achievements></app-achievements>
<!--end-->

<!-- Casestudy sections start here-->
<app-casestudy-scroll></app-casestudy-scroll>
<!--end-->

<!-- Reviews sections start here-->
<app-reviews></app-reviews>
<!--end-->

<!-- Industries sections start here-->
<app-industries></app-industries>
<!--end-->

<!-- Inside Sparkout sections start here-->
<app-inside-sparkout></app-inside-sparkout>
<!--end-->

<!-- Blog sections start here-->
<app-blog-scroll></app-blog-scroll>
<!--end-->

<!-- Contact sections start here-->
<app-contact></app-contact>
<!--end-->
