<section class="banners-section home-banner sub-banner">
  <div class="common">
    <picture>
      <source
        type="image/webp"
        srcset="assets/images/ar-vr/ar-vr-banner.webp"
      />
      <source type="image/jpg" srcset="assets/images/ar-vr/ar-vr-banner.jpg" />
      <img
        loading="lazy"
        data-src="assets/images/ar-vr/ar-vr-banner.jpg"
        alt="AR & VR"
        title="AR & VR"
        width="100"
        height="100"
        class="img-fluid"
      />
    </picture>

    <div class="banner-text d-flex justify-content-center align-self-center">
      <div class="title-wrap">
        <h4><span class="dots"></span>AR & VR</h4>
        <h2>
          <span>Create realities </span> users will love
          <span class="dots"></span>
        </h2>
        <p>
          Augmented Reality (AR) and Virtual Reality (VR) are two very powerful
          technologies that <br />
          you can leverage to create amazing, immersive realities for users.
        </p>
        <div class="d-flex justify-content-center">
          <a
            class="btn btn-primary"
            [routerLink]="['/contact-us']"
            class="btn btn-primary"
            >Get In Touch
            <picture>
              <source
                type="image/webp"
                srcset="assets/images/home-new/icon-banner-arrowup.webp"
              />
              <source
                type="image/png"
                srcset="assets/images/home-new/icon-banner-arrowup.png"
              />
              <img
                loading="lazy"
                data-src="assets/images/home-new/icon-banner-arrowup.svg"
                alt="arrow-icon"
                title="arrow-icon"
                width="21"
                height="21"
                class="img-fluid"
              />
            </picture>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="common-section bg-blue">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <div class="title-wrap text-center">
          <h4><span class="dots"></span> Why choose us</h4>
          <h2>
            <span>AR & VR are not just about amazing visuals. </span> They can
            completely <br />
            streamline how users experience applications.
            <span class="dots"></span>
          </h2>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div
        class="col-lg-6 col-md-6 mb-3 order-last order-sm-last order-md-first order-lg-first"
      >
        <div class="mobileapps-left pr-20">
          <picture>
            <source
              type="image/webp"
              srcset="assets/images/ar-vr/why-choose-ar-vr.webp"
            />
            <source
              type="image/png"
              srcset="assets/images/ar-vr/why-choose-ar-vr.png"
            />
            <img
              loading="lazy"
              data-src="assets/images/ar-vr/why-choose-ar-vr.png"
              alt="AR VR Why choose us"
              title="AR VR Why choose us"
              width="707"
              height="606"
              class="img-fluid"
            />
          </picture>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="mobileapps-text-wrap">
          <div class="title-wrap">
            <h2>Visual experiences that transcend reality</h2>
            <p>
              Augmented Reality and Virtual Reality is booming especially with
              the arrival of the Metaverse. However, it is not just about gaming
              and entertainment. Along with creating captivating experiences for
              users, you can use these technologies to build solutions that can
              streamline businesses. Things such as VR-assisted robot-aided
              surgery, real estate visualizations, and much more have the
              potential to revolutionize industries.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="what-we-do wwd-sticky">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="sticky">
          <div class="title-wrap">
            <h4><span class="dots"></span>What we do</h4>
            <h2>
              <span>Cutting-edge </span> AR & VR applications
              <span class="dots"></span>
            </h2>
          </div>
          <div class="row mb-4 justify-content-center text-center">
            <div class="col-lg-6 col-6">
              <div class="what-we-do-app">
                <picture>
                  <source
                    type="image/webp"
                    srcset="assets/images/ar-vr/icon-experience-design.webp"
                  />
                  <source
                    type="image/svg"
                    srcset="assets/images/ar-vr/icon-experience-design.svg"
                  />
                  <img
                    loading="lazy"
                    data-src="assets/images/ar-vr/icon-experience-design.svg"
                    alt="Experience & Design"
                    title="Experience & Design"
                    width="101"
                    height="112"
                    class="img-fluid"
                  />
                </picture>
                <h3>Experience & <br />Design</h3>
              </div>
            </div>
            <div class="col-lg-6 col-6">
              <div class="what-we-do-app">
                <picture>
                  <source
                    type="image/webp"
                    srcset="assets/images/ar-vr/icon-fixed-engagement.webp"
                  />
                  <source
                    type="image/svg"
                    srcset="assets/images/ar-vr/icon-fixed-engagement.svg"
                  />
                  <img
                    loading="lazy"
                    data-src="assets/images/ar-vr/icon-fixed-engagement.svg"
                    alt="Fixed Engagement"
                    title="Fixed Engagement"
                    width="113"
                    height="113"
                    class="img-fluid"
                  />
                </picture>
                <h3>Fixed <br />Engagement</h3>
              </div>
            </div>
            <div class="col-lg-6 col-6">
              <div class="what-we-do-app">
                <picture>
                  <source
                    type="image/webp"
                    srcset="assets/images/ar-vr/icon-support-maintenance.webp"
                  />
                  <source
                    type="image/svg"
                    srcset="assets/images/ar-vr/icon-support-maintenance.svg"
                  />
                  <img
                    loading="lazy"
                    data-src="assets/images/ar-vr/icon-support-maintenance.svg"
                    alt="Support & Maintenance"
                    title="Support & Maintenance"
                    width="85"
                    height=" 106"
                    class="img-fluid"
                  />
                </picture>
                <h3>Support & <br />Maintenance</h3>
              </div>
            </div>
            <div class="col-lg-6 col-6">
              <div class="what-we-do-app">
                <picture>
                  <source
                    type="image/webp"
                    srcset="assets/images/ar-vr/icon-migration-upgrades.webp"
                  />
                  <source
                    type="image/svg"
                    srcset="assets/images/ar-vr/icon-migration-upgrades.svg"
                  />
                  <img
                    loading="lazy"
                    data-src="assets/images/ar-vr/icon-migration-upgrades.svg"
                    alt="Migration & Upgrades"
                    title="Migration & Upgrades"
                    width="112"
                    height="112"
                    class="img-fluid"
                  />
                </picture>
                <h3>Migration & <br />Upgrades</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="techstack">
          <h2>AR/VR app consultation</h2>
          <p>
            Our expert consultants help you take your ideas and explore all the
            possibilities they might have and create a solid plan for your
            project.
          </p>
        </div>
        <hr class="mb-5" />
        <div class="techstack">
          <h2>Gesture Recognition</h2>
          <p>
            Control applications with gestures and create great user experiences
            that people can use in their daily lives to make tasks easier.
          </p>
        </div>
        <hr class="mb-5" />
        <div class="techstack">
          <h2>Facial Recognition</h2>
          <p>
            Upscale the security of your application with facial recognition
            technology and leverage Augmented Reality to serve users better.
          </p>
        </div>
        <hr class="mb-5" />
        <div class="techstack">
          <h2>Metaverse</h2>
          <p>
            Build your own Metaverses & AR apps that deliver immersive
            experiences to your users and enter the next generation of social
            networking.
          </p>
        </div>
        <hr class="mb-5" />
        <div class="techstack">
          <h2>Motion Sensing</h2>
          <p>
            Streamline everyday needs such as accessibility and security with
            motion-sensing technology and give an extra edge to your
            applications.
          </p>
        </div>
        <hr class="mb-5" />
        <div class="techstack">
          <h2>Web Conferencing</h2>
          <p>
            Video conferencing can enter a whole new realm with VR, especially
            in the Metaverse where meetings can be held in cyberspace.
          </p>
        </div>
      </div>
    </div>
    <!--end-->
  </div>
</section>
<section class="common-section bg-blue">
  <div class="container">
    <div class="row align-items-center">
      <div
        class="col-lg-6 col-md-6 mb-3 order-last order-sm-last order-md-first order-lg-first"
      >
        <div class="mobileapps-left">
          <picture>
            <source
              type="image/webp"
              srcset="assets/images/ar-vr/benefits-of-arvr.webp"
            />
            <source
              type="image/png"
              srcset="assets/images/ar-vr/benefits-of-arvr.png"
            />
            <img
              loading="lazy"
              data-src="assets/images/ar-vr/benefits-of-arvr.png"
              alt="Benefits of AR & VR"
              title="Benefits of AR & VR"
              width="707"
              height="606"
              class="img-fluid"
            />
          </picture>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="mobileapps-text-wrap">
          <div class="title-wrap">
            <h2>
              <span>Benefits </span> of AR & VR
              <span class="dots"></span>
            </h2>
            <p>
              The whole purpose of AR & VR is to create a better reality for
              users. This process of creating an experience is not just for fun.
              You can make the existing system highly efficient, reduce the time
              taken for users to do tasks, and deliver specialized, convenient,
              and engaging solutions to users’ problems.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="technolgies common-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <div class="title-wrap text-center">
          <h4><span class="dots"></span>Tools</h4>
          <h2>
            <span>Building the right AR/VR solutions </span> demand the most
            current tools and tech.
            <span class="dots"></span>
          </h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-2 col-md-3 col-sm-4 col-4">
            <div class="tech-stack-details">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/techstack/ar-vr/icon-unity3d.webp"
                />
                <source
                  type="image/svg"
                  srcset="assets/images/techstack/ar-vr/icon-unity3d.svg"
                />
                <img
                  loading="lazy"
                  data-src="assets/images/techstack/ar-vr/icon-unity3d.svg"
                  alt="Unity3d"
                  title="Unity3d"
                  width="80"
                  height="80"
                  class="img-fluid"
                />
              </picture>
              <p>Unity3d</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4 col-4">
            <div class="tech-stack-details">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/techstack/ar-vr/icon-blender.webp"
                />
                <source
                  type="image/svg"
                  srcset="assets/images/techstack/ar-vr/icon-blender.svg"
                />
                <img
                  loading="lazy"
                  data-src="assets/images/techstack/ar-vr/icon-blender.svg"
                  alt="Blender"
                  title="Blender"
                  width="80"
                  height="80"
                  class="img-fluid"
                />
              </picture>
              <p>Blender</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4 col-4">
            <div class="tech-stack-details">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/techstack/ar-vr/icon-unreal-engine.webp"
                />
                <source
                  type="image/svg"
                  srcset="assets/images/techstack/ar-vr/icon-unreal-engine.svg"
                />
                <img
                  loading="lazy"
                  data-src="assets/images/techstack/ar-vr/icon-unreal-engine.svg"
                  alt="Unreal Engine"
                  title="Unreal Engine"
                  width="80"
                  height="80"
                  class="img-fluid"
                />
              </picture>
              <p>Unreal Engine</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4 col-4">
            <div class="tech-stack-details">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/techstack/ar-vr/icon-google-arcore.webp"
                />
                <source
                  type="image/png"
                  srcset="assets/images/techstack/ar-vr/icon-google-arcore.png"
                />
                <img
                  loading="lazy"
                  data-src="assets/images/techstack/ar-vr/icon-google-arcore.png"
                  alt="Google-ARcore"
                  title="Google-ARcore"
                  width="80"
                  height="80"
                  class="img-fluid"
                />
              </picture>
              <p>Google-ARcore</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4 col-4">
            <div class="tech-stack-details">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/techstack/ar-vr/icon-vuforia.webp"
                />
                <source
                  type="image/svg"
                  srcset="assets/images/techstack/ar-vr/icon-vuforia.svg"
                />
                <img
                  loading="lazy"
                  data-src="assets/images/techstack/ar-vr/icon-vuforia.svg"
                  alt="Vuforia"
                  title="Vuforia"
                  width="80"
                  height="80"
                  class="img-fluid"
                />
              </picture>
              <p>Vuforia</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4 col-4">
            <div class="tech-stack-details">
              <picture>
                <source
                  type="image/webp"
                  srcset="assets/images/techstack/ar-vr/icon-apple-arkit.webp"
                />
                <source
                  type="image/svg"
                  srcset="assets/images/techstack/ar-vr/icon-apple-arkit.svg"
                />
                <img
                  loading="lazy"
                  data-src="assets/images/techstack/ar-vr/icon-apple-arkit.svg"
                  alt="Apple ARkit"
                  title="Apple ARkit"
                  width="80"
                  height="80"
                  class="img-fluid"
                />
              </picture>
              <p>Apple ARkit</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="what-we-work bg-blue">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="title-wrap text-center">
          <h4><span class="dots"></span>Our process</h4>
          <h2>
            <span>A tried and </span> tested process
            <span class="dots"></span>
          </h2>
        </div>
      </div>
      <!-- <div class="col-lg-6">
          <div class="drone-text-wrap">
            <p>
              We think about security and compliance at early stages of the
              project so that any potential defect is removed early on and you
              get reduced costs and faster product release time to market.
            </p>
          </div>
        </div> -->
    </div>

    <div class="row my-4 justify-content-center">
      <div class="col-lg-4 col-md-6 mb-3">
        <div class="what-we-do-app">
          <picture>
            <source
              type="image/webp"
              srcset="assets/images/ar-vr/icon-planning.webp"
            />
            <source
              type="image/svg"
              srcset="assets/images/ar-vr/icon-planning.svg"
            />
            <img
              loading="lazy"
              data-src="assets/images/ar-vr/icon-planning.svg"
              alt="Planning"
              title="Planning"
              width="116"
              height="117"
              class="img-fluid"
            />
          </picture>
          <h3>Planning</h3>
          <p>
            The process starts with a discovery workshop where we gather your
            requirements and create a development plan for your project, with
            help from our experts.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-3">
        <div class="what-we-do-app">
          <picture>
            <source
              type="image/webp"
              srcset="assets/images/ar-vr/icon-uxui.webp"
            />
            <source
              type="image/svg"
              srcset="assets/images/ar-vr/icon-uxui.svg"
            />
            <img
              loading="lazy"
              data-src="assets/images/ar-vr/icon-uxui.svg"
              alt="UX/UI"
              title="UX/UI"
              width="107"
              height="123"
              class="img-fluid"
            />
          </picture>
          <h3>UX/UI</h3>
          <p>
            Then it’s off to the UX/UI team where we create user-centric and
            responsive designs to help users access your AR experiences easily
            without hassle.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-3">
        <div class="what-we-do-app">
          <picture>
            <source
              type="image/webp"
              srcset="assets/images/ar-vr/icon-production.webp"
            />
            <source
              type="image/svg"
              srcset="assets/images/ar-vr/icon-production.svg"
            />
            <img
              loading="lazy"
              data-src="assets/images/ar-vr/icon-production.svg"
              alt="Production"
              title="Production"
              width="141"
              height="117"
              class="img-fluid"
            />
          </picture>
          <h3>Production</h3>
          <p>
            This is the development phase where everything comes together and we
            build you a complete application that's ready to be deployed and
            used by your customers.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="technolgies pt-100 pb-100 industries-we-cater">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 mx-auto">
        <div class="title-wrap text-center">
          <h4><span class="dots"></span>Industries we cater to</h4>
          <h2>
            <span>AR/VR can benefit </span> multiple industries
            <span class="dots"></span>
          </h2>
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-center services-list-all">
      <div class="col-md-12 tech-stack-details">
        <ul class="techstack mb-4">
          <li class="tech-list">
            <a [class.actives-tech]="showTab == 1" (click)="tabToggle(1)"
              >Gaming</a
            >
          </li>
          <li class="tech-list">
            <a [class.actives-tech]="showTab == 2" (click)="tabToggle(2)"
              >Retail</a
            >
          </li>
          <li class="tech-list">
            <a [class.actives-tech]="showTab == 3" (click)="tabToggle(3)"
              >Healthcare</a
            >
          </li>
          <li class="tech-list">
            <a [class.actives-tech]="showTab == 4" (click)="tabToggle(4)"
              >Real Estate
            </a>
          </li>
          <li class="tech-list">
            <a [class.actives-tech]="showTab == 5" (click)="tabToggle(5)"
              >Deliveries</a
            >
          </li>
          <li class="tech-list">
            <a [class.actives-tech]="showTab == 6" (click)="tabToggle(6)"
              >Aviation</a
            >
          </li>
          <li class="tech-list">
            <a [class.actives-tech]="showTab == 7" (click)="tabToggle(7)"
              >Automotive</a
            >
          </li>
        </ul>

        <div class="common-service">
          <ng-container *ngIf="showTab == 1">
            <div class="row align-items-center">
              <div
                class="col-lg-6 col-md-6 mb-3 order-last order-sm-last order-md-first order-lg-first"
              >
                <div class="mobileapps-left">
                  <picture>
                    <source
                      type="image/webp"
                      srcset="assets/images/ar-vr/gaming.webp"
                    />
                    <source
                      type="image/png"
                      srcset="assets/images/ar-vr/gaming.png"
                    />
                    <img
                      loading="lazy"
                      data-src="assets/images/ar-vr/gaming.png"
                      alt="Gaming"
                      title="Gaming"
                      width="764"
                      height="643"
                      class="img-fluid"
                    />
                  </picture>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="mobileapps-text-wrap">
                  <div class="title-wrap text-left">
                    <h4>Gaming</h4>
                    <h2>Build immersive games and apps</h2>
                    <p>
                      Create highly immersive games that blur the line between
                      reality and cyberspace. This technology can redefine how
                      we experience gaming with things such as the Metaverse
                      which has unlimited possibilities. Build a game that your
                      users can never get enough of and design virtual economies
                      where people can live, trade, and grow.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="showTab == 2">
            <div class="row align-items-center">
              <div
                class="col-lg-6 col-md-6 mb-3 order-last order-sm-last order-md-first order-lg-first"
              >
                <div class="mobileapps-left">
                  <picture>
                    <source
                      type="image/webp"
                      srcset="assets/images/ar-vr/retail.webp"
                    />
                    <source
                      type="image/png"
                      srcset="assets/images/ar-vr/retail.png"
                    />
                    <img
                      loading="lazy"
                      data-src="assets/images/ar-vr/retail.png"
                      alt="Retail"
                      title="Retail"
                      width="764"
                      height="643"
                      class="img-fluid"
                    />
                  </picture>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="mobileapps-text-wrap">
                  <div class="title-wrap text-left">
                    <h4 class="">Retail</h4>
                    <h2>Access products without touch</h2>
                    <p class="pb-0">
                      E-commerce is one of the most booming industries and makes
                      billions a year. You can create a platform to sell your
                      products where your users can use AR/VR to visualize what
                      they are buying without ever touching the product. This is
                      beneficial for products such as furniture, eyewear,
                      apparel, and much more.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="showTab == 3">
            <div class="row align-items-center">
              <div
                class="col-lg-6 col-md-6 mb-3 order-last order-sm-last order-md-first order-lg-first"
              >
                <div class="mobileapps-left">
                  <picture>
                    <source
                      type="image/webp"
                      srcset="assets/images/ar-vr/healthcare.webp"
                    />
                    <source
                      type="image/png"
                      srcset="assets/images/ar-vr/healthcare.png"
                    />
                    <img
                      loading="lazy"
                      data-src="assets/images/ar-vr/healthcare.png"
                      alt="Healthcare"
                      title="Healthcare"
                      width="764"
                      height="643"
                      class="img-fluid"
                    />
                  </picture>
                  <img
                    src="assets/images/ar-vr/healthcare.png"
                    alt="Healthcare "
                    class="img-fluid rounded-2rem"
                  />
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="mobileapps-text-wrap">
                  <div class="title-wrap text-left">
                    <h4 class="">Healthcare</h4>
                    <h2>AR/VR-aided surgeries & training</h2>
                    <p>
                      Allow patients to access world-class surgeons and experts
                      even if they are halfway across the world. With robotics
                      technology, surgeons can perform surgeries using
                      specialized tools and VR headsets. You can also use AR to
                      visualize the human anatomy and plan treatments in a
                      non-invasive manner, seamlessly.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="showTab == 4">
            <div class="row align-items-center">
              <div
                class="col-lg-6 col-md-6 mb-3 order-last order-sm-last order-md-first order-lg-first"
              >
                <div class="mobileapps-left">
                  <picture>
                    <source
                      type="image/webp"
                      srcset="assets/images/ar-vr/realestate.webp"
                    />
                    <source
                      type="image/png"
                      srcset="assets/images/ar-vr/realestate.png"
                    />
                    <img
                      loading="lazy"
                      data-src="assets/images/ar-vr/realestate.png"
                      alt="Real Estate"
                      title="Real Estate"
                      width="764"
                      height="643"
                      class="img-fluid"
                    />
                  </picture>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="mobileapps-text-wrap">
                  <div class="title-wrap text-left">
                    <h4 class="">Real Estate</h4>
                    <h2>Visualize construction and design</h2>
                    <p>
                      AR/VR in real estate can dramatically cut down your costs
                      and the time that you usually take in design. We can build
                      applications for you that can visualize 3-Dimensional
                      models of buildings, houses, and much more, directly
                      through the camera of your smartphone. This is especially
                      helpful for architects and businesses.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="showTab == 5">
            <div class="row align-items-center">
              <div
                class="col-lg-6 col-md-6 mb-3 order-last order-sm-last order-md-first order-lg-first"
              >
                <div class="mobileapps-left">
                  <picture>
                    <source
                      type="image/webp"
                      srcset="assets/images/ar-vr/deliveries.webp"
                    />
                    <source
                      type="image/png"
                      srcset="assets/images/ar-vr/deliveries.png"
                    />
                    <img
                      loading="lazy"
                      data-src="assets/images/ar-vr/deliveries.png"
                      alt="VR-assisted drone deliveries"
                      title="VR-assisted drone deliveries"
                      width="764"
                      height="643"
                      class="img-fluid"
                    />
                  </picture>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="mobileapps-text-wrap">
                  <div class="title-wrap text-left">
                    <h4 class="">Deliveries</h4>
                    <h2>VR-assisted drone deliveries</h2>
                    <p>
                      VR technology allows you to make deliveries to remote
                      locations without ever having to directly go to these
                      locations. You can use long-range drones coupled with
                      Virtual Reality headsets to remotely deliver anything from
                      groceries to pharmaceutical products to places that are
                      otherwise less accessible.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="showTab == 6">
            <div class="row align-items-center">
              <div
                class="col-lg-6 col-md-6 mb-3 order-last order-sm-last order-md-first order-lg-first"
              >
                <div class="mobileapps-left">
                  <picture>
                    <source
                      type="image/webp"
                      srcset="assets/images/ar-vr/aviation.webp"
                    />
                    <source
                      type="image/png"
                      srcset="assets/images/ar-vr/aviation.png"
                    />
                    <img
                      loading="lazy"
                      data-src="assets/images/ar-vr/aviation.png"
                      alt="Aviation"
                      title="Aviation"
                      width="764"
                      height="643"
                      class="img-fluid"
                    />
                  </picture>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="mobileapps-text-wrap">
                  <div class="title-wrap text-left">
                    <h4 class="">Aviation</h4>
                    <h2>Train pilots before they take flight</h2>
                    <p>
                      Airplanes carry hundreds of people at a time and gallons
                      of fuel that can be disastrous if anything goes wrong.
                      Pilots go through extensive training to fly these amazing
                      machines. Not only can you train pilots using Virtual
                      Reality technology, but you can also visualize possible
                      disasters and flight trajectories with real-world data.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="showTab == 7">
            <div class="row align-items-center">
              <div
                class="col-lg-6 col-md-6 mb-3 order-last order-sm-last order-md-first order-lg-first"
              >
                <div class="mobileapps-left">
                  <picture>
                    <source
                      type="image/webp"
                      srcset="assets/images/ar-vr/automotive.webp"
                    />
                    <source
                      type="image/png"
                      srcset="assets/images/ar-vr/automotive.png"
                    />
                    <img
                      loading="lazy"
                      data-src="assets/images/ar-vr/automotive.png"
                      alt="Automotive"
                      title="Automotive"
                      width="764"
                      height="643"
                      class="img-fluid"
                    />
                  </picture>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="mobileapps-text-wrap">
                  <div class="title-wrap text-left">
                    <h4>Automotive</h4>
                    <h2>Embark on unmanned missions</h2>
                    <p>
                      There are some parts of the world where it's too dangerous
                      physically be present. Using VR technology, you can easily
                      send remotely-operated vehicles to deliver goods. You can
                      also use this technology to conduct rescue operations with
                      unmanned vehicles using VR headsets. This is not only
                      safer but also cuts down manpower costs.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section class="avif pb-100">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 d-flex">
        <div style="height: 72px; width: 72px;position: relative;margin-right: 30px;">
          <span
            style="
              box-sizing: border-box;
              display: block;
              overflow: hidden;
              width: initial;
              height: initial;
              background: none;
              opacity: 1;
              border: 0px;
              margin: 0px;
              padding: 0px;
              position: absolute;
              inset: 0px;
            "
            ><img
              alt="Collection Image"
              sizes="64px"
              srcset="
                https://i.seadn.io/gae/yIm-M5-BpSDdTEIJRt5D6xphizhIdozXjqSITgK4phWq7MmAU3qE7Nw7POGCiPGyhtJ3ZFP8iJ29TFl-RLcGBWX5qI4-ZcnCPcsY4zI?auto=format&amp;w=48     48w,
                https://i.seadn.io/gae/yIm-M5-BpSDdTEIJRt5D6xphizhIdozXjqSITgK4phWq7MmAU3qE7Nw7POGCiPGyhtJ3ZFP8iJ29TFl-RLcGBWX5qI4-ZcnCPcsY4zI?auto=format&amp;w=64     64w,
                https://i.seadn.io/gae/yIm-M5-BpSDdTEIJRt5D6xphizhIdozXjqSITgK4phWq7MmAU3qE7Nw7POGCiPGyhtJ3ZFP8iJ29TFl-RLcGBWX5qI4-ZcnCPcsY4zI?auto=format&amp;w=128   128w,
                https://i.seadn.io/gae/yIm-M5-BpSDdTEIJRt5D6xphizhIdozXjqSITgK4phWq7MmAU3qE7Nw7POGCiPGyhtJ3ZFP8iJ29TFl-RLcGBWX5qI4-ZcnCPcsY4zI?auto=format&amp;w=256   256w,
                https://i.seadn.io/gae/yIm-M5-BpSDdTEIJRt5D6xphizhIdozXjqSITgK4phWq7MmAU3qE7Nw7POGCiPGyhtJ3ZFP8iJ29TFl-RLcGBWX5qI4-ZcnCPcsY4zI?auto=format&amp;w=384   384w,
                https://i.seadn.io/gae/yIm-M5-BpSDdTEIJRt5D6xphizhIdozXjqSITgK4phWq7MmAU3qE7Nw7POGCiPGyhtJ3ZFP8iJ29TFl-RLcGBWX5qI4-ZcnCPcsY4zI?auto=format&amp;w=512   512w,
                https://i.seadn.io/gae/yIm-M5-BpSDdTEIJRt5D6xphizhIdozXjqSITgK4phWq7MmAU3qE7Nw7POGCiPGyhtJ3ZFP8iJ29TFl-RLcGBWX5qI4-ZcnCPcsY4zI?auto=format&amp;w=640   640w,
                https://i.seadn.io/gae/yIm-M5-BpSDdTEIJRt5D6xphizhIdozXjqSITgK4phWq7MmAU3qE7Nw7POGCiPGyhtJ3ZFP8iJ29TFl-RLcGBWX5qI4-ZcnCPcsY4zI?auto=format&amp;w=750   750w,
                https://i.seadn.io/gae/yIm-M5-BpSDdTEIJRt5D6xphizhIdozXjqSITgK4phWq7MmAU3qE7Nw7POGCiPGyhtJ3ZFP8iJ29TFl-RLcGBWX5qI4-ZcnCPcsY4zI?auto=format&amp;w=828   828w,
                https://i.seadn.io/gae/yIm-M5-BpSDdTEIJRt5D6xphizhIdozXjqSITgK4phWq7MmAU3qE7Nw7POGCiPGyhtJ3ZFP8iJ29TFl-RLcGBWX5qI4-ZcnCPcsY4zI?auto=format&amp;w=1080 1080w,
                https://i.seadn.io/gae/yIm-M5-BpSDdTEIJRt5D6xphizhIdozXjqSITgK4phWq7MmAU3qE7Nw7POGCiPGyhtJ3ZFP8iJ29TFl-RLcGBWX5qI4-ZcnCPcsY4zI?auto=format&amp;w=1200 1200w,
                https://i.seadn.io/gae/yIm-M5-BpSDdTEIJRt5D6xphizhIdozXjqSITgK4phWq7MmAU3qE7Nw7POGCiPGyhtJ3ZFP8iJ29TFl-RLcGBWX5qI4-ZcnCPcsY4zI?auto=format&amp;w=1920 1920w,
                https://i.seadn.io/gae/yIm-M5-BpSDdTEIJRt5D6xphizhIdozXjqSITgK4phWq7MmAU3qE7Nw7POGCiPGyhtJ3ZFP8iJ29TFl-RLcGBWX5qI4-ZcnCPcsY4zI?auto=format&amp;w=2048 2048w,
                https://i.seadn.io/gae/yIm-M5-BpSDdTEIJRt5D6xphizhIdozXjqSITgK4phWq7MmAU3qE7Nw7POGCiPGyhtJ3ZFP8iJ29TFl-RLcGBWX5qI4-ZcnCPcsY4zI?auto=format&amp;w=3840 3840w
              "
              src="https://i.seadn.io/gae/yIm-M5-BpSDdTEIJRt5D6xphizhIdozXjqSITgK4phWq7MmAU3qE7Nw7POGCiPGyhtJ3ZFP8iJ29TFl-RLcGBWX5qI4-ZcnCPcsY4zI?auto=format&amp;w=3840"
              decoding="async"
              data-nimg="fill"
              style="
                position: absolute;
                inset: 0px;
                box-sizing: border-box;
                padding: 0px;
                border: none;
                margin: auto;
                display: block;
                width: 0px;
                height: 0px;
                min-width: 100%;
                max-width: 100%;
                min-height: 100%;
                max-height: 100%;
                object-fit: cover;
              "
          /></span>
        </div>


        <div style="height: 72px; width: 72px;position: relative;margin-right: 30px;">
          <span
            style="
              box-sizing: border-box;
              display: block;
              overflow: hidden;
              width: initial;
              height: initial;
              background: none;
              opacity: 1;
              border: 0px;
              margin: 0px;
              padding: 0px;
              position: absolute;
              inset: 0px;
            "
            >
            <img
            alt="Collection Image"
            src="https://ekta-nft.s3.ap-northeast-2.amazonaws.com/coverPhoto/2022-09-19T09-42-12.948Z1663580532948?auto=format&amp;w=3840"
            decoding="async"
            data-nimg="fill"
            style="
              position: absolute;
              inset: 0px;
              box-sizing: border-box;
              padding: 0px;
              border: none;
              margin: auto;
              display: block;
              width: 0px;
              height: 0px;
              min-width: 100%;
              max-width: 100%;
              min-height: 100%;
              max-height: 100%;
              object-fit: cover;
            "
            sizes="64px"
            srcset="
              https://ekta-nft.s3.ap-northeast-2.amazonaws.com/coverPhoto/2022-09-19T09-42-12.948Z1663580532948?auto=format&amp;w=48     48w,
              https://ekta-nft.s3.ap-northeast-2.amazonaws.com/coverPhoto/2022-09-19T09-42-12.948Z1663580532948?auto=format&amp;w=64     64w,
              https://ekta-nft.s3.ap-northeast-2.amazonaws.com/coverPhoto/2022-09-19T09-42-12.948Z1663580532948?auto=format&amp;w=128   128w,
              https://ekta-nft.s3.ap-northeast-2.amazonaws.com/coverPhoto/2022-09-19T09-42-12.948Z1663580532948?auto=format&amp;w=256   256w,
              https://ekta-nft.s3.ap-northeast-2.amazonaws.com/coverPhoto/2022-09-19T09-42-12.948Z1663580532948?auto=format&amp;w=384   384w,
              https://ekta-nft.s3.ap-northeast-2.amazonaws.com/coverPhoto/2022-09-19T09-42-12.948Z1663580532948?auto=format&amp;w=512   512w,
              https://ekta-nft.s3.ap-northeast-2.amazonaws.com/coverPhoto/2022-09-19T09-42-12.948Z1663580532948?auto=format&amp;w=640   640w,
              https://ekta-nft.s3.ap-northeast-2.amazonaws.com/coverPhoto/2022-09-19T09-42-12.948Z1663580532948?auto=format&amp;w=750   750w,
              https://ekta-nft.s3.ap-northeast-2.amazonaws.com/coverPhoto/2022-09-19T09-42-12.948Z1663580532948?auto=format&amp;w=828   828w,
              https://ekta-nft.s3.ap-northeast-2.amazonaws.com/coverPhoto/2022-09-19T09-42-12.948Z1663580532948?auto=format&amp;w=1080 1080w,
              https://ekta-nft.s3.ap-northeast-2.amazonaws.com/coverPhoto/2022-09-19T09-42-12.948Z1663580532948?auto=format&amp;w=1200 1200w,
              https://ekta-nft.s3.ap-northeast-2.amazonaws.com/coverPhoto/2022-09-19T09-42-12.948Z1663580532948?auto=format&amp;w=1920 1920w,
              https://ekta-nft.s3.ap-northeast-2.amazonaws.com/coverPhoto/2022-09-19T09-42-12.948Z1663580532948?auto=format&amp;w=2048 2048w,
              https://ekta-nft.s3.ap-northeast-2.amazonaws.com/coverPhoto/2022-09-19T09-42-12.948Z1663580532948?auto=format&amp;w=3840 3840w
            "
          />
        </span>
        </div>


        <div style="height: 72px; width: 72px;position: relative;margin-right: 30px;">
          <span
            style="
              box-sizing: border-box;
              display: block;
              overflow: hidden;
              width: initial;
              height: initial;
              background: none;
              opacity: 1;
              border: 0px;
              margin: 0px;
              padding: 0px;
              position: absolute;
              inset: 0px;
            "
            >
            <img
            alt="Collection Image"
            src="assets/images/avif-img?auto=format&amp;w=3840"
            decoding="async"
            data-nimg="fill"
            style="
              position: absolute;
              inset: 0px;
              box-sizing: border-box;
              padding: 0px;
              border: none;
              margin: auto;
              display: block;
              width: 0px;
              height: 0px;
              min-width: 100%;
              max-width: 100%;
              min-height: 100%;
              max-height: 100%;
              object-fit: cover;
            "
            sizes="64px"
            srcset="
            assets/images/avif-img?auto=format&amp;w=48     48w,
            assets/images/avif-img?auto=format&amp;w=64     64w,
            assets/images/avif-img?auto=format&amp;w=128   128w,
            assets/images/avif-img?auto=format&amp;w=256   256w,
            assets/images/avif-img?auto=format&amp;w=384   384w,
            assets/images/avif-img?auto=format&amp;w=512   512w,
            assets/images/avif-img?auto=format&amp;w=640   640w,
            assets/images/avif-img?auto=format&amp;w=750   750w,
            assets/images/avif-img?auto=format&amp;w=828   828w,
            assets/images/avif-img?auto=format&amp;w=1080 1080w,
            assets/images/avif-img?auto=format&amp;w=1200 1200w,
            assets/images/avif-img?auto=format&amp;w=1920 1920w,
            assets/images/avif-img?auto=format&amp;w=2048 2048w,
            assets/images/avif-img?auto=format&amp;w=3840 3840w
            "
          />
        </span>
        </div>


      </div>
    </div>
  </div>
</section> -->

<app-casestudy-scroll></app-casestudy-scroll>
<app-blog-scroll></app-blog-scroll>
<app-contact></app-contact>
<!-- <app-footer></app-footer> -->
<!--end-->
