<section class="partners-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="title-wrap">
          <h4><span class="dots"></span> Partners</h4>
          <h2>
            <span>Closely working </span> with the <br />
            biggest names in the industry <span class="dots"></span>
          </h2>
          <p>
            We believe that great relationships bring the most value. This is
            why as an enterprise software development company, we are partners
            with the biggest names in the business to deliver premium services
            to our customers.
          </p>
          <a [routerLink]="['/contact-us']" class="btn btn-primary"
            >Talk to our team
            <picture>
              <source
                type="image/webp"
                srcset="assets/images/home-new/icon-arrow-up.webp"
              />
              <source
                type="image/png"
                srcset="assets/images/home-new/icon-arrow-up.png"
              />
              <img
                loading="lazy"
                data-src="assets/images/home-new/icon-arrow-up.svg"
                alt="arrow-icon"
                title="arrow-icon"
                width="21"
                height="21"
                class="img-fluid"
              />
            </picture>
          </a>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="d-flex partners-logo partner-4by-3">
          <div class="partner-logo">
            <picture>
              <source
                type="image/webp"
                srcset="assets/images/home-new/partners/Hyperledger.webp"
              />

              <source
                type="image/png"
                srcset="assets/images/home-new/partners/Hyperledger.png"
              />

              <img
                loading="lazy"
                data-src="assets/images/home-new/partners/Hyperledger.png"
                alt="Hyperledger"
                title="Hyperledger"
                width="120"
                height="70"
                class="img-fluid"
              />
            </picture>
          </div>
          <div class="partner-logo">
            <picture>
              <source
                type="image/webp"
                srcset="assets/images/home-new/partners/zoho.webp"
              />

              <source
                type="image/png"
                srcset="assets/images/home-new/partners/zoho.png"
              />

              <img
                loading="lazy"
                data-src="assets/images/home-new/partners/zoho.png"
                alt="Zoho"
                title="Zoho"
                width="120"
                height="70"
                class="img-fluid"
              />
            </picture>
          </div>
          <div class="partner-logo">
            <picture>
              <source
                type="image/webp"
                srcset="assets/images/home-new/partners/bosch.webp"
              />

              <source
                type="image/png"
                srcset="assets/images/home-new/partners/bosch.png"
              />

              <img
                loading="lazy"
                data-src="assets/images/home-new/partners/bosch.png"
                alt="bosch"
                title="bosch"
                width="120"
                height="70"
                class="img-fluid"
              />
            </picture>
          </div>
          <div class="partner-logo">
            <picture>
              <source
                type="image/webp"
                srcset="assets/images/home-new/partners/AWS.webp"
              />

              <source
                type="image/png"
                srcset="assets/images/home-new/partners/AWS.png"
              />

              <img
                loading="lazy"
                data-src="assets/images/home-new/partners/AWS.png"
                alt="AWS"
                title="AWS"
                width="120"
                height="70"
                class="img-fluid"
              />
            </picture>
          </div>
          <div class="partner-logo">
            <picture>
              <source
                type="image/webp"
                srcset="assets/images/home-new/partners/Google.webp"
              />

              <source
                type="image/png"
                srcset="assets/images/home-new/partners/Google.png"
              />

              <img
                loading="lazy"
                data-src="assets/images/home-new/partners/Google.png"
                alt="Google"
                title="Google"
                width="120"
                height="70"
                class="img-fluid"
              />
            </picture>
          </div>
          <div class="partner-logo">
            <picture>
              <source
                type="image/webp"
                srcset="assets/images/home-new/partners/Microsoft.webp"
              />

              <source
                type="image/png"
                srcset="assets/images/home-new/partners/Microsoft.png"
              />

              <img
                loading="lazy"
                data-src="assets/images/home-new/partners/Microsoft.png"
                alt="Microsoft"
                title="Microsoft"
                width="120"
                height="70"
                class="img-fluid"
              />
            </picture>
          </div>
          <div class="partner-logo">
            <picture>
              <source
                type="image/webp"
                srcset="assets/images/home-new/partners/NASSCOM.webp"
              />

              <source
                type="image/png"
                srcset="assets/images/home-new/partners/NASSCOM.png"
              />

              <img
                loading="lazy"
                data-src="assets/images/home-new/partners/NASSCOM.png"
                alt="NASSCOM"
                title="NASSCOM"
                width="120"
                height="70"
                class="img-fluid"
              />
            </picture>
          </div>
          <div class="partner-logo">
            <picture>
              <source
                type="image/webp"
                srcset="assets/images/home-new/partners/Adobe.webp"
              />

              <source
                type="image/png"
                srcset="assets/images/home-new/partners/Adobe.png"
              />

              <img
                loading="lazy"
                data-src="assets/images/home-new/partners/Adobe.png"
                alt="Adobe"
                title="Adobe"
                width="120"
                height="70"
                class="img-fluid"
              />
            </picture>
          </div>
          <div class="partner-logo">
            <picture>
              <source
                type="image/webp"
                srcset="assets/images/home-new/partners/CISCO.webp"
              />

              <source
                type="image/png"
                srcset="assets/images/home-new/partners/CISCO.png"
              />

              <img
                loading="lazy"
                data-src="assets/images/home-new/partners/CISCO.png"
                alt="CISCO"
                title="CISCO"
                width="120"
                height="70"
                class="img-fluid"
              />
            </picture>
          </div>
          <div class="partner-logo">
            <picture>
              <source
                type="image/webp"
                srcset="assets/images/home-new/partners/Github.webp"
              />

              <source
                type="image/png"
                srcset="assets/images/home-new/partners/Github.png"
              />

              <img
                loading="lazy"
                data-src="assets/images/home-new/partners/Github.png"
                alt="Github"
                title="Github"
                width="120"
                height="70"
                class="img-fluid"
              />
            </picture>
          </div>
          <div class="partner-logo">
            <picture>
              <source
                type="image/webp"
                srcset="assets/images/home-new/partners/redhat.webp"
              />

              <source
                type="image/png"
                srcset="assets/images/home-new/partners/redhat.png"
              />

              <img
                loading="lazy"
                data-src="assets/images/home-new/partners/redhat.png"
                alt="redhat"
                title="redhat"
                width="120"
                height="70"
                class="img-fluid"
              />
            </picture>
          </div>
          <div class="partner-logo">
            <picture>
              <source
                type="image/webp"
                srcset="assets/images/home-new/partners/Expanding.webp"
              />

              <source
                type="image/png"
                srcset="assets/images/home-new/partners/Expanding.png"
              />

              <img
                loading="lazy"
                data-src="assets/images/home-new/partners/Expanding.png"
                alt="Expanding"
                title="Expanding"
                width="120"
                height="70"
                class="img-fluid"
              />
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
