<section class="banners-section home-banner sub-banner">
  <div class="common">
    <picture>
      <source type="image/webp" srcset="assets/images/iot/iot-banner.webp" />
      <source type="image/jpg" srcset="assets/images/iot/iot-banner.jpg" />
      <img loading="lazy" data-src="assets/images/iot/iot-banner.jpg" alt="IOT Banner"
        title="IOT Banner" width="100" height="100"  class="img-fluid" />
    </picture>

    <div class="banner-text d-flex justify-content-center align-self-center">
      <div class="title-wrap">
        <h4><span class="dots"></span>Internet of Things (IoT) Solutions</h4>
        <h2>
          <span>We enable your business </span> in the world of <br/>
          Internet of Things (IoT)
          <span class="dots"></span>
        </h2>
        <div class="d-flex justify-content-center">
          <a class="btn btn-primary" [routerLink]="['/contact-us']" class="btn btn-primary">Get In Touch
              <picture>
                <source type="image/webp" srcset="assets/images/home-new/icon-banner-arrowup.webp" />
                <source type="image/png" srcset="assets/images/home-new/icon-banner-arrowup.png" />
                <img loading="lazy" data-src="assets/images/home-new/icon-banner-arrowup.svg" alt="arrow-icon" title="arrow-icon"
                  width="21" height="21" class="img-fluid" />
              </picture>
            </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="common-section bg-blue">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="title-wrap">
          <h4><span class="dots"></span> Why choose us</h4>
          <h2>
            <span>We transform every  </span> aspect of your business
            <span class="dots"></span>
          </h2>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="title-wrap">
          <p>
            With the rapid development of IoT services, your business receives hundreds of new opportunities to connect with your customers in real life, making possible the delivery of outstanding customer experiences even easier.</p>
        </div>
      </div>
    </div>

    <div class="row my-4 justify-content-center">
      <div class="col-lg-4 col-md-6 mb-3">
        <div class="what-we-do-app">
          <picture>
            <source type="image/webp" srcset="assets/images/iot/icon-full-cycle-development.webp" />
            <source type="image/svg" srcset="assets/images/iot/icon-full-cycle-development.svg" />
            <img loading="lazy" data-src="assets/images/iot/icon-full-cycle-development.svg" alt="Full cycle development"
              title="Full cycle development" width="116" height="117"  class="img-fluid" />
          </picture>
          <h3>Full cycle development</h3>
          <p>We take care of the IoT development process from A to Z, including hardware design and software engineering.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-3">
        <div class="what-we-do-app">
          <picture>
            <source type="image/webp" srcset="assets/images/iot/icon-skilled-and-talented-engineers.webp" />
            <source type="image/svg" srcset="assets/images/iot/icon-skilled-and-talented-engineers.svg" />
            <img loading="lazy" data-src="assets/images/iot/icon-skilled-and-talented-engineers.svg" alt="Skilled and talented engineers"
              title="Skilled and talented engineers" width="107" height="123"  class="img-fluid" />
          </picture>
          <h3>Skilled and talented engineers</h3>
          <p>A dedicated team of professional IoT experts, ready to take on any new challenges in order to meet your business goals.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-3">
        <div class="what-we-do-app">
          <picture>
            <source type="image/webp" srcset="assets/images/iot/icon-custom-software-solutions.webp" />
            <source type="image/svg" srcset="assets/images/iot/icon-custom-software-solutions.svg" />
            <img loading="lazy" data-src="assets/images/iot/icon-custom-software-solutions.svg" alt="Custom Software Solutions"
              title="Custom Software Solutions" width="141" height="117"  class="img-fluid" />
          </picture>
          <h3>Custom Software Solutions</h3>
          <p>Hands-on domain expertise in IoT development with a proven track record of successful products to take on any new challenges</p>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="what-we-do wwd-sticky">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="sticky">
          <div class="title-wrap mb-0">
            <h4><span class="dots"></span>What we do</h4>
            <h2 class="mb-2">
              <span>Connect any application  </span> anywhere wirelessly, reliably
              <span class="dots"></span>
            </h2>
          </div>
          <div class="row mb-4 justify-content-center text-center">
            <div class="col-lg-6 col-6">
              <div class="what-we-do-app">
                <span class="process-num">01</span>
                <picture>
                  <source type="image/webp" srcset="assets/images/iot/experience-design.webp" />
                  <source type="image/svg" srcset="assets/images/iot/experience-design.svg" />
                  <img loading="lazy" data-src="assets/images/iot/experience-design.svg" alt="Experience & Design"
                    title="Experience & Design" width="101" height="112"  class="img-fluid" />
                </picture>
                <h3>Experience & <br />Design</h3>
              </div>
            </div>
            <div class="col-lg-6 col-6">
              <div class="what-we-do-app">
                <span class="process-num">02</span>
                <picture>
                  <source type="image/webp" srcset="assets/images/iot/fixed-engagement.webp" />
                  <source type="image/svg" srcset="assets/images/iot/fixed-engagement.svg" />
                  <img loading="lazy" data-src="assets/images/iot/fixed-engagement.svg" alt="Fixed Engagement"
                    title="Fixed Engagement" width="113" height="113"  class="img-fluid" />
                </picture>
                <h3>Fixed <br />Engagement</h3>
              </div>
            </div>
            <div class="col-lg-6 col-6">
              <div class="what-we-do-app">
                <span class="process-num">03</span>
                <picture>
                  <source type="image/webp" srcset="assets/images/iot/support-maintenance.webp" />
                  <source type="image/svg" srcset="assets/images/iot/support-maintenance.svg" />
                  <img loading="lazy" data-src="assets/images/iot/support-maintenance.svg" alt="Support Maintenance"
                    title="Support Maintenance" width="85" height="106"  class="img-fluid" />
                </picture>
                <h3>Support & <br/>Maintenance</h3>
              </div>
            </div>
            <div class="col-lg-6 col-6">
              <div class="what-we-do-app">
                <span class="process-num">04</span>
                <picture>
                  <source type="image/webp" srcset="assets/images/iot/migration-upgrades.webp" />
                  <source type="image/svg" srcset="assets/images/iot/migration-upgrades.svg" />
                  <img loading="lazy" data-src="assets/images/iot/migration-upgrades.svg" alt="Migration & Upgrades"
                    title="Migration & Upgrades" width="112" height="112"  class="img-fluid" />
                </picture>
                <h3>Migration & <br/>Upgrades</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="techstack">
          <h2>Bluetooth Apps Development</h2>
          <p>Web Bluetooth lets you control any Bluetooth Low Energy device (smart home appliances, health accessories) directly from your smartphone, without having to install an app. </p>
        </div>
        <hr class="mb-5" />
        <div class="techstack">
          <h2>Wearable Apps Development</h2>
          <p>Our team is an expert in building wearable apps like smart jewelry, body-mounted sensors, fitness trackers, smart clothing, AI hearing aids, enhanced In-Shop Experience, better Tracking, more accurate Indoor location, etc. </p>
        </div>
        <hr class="mb-5" />
        <div class="techstack">
          <h2>IoT and Blockchain</h2>
          <p>Our blockchain-powered IoT network enables secure and frictionless dialogue between sensors, distributed ledgers, and databases to optimize supply chain visibility and quality assurance.</p>
        </div>
        <hr class="mb-5" />
        <div class="techstack">
          <h2>IoT and Machine learning</h2>
          <p>IoT and Machine learning technologies together could provide the foundation for applications like predictive maintenance, CCTV surveillance, predictive supply chain.</p>
        </div>
        <hr class="mb-5" />
        <div class="techstack">
          <h2>IoT and Big Data</h2>
          <p>A large amount of unstructured data generated by IoT devices can be collected in the big data system to plot them for better visualization and to infer interesting findings from the IoT data.</p>
        </div>
        <hr class="mb-5" />
        <div class="techstack">
          <h2>IoT + AR/VR</h2>
          <p>TechGropse is one of the best VR/AR development companies, combining the potential of AR/VR with the Internet of Things to create a seamless experience</p>
        </div>
      </div>
    </div>
    <!--end-->
  </div>
</section>


<section class="common-section bg-blue">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="title-wrap">
          <h4><span class="dots"></span> How it works</h4>
          <h2>
            <span>The Key Elements of  </span> Software Development Process.
            <span class="dots"></span>
          </h2>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="title-wrap">
          <p>We can create custom Internet of Things solutions for you that can be deployed on any operating system or embedded device to help you unlock the business value of connected ecosystems and reimagine your customer experiences.</p>
        </div>
      </div>
    </div>

    <div class="row mt-4 justify-content-center no-white">
      <div class="col-lg-4 col-sm-6 mb-5">
        <div class="what-we-do-app">
          <picture>
            <source type="image/webp" srcset="assets/images/iot/things-devices.webp" />
            <source type="image/svg" srcset="assets/images/iot/things-devices.svg" />
            <img loading="lazy" data-src="assets/images/iot/things-devices.svg" alt="Things Devices"
              title="Things Devices" width="116" height="116"  class="img-fluid" />
          </picture>
          <h3>Things / Devices</h3>
          <p>
            We will help you select the hardware type (devices, sensors, controllers, etc.)</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-5">
        <div class="what-we-do-app">
          <picture>
            <source type="image/webp" srcset="assets/images/iot/connectivity.webp" />
            <source type="image/svg" srcset="assets/images/iot/connectivity.svg" />
            <img loading="lazy" data-src="assets/images/iot/connectivity.svg" alt="Connectivity"
              title="Connectivity" width="116" height="116"  class="img-fluid" />
          </picture>
          <h3>Connectivity</h3>
          <p>Establishing a solid backend infrastructure is one of the essential elements of a successful IoT product. </p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-5">
        <div class="what-we-do-app">
          <picture>
            <source type="image/webp" srcset="assets/images/iot/global-infrastructure.webp" />
            <source type="image/svg" srcset="assets/images/iot/global-infrastructure.svg" />
            <img loading="lazy" data-src="assets/images/iot/global-infrastructure.svg" alt="Global Infrastructure"
              title="Global Infrastructure" width="116" height="116"  class="img-fluid" />
          </picture>
          <h3>Global Infrastructure</h3>
          <p>Working in real time with large amounts of data, we will ensure that connection is reliable. </p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-5">
        <div class="what-we-do-app">
          <picture>
            <source type="image/webp" srcset="assets/images/iot/data-ingestion.webp" />
            <source type="image/svg" srcset="assets/images/iot/data-ingestion.svg" />
            <img loading="lazy" data-src="assets/images/iot/data-ingestion.svg" alt="Data Ingestion"
              title="Data Ingestion" width="116" height="116"  class="img-fluid" />
          </picture>
          <h3>Data Ingestion</h3>
          <p>It is important to have centralized data storage. It allows collecting, processing and analyzing data.</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-5">
        <div class="what-we-do-app">
          <picture>
            <source type="image/webp" srcset="assets/images/iot/data-analysis.webp" />
            <source type="image/svg" srcset="assets/images/iot/data-analysis.svg" />
            <img loading="lazy" data-src="assets/images/iot/data-analysis.svg" alt="Data Analysis"
              title="Data Analysis" width="116" height="116"  class="img-fluid" />
          </picture>
          <h3>Data Analysis</h3>
          <p>Data analytics should be at the core of every smart solution to have powerful data analytics capabilities</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-5">
        <div class="what-we-do-app">
          <picture>
            <source type="image/webp" srcset="assets/images/iot/applications.webp" />
            <source type="image/svg" srcset="assets/images/iot/applications.svg" />
            <img loading="lazy" data-src="assets/images/iot/applications.svg" alt="Applications"
              title="Applications" width="90" height="90"  class="img-fluid" />
          </picture>
          <h3>Applications</h3>
          <p>IoT application defining all necessary features (i.e. GPS and navigation, safety, voice etc.) </p>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="technolgies common-section industries-we-cater">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 mx-auto">
        <div class="title-wrap text-center">
          <h4><span class="dots"></span>Industries we cater</h4>
          <h2>
            <span>We Develop Enterprise-Grade </span> Software <br/>
            Solutions For Businesses. <span class="dots"></span>
          </h2>
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-center services-list-all">
      <div class="col-md-12 tech-stack-details">
        <ul class="techstack mb-4">
          <li class="tech-list">
            <a [class.actives-tech]="showTab == 1" (click)="tabToggle(1)"
              >Fintech</a
            >
          </li>
          <li class="tech-list">
            <a [class.actives-tech]="showTab == 2" (click)="tabToggle(2)"
              >Transportation </a
            >
          </li>
          <li class="tech-list">
            <a [class.actives-tech]="showTab == 3" (click)="tabToggle(3)"
              >Renewable Energy </a
            >
          </li>
          <li class="tech-list">
            <a [class.actives-tech]="showTab == 4" (click)="tabToggle(4)"
              >Mining </a
            >
          </li>
          <li class="tech-list">
            <a [class.actives-tech]="showTab == 5" (click)="tabToggle(5)"
              >Security</a
            >
          </li>
          <li class="tech-list">
            <a [class.actives-tech]="showTab == 6" (click)="tabToggle(6)"
              >Logistics </a
            >
          </li>
        </ul>

        <div class="common-service">
          <ng-container *ngIf="showTab == 1">
            <div class="row align-items-center">
              <div
                class="col-lg-6 col-md-6 mb-3 order-last order-sm-last order-md-first order-lg-first"
              >
                <div class="mobileapps-left">
                  <picture>
                    <source type="image/webp" srcset="assets/images/blockchain-development/fintech-industry.webp" />
                    <source type="image/png" srcset="assets/images/blockchain-development/fintech-industry.png" />
                    <img loading="lazy" data-src="assets/images/blockchain-development/fintech-industry.png"
                      alt="Logistics"
                      title="Logistics" width="90" height="90"  class="img-fluid" />
                  </picture>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="mobileapps-text-wrap">
                  <div class="title-wrap text-left">
                    <h4 class="">Fintech</h4>
                    <h2>Powering One Of The Leading Cryptocurrency Platforms</h2>
                    <p>Transform organizational financial services with emerging tech for improved operational efficiency, transparency, rapid response time-frames and better custom experience. Blockchain technology allows you to automate processes with unprecedented security, winning customer confidence and give you peace of mind. </p>
                  </div>


                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="showTab == 2">
            <div class="row align-items-center">
              <div
                class="col-lg-6 col-md-6 mb-3 order-last order-sm-last order-md-first order-lg-first"
              >
                <div class="mobileapps-left">
                  <picture>
                    <source type="image/webp" srcset="assets/images/blockchain-development/fintech-industry.webp" />
                    <source type="image/png" srcset="assets/images/blockchain-development/fintech-industry.png" />
                    <img loading="lazy" data-src="assets/images/blockchain-development/fintech-industry.png"
                      alt="Logistics"
                      title="Logistics" width="90" height="90"  class="img-fluid" />
                  </picture>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="mobileapps-text-wrap">
                  <div class="title-wrap text-left">
                  <h4>Transportation </h4>
                  <h2>
                    Redefine the way people move from point to point

                  </h2>
                  <p>
                    People often think that mobility is just about transportation. In fact, blockchain can streamline mobility in ways you wouldn't think. things such as employee tracking, performance monitoring, identity verification, scheduling, and much more can be streamlined using blockchain technology.
                  </p>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="showTab == 3">
            <div class="row align-items-center">
              <div
                class="col-lg-6 col-md-6 mb-3 order-last order-sm-last order-md-first order-lg-first"
              >
                <div class="mobileapps-left">
                  <picture>
                    <source type="image/webp" srcset="assets/images/blockchain-development/fintech-industry.webp" />
                    <source type="image/png" srcset="assets/images/blockchain-development/fintech-industry.png" />
                    <img loading="lazy" data-src="assets/images/blockchain-development/fintech-industry.png"
                      alt="Logistics"
                      title="Logistics" width="90" height="90"  class="img-fluid" />
                  </picture>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="mobileapps-text-wrap">
                  <div class="title-wrap text-left">
                  <h4>Renewable Energy </h4>
                  <h2>
                    P2E gaming has revolutionized the gaming industry.
                  </h2>
                  <p>
                    Platforms such as Sandbox, Decentraland, Roblox, etc., are allowing users to easily monetize their gaming skills. Build an amazing gaming experience for your users where they can play and earn with real-life incentives. Leverage the power of blockchain.
                  </p>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="showTab == 4">
            <div class="row align-items-center">
              <div
                class="col-lg-6 col-md-6 mb-3 order-last order-sm-last order-md-first order-lg-first"
              >
                <div class="mobileapps-left">
                  <picture>
                    <source type="image/webp" srcset="assets/images/blockchain-development/fintech-industry.webp" />
                    <source type="image/png" srcset="assets/images/blockchain-development/fintech-industry.png" />
                    <img loading="lazy" data-src="assets/images/blockchain-development/fintech-industry.png"
                      alt="Logistics"
                      title="Logistics" width="90" height="90"  class="img-fluid" />
                  </picture>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="mobileapps-text-wrap">
                  <div class="title-wrap text-left">
                  <h4 class="">Mining </h4>
                  <h2>
                    Streamline healthcare services with blockchain

                  </h2>
                  <p>
                    Medical records and data are confidential and require a high level of security. Blockchain technology with a combination of Trustless and Permissioned systems can streamline your business in healthcare to a great extent. Build secure and scalable decentralized applications for your healthcare business with us.
                  </p>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="showTab == 5">
            <div class="row align-items-center">
              <div
                class="col-lg-6 col-md-6 mb-3 order-last order-sm-last order-md-first order-lg-first"
              >
                <div class="mobileapps-left">
                  <picture>
                    <source type="image/webp" srcset="assets/images/blockchain-development/fintech-industry.webp" />
                    <source type="image/png" srcset="assets/images/blockchain-development/fintech-industry.png" />
                    <img loading="lazy" data-src="assets/images/blockchain-development/fintech-industry.png"
                      alt="Logistics"
                      title="Logistics" width="90" height="90"  class="img-fluid" />
                  </picture>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="mobileapps-text-wrap">
                  <div class="title-wrap text-left">
                  <h4 class="">Security</h4>
                  <h2>
                    Track, manage, and streamline your supply chain

                  </h2>
                  <p>
                    The supply chain is all around us and yet, we often forget how hard it is to manage a supply chain. Integrating blockchain into your supply chain allows you to track and gatekeep at each point. All data will be available on the blockchain and you can track everything on a blockchain explorer, easily.
                  </p>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="showTab == 6">
            <div class="row align-items-center">
              <div
                class="col-lg-6 col-md-6 mb-3 order-last order-sm-last order-md-first order-lg-first"
              >
                <div class="mobileapps-left">
                  <picture>
                    <source type="image/webp" srcset="assets/images/blockchain-development/fintech-industry.webp" />
                    <source type="image/png" srcset="assets/images/blockchain-development/fintech-industry.png" />
                    <img loading="lazy" data-src="assets/images/blockchain-development/fintech-industry.png"
                      alt="Logistics"
                      title="Logistics" width="90" height="90"  class="img-fluid" />
                  </picture>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="mobileapps-text-wrap">
                  <div class="title-wrap text-left">
                  <h4 class="">Logistics</h4>
                  <h2>
                    Secure and transparent through blockchain
                  </h2>
                  <p>
                    The public sector has been an area for malicious activities for a long time. From the elections to public distribution hubs, many middlemen exploit the system for individual gains. Blockchain can put an end to all that by holding people accountable for their actions through a public ledger while safeguarding privacy.
                  </p>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</section>
<app-casestudy-scroll></app-casestudy-scroll>
<app-blog-scroll></app-blog-scroll>
<app-contact></app-contact>
<!-- <app-footer></app-footer> -->
<!--end-->
